{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Welcome to Sagebrew{% endblock title %}
{% block description %}
    <meta name="description" content="Sagebrew is the platform that
                                     empowers people to make change">
{% endblock description %}

{% block content %}
    <img class="sb_sign_up_background"
             src="{% static 'images/sign_up.jpg' %}">
    <div class="row">

        <div class="row sb_signup_headline_containter"
             align="center">
            <h1>Sign Up</h1>
        </div>
        <div class="sb_sign_up_form">
        <form id="signupForm" method="post">
            {% csrf_token %}
            <div align="center">
                <div class="row-fluid">
                    <div class="col-lg-6 col-sm-8 col-xs-12 col-lg-offset-3 col-sm-offset-2 sb_input_wrapper fname">
                        <input type="text"
                               value=""
                               placeholder="First Name"
                               name="first_name"
                               id="f_name"
                               class="form-control input-lg f_name">
                    </div>
                    <div class="col-lg-6 col-sm-8 col-xs-12 col-lg-offset-3 col-sm-offset-2 sb_input_wrapper lname">
                        <input type="text"
                               value=""
                               name="last_name"
                               placeholder="Last Name"
                               id="l_name"
                               class="form-control input-lg l_name">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-lg-6 col-sm-8 col-xs-12 col-lg-offset-3 col-sm-offset-2 sb_input_wrapper email_class">
                        <input type="text"
                               value=""
                               name="email"
                               id="email"
                               placeholder="Email"
                               class="form-control input-lg email">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-lg-6 col-sm-8 col-xs-12 col-lg-offset-3 col-sm-offset-2 sb_input_wrapper p1">
                        <input type="password"
                               value=""
                               name="password1"
                               id="password"
                               placeholder="Password"
                               class="form-control input-lg password">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-lg-6 col-sm-8 col-xs-12 col-lg-offset-3 col-sm-offset-2 sb_input_wrapper p2">
                        <input type="password"
                               value=""
                               name="password2"
                               id="password2"
                               placeholder="Re-enter Password"
                               class="form-control input-lg password2">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-lg-6 col-sm-8 col-xs-12 col-lg-offset-3 col-sm-offset-2 sb_input_wrapper bday">
                        <h3>Birthday</h3>
                            <input type="text"
                                   class="form-control input-lg"
                                   value=""
                                   placeholder="MM/DD/YYYY"
                                   name="birthday" id="birthday">
                    </div>

                </div>
                <div class="row-fluid">
                    <div class="col-lg-6 col-sm-8 col-xs-12 col-lg-offset-3 col-sm-offset-2">
                        <button class="btn btn-block btn-lg btn-primary sb_btn"
                                type="submit" id="submit_signup">
                            Register
                        </button>
                        <small>By signing up, you agree to the <a href="{% url "terms_and_conditions" %}">Terms of Service</a>.</small>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
{% block footer %}
      <div class="bottom-menu sb_footer">
      <div class="container">
        {% include "footer.html" %}
      </div>
    </div>
{% endblock footer %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/signup.js' %}"></script>
    <script src="{% static 'js/signup_bootstrap_validation.js' %}"></script>
    <script src="{% static 'js/sb_date_of_birth.js' %}"></script>
{% endblock %}