{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Sagebrew | Political Change Made Easy{% endblock title %}
{% block description %}
    <meta name="description" content="Connect with politicians, activists, and
    members of your community to accomplish the agendas that matter to you. Get the
    tools you need to make a difference.">
{% endblock description %}
{% block keywords %}
    <meta name="keywords" content="social network, problem solving, change, debate, sage, brew, brewing">
{% endblock keywords %}
{% block background_image %}
<div class="intro-video">
    <video autoplay loop poster="{% static 'images/intro_poster.jpg' %}" id="bgvid">
        <source src="{% static 'videos/loop.webm' %}" type="video/webm" />
        <source src="{% static 'videos/loop.mp4' %}" type="video/mp4" />
        Your browser does not support the video tag.
    </video>
</div>
{% endblock background_image %}
{% block content %}
    <div class="row">
        <div class="col-md-5 col-md-offset-1 sign-up-block">
            <h3 class="sb_signup_headline_containter">Political Change Made Easy</h3>
            <ul>
                <li><b>Connect</b> with activists, politicians, and people who are active in your community</li>
                <li><b>Support and Fund</b> movements and campaigns you want to succeed</li>
                <li><b>Start</b> your own movement or campaign</li>
                <li><b>Add Your Voice</b> to the political conversations you care about</li>
            </ul>
            <p>Join the movement to bring politics into the 21st century. We'll always leave the
                agenda to you and focus on creating the tools that make it easy to make a difference.</p>
            {% comment %}<p>We'll always leave the politics up to you and focus on making it
                easier for you to change the world</p>{% endcomment %}
        </div>
        <div class="col-md-4 col-md-offset-1">
            <h1 class="sb_signup_headline_containter">Sign Up</h1>
            <form id="account-info">
                <div class="form-group">
                    <input type="text"
                           id="first-name"
                           name="first_name"
                           placeholder="First Name"
                           value="" class="form-control">
                </div>

                <div class="form-group">
                    <input type="text"
                           id="last-name"
                           name="last_name"
                           placeholder="Last Name"
                           value="" class="form-control">
                </div>

                <div class="form-group">
                    <input type="text"
                           id="email"
                           name="email"
                           placeholder="Email"
                           value="" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password"
                           value=""
                           name="password"
                           id="password"
                           placeholder="Password"
                           class="form-control">
                </div>
                <div class="form-group">
                    <input type="password"
                           value=""
                           name="password2"
                           id="password2"
                           placeholder="Re-enter Password"
                           class="form-control">
                </div>

                <h3 class="sb_signup_headline_containter">Birthday</h3>
                        <div class="form-group">
                    <input type="text"
                           id="birthday"
                           name="date_of_birth"
                           placeholder="MM/DD/YYYY"
                           value="" class="form-control">
                </div>
                <button class="btn btn-block btn-lg btn-primary sb_btn"
                            type="submit" id="submit_signup">
                        Register
                    </button>
                <div>
                    <small class="terms-description">By registering, you agree to our <a href="{% url "terms_and_conditions" %}">Terms of Service</a>.</small>

                </div>
                <div>
                    <small class="terms-description"><a href="{% url "reset_password_page" %}">Forgot Your Password?</a></small>
                </div>
            </form>
        </div>
    </div>



{% endblock content %}
{% block footer %}
    <div class="bottom-menu sb_footer">
        <div class="container">
            {% include "footer.html" %}
        </div>
    </div>
{% endblock footer %}
{% block scripts %}
    <script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
    <script charset="windows-1252" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
    {{ block.super }}
{% endblock %}