.sb_profile_post_enter{
    margin-left: -15px;
    margin-right: -15px;
}
.sb_post_container {
    background-color: #e0e7e1;
    height:70px;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2px;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 15px;
}
.sb_post {
    max-height: 50px;
    max-width: 100%;
    padding-top: 10px;
    border-width: 1px;
    resize: none;
}
.sb_btn_post{
    width: 80px;
    height: 40px;
    background-color: #b7bfbb;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sb_btn_post:hover,
.sb_btn_post:active,
.sb_btn_post:focus{
    border: solid;
    border-width: 2px;
    border-color: #1ba39c;
    background-color: #838c92;
}
.sb_photo{
    font-size: 30px;
}
.sb_photo:hover,
.sb_photo:active,
.sb_photo:focus,
.sb_photo:after{
    color: #1ba39c;
}