.sb_post_content{
    margin-top: 30px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: #b7bfbb;
    border-radius: 5px 5px 0 0;
}
.sb_post_header{
    width: auto;
    background-color: #ffffff;
    border-radius: 5px 5px 0 0;
    padding: 15px 15px 15px 15px;
}
.sb_post_header_info{
    font-size: 15px;
    margin-top: -12px;
    margin-left: 0;
    padding-left: 5px;
}
.sb_post_body {
    font-size: 12pt;
    padding: 15px 15px 15px 15px;
    margin-left: 15px;
    margin-right: 15px;
    hanging-punctuation: force-end;
    height-max: 600px;
    height: auto;
    width: auto;
    border-radius: 5px 5px 5px 5px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color:#d8e7d6;
}
.sb_post_stats{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: #b7bfbb;
    border-radius: 0 0 0 0;
}
.sb_comment{
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 15px 5px 15px;
    height: auto;
    background-color: #ffffff;
    border: solid;
    border-width: 0px 1px 1px 1px;
    border-radius: 0 0 5px 5px;
    border-color: #b7bfbb;
}
.sb_comment_input{
    border-width: 1px 1px 1px 1px;
    border-radius: 5px 5px 5px 5px ;
    border-color: #d0e9c6;
    padding: 10px 10px 10px 10px;
    width: 100%;
    resize: none;
}
textarea.sb_comment_input{
    height: 50px;
}

#sb_text{
    height: 30px;
}
.sb_btn_profile_link{
    color: #1ba39c;
    padding-left: 0;
    padding-bottom: 15px;
}
.sb_btn_profile_link:hover{
    color: #1ba39c;
    text-decoration: underline;
    text-decoration-color: #1ba39c;
}
.sb_btn_profile_link:active,
.sb_btn_profile_link:focus{
    color: #26424a;
    text-decoration: underline;
    text-decoration-color: #26424a;
}
.sb_post_data{
    margin-top: -15px;
    font-size: 11px;
    line-height: 10px;
}
.sb_btn_comment{
    background-color: transparent;
    color:#1ba39c;
}
.sb_btn_comment:hover{
    color: #1ba39c;
    text-decoration: underline;
    text-decoration-color: #1ba39c;
}
.sb_btn_comment:active,
.sb_btn_comment:focus{
    color: #26424a;
    text-decoration: underline;
    text-decoration-color: #26424a;
}
.sb_btn_comment_icon{
    color: #1ba39c;
}
.sb_btn_comment_icon:hover{
    color: #1ba39c;
    border: solid;
    border-width: 1px;
    border-color: #b7bfbb;
    border-radius: 5px;
}
.sb_btn_comment_icon:active,
.sb_btn_comment_icon:focus{
    color: #26424a;
    border: solid;
    border-width: 1px;
    border-color: #26424a;
    border-radius: 5px;
}
.sb_icon{
    font-size: 20px;
}
.sb_icon_down_vote,
.sb_icon_up_vote{
   font-size: 15px;
}
.sb_vote_count{
   width:auto;
   height: 30px;
   padding: 3px 3px 3px 3px;
   background-color: #ffffff;
}
.sb_btn_vote_icon{
    color: #1ba39c;
    padding: 3px 3px 3px 3px;
    hieght: 30px;
    width: 30px;
}
.sb_btn_vote_icon:hover{
    color: #1ba39c;
    border: solid;
    border-width: 1px;
    border-color: #b7bfbb;
    border-radius: 5px;
}
.sb_btn_vote_icon_icon:active,
.sb_btn_vote_icon:focus{
    color: #26424a;
    border: solid;
    border-width: 1px;
    border-color: #26424a;
    border-radius: 5px;
}
.sb_post_btn_dropdown{
    background: transparent;
    color: #1ba39c;
    margin-top: -15px;
}
.sb_post_btn_dropdown:hover,
.sb_post_btn_dropdown:active,
.sb_post_btn_dropdown:focus{
    color: #1ba39c;
}
.sb_post_dropdown_menu{
    text-align: left;
    padding-left: 20px;
}
