<div class="field">
    <label for="id_street_info">Street Address:</label>
    {{ address_form.street }}
</div>
<div class="field">
    <label for="id_city">City:</label>
    {{ address_form.city }}
</div>
<div class="field">
    <label for="id_state">State:</label>
    {{ address_form.state }}
</div>
<div class="field">
    <label for="id_num">Postal Code:</label>
    {{ address_form.postal_code }}
</div>
<div class="field">
    <label for="id_num">Country:</label>
    {{ address_form.country }}
</div>
