{% extends 'layout/two-col-right.html' %}
{% load staticfiles %}

{% block live %}
    <div class="block">
        <h5 class="block-title">Edit Solution</h5>
        <div class="block-content solution-manager sb_markdown edit-solution">
            <label for="js-solution-markdown"></label>
            <textarea class="form-control markdown-input"
                      id="js-solution-markdown"
                      name="content">
            </textarea>
            <ul class="list-inline list-inline-btns">
                <li>
                    <a href="#" class="btn btn-primary sb_btn_fill" id="submit">Submit</a>
                </li>
                <li>
                    <a href="#" class="btn btn-primary sb_btn_fill sb_btn_remove" id="cancel">Cancel</a>
                </li>
            </ul>
        </div>

    </div>

{% endblock %}
