{% extends "layout/hero-one-col.html" %}
{% load staticfiles %}
{% block body_class %}
    background-color-white
{% endblock %}

{% block navigation %}
    {{ block.super }}
    {% include "navigation/navbar_secondary.html" with nav_title="Edit Solution" %}
{% endblock %}

{% block hero %}
    <div class="block min-height-600 margin-top-20">
        <div class="block-content">
            <form id="solutionForm">
                <textarea id="js-solution-markdown"
                          class="font-style-normal editable sb_markdown">
                </textarea>
                <div id="validation-errors"></div>
            </form>
        </div>
    </div>

{% endblock %}
