include /etc/nginx/conf.d/base.conf;
http {
    include mime.types;
    default_type application/octet-stream;
    access_log /var/log/nginx/access.log;
	error_log /var/log/nginx/error.log;
    sendfile on;
    client_max_body_size 4G;
	include /etc/nginx/sites-enabled/*.conf;
}
