{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>
    
    <form method="POST" action="" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" class='btn btn-primary'>{% trans "Change Password" %}</button> <a class='nostyle' href='/skills_form/'><input type="button" name="Skills Form" value="Skills Form" class="btn btn-primary" id="submit-id-submit"/></a>
    </form>
{% endblock %}
