[
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "NEO4J_REST_URL",
        "Value": "<NEO4J_REST_URL>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "APP_USER",
        "Value": "<APP_USER>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "REPO_NAME",
        "Value": "<REPO_NAME>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "PROJECT_NAME",
        "Value": "<PROJECT_NAME>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "LOG_ACCOUNT",
        "Value": "<LOG_ACCOUNT>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "LOG_TOKEN",
        "Value": "<LOG_TOKEN>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "LOGENT_TOKEN",
        "Value": "<LOGENT_TOKEN>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "CIRCLECI",
        "Value": "false"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "CIRCLE_BRANCH",
        "Value": "<CIRCLE_BRANCH>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "APPLICATION_SECRET_KEY",
        "Value": "<APPLICATION_SECRET_KEY>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "BOMBERMAN_API_KEY",
        "Value": "<BOMBERMAN_API_KEY>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "SSL_CERT_LOCATION",
        "Value": "<SSL_CERT_LOCATION>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "SSL_KEY_LOCATION",
        "Value": "<SSL_KEY_LOCATION>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "AWS_S3_BUCKET",
        "Value": "<AWS_S3_BUCKET>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "AWS_SECRET_ACCESS_KEY",
        "Value": "<AWS_SECRET_ACCESS_KEY>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "AWS_SECRET_KEY",
        "Value": "<AWS_SECRET_ACCESS_KEY>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "AWS_ACCESS_KEY_ID",
        "Value": "<AWS_ACCESS_KEY_ID>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "ALCHEMY_API_KEY",
        "Value": "<ALCHEMY_API_KEY>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "ADDRESS_VALIDATION_ID",
        "Value": "<ADDRESS_VALIDATION_ID>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "ADDRESS_VALIDATION_TOKEN",
        "Value": "<ADDRESS_VALIDATION_TOKEN>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "ELASTIC_SEARCH_HOST",
        "Value": "<ELASTIC_SEARCH_HOST>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "ELASTIC_SEARCH_PORT",
        "Value": "<ELASTIC_SEARCH_PORT>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "ELASTIC_SEARCH_USER",
        "Value": "<ELASTIC_SEARCH_USER>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "ELASTIC_SEARCH_KEY",
        "Value": "<ELASTIC_SEARCH_KEY>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "REDIS_LOCATION",
        "Value": "<REDIS_LOCATION>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "REDIS_PORT",
        "Value": "<REDIS_PORT>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "QUEUE_USERNAME",
        "Value": "<QUEUE_USERNAME>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "QUEUE_PASSWORD",
        "Value": "<QUEUE_PASSWORD>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "QUEUE_HOST",
        "Value": "<QUEUE_HOST>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "QUEUE_PORT",
        "Value": "<QUEUE_PORT>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "CELERY_QUEUE",
        "Value": "<CELERY_QUEUE>"
    }
]