{% extends "layout/hero-two-col-right.html" %}
{% load staticfiles %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block description %}
    <meta name="description" content="{{ description }}">
{% endblock description %}

{% block hero %}
    <div class="block">
        <ul class="block-title center-title no-underline sb_nav sb_secondary_nav">
            <li>
                <a href="{% url 'help_center' %}">The Sagebrew Help Area</a>
            </li>
            <li>
                <p style="font-size: 20px; margin-bottom: 0;"> > </p>
            </li>
            <li>
                <p style="font-size: 20px; margin-bottom: 0;">{{ category.split|join:" "|capfirst }}</p>
            </li>
        </ul>
    </div>
{% endblock hero %}
{% block live %}

    <div id="category" style="display: none"
        data-category="{{ category }}"></div>
    <div class="block">
        <h1 class="block-title" style="margin-bottom: -10px;">{{ title }}</h1>
        <div class="block-content sb_markdown">
            {% if static_files == True %}
                {% ssi content_path parsed %}
            {% else %}
                {% ssi content_path %}
            {% endif %}
        </div>
    </div>
{% endblock live %}

{% block sidebar_right %}
    <div class="related_article_wrapper">
        <div id="related_articles"></div>
    </div>
{% endblock sidebar_right %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/related_articles.js' %}"></script>
    {% if "/markdown_formatting/" in request.path %}
        <script src="{% static 'js/vendor/jquery.pagedown-bootstrap.combined.min.js' %}"></script>
        <script src="{% static 'js/create_markdown.js' %}"></script>
    {% endif %}
{% endblock scripts %}

{% block footer %}
    <div class="bottom-menu sb_footer">
        <div class="col-sm-offset-1 col-lg-offset-0">
            {% include "footer.html" %}
        </div>
    </div>
{% endblock footer %}