{% extends "help_base.html" %}
{% load staticfiles %}
{% block help_heading %}
    <h1>{{ title }}</h1>
{% endblock help_heading %}
{% block content %}
    <div id="category" style="display: none"
        data-category="{{ category }}"></div>
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
            <div class="sb_help_article">
                <div class="row">
                    <div class="col-lg-7 col-md-11 col-sm-11 col-xs-11 sb_markdown sb_help_article_content">
                        {% ssi content_path %}
                    </div>
                    <div class="col-lg-4 hidden-md hidden-sm hidden-xs">
                        <div class="related_article_wrapper">
                            <div id="related_articles"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/related_articles.js' %}"></script>
{% endblock scripts %}