{% extends "help_base.html" %}
{% load staticfiles %}
{% block title %}Help Center{% endblock title %}
{% block hero %}
    <div class="block">
        <ul class="block-title center-title no-underline sb_nav sb_secondary_nav">
            <li>
                <a href="{% url 'help_center' %}">The Sagebrew Help Area</a>
            </li>
        </ul>
    </div>
{% endblock hero %}
{% block live %}
    <div id="category" style="display: none"
        data-category="{{ category }}"></div>
    {% for category, location in categories.items %}
        <div class="block">
            <div class="block-content">
                <h2 class="block-title">{{ category|capfirst }}</h2>
                <ul class="ten-padding-top">
                    {% for article in location %}
                        <li><a href="{% url article.name %}">{{ article.title }}</a></li>
                    {% empty %}
                        <p>Currently No Related Articles Available</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock live %}