{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ page_user.first_name}} {{ page_user.last_name }}{% endblock title %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'css/vendor/croppic.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'jcrop/css/jquery.Jcrop.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/vendor/croppic.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}
{% block content %}

    <div id="user_info" style="display: none"
        data-current_user_username="{{ current_user.username }}"
        data-page_user_username="{{ page_user.username }}"></div>
    <div class="row">
        <div class="col-md-12 wallpaper-wrapper">
           <div class="thumbnail sb_profile_pic">
               {% if request.user.username == page_user.username %}
                   <div id="cropProfilePageEyecandy">
                    <img id="profile_pic" src="{{ page_profile.profile_pic }}">
                   </div>
               {% else %}
                <img id="profile_pic" src="{{ page_profile.profile_pic }}">
               {% endif %}
           </div>
           <div>
               {% static 'images/wallpaper_western.jpg' as default_wallpaper %}
               {% if request.user.username == page_user.username %}
                   <div id="cropWallpaperPictureEyecandy">
                   <img id="wallpaper_pic" class="wallpaper_profile" src="{{ page_profile.wallpaper_pic|default_if_none:default_wallpaper }}">
                   </div>
               {% else %}
                   <img id="wallpaper_pic" class="wallpaper_profile" src="{{ page_profile.wallpaper_pic|default_if_none:default_wallpaper }}">
                   {% comment %} A hack to get non-friend pages to load correctly{% endcomment %}
               {% endif %}
           </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
           <div class="sb_nav sb_secondary_nav sb_secondary_nav_bar">
                {% include "sb_home_section/sb_profile_user_menu.html" %}
           </div>
        </div>
    </div>
    <div class="row">
        {% if page_user.username == request.user.username or is_friend == True %}
            {% block midsection %}
                {% include "sb_home_section/sb_home.html" %}
            {%  endblock %}
        {% endif %}
        {% if request.user.username == page_user.username %}
            {% include "profile_pic_modal.html" %}
            {% include "wallpaper_modal.html" %}
        {% endif %}
    </div>
    {% include "flag_modal.html" %}
{% endblock %}
{% block footer %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/get_reps.js' %}"></script>
    <script src="{% static 'js/get_posts.js' %}"></script>
    <script src="{% static 'js/save_post.js' %}"></script>
    <script src="{% static 'js/send_friend_request.js' %}"></script>
    <script src="{% static 'js/send_notification.js' %}"></script>
    <script src="{% static 'js/respond_friend_request.js' %}"></script>
    <script src="{% static 'js/delete_friend_request.js' %}"></script>
    <script src="{% static 'js/sb_post_enter.js' %}"></script>
    <script src="{% static 'js/post_validator.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.mousewheel.min.js' %}"></script>
   	<script src="{% static 'js/vendor/croppic.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.pagedown-bootstrap.combined.min.js' %}"></script>
    <script src="{% static 'js/uuid.js' %}"></script>
    <script src="{% static 'js/flag_modal.js' %}"></script>
    <script src="{% static 'js/profile_pic_croppic.js' %}"></script>
    <script src="{% static 'js/wallpaper_pic_croppic.js' %}"></script>
    {% comment %}
    <script src="{% static 'js/get_dropzone.js' %}"></script>
    {% endcomment %}

{% endblock scripts %}