{% extends "base.html" %}
{% load staticfiles %}
{% block navigation %}
    {% include "navigation/logged_in_navigation.html" %}
{% endblock %}
{% block content %}
{% if is_owner == True or is_friend == True %}
       <div id="pleb_info"
            style="display: none"
            data-current_user_email="{{ current_user }}"
            data-page_user_email="{{ pleb_info.email }}"></div>
       <div class="row-fluid ">
       <div class="sb_profile_content">
           <div class="thumbnail sb_profile_pic">
                <img src="{% static 'images/profile.jpg' %}">
           </div>
           <div class="sb_profile_container_top_div">
                <img class="sb_profile_container_top" src="{% static 'images/sb_banners-01.png' %}">
           </div>
           <div class="sb_profile_btn_menu_container ">
                {% include "sb_home_section/sb_profile_user_menu.html" %}
           </div>
           {% block midsection %}
           <div class="sb_home">
                {% include "sb_home_section/sb_home.html" %}
           </div>
           {%  endblock %}
        </div>
    {% elif is_friend == False and is_owner == False %}
           <div class="row-fluid sb_profile_content">
           <div class="thumbnail sb_profile_pic">

           </div>
           <div class=" sb_profile_container_top">

           </div>
           <div class="sb_profile_btn_menu_container ">
               <div class="col-lg-5 col-lg-offset-4">
                    <button class="btn sb_profile_menu_btn send_friend_request-action"
                            data-from_pleb="{{ current_user }}"
                            data-to_pleb="{{ page_user }}">Friend Request
                    </button>
                    <button class="btn sb_profile_menu_btn delete_friend_request-action">Delete Request</button>
               </div>
           </div>
           <div class="col-lg-4">

           </div>
           </div>
        </div>
    {% endif %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/sb_profile.js' %}"></script>
    <script src="{% static 'js/sb_utils.js' %}"></script>
    <script src="{% static 'js/get_notifications.js' %}"></script>
    <script src="{% static 'js/get_posts.js' %}"></script>
    <script src="{% static 'js/save_post.js' %}"></script>
    <script src="{% static 'js/send_friend_request.js' %}"></script>
    <script src="{% static 'js/send_notification.js' %}"></script>
    <script src="{% static 'js/show_notifications.js' %}"></script>
    <script src="{% static 'js/show_friend_request.js' %}"></script>
    <script src="{% static 'js/respond_friend_request.js' %}"></script>
    <script src="{% static 'js/sb_post_enter.js' %}"></script>
    <script src="{% static 'js/sb_post.js' %}"></script>
    <script src="{% static 'js/sb_about_show.js' %}"></script>
    <script src="{% static 'js/sb_reputation_show.js' %}"></script>
    <script src="{% static 'js/sb_friends_show.js' %}"></script>
    <script src="{% static 'js/flag_object.js' %}"></script>
    <script src="{% static 'js/vote_object.js' %}"></script>
{% endblock scripts %}