{% load staticfiles %}
<div class="block sb_notification_block" id="friend_request_{{ id }}">
    <div class="row">
        <div class="col-lg-2 col-md-2">
            {% static 'images/sage_coffee_grey-01.png' as default_profile %}
            <div class="thumbnail sb_thumbnail_sm"><img src="{{ from_user.profile_pic|default_if_none:default_profile }}"></div>
        </div>
        <div class="col-lg-4 col-md-4">
           <p>{{ from_user.first_name }} {{ from_user.last_name }}</p>
        </div>
        <div align="right" class="col-lg-6 col-md-6">
            <div class="btn-group">
                <button class="btn btn-primary sb_btn sb_btn_friend respond_friend_request-action"
                        data-response="accept" data-request_id="{{ id }}">Confirm</button>
                <button class="btn btn-primary sb_btn  sb_btn_friend respond_friend_request-action"
                        data-response="deny"
                        data-request_id="{{ id }}">Delete</button>
                {% comment %}
                <button class="btn btn-primary sb_btn sb_btn_friend respond_friend_request-action"
                        data-response="block" data-request_id="{{ id }}">Block</button>
                {% endcomment %}
            </div>
        </div>
    </div>
</div>