<div class="block sb_notification_block">
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <div class="thumbnail sb_thumbnail_sm"></div>
        </div>
        <div class="col-lg-4 col-md-4">
           <p>{{ request.full_from_user.first_name }} {{ request.full_from_user.last_name }}</p>
        </div>
        <div align="right" class="col-lg-6 col-md-6">
            <div class="btn-group">
                <button class="btn btn-primary sb_btn sb_btn_friend respond_friend_request-action"
                        data-response="accept" data-request_id="{{ request.object_uuid }}">Confirm</button>
                <button class="btn btn-primary sb_btn  sb_btn_friend respond_friend_request-action"
                        data-response="deny"
                        data-request_id="{{ request.object_uuid }}">Delete</button>
                {% comment %}
                <button class="btn btn-primary sb_btn sb_btn_friend respond_friend_request-action"
                        data-response="block" data-request_id="{{ request.object_uuid }}">Block</button>
                {% endcomment %}
            </div>
        </div>
    </div>
</div>