{% load staticfiles %}
<div class="block sb_notification_block">
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <div class="thumbnail sb_thumbnail_sm">
                {% static 'images/sage_coffee_grey-01.png' as default_profile %}
                <a href="{{ url }}" class="notification sb_notification_link"><img src="{{ notification_from.profile_pic|default_if_none:default_profile }}"></a>
            </div>
            {% comment %}
            If this is a comment, solution, or post, this will be the profile picture of whoever made it.
            If this is a priviledge, It will be an Icon or badge that is associate with that priveledge
            {% endcomment %}
        </div>
        <div class="col-lg-10 col-md-10">
            <p><a href="{{ url }}" class="notification sb_notification_link">
                {% if not public_notification %}
                    {{ notification_from.first_name }} {{ notification_from.last_name }} {{ action_name|safe }}</a>
                {% else %}
                    {{ action_name|safe }}
                {% endif %}
            </p>
           {% comment %}
            title will either comment, solution. priveledge attained, or post
           {% endcomment %}
        </div>
    </div>
</div>
<li role="presentation" class="sb_divider"></li>
