<div class="block sb_notification_block">
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <div class="thumbnail sb_thumbnail_sm">
                <img src="{{ notification.from_info.profile_pic }}">
            </div>
            {% comment %}
            If this is a comment, solution, or post, this will be the profile picture of whoever made it.
            If this is a priviledge, It will be an Icon or badge that is associate with that priveledge
            {% endcomment %}
        </div>
        <div class="col-lg-10 col-md-10">
           <p><a style="color: #34495e" href="{{ notification.url }}" class="notification">
               {{ notification.from_info.full_name }} {{ notification.action }}</a>
            </p>
           {% comment %}
            title will either comment, solution. priveledge attained, or post
           {% endcomment %}
        </div>
    </div>
</div>
