<div class="block sb_notification_block sb_reputation_block">
    <div class="row-fluid">
        <div class="col-sm-8">
            <p>Current Reputation:</p>
        </div>
        <div class="col-sm-4">
            {% comment %}
                This is replaced by a ajax call that fetches the reputation of a
                given user.
            {% endcomment %}
            <div id="reputation_total"
                    data-username="{{ request.user.username }}"></div>
        </div>
    </div>
</div>