{% load staticfiles %}
<div class="sb-profile-not-friend-container">
    {% comment %}
        This is automatically replaced by sb_posts/static/js/get_posts.js
    {% endcomment %}
    <div class="sb_friend_btn_wrapper sb_hidden">
        {% comment %}
            TODO add friend request sent logic into view
        {% endcomment %}
        {% if friend_request_sent == False %}
            <button class="btn btn-primary sb_btn send_friend_request-action" style="margin-top: 3px"
                    data-from_username="{{ request.user.username }}"
                    data-to_username="{{ page_user.username }}">Friend Request
            </button>
            <button class="btn btn-primary sb_btn delete_friend_request-action" hidden style="margin-top: 3px; display: none;"
                    data-uuid="{{ friend_request_sent }}">Delete Request
            </button>
        {% else %}
            <button class="btn btn-primary sb_btn send_friend_request-action" style="margin-top: 3px; display: none"
                    data-from_username="{{ request.user.username }}"
                    data-to_username="{{ page_user.username }}">Friend Request
            </button>
            <button class="btn btn-primary sb_btn delete_friend_request-action"
                    style="margin-top: 3px"
                    data-uuid="{{ friend_request_sent }}">
                Delete Request
            </button>
        {% endif %}
    </div>
    <div class="col-xs-4">
        <div class="sb-profile-not-friend-element">
            <h4 class="sb-profile-not-friend-header">Friend Request</h4>
            <div class="row sb-profile-not-friend-image-wrapper">
                <img class="sb-profile-not-friend-element-image" src="{% static "images/sb_logo_color_sage.png" %}">
            </div>
            <div class="sb_friend_btn_wrapper sb-profile-not-friend-image-wrapper">
                {% comment %}
                    TODO add friend request sent logic into view
                {% endcomment %}
                {% if friend_request_sent == False %}
                    <button class="btn btn-primary sb_btn send_friend_request-action"
                            data-from_username="{{ request.user.username }}"
                            data-to_username="{{ page_user.username }}">Friend Request
                    </button>
                    <button class="btn btn-primary sb_btn delete_friend_request-action sb_hidden"
                            data-uuid="{{ friend_request_sent }}">Delete Request
                    </button>
                {% else %}
                    <button class="btn btn-primary sb_btn send_friend_request-action sb_hidden"
                            data-from_username="{{ request.user.username }}"
                            data-to_username="{{ page_user.username }}">Friend Request
                    </button>
                    <button class="btn btn-primary sb_btn delete_friend_request-action"
                            data-uuid="{{ friend_request_sent }}">
                        Delete Request
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="sb-profile-not-friend-element">
            <h4 class="sb-profile-not-friend-header">Visit Quest Page</h4>
            <div class="row sb-profile-not-friend-image-wrapper">
                <img class="sb-profile-not-friend-element-image" src="{% static "images/quest_logo_flat_color.png" %}">
            </div>
            <div class="sb_friend_btn_wrapper sb-profile-not-friend-image-wrapper">
                <form action="{% url "quest_saga" page_profile.campaign %}">
                    <input class="btn btn-primary sb_btn" type="submit" value="View Quest">
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="sb-profile-not-friend-element">
            <h4 class="sb-profile-not-friend-header">Follow Conversations</h4>
            <div class="row sb-profile-not-friend-image-wrapper">
                <img class="sb-profile-not-friend-element-image" src="{% static "images/cloud_green.ai.png" %}">
            </div>
            <div class="sb_friend_btn_wrapper sb-profile-not-friend-image-wrapper">
                <button class="btn btn-primary sb_btn disabled sb_restricted">Follow User
                </button>
            </div>
            <div class="sb_coming_soon">
                <h3>Coming Soon!</h3>
            </div>
        </div>
    </div>
</div>