<div class="sb_poten_rep_container">
    <div class="sb_profile_rep_container">
        <div class="sb_container_header">
            <h3>Potential Representatives</h3>
        </div>
        <div class="sb_profile_rep_content">
            {% if not request_profile.campaign %}
                <p style="font-size: 11pt;"><b><em>Want to run? Embark on your <a href="{% url 'quest_info' %}">Sagebrew Quest!</a></em></b></p>
            {% endif %}
            <h5>Presidents</h5>
            <div id="potential_president_wrapper"></div>
            <h5>Senators</h5>
            <div id="potential_senator_wrapper">

            </div>
            <h5>House Representatives</h5>
            <div id="potential_rep_wrapper">

            </div>
            <h5>Local Representatives</h5>
            <div id="potential_local_wrapper">

            </div>
        </div>

    </div>
</div>