<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h3>{{ page_user.first_name }} {{ page_user.last_name }}</h3>
</div>
<div class="col-lg-8 col-md-8 hidden-sm hidden-xs">
    {% if page_user.username == request.user.username or is_friend == True %}

        <ul>
            {% if page_user.username == request.user.username %}
            <li>
                   <a {% if 'feed' in request.path %}class="active"{% endif %} href="{% url 'newsfeed' %}">Feed</a>
            </li>
            {% endif %}
            <li>
                <a {% if 'friends' not in request.path and 'about' not in request.path and 'reputation' not in request.path and 'feed' not in request.path and 'quest' not in request.path %}class="active"{% endif %} href="{% url 'profile_page' page_user.username %}">Profile</a>
            </li>
                {% if debug == True %}
                    {% comment %}
                        # TODO BETA ADD IN feature
                    {% endcomment %}
                    <li>
                        <a href='#'>
                            About</a>
                    </li>
                    <li>
                        <a href='#'>
                            Reputation</a>
                    </li>
                    {% if page_profile.campaign %}
                        <li>
                            <a href="{% url 'quest_saga' page_user.username %}">Quest</a>
                        </li>
                    {% endif %}
                    {% if request.user.username == 'tyler_wiersing' or request.user.username == 'devon_bleibtrey' %}
                        <li>
                            <a href="{% url 'council_page' %}">Council</a>
                        </li>
                    {% endif %}
                {% endif %}
                    <li>
                           <a {% if 'friends' in request.path %}class="active"{% endif %} href="{% url 'friend_page' page_user.username %}">Friends</a>
                    </li>


        </ul>
    {% elif not is_friend and page_user.username != request.user.username %}
        <div class="sb_friend_btn_wrapper">
           <div class="col-lg-3 col-md-3 col-lg-offset-9 col-md-offset-9">
           {% comment %}
                TODO add friend request sent logic into view
           {% endcomment %}
               {% if friend_request_sent == False %}
                    <button class="btn btn-primary sb_btn send_friend_request-action" style="margin-top: 3px"
                            data-from_username="{{ request.user.username }}"
                            data-to_username="{{ page_user.username }}">Friend Request
                    </button>
                    <button class="btn btn-primary sb_btn delete_friend_request-action" hidden style="margin-top: 3px; display: none;"
                            data-uuid="{{ friend_request_sent }}">Delete Request
                    </button>
               {% else %}
                   <button class="btn btn-primary sb_btn send_friend_request-action" style="margin-top: 3px; display: none"
                            data-from_username="{{ request.user.username }}"
                            data-to_username="{{ page_user.username }}">Friend Request
                   </button>
                   <button class="btn btn-primary sb_btn delete_friend_request-action"
                            style="margin-top: 3px"
                            data-uuid="{{ friend_request_sent }}">
                        Delete Request
                   </button>
               {% endif %}

           </div>
       </div>
    {% endif %}
</div>