<div class="col-sm-4 col-xs-12">
    <h3>{{ page_user.first_name }} {{ page_user.last_name }}</h3>
</div>
<div class="col-md-8 hidden-sm hidden-xs">
    {% if page_user.username == request.user.username or is_friend == True %}
        <ul>
            <li>
                <a {% if 'donations' not in request.path and 'friends' not in request.path and 'about' not in request.path and 'reputation' not in request.path and 'feed' not in request.path and 'quest' not in request.path %}class="active"{% endif %}
                   href="{% url 'profile_page' page_user.username %}">Profile</a>
            </li>
            <li>
                <a {% if 'friends' in request.path %}class="active"{% endif %}
                   href="{% url 'friend_page' page_user.username %}">Friends</a>
            </li>
            {% if request.user.username == page_user.username and request_profile.donations %}
                <li>
                    <a {% if 'donations' in request.path %}class="active"{% endif %}
                       href="{% url 'donation_page' page_user.username %}">Donations</a>
                </li>
            {% endif %}
            {% if page_profile.quest %}
                <li>
                    <a href="{% url 'quest' page_user.username %}">Quest</a>
                </li>
            {% endif %}
            {% if request.user.username == 'tyler_wiersing' and request.user.username == page_user.username or request.user.username == 'devon_bleibtrey' and request.user.username == page_user.username %}
                <li>
                    <a href="{% url 'council_page' %}">Council</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</div>