{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Welcome to Sagebrew{% endblock title %}
{% block description %}
    <meta name="description" content="Sagebrew is the platform that
                                     empowers people to make change">
{% endblock description %}
{% block background_image %}
    <img class="sb_sign_up_background" src="{% static 'images/sign_up.jpg' %}">
{% endblock background_image %}
{% block content %}
    <div class="error_page">
        <div class="row-fluid" align="center">
            <div class="col-lg-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-1 col-sm-offset-1"
                 style="background:rgba(255,255,255,0.5);">
                <h1>Sorry, We Seem To Be Having Issues With Our Servers</h1>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
      <div class="bottom-menu sb_footer">
      <div class="container">
        {% include "footer.html" %}
      </div>
    </div>
{% endblock footer %}