{% extends "layout/hero-one-col.html" %}
{% load staticfiles %}
{% block title %} Advocacy Campaigns {% endblock %}
{% block body_class %}white-background{% endblock body_class %}
{% block description %}
    <meta name="description" content="The tools you need to advocate and enact the change
    you want. Crowdfunding made for advocates, volunteer registration, easy to setup public page
    to showcase your message, connection with allies to your cause, and more. All built
    to help make advocating easier.">
{% endblock description %}
{% block keywords %}
    <meta name="keywords" content="political network, advocacy network, problem solving, crowdfunding, advocacy software, advocacy tools, advocacy funding, advocacy volunteers">
{% endblock keywords %}
{% block hero %}
    <div class="block-image-text-overlay">
        <img alt="Advocacy Backdrop: Jefferson Memorial" src="{% static "images/jefferson_memorial.jpg" %}">
        <div>
            <h1>Free Crowdfunding and Advocacy Tools
                That Let You Focus On Your Mission</h1>
            <button class="btn btn-primary sb_btn" id="sign-up-redirect">Sign Up</button>
        </div>
    </div>

{% endblock %}

{% block live %}
    {% include "non_auth_promotion.html" %}
    <div class="block">
        <div class="col-xs-3 feature-block">
            <div class="icon-block-img-wrapper" >
                <img alt="Fundraising" src="{% static "images/icons/money.svg" %}">
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-1">
            <h3 class="block-title no-top-padding">
                Fundraising
            </h3>
            <p class="block-content">
                Unlike other crowdfunding platforms we specifically focus on
                advocacy and political campaigns. There's no time limits or
                delays on releasing donations. We know every dollar counts to your
                movement and we're here to help you succeed.
            </p>
        </div>
    </div>
    <div class="block">
        <div class="col-xs-3 feature-block">
            <div class="icon-block-img-wrapper" >
                <img alt="Find Volunteers" src="{% static "images/icons/clipboard.svg" %}">
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-1">
            <h3 class="block-title no-top-padding">
                Volunteers
            </h3>
            <p class="block-content">
                Money isn't the only thing you need to succeed. We know how
                important volunteers are to getting things done so we make it as
                easy for people to volunteer for your movement as it is to donate.
            </p>
        </div>
    </div>
    <div class="block">
        <div class="col-xs-3 feature-block">
            <div class="icon-block-img-wrapper" >
                <img alt="Promote" src="{% static "images/conversation_cloud_white-01.png" %}"
                     style="width: 102px; height: 105px; margin-top: 14px;">
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-1">
            <h3 class="block-title no-top-padding">
                Free Promotion
            </h3>
            <p class="block-content">
                When you setup a Mission we instantly integrate you with the Conversation
                Cloud. You can actively jump in and promote your issue and solution or passively
                gather feedback from others passionate about the topic. By
                participating you can build a portfolio of references to your Mission and
                raise awareness of it.
            </p>
        </div>
    </div>
    <div class="block">
        <div class="col-xs-3 feature-block">
            <div class="icon-block-img-wrapper" >
                <img alt="Connect with Constituents" src="{% static "images/icons/goal.svg" %}">
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-1">
            <h3 class="block-title no-top-padding">
                Community Connection
            </h3>
            <p class="block-content">
                Movements can often times come down to your ground game and engagement
                with the community. We make sure your movement gets seen by every member
                it affects and each member that is passionate about the cause. We'll
                help you get your message out specifically to people that matter so you're
                not wasting time.
            </p>
        </div>
    </div>
    <div class="block">
        <div class="col-xs-3 feature-block">
            <div class="icon-block-img-wrapper" >
                <img alt="Increase Online Presence" src="{% static "images/icons/responsive.svg" %}">
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-1">
            <h3 class="block-title no-top-padding">
                Online Presence
            </h3>
            <p class="block-content">
                We want to empower you to share your movement with the world.
                You'll be able to setup a one pager with images, videos, and
                anything else you need to get the word out. We handle making
                it responsive to ensure you're reaching supporters on their phones,
                tablets, and any other device hitting the market.
            </p>
        </div>
    </div>
    <div class="block">
        <div class="col-xs-3 feature-block">
            <div class="icon-block-img-wrapper" >
                <img alt="Security" src="{% static "images/icons/lock.svg" %}">
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-1">
            <h3 class="block-title no-top-padding">
                Security
            </h3>
            <p class="block-content">
                We take personal information and credit card security seriously.
                We're PCI level 1 compliant and will never sell your personal
                data behind your back.
            </p>
        </div>
    </div>
    <div class="block">
        <div class="col-xs-3 feature-block">
            <div class="icon-block-img-wrapper" >
                <img alt="Scaling System" src="{% static "images/icons/mountain.svg" %}">
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-1">
            <h3 class="block-title no-top-padding">
                Scalable
            </h3>
            <p class="block-content">
                From a local rally to a world wide movement we've got you covered.
                Our platform is built to scale so whether you're
                expecting $50 in donations or over a $1,000,000 you don't need
                to worry about losing opportunities.
            </p>
        </div>
    </div>
    <div class="block">
        <div class="col-xs-3 feature-block">
            <div class="icon-block-img-wrapper" >
                <img alt="Customer Support" src="{% static "images/icons/safe.svg" %}">
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-1">
            <h3 class="block-title no-top-padding">
                Customer Support
            </h3>
            <p class="block-content">
                You need to focus on your movement, we know that. That's why we
                provide an integrated support platform that you and your donors
                can reach us with at anytime. We respond to every email and
                every message we get.
            </p>
        </div>
    </div>
    <div class="block">
        <div class="col-xs-3 feature-block">
            <div class="icon-block-img-wrapper" >
                <img alt="No Contract" src="{% static "images/icons/rocket.svg" %}">
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-1">
            <h3 class="block-title no-top-padding">
                No Contract, No Surprises
            </h3>
            <p class="block-content">
                We believe we should only make money if you make money.
                That's why signing up and having 5 active advocacy
                missions at a time is Free. We take 7% + 30&cent; from each donation.
                2.9% + 30&cent; goes to processing fees and 4.1% helps us
                to create new features for you and your donors. We'll direct
                deposit donations minus the fee into your bank account as soon as they
                are made. If your
                movement is raising a lot of money we want to help you get more of
                it. You can join our Pro plan for $100 a month and we'll lower the
                total transaction fee to
                5% + 30&cent; as well as allow you to take an unlimited number of missions
                active.
            </p>
        </div>
    </div>
    <div class="block" style="text-align: center">
        <h2 class="header-lg-only">Who Can Join?</h2>
        <p>Anyone can join! We focus on the tools you need and leave
        the agenda to you.</p>
    </div>
    <div class="block">
        <div class="col-md-6 col-md-offset-3">
            {% include "account_info_form.html" with label=False birthday_header=True %}
            <button class="btn btn-block btn-lg btn-primary sb_btn"
                        type="button" id="submit_signup">
                    Register
                </button>
            <div>
                <small>By registering, you agree to our
                    <a href="{% url 'quest_terms_and_conditions' %}">Quest Terms of Service</a> and the <a href="https://stripe.com/connect/account-terms">Stripe Connected Account Agreement</a>.
                </small>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    <div class="sb-bottom-menu-white sb_footer">
        <div class="container">
            {% include "footer.html" %}
        </div>
    </div>
{% endblock footer %}

{% block analytics %}
    {{ block.super }}
    <script type="text/javascript">
        var google_tag_params = {
        dynx_itemid: 'AMS',
        dynx_pagetype: 'offerdetail'
        };
        </script>
        <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 945478598;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/945478598/?value=0&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
{% endblock %}