<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title>{% block title %}Sagebrew{% endblock title %}</title>

    {% block css %}
        <link href="{% static 'flat_ui/bootstrap/css/bootstrap.css' %}"
              rel="stylesheet">
        <link href="{% static 'flat_ui/css/flat-ui.css' %}" rel="stylesheet"/>
        <link href="{% static 'flat_ui/css/demo.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/sb_signup.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/sb_base.css' %}" rel="stylesheet"/>
        <!-- <link href="{% static 'css/navigation.css' %}" rel="stylesheet"/> -->
    {% endblock css %}
    {% block page-javascript %}
    {% endblock page-javascript %}
</head>
<body class="container-fluid sb_background" id="sb-body">
    <div id="wrap">
        <div class="row sb_navbar">
            <nav class="navbar navbar-lg" role="navigation">
                <div class="col-lg-4 col-md-4 col-xs-6">
                    <div class="navbar-header">
                        <h1 id="sb_logo" class="hidden-xs">Sagebrew</h1>
                        <h1 id="sb_logo_xs" class="hidden-lg hidden-md hidden-sm">Sagebrew</h1>
                    </div>
                </div>
                {% block navigation %}
                    {% include "navigation.html" %}
                {% endblock navigation %}
            </nav>
        </div>
    </div>
        {% block content %}
        {% endblock %}

        {% block footer %}
            {% include "footer.html" %}
        {% endblock footer %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'flat_ui/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <script src="{% static 'flat_ui/js/jquery.ui.touch-punch.min.js' %}"></script>
    <script src="{% static 'flat_ui/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'flat_ui/js/bootstrap-select.js' %}"></script>
    <script src="{% static 'flat_ui/js/bootstrap-switch.js' %}"></script>
    <script src="{% static 'flat_ui/js/flatui-checkbox.js' %}"></script>
    <script src="{% static 'flat_ui/js/flatui-radio.js' %}"></script>
    <script src="{% static 'flat_ui/js/holder.js' %}"></script>
    <script src="{% static 'flat_ui/js/flatui-fileinput.js' %}"></script>
    <script src="{% static 'flat_ui/js/jquery.tagsinput.js' %}"></script>
    <script src="{% static 'flat_ui/js/jquery.placeholder.js' %}"></script>
    <script src="{% static 'flat_ui/js/typeahead.js' %}"></script>
    <script src="{% static 'js/jquery-cookie/jquery.cookie.js' %}"></script>
{% endblock scripts %}
</body>
</html>
