<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load staticfiles %}
        <title>{% block title %}{% endblock title %}</title>

    {% block css %}
        <link rel="stylesheet" href="{% static 'css/sagebrew.css' %}" media="screen" type="text/css" />
        <link rel="stylesheet" href="{% static 'flat_ui/css/flat-ui.css' %}" media="screen" type="text/css" />
    {% endblock css %}

    <!-- js -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	{% block page-javascript %}
    {% endblock page-javascript %}
</head>
<body>
    <div id="page-wrapper">
        <div id="page">
            {% block navigation %}
                {% include "navigation.html" %}
            {% endblock navigation %}
            <div id="search-wrapper">
                <div id="search">
                </div>
            </div>
            <div id="header-wrapper">
                <div id="header">
                    {% block header %}
                    {% endblock %}
                </div>
            </div><!-- #header-wrapper, #header -->

            <div id="content-wrapper">
                <div id="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div><!-- #content-wrapper, #content -->

            </div><!-- #footer-wrapper, #footer -->
<div class="bottom-menu bottom-menu-large mbl">
      <div class="container">
        <div class="row">
          <div class="col-md-2 navbar-brand">
            <a href="#link">Sagebrew</a>
          </div>

          <div class="col-md-2">
            <h5 class="title"></h5>
            <ul class="bottom-links">
              <li><a href="#fakelink">About</a></li>
              <li><a href="#fakelink">Help</a></li>
              <li><a href="#fakelink">Representatives</a></li>
              <li><a href="#fakelink">Discussion Etiquette</a></li>
            </ul>
          </div>

          <div class="col-md-2">
            <h5 class="title"></h5>
            <ul class="bottom-links">
              <li><a href="#fakelink">Find Friends</a></li>
              <li><a href="#fakelink">Reputation</a></li>
              <li><a href="#fakelink">Developers</a></li>
              <li><a href="#fakelink">Donate</a></li>
            </ul>
          </div>

          <div class="col-md-2">
            <h5 class="title"></h5>
            <ul class="bottom-links">
              <li><a href="#fakelink">FAQ</a></li>
              <li><a href="#fakelink">Register</a></li>
              <li><a href="#fakelink">Login</a></li>
            </ul>
          </div>

          <div class="col-md-2">
            <h5 class="title"></h5>
            <ul class="bottom-links">
              <li><a href="#fakelink">Terms</a></li>
              <li><a href="#fakelink">Conditions</a></li>
              <li><a href="#fakelink"></a></li>
            </ul>
          </div>

          <div class="col-md-2">
            <h5 class="title"></h5>
            <ul class="bottom-links">
            </ul>
          </div>
        </div>
      </div>
    </div>
        </div>
    </div><!-- #page-wrapper, #page -->
{% block scripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery-cookie/jquery.cookie.js' %}"></script>
{% endblock scripts %}
</body>
</html>
