{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Sagebrew{% endblock title %}</title>
    {% block description %}{% endblock description %}
    {% block keywords %}{% endblock keywords %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    {% endblock css %}

    {% block page-javascript %}
    <!--[if lt IE 9]>
    <script src="{% static 'js/dist/vendor/html5shiv.js' %}"></script>
    <script src="{% static 'js/dist/vendor/respond.min.js' %}"></script>
    <![endif]-->
    {% endblock page-javascript %}
    <script type="text/javascript">
        {{ js_settings|safe }}
    </script>
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:204951,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
</head>
<body class="{% block body_class %}{% endblock body_class %}">
    <div id="sb-greyout-page" class="sb_hidden"><div class="loader centered-loader"></div></div>
    {% block navigation %}
        {% include "navigation/navbar.html" %}
    {% endblock navigation %}
    {% block background_image %}
    {% endblock background_image %}

    <div class="container-fluid container-main app-sb">
        {% block content %}
        {% endblock content %}
    </div>

    <div class="container-fluid footer-wrapper">
        {% block footer %}
        {% endblock footer %}
    </div>
{% include "partials/intercom.html" %}
{% block scripts %}
    <script src="{% static 'js/vendor.js' %}"></script>
    <script src="{% static 'js/sagebrew.js' %}"></script>
{% endblock scripts %}

{% block external_scripts %}
{% endblock external_scripts %}


<script>
    {% if request.user.is_authenticated %}
        {% block intercom %}
        {% endblock %}
    {% endif %}
</script>

{% block analytics %}
    {% include "partials/google_analytics.html" %}
{% endblock analytics %}
</body>
</html>
