{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrapValidator.min.css' %}">
{% endblock css %}
{% block navigation %}
{% endblock navigation %}
{% block content %}
    <img class="sb_beta_background"
           src="{% static 'images/beta_graphic_four-02.jpg' %}">

    <div class="row">
    <div style="margin-top: 12%;">
        <div class="col-lg-5 col-sm-5 col-lg-offset-3 col-sm-offset-3 hidden-xs">
            <div class="row sb_signup_headline_containter">
                <h1 class="sb_beta_title" style="text-align: center;">Sagebrew</h1>
                <h1 class="sb_beta_beta" style="text-align: center;">beta</h1>
            </div>
        </div>
        <div class="col-xs-7 col-xs-offset-2 hidden-sm hidden-md hidden-lg">
            <div class="row sb_signup_headline_containter">
                <h1 class="sb_beta_title" style="text-align: center;">Sagebrew</h1>
                <h1 class="sb_beta_beta" style="text-align: center;">beta</h1>
            </div>
        </div>
        <form id="signupForm" method="post">
            {% csrf_token %}
            <div class="col-lg-4 col-sm-4 col-xs-10 col-lg-offset-4 col-sm-offset-4 col-xs-offset-1">
                <div class="row-fluid">
                    <div class="sb_input_wrapper">
                        <input id="beta_email_input"
                           type="text"
                           value=""
                           name="email"
                           placeholder="enter email"
                           class="form-control input-md">
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-sm-4 col-xs-10 col-lg-offset-4 col-sm-offset-4 col-xs-offset-1">
                <button class="btn btn-block btn-sm btn-primary sb_btn" id="beta_email_submit">Submit</button>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-10 col-lg-offset-4 col-sm-offset-4 col-xs-offset-1">
                 <p class="sb_beta_text" style="text-align: center;">Already a member? Sign in <a href="{% url 'login' %}">here</a>.</p>
            </div>

            <div class="row-fluid">

            </div>

            <div class="row-fluid">
                    <p style="color:white;display: none" id="successMessage">
                        Thanks for signing up! We will send you an email if you have been chosen to participate in the Sagebrew Beta!
                    </p>

                </div>
        </form>
    </div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/vendor/bootstrapValidator.min.js' %}"></script>
    <script src="{% static 'js/beta_signup.js' %}"></script>
{% endblock %}