{% extends "base.html" %}
{% block title %}{{site_title}}{% endblock %}

{% block content %}
    <div id="content_center">
        <div id="info">
            <h1>Contact Us</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempus, 
                neque non convallis consectetur, elit elit ultricies felis, nec aliquam metus 
                est non est. Donec lacus mauris, dictum quis pulvinar ac, sollicitudin in purus. 
                Donec luctus feugiat pulvinar. Vivamus semper, dui id vulputate auctor, lorem 
                sapien tempor ligula, ut dictum enim arcu sed tortor. Etiam non eros risus, 
                tristique placerat risus. Lorem ipsum dolor sit amet, consectetur adipiscing 
                elit. Proin tempor sem et magna vulputate condimentum. Morbi posuere diam id est 
                egestas id eleifend enim dictum. Aenean vel odio ante, non luctus dolor. 
                Nulla dolor nisi, semper vel ullamcorper non, consectetur at urna. Nullam 
                commodo pellentesque dui non laoreet. Integer lacinia lorem et augue eleifend
                sit amet accumsan leo congue. Suspendisse potenti
            </p>
        </div>
    </div>
{% endblock %}

