<div class="bottom-menu bottom-menu-large mbl">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-12 navbar-brand sb-bottom-links">
            <a href="#link">Sagebrew</a>
          </div>

          <div class="col-md-2 col-sm-2 col-xs-2">
            <h5 class="title"></h5>
            <ul class="bottom-links sb-bottom-links">
              <li><a href="#fakelink">About</a></li>
              <li><a href="#fakelink">Help</a></li>
              <li><a href="#fakelink">Representatives</a></li>
              <li><a href="#fakelink">Discussion Etiquette</a></li>
            </ul>
          </div>

          <div class="col-md-2 col-sm-2 col-xs-2 col-sm-offset-1 col-xs-offset-2">
            <h5 class="title"></h5>
            <ul class="bottom-links sb-bottom-links">
              <li><a href="#fakelink">Find Friends</a></li>
              <li><a href="#fakelink">Reputation</a></li>
              <li><a href="#fakelink">Developers</a></li>
              <li><a href="#fakelink">Donate</a></li>
            </ul>
          </div>

          <div class="col-md-1 col-sm-1 col-xs-1 col-sm-offset-1 col-xs-offset-2">
            <h5 class="title"></h5>
            <ul class="bottom-links sb-bottom-links">
              <li><a href="#fakelink">FAQ</a></li>
              <li><a href="#fakelink">Register</a></li>
              <li><a href="#fakelink">Login</a></li>
            </ul>
          </div>

          <div class="col-md-1 col-sm-1 col-xs-1 col-sm-offset-1 col-xs-offset-2">
            <h5 class="title"></h5>
            <ul class="bottom-links sb-bottom-links">
              <li><a href="#fakelink">Terms</a></li>
              <li><a href="#fakelink">Conditions</a></li>
              <li><a href="#fakelink"></a></li>
            </ul>
          </div>

          <div class="col-md-1 col-sm-1 col-xs-1 col-sm-offset-1 col-xs-offset-2">
            <h5 class="title"></h5>
            <ul class="bottom-links sb-bottom-links">
            </ul>
          </div>
        </div>
      </div>
    </div>

