<div class="footer">
    <div class="sb_bottom_container navbar-fixed-bottom row ">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-6 ">
                <a id="sb_logo_bottom" href="">&#169;Sagebrew</a>
            </div>
                <div class="col-lg-2 col-md-2 col-sm-6 hidden-xs">
                    <ul class="bottom-links sb_nav_bottom_links">
                        <li><a href="#fakelink">About</a></li>
                        <li><a href="#fakelink">Reputation</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4  hidden-xs">
                    <ul class="bottom-links sb_nav_bottom_links">
                        <li><a href="#fakelink">Representatives</a></li>
                        <li><a href="#fakelink">Discussion Etiquette</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 hidden-xs">
                    <ul class="bottom-links sb_nav_bottom_links">
                        <li><a href="#fakelink">Developers</a></li>
                        <li><a href="#fakelink">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4  hidden-xs">
                     <ul class="bottom-links sb_nav_bottom_links">
                        <li><a href="#fakelink">Register</a></li>
                        <li><a href="#fakelink">Find Friends</a></li>
                     </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4  hidden-xs">
                     <ul class="bottom-links sb_nav_bottom_links">
                        <li><a href="#fakelink">Help</a></li>
                        <li><a href="#fakelink">Donate</a></li>
                     </ul>
                </div>
            </div>
        </div>
