{% extends "base.html" %}
{% block css %}
    {{ block.super }}

{% endblock css %}
{% block content %}
    <div class="jumbotron"

            <article class="demo-col" id="sb_input">
                 <div class="title"><h2 class="demo-panel-title">Sign Up</h2></div>
                     <div class="form-group">
                     <input type="text" value="" placeholder="First Name" class="form-control input-hg">
                     </div>

                     <div class="form-group">
                     <input type="text" value="" placeholder="Last Name" class="form-control input-hg">
                     </div>

                     <div class="form-group">
                     <input type="text" value="" placeholder="Email" class="form-control input-hg">
                     </div>

                     <div class="form-group">
                     <input type="text" value="" placeholder="Re-enter Email" class="form-control input-hg">

                     <div class="btn btn-long"> <a href="#fakelink" class="btn btn-primary" id="sb-signup">
                     Sign Up
                     </a> </div>

                             <a href="#fakelink" class="btn btn-lg btn-social-facebook">
                             <i class="fui-facebook"></i>
                             Sign Up With Facebook
                             </a>


            </article>
    </div>
{{ block.super }}
{% endblock content%}
                {% block jordans_block %}

                {% endblock jordans_block %}