<div class="row-fluid">
    <div class="col-lg-4 col-lg-offset-8">
        <div class="sb_btn_group btn-group">
            <div class="col-lg-4 sb_nav_between">
            <button type="button" class="sb_btn_2 btn btn-default">
                <span class="sb_icon_list fui-user"></span>
            </button>
            </div>
            <div class="col-lg-4 sb_nav_between">
            <button type="button" class="sb_btn_2 btn btn-default">
                <span class="sb_icon_list fui-gear"></span></button>
            </div>
            <div class="col-lg-4 sb_nav_between">
            <div class="btn-group"
                 align="left">
                <button class="sb_btn_dropdown btn dropdown-toggle pull-right"
                        type="button"
                        id="dropdownMenu1"
                        data-toggle="dropdown">
                <span class="sb_icon_list fui-list"></span>
                </button>
                <ul class="sb_dropdown_menu dropdown-menu dropdown-menu-right"
                    role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem"
                                               tabindex="-1"
                                               href="#">Edit Profile</a>
                    </li>
                    <li role="presentation"><a role="menuitem"
                                               tabindex="-1"
                                               href="#">Settings</a>
                    </li>
                    <li role="presentation"><a role="menuitem"
                                               tabindex="-1"
                                               href="#">Help</a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem"
                                               tabindex="-1"
                                               href="#">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
            </div>
    </div>
</div>
{% comment %}
<div class="col-lg-4">
  {% if is_owner == True %}
        {% block notifications %}
            <a class="btn btn-sm btn-primary show_friend_request-action"
               data-email="{{ pleb_info.email }}">Friend Requests</a>
            <div id="friend_request_div"
                 style="display:none">
                {% block friend_requests %}
                    {% include "friend_requests.html" %}
                {% endblock %}
            </div>
            <a class="btn btn-sm btn-primary show_notifications-action">Notifications</a>
            <div id="notification_div"
                 style="display:none">
                {% block notification_divs %}
                    {% include "notifications.html" %}
                {% endblock %}
            </div>
        {% endblock %}
        {% block friends %}
            {% include "friends_list.html" %}
        {% endblock %}
    {% endif %}
</div>
{% endcomment %}