{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Login Page{% endblock title %}
{% block description %}
    <meta name="description" content="Sagebrew is the platform that empowers people to make change">
{% endblock description %}
{% block css %}
    {{ block.super }}
{% endblock css %}

{% block background_image %}
  <img class="sb_sign_up_background" src="{% static 'images/sign_up.jpg' %}">
{% endblock background_image %}

{% block content %}
    <div class="row sb_signup">
        <div class="row sb_signup_headline_containter" align="center">
            <h1>Log In</h1>
        </div>
            <div class="col-lg-4 col-sm-6 col-xs-8 col-lg-offset-4 col-sm-offset-3 col-xs-offset-2">
                <div class="row-fluid">
                    <div class="sb_input_wrapper">
                        <input type="email" name="email" placeholder="Email" class="form-control input-lg email" id="email_input">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="sb_input_wrapper">
                        <input type="password" name="password" placeholder="Password" class="form-control input-lg password" id="password_input">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="sb_input_wrapper">
                        <button class="btn btn-block btn-lg btn-primary sb_btn" id="submit_login">
                            Submit
                        </button>
                    </div>
                </div>
                <div class="row-fluid" align="center">
                    <small><a href="{% url 'reset_password_page' %}">Forgot Your Password?</a></small>
                </div>
            </div>
    </div>

{% endblock %}