<div class="row" id="sb_navbar">
        <nav class="navbar navbar-lg" role="navigation">
                <div class="col-lg-6 col-md-5 col-xs-6">
                    <div class="navbar-header">
                        <h1 id="logo">Sagebrew</h1>
                    </div>
                </div>
                    <div class="col-lg-6 col-md-7 col-xs-6 hidden-sm hidden-xs">
                        <form class="navbar-form form-inline navbar-right">
                            <input type="email" class="form-control flat hidden-sm hidden-xs" placeholder="E-mail">
                            <input type="password" class="form-control flat hidden-sm hidden-xs" placeholder="Password">
                            <button class="btn sb-btn-login btn-wide hidden-sm hidden-xs">Login</button>

                            <!--<div class="btn-group open hidden-lg hidden-md">
                                  <button class="btn btn-info">Sign In</button>
                                  <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                  </button>
                                        <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                                             <ul class="dropdown-menu dropdown-inverse">
                                                 <li><input type="email" class="form-control flat" placeholder="E-mail"></li>
                                                 <li><input type="password" class="form-control flat " placeholder="Password"></li>
                                             </ul>
                                </div> -->
                        </form>
                    </div>
      </nav>
</div>

