<div id="sb_navbar">
    <nav class="navbar navbar-lg" role="navigation">
        <div class="navbar-header">
            <h1 id="logo">Sagebrew</h1>
        </div>
            <form class="navbar-form form-inline navbar-right">
                    <input type="email" class="form-control flat" placeholder="E-mail">

                    <input type="password" class="form-control flat" placeholder="Password">
                <button class="btn sb-btn-login btn-wide">Login</button>
            </form>
    </nav>
</div>
