{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
{% endblock css %}
{% block navigation %}
{% endblock navigation %}
{% block content %}
                <img class="sb_beta_background"
         src="{% static 'images/sb_beta_page_mock.jpg' %}">
    <div>
        <div class="sb_beta_input_group">
            <div class="row-fluid">

                <div class="col-lg-6 col-sm-6 col-xs-12 col-lg-offset-3 col-sm-offset-2">
                    <input type="text"
                           value=""
                           placeholder="enter email"
                           class="sb_signup_input form-control input-lg">
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block footer %}
{% endblock footer %}
