{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="row-fluid sb_page">
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 35px; ">
        <div class="sb_wall sb_conversation_wall">
            <div class="row">
                <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                    <h3>Conversations</h3>
                </div>
                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"
                     align="right">
                    <button class="btn sb_btn sb_btn_icon sb_btn_icon_green"
                            id="advanced_filters">
                        <span class="fui-list-large-thumbnails"></span>
                    </button>
                </div>
            </div>
            <div class="row-fluid">
                <div class="hidden-sm hidden-xs sb_border sb_border_categories"
                     style="display:none;"
                     id="filter_box">
                {% for tag in base_tags %}
                    <div class="col-lg-2">
                        <a class="btn sb_tab_question query_questions-action"
                           data-tagged_as="{{ tag.default }}">{{ tag.display|title }}</a>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="sb_border sb_border_question">
                <div class="row sb_tertiary_nav" style="padding-left: 15px; padding-right: 15px;">
                    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                        <a class="btn sb_tab_question query_questions-action active"
                           data-sort_by="-created">Most Recent</a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                        <a class="btn sb_tab_question query_questions-action"
                           data-sort_by="created">Least Recent</a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                        <a class="btn sb_tab_question query_questions-action"
                           data-sort_by="vote_count">Most Votes</a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                        <a class="btn sb_tab_question query_questions-action"
                           data-sort_by="last_edited_on">Recent Edits</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                         <a href="{% url 'save_question_page' %}" class='btn btn-block btn-primary sb_btn_fill' style="color: white">
                             Start a Conversation</a>
                    </div>
                </div>
                <div id="question_wrapper">

                    {% comment %}
                        Loaded from JS
                    {% endcomment %}
                </div>
                <div class="col-md-offset-3" id="js-no_result" style="display: none"><h3>Sorry! There seems to be nothing here!</h3></div>
            </div>
        </div>
    </div>
</div>
{%  include "side_content.html" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/query_questions.js' %}"></script>
    <script src="{% static 'js/question_ui.js' %}"></script>
    <script src="{% static 'js/toggle_filters.js' %}"></script>
    <script src="{% static 'js/event_conversation_intercom.js' %}"></script>
{% endblock scripts %}