{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block navigation %}
    {% include "navigation/sign_up_navigation.html" %}
{% endblock %}

{% block content %}
    {% block filter_options %}
        <a class="btn btn-sm btn-primary query_questions-action" data-sort_by="most_recent" data-current_pleb="{{ email }}">Most Recent</a>
        <a class="btn btn-sm btn-primary query_questions-action" data-sort_by="least_recent" data-current_pleb="{{ email }}">Least Recent</a>
        <a class="btn btn-sm btn-primary query_questions-action" data-sort_by="least_recent" data-current_pleb="{{ email }}">Least Recent</a>
    {% endblock %}
    <h1>Questions:</h1>
    {% block questions %}
        <div id="question_wrapper">

        </div>
    {% endblock %}
    <img src="https://logs-01.loggly.com/inputs/4befe913-b753-4823-a844-193a41779000.gif?source=pixel&data=hello" />
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/query_questions.js' %}"></script>
{% endblock scripts %}