{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'select2/select2.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'less/sb_conversation/sb_question_base.css' %}"/>
    <link rel="stylesheet" href="{% static 'less/sb_conversation/sb_question_input.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/jquery.pagedown-bootstrap.css' %}"/>
{% endblock css %}

{% block content %}
    <div class="row-fluid sb_page">
        <div class="col-lg-9">
            <div class="sb_wall sb_conversation_wall">
                <a href=""
                   type="button"
                   class="btn sb_tab_navigation">
                   <span><h3>Conversations</h3></span>
                </a>
                <div class="sb_border">
                    <h3>Submit Question</h3>
                    <textarea class="form-control"
                              id="question_title_id"
                              name="question_title"
                              cols="20"
                              rows="1"
                              placeholder="Question title"></textarea>
                    <div class="sb_markdown">
                    <textarea class="form-control"
                              id="question_content_id"
                              name="question_content"
                              cols="20"
                              rows="6"
                              placeholder="Question Content"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            {% include "tag_box.html" %}
                        </div>
                    </div>
                    {% comment %}
                    TODO determine if this and other "buttons" need to be a tags
                    instead of buttons
                    {% endcomment %}
                    <button class="btn sb_btn sb_btn_submit submit_question-action"
                           data-current_pleb="{{ current_user }}">Create Question</button>
                    <button class="btn sb_btn sb_btn_submit">Cancel</button>
                </div>
             </div>
        </div>
    </div>
{% include "side_content.html" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/vendor/jquery.pagedown-bootstrap.combined.min.js' %}"></script>
    <script src="{% static 'js/create_markdown.js' %}"></script>
    <script src="{% static 'js/save_question.js' %}"></script>
    <script src="{% static 'js/get_tags.js' %}"></script>
    <script src="{% static 'select2/select2.js' %}"></script>
{% endblock scripts %}