{% extends "layout/two-col-right.html" %}
{% load i18n %}
{% load staticfiles %}

{% block live %}
        <div class="action" style="display: none" data-action="write_question"></div>
        <div class="action" style="display: none" data-action="write_comment"></div>
        <div class="action" style="display: none" data-action="write_solution"></div>
        <div class="block sb_markdown">
            <h3 class="block-title">{% if not edit %}Submit Question{% else %} Edit Question{% endif %}</h3>
            <div class="block-content">
                <form id="questionInputForm">
                    <div class="title_input">
                        {% if edit %}
                        <input class="form-control title_input" style="margin-bottom: 10px;"
                                  id="title_id"
                                  name="title"
                                  placeholder="Question Title"
                                  value="{{ title }}" disabled="disabled"/>
                        {% else %}
                            <input class="form-control" style="margin-bottom: 10px;"
                                  id="title_id"
                                  name="title"
                                  placeholder="Question Title"
                                  value="{{ title }}"/>
                        {% endif %}
                    </div>
                    <div class="question_content_input">
                        <textarea class="form-control markdown-input"
                                  id="question_content_id"
                                  name="question_content"
                                  cols="20"
                                  rows="8"
                                  placeholder="Question Context">{{ content }}</textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="map-wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <div class="position-wrapper">
                        <input id="pac-input" class="form-control" type="text"
                               placeholder="What Place is Affected? (Country, State, City, etc)" value="{{ question.affected_area|default_if_none:'' }}"/>
                        <div id="location-id" hidden>{{ question.external_location_id }}</div>
                        <div id="location-lat" hidden>{{ question.latitude }}</div>
                        <div id="location-long" hidden>{{ question.longitude }}</div>
                        <div id="location-area" hidden>{{ question.affected_area }}</div>
                    </div>
                </div>
            </div>
            {% if not edit %}
                <div class="row">
                    <div class="col-xs-12">
                        {% include "tag_box.html" %}
                    </div>
                </div>
            {% endif %}
            <div id="validation_errors"></div>
            {% comment %}
            TODO determine if this and other "buttons" need to be a tags
            instead of buttons
            {% endcomment %}
            <div class="row">
                    {% if not edit %}
                    <button class="btn btn-primary sb_btn sb_btn_fill submit_question-action"
                           data-url="/v1/questions/">Create Question</button>
                    {% else %}
                    <button class="btn btn-primary sb_btn sb_btn_fill submit_edit-action"
                            data-object_uuid="{{ object_uuid }}">Submit</button>
                    {% endif %}
                <button class="btn btn-primary sb_btn sb_btn_fill sb_btn_remove cancel_question-action">Cancel</button>
            </div>
        </div>

<div id="fileModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-sm sb_btn close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="fileModalLabel">Upload Images</h3>
            </div>
            <div class="modal-form">
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Upload</a></li>
                        <li><a href="#tab2" data-toggle="tab">Enter URL</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div class="preview" id="preview" >
                                <input id="upload_image" type="file" name="img">
                            </div>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <p><input type="text" class="form-control input-lg img-url" placeholder="Ex: http://yoursite.com/image.jpg" id="img-url" /></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn btn-primary sb_btn sb_btn_fill" id="insert_image_post">Insert Image</button>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn btn-primary sb_btn sb_btn_fill sb_btn_remove" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock live %}
{% block sidebar_right %}
    <div class="create-side-content">
        <div class="side-create-map">
            <div id="map"></div>
        </div>

    </div>
{% endblock sidebar_right %}


{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/question_validator.js' %}"></script>
    {% if edit %}
        <script src="{% static 'js/populate_edit_question.js' %}"></script>
        <script src="{% static 'js/edit_question.js' %}"></script>
    {% endif %}
{% endblock scripts %}

{% block intercom %}
    Intercom('trackEvent', 'visited-create-question-page');
{% endblock %}