{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block navigation %}
    {% include "navigation/sign_up_navigation.html" %}
{% endblock %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'select2/select2.css' %}" rel="stylesheet"/>
{% endblock css %}


{% block content %}
    <div>Submit Question</div>
    <div>Question Title:</div>
    <textarea class="form-control" id="question_title_id" name="question_title"
           cols="20" rows="1" placeholder="Question title"></textarea>
    <div>Question Content:</div>
    <textarea class="form-control" id="question_content_id" name="question_content"
           cols="40" rows="3" placeholder="Question content"></textarea>
    <div>Tags: </div>
    {% include "tag_box.html" %}
    <a class="btn btn-lg btn-block btn-primary submit_question-action"
           data-current_pleb="{{ current_user }}">Create Question</a>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/save_question.js' %}"></script>
    <script src="{% static 'js/get_tags.js' %}"></script>
    <script src="{% static 'select2/select2.js' %}"></script>
{% endblock scripts %}