{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
]        <link rel="stylesheet" href="{% static 'less/sb_conversation/sb_question_base.css' %}"/>
{%  endblock css %}

{% block content %}
    <div class="sb_questions_content">
        <div class="row-fluid">
            <div class="col-lg-9">
                <div class="sb_questions_list_container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p class="sb_question_header">Conversations</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                             align="right">
                            <button class="btn sb_btn_question_cat">
                                <span class="sb_cat fui-list-large-thumbnails"></span>
                            </button>
                        </div>
                    </div>
                    <div class="sb_questions_cat_container">
                    </div>
                    <div class="sb_question_inner_border">
                        <div class="row">
                            <div class="col-lg-12" align="right">
                                <form class="navbar-form"
                                      role="search">
                                    <div class="input-group">
                                        <input type="text"
                                               id="sb_conv_input"
                                               class="form-control"
                                               placeholder="Spark a conversation....">
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% block questions %}
                            <div id="question_wrapper">

                            </div>
                        {% endblock %}
                        {% comment %}
                        <div class="pagination">
                          <ul>
                            <li class="previous">
                              <a href="#" class="fui-arrow-left"></a>
                            </li>
                            <li class="next">
                              <a href="#" class="fui-arrow-right" id="sb_pagination_arrow "></a>
                            </li>
                          </ul>
                        </div>
                        {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="sb_questions_side_container">

            </div>
        </div>
    </div>

    {% block filter_options %}
                    <a class="btn btn-sm btn-primary query_questions-action"
                       data-sort_by="most_recent"
                       data-current_pleb="{{ email }}">Most Recent</a>
                    <a class="btn btn-sm btn-primary query_questions-action"
                       data-sort_by="least_recent"
                       data-current_pleb="{{ email }}">Least Recent</a>
                {% endblock %}
                <img src="https://logs-01.loggly.com/inputs/4befe913-b753-4823-a844-193a41779000.gif?source=pixel&data=hello" />
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/query_questions.js' %}"></script>
{% endblock scripts %}