<div class="col-lg-3 hidden-md hidden-sm hidden-xs">
    <div class="sb_questions_side_container">
        <h3 align="center">
          Things to Keep in Mind
        </h3>
        <div class="sb_deco_line"></div>
        <h5 align="left">Be Respectful</h5>
        <div class="sb_deco_line"></div>
        <h5 align="left">Use Proper Grammar</h5>
        <div class="sb_deco_line"></div>
        <h5 align="left">Consider All Sides</h5>
        <div class="sb_deco_line"></div>
        <h5 align="left">Link to Research Studies or Articles
            to Support Your Context</h5>
        <div class="sb_deco_line"></div>
    </div>
</div>