.quest-page{
  background-color:#DDEFF2;
}
.pricing-plan{
  color: #397A69;
  text-align: center;
  margin-bottom: 30px;
}
.quest-width{
  width: 100%;
}
.quest-header{
  height: 750px;
  margin-top: 100px;
  color: @sb_green;
}
.quest-recognition{
  height: 750px;
  color: #2574A9;
}
.quest-logo{
  margin-left: 10%;
  margin-right:-7%;
}
.quest-logo-sm{
  margin: 0 -50px -100px 100px;
}
.quest-logo-md{
  margin: 15px -50px -100px 50px;
}
.quest-logo-image{
  display:block;
  margin:auto;
}
.quest-logo-image{
  &:extend(.quest-logo-image);
  width: 650px;
  height: 650px;
}
.quest-logo-image-md{
  &:extend(.quest-logo-image);
  width: 550px;
  height: 550px;
}
.quest-header-brand-lg{
  font-size: 80pt;
}
.quest-header-title-lg{
  margin-top: 200px;
  font-size: 80pt;
}
.quest-header-title-md{
  margin-top: 185px;
  font-size: 78pt;
}
.quest-header-title-sm{
  &:extend(.quest-header-brand-lg);
  text-align: center;

}
.quest-header-brand-sm{
  &:extend(.quest-header-title-sm);
  margin-top: 30px;
  margin-right: -15px;
}
.quest-logo-xs{
  margin: 0 -50px -100px 0;
  padding-right: 0;
}
.quest-text-xs{
  padding-right: 0;
}
.quest-logo-image-xs{
  &:extend(.quest-logo-image);
  width: 500px;
  height: 500px;
}
.quest-rec-lg{
  margin-left: -15px;
  margin-right:-7%;
}
.quest-rec-md{
  margin-left: -15px; 
  margin-right:-5%;
}
.quest-rec-image-lg{
  &:extend(.quest-logo-image);
  width: 800px;
  height: 800px;
}
.quest-rec-image-md{
  &:extend(.quest-logo-image);
  width: 600px;
  height: 600px;
}
.quest-rec-image-xs{
  &:extend(.quest-logo-image);
  width: 450px;
  height: 450px;
}
.quest-block-title-lg{
  font-size: 45pt;
}
.quest-block-title-md{
  font-size: 35pt;
}
.quest-block-paragraph-xs{
  text-align: center;
}
.quest-block-title-xs{
  font-size: 30pt;
  text-align: center;
}
.quest-rec-title-lg{
  &:extend(.quest-block-title-lg);
  margin-top: 300px;
}
.quest-rec-title-md{
  &:extend(.quest-block-title-md);
  margin-top: 210px;
}
.quest-rec-title{
  margin-top: 80px;
  text-align: center;
}
.quest-rec-title-sm{
  &:extend(.quest-rec-title);
  &:extend(.quest-block-title-md);
}
.quest-rec-title-xs{
  &:extend(.quest-rec-title);
  &:extend(.quest-block-title-xs);
}
.quest-rec-sm-wrapper{
  &:extend(.quest-width);
  margin: 0 0 0 0;
}
.quest-background-image-lg{
  margin: 0 -5px 0 -5px;
}
.quest-background-image-md{
  margin: 0 -5px -90px -5px;
}
.quest-gauge-science-kit-md{
  margin: -80px -5px 0 -5px;
}
.quest-electability{
  color: #397A69;
}
.quest-gauge-title-lg{
  &:extend(.quest-block-title-lg);
  margin-top: 15%;
}
.quest-science-title-md{
  &:extend(.quest-block-title-md);
  margin-top: 70px;
}
.quest-science-title-sm{
  &:extend(.quest-block-title-sm);
  text-align: center;
  margin-top: 100px;
}
.quest-science-title-xs{
  &:extend(.quest-block-title-xs);
  margin-top: 100px;
  text-align: center;
  font-size: 30pt;
}
.quest-gauge-science-kit-sm{
  margin: -60px 0 0 0;
}
.quest-gauge-science-kit-image-sm {
  max-width: 650px;
  width: 100%;
  display: block;
  margin: auto;
}
.quest-science-xs{
  margin: -35px 0 0 0;
}
.quest-gap-filler{
  width: 101%;
  height: 200px;
  margin: -15px 0 0 0;
}
.quest-science-filler{
  &:extend(.quest-gap-filler);
  background-color:#A0C7E0;
}
.quest-science-kit-image-wrapper-xs{
  margin: 0 -50px -100px 50px;
}
.quest-science-filler-xs{
  &:extend(.quest-science-filler);
  height: 400px;
}
.quest-connect-bk-lg{
  margin: -15px -5px 0 -5px;
}
.quest-connect-bk-sm{
  margin: -80px 0 0 0;
}
.quest-connect{
  color: #492656;
}
.quest-connect-title-lg{
  &:extend(.quest-block-title-lg);
  margin-top: 75%;
}
.quest-connect-title-md{
  &:extend(.quest-block-title-md);
  margin-top: 80%;
}
.quest-connect-title-sm{
  &:extend(.quest-block-title-xs);
  margin-top: -10px;
}
.quest-connect-img-sm{
  width: 100%;
  display:block;
  margin:auto;
}
.quest-gap-filler-connect-sm{
  &:extend(.quest-gap-filler);
  height: 350px;
  background-color:#BADDCA;
}
.quest-connect-bk-xs{
  &:extend(.quest-gauge-science-kit-sm);
  background-color:#BADDCA;
  width: 101%;
  height: 925px;
}
.quest-garden-bk-lg{
  margin: -15px -5px -190px -5px;
}
.quest-garden-bk-sm{
  margin: -200px 0 0 0;
}
.quest-garden-bk-xs{
  margin: -150px 0 0 0;
}
.quest-garden{
  color: #472816;
}
.quest-garden-paragraph{
   padding-right: 50px;
}
.quest-garden-title-lg{
  &:extend(.quest-block-title-lg);
  margin-top: 33%;
}
.quest-garden-title-md{
  &:extend(.quest-block-title-md);
  margin-top: 35%;
}
.quest-garden-title-sm{
  &:extend(.quest-block-title-xs);
  margin-top: 75%;
}
.quest-garden-title-xs{
  &:extend(.quest-block-title-xs);
  margin-top: 73%;
}
.quest-garden-filler-sm{
  &:extend(.quest-gap-filler);
  background-color:#6DB58C;
}
.quest-garden-filler-xs{
  &:extend(.quest-garden-filler-sm);
  height: 120px;
}
.quest-end-mark{
  padding: 30px 0 30px 0;
  border-top:3px solid #685243;
  width: 101%;
  margin: 0 -5px 0 -5px;
}
.quest-plans{
  background-color: #ffffff;
  border-radius: 5px;
  padding-bottom: 30px;
  li{
    font-size: 10pt;
  }
}

.quest-terms{
  text-align: center;
  margin-bottom: 100px;
}


.pricingTable {
  text-align: center;
}

.free-plan{
  background: #397A69;
  &:hover{
    background-color: #43917B;
  }
}

.paid-plan{
  background: #2574A9;
  &:hover{
    background-color: #2889BF;
  }
}

/* Each item*/
.item {
  display: inline-block;
  width: 520px;
  height: 450px;
  background: #fff;
  margin: 10px;
  vertical-align: top;
  position: relative;
  overflow: hidden;
}
.item:before {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
}
.item:nth-child(1):before {
  background: #397A69;
}
.item:nth-child(2):before {
  background: #2574A9;
}



/* Title */
.title {
  width: 180px;
  height: 184px;
  padding-top: 46px;
  border-radius: 50%;
  color: #fff;
  font-size: 46px;
  font-weight: 200;
  margin: 10px auto;
}
.title .smallText {
  font-size: 14px;
}
.title .undertext {
  display: block;
  font-size: 16px;
}
.item:nth-child(1) .title {
  background: #397A69;
  border: 2px solid #397A69;
}
.item:nth-child(2) .title {
  background: #2574A9;
  border: 2px solid #2574A9;
}


/* List */
.item ul {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}
.item ul li {
  display: block;
  width: 90%;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  font-weight: 300;
  border-bottom: 1px solid rgba( 0, 0, 0, 0.2);
  margin: 0 auto;
}
.keywords {
  font-weight: 400;
}



.button {
  width: 140px;
  height: 35px;
  color: #fff;
  font-weight: 300;
  line-height: 35px;
  border: 2px solid #fff;
  margin: 0 auto;
}

