<label for="district-input" hidden></label>
<select id="district-input" class="form-control mission-input">
    <option selected disabled value="NaN">Select District</option>
    {{#each districts}}
        <option value="{{ name }}">{{ name }}</option>
    {{/each}}
</select>
