<div class="col-xs-12 col-sm-4">
    <div class="radio-image-selector">
        <h4 class="sb-profile-not-friend-header">{{ name }}</h4>
        <div class="row radio-image-selector-image-wrapper">
            <img class="radio-image-selector-image" src="{{ image_path }}">
        </div>
    </div>
</div>