<div class="input-group comment-input"
     data-type="{{ parent_type }}"
     data-id="{{ parent_id }}">
    <textarea class="input-group form-control"
              rows="2" name="comment_content"
              placeholder="{{ placeholder_text }}"></textarea>
    <a class="btn input-group-btn comment-btn"
       data-id="{{ id }}">
        <span class="fa fa-plus"></span>
    </a>
</div>