
#logo {
        color: #e4eee5;
        position: absolute;
        text-align: left;
        margin-left: 1em;
        margin-top: 0;
    }

.form-control.flat {
  border-color: transparent;
  text-align: left;
}
.form-control.flat:hover {
  border-color: #bdc3c7;
}
.form-control.flat:focus {
  border-color: #1abc9c;
}
#sb_navbar {
    background-color: #1ba39c;
}
.navbar-nav + .navbar-form.navbar-left, .navbar-form.navbar-right:last-child {
    width:auto;
    background-color: #1ba39c;
    border-color: #1ba39c;
}

.navbar-form .form-control {
    display:inline;
}
.btn-primary {
  color: #1ba39c;
  background-color: #e4eee5;
  font-weight: bolder;
}

/*end nav css */

/* start template/index css */
h1, .title {
    color: #1ba39c;
    font-weight: bold;
    text-align: left;

}
#sb-signup {
    background-color: #1ba39c;
    color: #ffffff;
    text-align: left;
}
/*sign up input */
td {
    padding: .3em;
}

#sb_input {

    margin-left: 30%;
    margin-right: 30%;
}
/*facebook sign in */
.btn-social-facebook {
  color: #ffffff;
  background-color: #1ba39c;
  margin-top: 2%;
  margin-bottom:2%;
}
.btn-social-facebook:hover,
.btn-social-facebook:focus {
    color: #ffffff;
    background-color: #3a539b;
}
.btn-social-facebook.active {
    background-color: #3a539b;
}
/* end template/index css */

