.body {
    height: 100%;
    padding-bottom: 80px;
}
#wrap{
  min-height: 100%;
  height: auto;
  margin: 0 auto -190px;
  padding: 0 0 190px;
}
.sb_nav_input{
    border-width: 1px;
}
.sb_nav_input:hover,
.sb_nav_input:active,
.sb_nav_input:focus{
    border-color: #b7bfbb;
}
#sb_logo_bottom {
    margin-left: 30px;
}
#sb_logo_xs {
    color: #eaf0e8;
    text-align: left;
    margin-top: 1px;
    margin-left: 50%;
    font-size: 30pt;
}
.sb_background {
    background-size: cover;
    position: inherit;
    margin-top:0;
    padding-bottom: -25px;
    background-color: #b7bfbb;
}
.sb_deco_line{
    border-bottom: solid 5px;
    border-color: #838c92;
    margin-bottom: 35px;
}
.sb_deco_line_2{
    border-bottom: solid 5px;
    border-color: #838c92;
    margin-bottom: 100px;
}
.sb_title {
    color: #5c6367;
    font-size: 1.75em;
}
.sb_btn_continue {
    background-color: #1ba39c;
    width: 100%;
    height: 100%;
}
.sb_btn {
    background-color: #1ba39c;
    width: 100%;
    height: 100%;
}

.sb_btn_photo_modal_select {
    width: 150px;
    background-color: #1ba39c;
}
.sb_btn_photo_modal_remove {
    width: 150px;
    background-color: #1ba39c;
}
.sb_btn_photo_modal_change {
    width: 150px;
    background-color: #1ba39c;
}
.sb_btn_photo_modal_save {
    width: 150px;
    background-color: #1ba39c;
}
.sb_btn_upload {
    margin-top: 20px;
    background-color: #1ba39c;
    width: 265px;
    height: 100%;
    margin-bottom: 15px;
}
.sb_error {
    color: #e74c3c;
    margin-left: 2em;
}
.sb_photo_modal {
    margin-top: 2%;
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom: 2%;
    border-radius:7px 7px 7px 7px ;
}
.sb_modal_body {
    background-color: #eaf0e8;
    border-radius:0 0 7px 7px ;
}
.sb_modal_header {
    background-color: #1ba39c;
    border-bottom-width: 5pt;
    border-bottom-color: #838c92;
}
.sb_nav_bottom_blank {
    position: inherit;
    margin-top: 80%;
    margin-bottom: 0;
}
.sb_btn_group{
    border-radius: 0;
}
.sb_nav_bottom_menu {
    height: 220px;
    margin-top: auto;
    padding-top: 2em;
    margin-bottom: 0;
    margin-left: -15px;
    margin-right: -15px;
}
.sb_nav_bottom_links {
    color: #7c7e80;
    text-align: left;
}
.sb_nav_bottom_blank {

}
.sb_thumbnail_xs {
    height: 40px;
    width: 40px;
    border-width: 1px;
    border-color: #b7bfbb;
    margin-left: auto;
}
.sb_divider{
    color: #1ba39c;
}
.sb_bottom_container{
    margin-bottom: 40px;
}
