.background {
    background-color: #26424a;
    background-size: cover;
    position: inherit;
    margin-top: -20px;

}

.sb_registration_title {
    color: #26424a;
    font-size: 2em;
     margin-left: 30px;
}
.sb_registration_title_2 {
    color: #26424a;
    font-size: 2em;
     margin-left: 30px;
    margin-bottom: 30px;
}
.sb_registration_title_3 {
    color: #26424a;
    font-size: 2em;
     margin-left: 0px;
    margin-bottom: 30px;
}
.sb_registration {
    color: #26424a;
    font-size: 1.25em;
}
.sb_steps {
    color: #26424a;
    font-size: 1em;
    margin-left: 4em;
    margin-top: 45px;
}
.row_main {
    width: 60%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    background-color: #e4eee5;
    position: inherit;
    float: left;
    margin-right: 0px;
}

#profile_information {

}

.info_square {
    background-color: #26424a;
    color: #e4eee5;
    font-weight: bolder;
    border-radius: 10px;
    position: absolute;
    float: right;
    width: 200px;
    height: 200px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 450px;
    margin-right: 90px;
    margin-top: 40px;
    margin-bottom: 80px;
}
.info_square_2 {
    margin-right: -215px;
    margin-top: 510px
}
.info_square_3 {
     margin-left: 530px;
    margin-top: 110px;
}
.paragraph {
    margin-top: 30px;
    width: 190px;
    height: 190px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-left-width: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.registration_footer {
    position: absolute;
    margin-top: 0%;
    width: 100%;
    clear: both;
}

.sb_continue {
    margin-left: 650px;
    margin-bottom: 30px;
    margin-right: 50px;
}
.sb_continue_2 {
    margin-left: 635px;
    margin-bottom: 30px;
    margin-right: 0px;
    margin-top: -50px;

}

.interests_form {
    width: 70%;
    margin-left: 2%;
    margin-right: 15%;
}
