.background {
    background-color: #26424a;
    background-size: cover;
    position: inherit;
    margin-top:0px;
}
.background_interests{
    background-color: #26424a;
    background-size: cover;
    position: inherit;
}
.sb_registration_title {
    color: #26424a;
    font-size: 2em;
    margin-left: 60px;
}
.sb_registration_title_2 {
    color: #26424a;
    font-size: 2em;
    margin-left: 30px;
    margin-bottom: 30px;
}
.sb_registration_title_3 {
    color: #26424a;
    font-size: 2em;
    margin-left: 0px;
    margin-bottom: 30px;
}
.sb_label {
    margin-left: 2em;
    margin-right: 4em;
    margin-top: .5em;
    padding-right: 0;
}
.sb_profile_info {
    color: #26424a;
    font-size: 2em;
    margin-left: 8%;
    margin-bottom: 40px;
}
.sb_registration {
    color: #26424a;
    font-size: 1.25em;
}
.sb_steps {
    color: #26424a;
    font-size: 1em;
    margin-right: 0%;
    margin-top: 45px;
    width: 120px;
    margin-left: 80px;
}
.row_main {
    width: 80%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    background-color: #e4eee5;
    position: inherit;
    float: left;
    margin-right: 0px;
}

#profile_information {
    margin-left: 0;
}
#address_information{
    width: 100%;
}

.info_square {
    background-color: #26424a;
    color: #e4eee5;
    font-weight: bolder;
    border-radius: 10px;
    position: absolute;
    float: right;
    width: 200px;
    height: 200px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 750px;
    margin-right: 0px;
    margin-top: 40px;
    margin-bottom: 80px;

}
.info_square_2 {
    margin-right: -215px;
    margin-top: 300px
}
.info_square_3 {
    margin-left: 750px;
    margin-top: 110px;
}
.paragraph {
    margin-top: 30px;
    width: 190px;
    height: 190px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-left-width: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.registration_footer {
    position: static;
    margin-bottom: 0;
    width: 100%;
    clear: both;
}

.sb_continue {
    position: inherit;
    margin-left: 80%;
    margin-bottom: 30px;
    margin-right: 50px;
    background-color: #1ba39c;

}
.sb_continue_2 {
    margin-left: 80%;
    margin-bottom: 30px;
    margin-right: 0px;
    margin-top: -50px;
    background-color: #1ba39c;
}

.interests_form {
    width: 70%;
    margin-left: 2%;
    margin-right: 15%;
}

.input-group {
    width: auto;
}

.sb_fileinput {
    margin-left: 10%;
    margin-right: 10%
}

.sb_zip {
    height: 100%;
    width: 100;
}
.sb_state {

    height: 100%;
    width: 100;
}

.sb_city {
    height: 100%;
    width: 100;
}


.has-error {
    color: #e74c3c;
}
.sb_error {
    color: #e74c3c;
    margin-left: 3em;
}
.sb_col_8 {
    padding-left: 0;
}

#datepicker-01 {
    backgorund-color: #1ba39c;
    color: #1ba39c;
}
.form-group {
    width: 100%;
}
