
.sb_signup_headline_containter {
    margin-top: 15px;
    margin-bottom: 15px;
}
.sb-btn-login{
    color: #1ba39c;
    background-color: #eaf0e8;
    font-weight: bolder;
    border: solid;
    border-width: 1px;
    border-color: #bdc3c7;
}
.sb-btn-login:active,
.sb-btn-login:hover,
.sb-btn-login:focus{
    background-color: #1ba39c;
}
.sb_btn_signup{
    margin-bottom: 15px;
}
.sb_signup_input:focus,
.sb_signup_input:active,
.sb_signup_input:hover{
    border: solid;
    border-color: #1ba39c;
    border-width: 1px;
}
.sb_signup_input_group{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 0;
}
.sb_signup_input{
    width: 100%;
    margin-bottom: 15px;
    border-width: 1px;
}
.sb_signup_input_name {
    width: 100%;
}
.sb_signup_input_email {
    width: 100%;
}
.sb_signup_headline{
    color: #1ba39c;
}
.sb_content_sign_up{
    height: 500px;
    width: 100%;
    position: absolute;
}
input.sb_date_picker{
   color: #bdc3c7;
}
button.btn.sb_date_picker_btn{
    height: 45px;
    border-width: 0px;
}
button.btn.sb_date_picker_btn{
    height: 45px;
    border-width: 1px;
}
button.btn.sb_date_picker_btn:focus,
button.btn.sb_date_picker_btnt:active,
button.btn.sb_date_picker_btn:hover{
    border: solid;
    border-color: #1ba39c;
    border-width: 1px;
}
.ui-datepicker .ui-datepicker-header{
    background-color: #1ba39c;
}