@import "../sb_core/sb_core_variables.less";
.sb_all_check{
  color:@sb_dark_blue;
  font-weight: bolder;
}
.select2-search-field{
  height: 40px;
}
#s2id_autogen1{
  height: 40px;
}

#sb_picture_header {
    color: @sb_grey_extra_light;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.sb_profile_info_1 {
    color: #5c6367;
    font-size: 2em;
    margin-left: 8%;
    margin-bottom: 30px;
}
.sb_profile_info_2 {
    color: #5c6367;
    font-size: 2em;
    margin-bottom: 30px;
}
.sb_content_box {
    background-color: #26424a;
    color: @sb_grey_extra_light;
    font-weight: bolder;
    border-radius: 10px;
    position: absolute;
    float: right;
    width: 200px;
    height: 200px;
    margin-left: 60%;
    margin-bottom: 80px;
}
.sb_content_box_2 {
    background-color: #26424a;
    color: @sb_grey_extra_light;
    font-weight: bolder;
    border-radius: 10px;
    position: absolute;
    float: right;
    width: 200px;
    height: 200px;
    margin-left: 60%;
    margin-bottom: 80px;
    margin-right: -215px;
    margin-top: 365px;
}
.sb_content_box_3 {
    margin-left: 800px;
    margin-top: 170px;
    margin-bottom: 200px;
}
.sb_all_check {
    padding-left: @sb_common_padding_positive;
    padding-right: @sb_common_padding_positive;
    margin-bottom: 20px;
}
.sb_interests {
    padding-left: 8%;
}
.second-icon {
    background-color: @sb_green;
}
.sb_interests_search {
    margin-left: @sb_common_margin_positive;
    margin-righ: @sb_common_margin_positive;
}
#sb_content_block {
    background-color: #26424a;
}

/* profile picture selection */
.sb_picture {
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
}
.sb_select_image {
    margin-bottom: @sb_common_margin_positive;
    margin-left: @sb_common_margin_positive;
    margin-right: @sb_common_margin_positive;
}
.sb_photo_thumbnail {
    border-color: @white;
    background-color: @white;
    padding: 0;
    max-height: 300px;
    border-radius: 6px;
    margin-left: 5%;
    margin-right: 5%;
}
.sb_modal_close {
    text-emphasis-color: @sb_grey_extra_light;
    margin-left: 98%;
    padding-right: @sb_common_padding_positive;
}

#id_state {
    height: 100%;
}
.sb_btn_skip {
    background-color: @sb_green;
    width: 150px;
    height: 100%;
    margin-bottom: 160px;
}

.sb_modal_body {
    background-color: @sb_grey_extra_light;
    border-radius:0 0 5px 5px ;
}
.sb_modal_header {
    background-color: @sb_grey_extra_light;
    border-bottom-width: 5pt;
    border-bottom-color: @sb_grey_dark;
}
.sb_btn_photo_modal_select {
    width: 150px;
    background-color: @sb_green;
}
.sb_btn_photo_modal_remove {
    width: 150px;
    background-color: @sb_green;
}
.sb_btn_photo_modal_change {
    width: 150px;
    background-color: @sb_green;
}
.sb_btn_photo_modal_save {
    width: 150px;
    background-color: @sb_green;
}