.sb_thumbnail_xs {
  height: 33px;
  width: 33px;
}
.sb_btn {
  height: 30px;
  background_color: #1ba39c;
}
.sb_icon {
  font-size: 21px;
}
.sb_dropdown_icon {
  color: #eaf0e8;
}
.sb_post_btn_dropdown {
  background: transparent;
  margin-top: -15px;
}
.sb_post_dropdown_menu {
  text-align: left;
  padding-left: 20px;
}
.sb_link {
  color: #34495e;
  padding-left: 0;
}
.sb_link:hover {
  color: #1ba39c;
}
html,
.body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.sb_content_wrapper {
  margin-top: 60px;
}
div#sb_wrapper {
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0 0 -100px 0;
}
#sb_logo_bottom {
  margin-left: 30px;
}
#sb_logo_xs {
  color: #f9fff7;
  text-align: left;
  margin-top: 1px;
  margin-left: 50%;
  font-size: 30pt;
}
.sb_reg_tooltip {
  color: #34495e;
  font-size: 19px;
}
.sb_background {
  background-size: cover;
  background-color: #b7bfbb;
}
.sb_deco_line {
  border-bottom: solid 5px;
  border-color: #9dbbb9;
  margin-bottom: 35px;
}
.sb_deco_line_2 {
  border-bottom: solid 5px;
  border-color: #9dbbb9;
  margin-bottom: 100px;
}
.sb_title {
  color: #5c6367;
  font-size: 1.75em;
}
.sb_btn_continue {
  background-color: #1ba39c;
  width: 100%;
  height: 100%;
}
.sb_btn {
  background-color: #1ba39c;
  width: 100%;
  height: 100%;
}
.sb_btn_photo_modal_select {
  width: 150px;
  background-color: #1ba39c;
}
.sb_btn_photo_modal_remove {
  width: 150px;
  background-color: #1ba39c;
}
.sb_btn_photo_modal_change {
  width: 150px;
  background-color: #1ba39c;
}
.sb_btn_photo_modal_save {
  width: 150px;
  background-color: #1ba39c;
}
.sb_btn_upload {
  margin-top: 20px;
  background-color: #1ba39c;
  width: 265px;
  height: 100%;
  margin-bottom: 15px;
}
.sb_error {
  color: #e74c3c;
  margin-left: 2em;
}
.sb_btn_group {
  border-radius: 0;
}
.sb_divider {
  color: #1ba39c;
}
