@white: #ffffff;
@sb_off_white: #fafcfa;
@sb_green: #1ba39c;
@sb_green_impressed: #00b8ac;
@sb_green_medium: #9dbbb9;
@sb_green_light: #d0e9c6;
@sb_green_extra_light: #eaf0e8;
@sb_green_wall: #e0e7e1;
@sb_grey_extra_light: #f9fff7;
@sb_grey_light:#e5ece6;
@sb_grey: #b7bfbb;
@sb_grey_dark: #838c92;
@sb_dark_blue: #34495e;
@sb_red: #e74c3c;
@sb_violet: #a162ff;

@sb_data_text: 11px;
@sb_body_text: 18px;
@sb_menu_text: 19px;
@sb_header_text: 21px;
@sb_question_title_text: 24px;
@sb_title_text: 26px;
@sb_title_big_text: 80px;
@sb_logo_nav: 33px;

@sb_common_radius:  5px;
@sb_common_padding_positive: 15px;
@sb_common_padding_negative: -15px;

@sb_common_margin_positive: 15px;
@sb_common_margin_negative: -15px;

@sb_input_height: 30px;
@sb_input_width: 348px;
@sb_btn_height: 30px;
@sb_nav_height: 45px;

.sb_thumbnail_xs{
  height: 33px;
  width: 33px;
}
.sb_icon{
    font-size: @sb_header_text;
}
.sb_dropdown_icon {
    color: @sb_green_extra_light;
}
.sb_post_btn_dropdown{
    background: transparent;
    margin-top: @sb_common_padding_negative;
}
.sb_post_dropdown_menu{
    text-align: left;
    padding-left: 20px;
}
.sb_link{
  color: @sb_dark_blue;
      &:hover{
        color: @sb_green;
      }
  padding-left: 0;
}