{% extends "sb_plebs_base/profile_page.html" %}
{% load staticfiles %}
{% block title %}{{ page_user.first_name }}'s Friends{% endblock title %}
{%  block midsection %}
<div class="col-md-4 hidden-sm hidden-xs">
   {% include "sb_home_section/representative_col.html" %}
</div>
<div class="col-md-8">
   <div class="col-lg-12">
       <div class="row">
           <div class="col-xs-12 app-friends" id="friend_wrapper">
               <div style="display: none" id="next_url" data-url=""></div>
           </div>
       </div>
   </div>
</div>
{% endblock %}
{% comment %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/get_friends.js' %}"></script>
{% endblock %}
{% endcomment %}