<div class="row sb_votes vote_wrapper" id="vote_{{ object_uuid }}">
    <div class="col-lg-12 sb_up_vote_wrapper">
        {% if not vote_type or vote_type == None %}
            <button class="btn sb_btn vote_up sb_btn_vote vote_object-action vote_{{ object_uuid }}"
               data-object_uuid="{{ object_uuid }}"
               data-vote_type=true>
                <span class="fui-triangle-up"></span>
            </button>
        {% else %}
            <button class="btn sb_btn sb_btn_vote vote_up vote_up_active vote_object-action vote_{{ object_uuid }}"
               data-object_uuid="{{ object_uuid }}"
               data-vote_type=true>
                <span class="fui-triangle-up"></span>
            </button>
        {% endif %}
    </div >
    <div class="col-lg-12 vote_count_wrapper vote_count{{ object_uuid }}">
        {% comment %} This works pretty well until we get to 4 Characters like 1000 on posts and comments {% endcomment %}
        <span class="vote_count" id="vote_count_{{ object_uuid }}">{{ vote_count|default_if_none:"0" }}</span>
    </div>
    <div class="col-lg-12 col-md-12 sb_down_vote_wrapper">
        {% if vote_type or vote_type == None %}
            <button class="btn sb_btn sb_btn_vote vote_down vote_object-action vote_{{ object_uuid }}"
               data-object_uuid="{{ object_uuid }}"
               data-vote_type=false>
                <span class="fui-triangle-down"></span>
            </button>
        {% else %}
            <button class="btn sb_btn sb_btn_vote vote_down vote_down_active vote_object-action vote_{{ object_uuid }}"
               data-object_uuid="{{ object_uuid }}"
               data-vote_type=false>
                <span class="fui-triangle-down"></span>
            </button>
        {% endif %}
    </div>
</div>