.sb_nav_container {
    background-color: #1ba39c;
    border-bottom-style: solid;
    border-color: #838c92;
    border-width: 2px;
    border-radius: 0;
    height: 53px;
    margin-left: -15px;
    margin-right: -15px;
}
.sb_nav_btn_row{
    background-color: #1ba39c;
}
.sb_navbar_content {
    margin-left: 25px;
}
#sb_nav_logo {
    color: #eaf0e8;
    text-align: left;
    margin-top: 8px;
    font-size: 25pt;
    padding-left: 15px;
}
.sb_nav_user{
    margin-top:15px;
}
#sb_nav_user{
    font-size: 15px;
    color: #eaf0e8;
}
.sb_nav_form {
    margin-top: 1px;
}
.sb_btn_icon{
    background-color: transparent;
    color: #b7bfbb;
}
.sb_nav_btn_group{
    margin-top: 5px;
    background-color: transparent;
}
.sb_btn_icon:hover{
    color: #26424a;
}
.sb_btn_dropdown,
.sb_btn_dropdown:hover {
    background-color: #1ba39c;
    color: #26424a;
}
.open .dropdown-menu {
    margin-top: 5px !important;
    margin-right: 15px;
    opacity: 1;
    visibility: visible;
}
.sb_btn_2 {
    background-color: #1ba39c;
    width: 40px;
}
.sb_nav_search{
    margin-top: -13px;
}
#sb_search_input{
    width: 300px;
    border-color: #b7bfbb;
    border-radius: 5px 0 0 5px;
}
.sb_search_input_div{
    display: inline;
}
#sb_search_input:hover,
#sb_search_input:active,
#sb_search_input:focus{
    border-color: #b7bfbb;
}
#sb_nav_spy{
    color: #1ba39c;
    position: relative;
}
#sb_nav_spy:hover,
#sb_nav_spy:focus,
#sb_nav_spy:active{
    color: #838c92;
}
.sb_nav_dropdown_container {
    background-color: #ffffff;
    width: 350px;
    border-top: solid;
    border-width: 2px;
    border-radius: 0 0 2px 2px;
    border-top-color: #838c92;
}
.navbar-form.navbar-right:last-child {
    width: auto;
    padding-top: 6px;
}
.navbar-form .form-control {
    display: inline;
}
.sb_nav_content{
    width: 100%;
}
.sb_btn_see_all{
    background-color: #eaf0e8;
    color: #838c92;
    border-color: #b7bfbb;
    border-top-style: solid;
    border-width: 1px;
    border-radius: 0;
    width: 100%;
    height: 40px;
    font-size: 12pt;
}
.sb_btn_see_all:hover,
.sb_btn_see_all:active,
.sb_btn_see_all:focus{
    color: #1ba39c;
}
.sb_dropdown_label{
    margin-left: 0;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    background-color: #eaf0e8;
    color: #1ba39c;
    font-size: 12pt;
}
.sb_dropdown_content{
    height: 50px;
    max-height: 400px;
    margin-top: -5px;
    border-style: solid;
    border-width: 1px;
    border-color: #b7bfbb;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.sb_nav_input{
    border-width: 1px;
}
.sb_nav_input:hover,
.sb_nav_input:active,
.sb_nav_input:focus{
    border-color: #b7bfbb;
}