.sb_profile_container_left {
    background-color: #eaf0e8;
    max-width: 400px;
    height: auto;
    margin-left: 2.5%;
    margin-right: .5%;
    margin-top: -15px;
    border-radius: 5px;
}
.sb_profile_container_top {
    background-color: #eaf0e8;
    width: 95%;
    height: 250px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 0 0 5px 5px;
}
.sb_profile_container_wall {
    background-color: #eaf0e8;
    max-width: 400px;
    height: 300;
    margin-left: 2.5%;
    margin-right: .5%;
    margin-top: -15px;
    border-radius: 5px;
}
.sb_post_container {
    background-color: #e0e7e1;
    height:80px;
    width:770px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid;
    border-color: #1ba39c;
    border-width: 1px;
    border-radius: 5px;
}
.sb_post {
    max-height: 60px;
    max-width: 550px;
}
