.sb_profile_rep_container{
    background-color: #e0e7e1;
    border-radius: 2px;
    padding-bottom: 15px;
}
.sb_profile_rep_header{
    border-radius: 2px 2px 0 0 ;
    padding-left: 15px;
    padding-top: 5px;
    margin-top: 0;
    height: 45px;
    background-color: #eaf0e8;
    color: #838c92;
    font-size: 15pt;
    border-bottom: solid;
    border-bottom-color: #9DBBB9;
    border-width: 2px;
}
.sb_profile_rep_content{
    padding-top: 15px;
    padding-left: 15px;
    color: #838c92;
}