.sb_profile_content {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.sb_profile_content_xs {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.sb_profile_container_top {
    background-color: #eaf0e8;
    width: 100%;
    height: 250px;
    border-radius:5px 5px 0 0;
    margin-top: 30px;
}
.sb_profile_container_top_div{
}
.sb_profile_container_left {
    background-color: transparent;
    height: auto;
    border-radius: 0 0 0 0 ;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 3px;
    padding-left: 0;
    padding-right: 35px;
    padding-bottom: 15px;
    padding-top: 0;
}
.sb_profile_btn_menu_container {
    background-color: #e5ece6;
    height: 45px;
    border-radius: 0 0 2px 2px;
    border-bottom: solid;
    border-width: 2px;
    border-bottom-color: #9DBBB9;
    margin-bottom: 15px;
}
.sb_profile_menu_btn{
    background-color: #e5ece6;
    color: #838c92;
    border-radius: 0 0 2px 2px;
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    height: 43px;
    padding-left: -1px;
}
.sb_profile_menu_btn:hover,
.sb_profile_menu_btn:focus,
.sb_profile_menu_btn:active{
    background-color:#e0e7e1;
    color: #838c92;
}
.sb_profile_btn_menu_group{
    margin-left: -15px;
    margin-bottom: 0;
}
.sb_profile_pic {
    border-color: #e5ece6;
    margin-left: 15px;
    margin-top: 65px;
    width: 200px;
    height:200px;
    border-radius: 2px;
    position: absolute;
    padding:0;
}
.sb_profile_name{
    color: #838c92;
    font-size: 25px;
}
.sb_temp_rep_badge{
    height: 30px;
    margin-bottom: 5px;
    padding-left: 10px;
 }
.sb_profile_reputation{
    border-radius: 2px;
    padding-left: 15px;
    padding-top: 5px;
    margin-top: 0;
    height: 70px;
    background-color: #eaf0e8;
    color: #838c92;
    font-size: 15pt;
    border-bottom: solid;
    border-bottom-color: #9DBBB9;
    border-width: 2px;
}
