.sb_profile_rep_container{
    background-color: #e0e7e1;
    border-radius: 2px;
    padding-bottom: 15px;
}
.sb_container_header {
    border-radius: 2px 2px 0 0 ;
    padding-left: 15px;
    padding-top: 5px;
    margin-top: 0;
    height: 45px;
    background-color: #e5ece6;
    color: #838c92;
    font-size: 15pt;
    border-bottom: solid;
    border-bottom-color: #9DBBB9;
    border-width: 2px;
}
.sb_profile_rep_content{
    padding-top: 15px;
    padding-left: 15px;
    color: #838c92;
}
.sb_rep_header {
    color: #838c92;
    font-size: 15pt;
    padding-bottom: 10px;
}
.sb_rep_info{
    font-size: 12pt;
    color: #838c92;
    margin-top: -5px;
}
.sb_rep{
    margin-top: -10px;
}
.sb_thumbnail_rep{
    margin-left: 15px;
}
.sb_rep_name{
    color: #1ba39c;
    font-size: 13pt;
    margin-left: -15px;
    padding-bottom: 0;
}
.sb_rep_name:hover,
.sb_rep_name:active,
.sb_rep_name:focus{
    color: #1ba39c;
    text-decoration-line: underline;
    text-decoration-color: #1ba39c;
}