.sb_profile_container_about_block {
    background-color: #e0e7e1;
    height: auto;
    min-height: 200px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom: 30px;
    border-radius: 2px;
}
.sb_profile_about{

}