<div class="sb_comment_content">
<div class="sb_comment_header">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                <div class="sb_thumbnail_xs thumbnail">
                    <img src="{{ pleb_info.profile_pic|default_if_none:'' }}"/>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-4">
               <div class="sb_comment_header_info">
                   <a class="btn sb_btn_profile_link">
                       {{ comment.comment_owner }}
                   </a>
                   <div class="sb_post_data">
                       {% comment %}
                           date/time/location(or disctrict)
                           {{ comment.comment_last_edited_on }}
                       {%  endcomment %}
                  </div>
               </div>
            </div>
            <div class="col-lg-8" align="right">
                    <div class="btn-group"
                         align="left">
                        <button class="sb_post_btn_dropdown btn dropdown-toggle"
                                type="button"
                                id="dropdownMenu1"
                                data-toggle="dropdown">
                        <span class="sb_downdrop_icon fui-gear"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right sb_post_dropdown"
                            role="menu" aria-labelledby="dropdownMenu1">
                            {% if comment.comment_owner_email == comment.current_user %}
                             <li role="presentation"><a class="btn show_edit_comment_class"
                                                        data-comment_uuid="{{ comment.object_uuid }}"
                                                        type="submit">edit</a>
                            </li>
                            {% endif %}
                             <li role="presentation" class="sb_divider divider"></li>
                            <li role="presentation"><a class='btn flag_object-action'
                                                       data-flag_reason='spam'
                                                       data-current_user="{{ comment.current_user }}"
                                                       data-object_uuid="{{ comment.object_uuid }}"
                                                       data-object_type="02ba1c88-644f-11e4-9ad9-080027242395">
                                                       flag as spam</a>
                            </li>
                            <li role="presentation" class="sb_divider divider"></li>
                            <li role="presentation"><a class='btn flag_object-action'
                                                       data-flag_reason='explicit'
                                                       data-current_user="{{ comment.current_user }}"
                                                       data-object_uuid="{{ comment.object_uuid }}"
                                                       data-object_type="02ba1c88-644f-11e4-9ad9-080027242395">
                                                       flag as explicit</a>
                            </li>
                            <li role="presentation" class="sb_divider divider"></li>
                            <li role="presentation"><a class='btn flag_object-action'
                                                       data-flag_reason='other'
                                                       data-current_user="{{ comment.current_user }}"
                                                       data-object_uuid="{{ comment.object_uuid }}"
                                                       data-object_type="02ba1c88-644f-11e4-9ad9-080027242395">
                                                       flag as other</a>
                            </li>
                            {% if comment.comment_owner_email == comment.current_user %}
                             <li role="presentation" class="sb_divider divider"></li>
                            <li role="presentation"><a class='btn delete_object-action'
                                                       data-current_pleb="{{ comment.current_user }}"
                                                       data-object_uuid="{{ comment.object_uuid }}"
                                                       data-object_type="02ba1c88-644f-11e4-9ad9-080027242395">Delete</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
        </div>
    </div>
    <div class="sb_comment_body">
        {{ comment.content }}
    </div>
    <div class="sb_comment_stats">
    <div class="sb_id" data-object_uuid="{{ comment.object_uuid }}"
         style="display: None"></div>
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                <a class='btn vote_object-action sb_btn_vote_icon'
                   data-vote_type=true
                   data-current_pleb="{{ comment.current_user }}"
                   data-object_uuid="{{ comment.object_uuid }}"
                   data-object_type="02ba1c88-644f-11e4-9ad9-080027242395"><span class="sb_icon sb_icon_up_vote fui-triangle-up"></span>
                </a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 sb_vote_div">
               <div class="sb_upvote_count{{ comment.object_uuid }}">{{ comment.up_vote_number }}</div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                 <a class='btn vote_object-action sb_btn_vote_icon'
                   data-vote_type=false
                   data-current_pleb="{{ comment.current_user }}"
                   data-object_uuid="{{ comment.object_uuid }}"
                   data-object_type="02ba1c88-644f-11e4-9ad9-080027242395"><span class="sb_icon sb_icon_down_vote fui-triangle-down"></span>
                 </a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 sb_vote_div">
               <div class="sb_downvote_count{{ comment.object_uuid }}">{{ comment.down_vote_number }}</div>
            </div>
        </div>
    </div>
    <div class="sb_comments_line"></div>
</div>
    <div id="comment_divid_{{ comment.object_uuid }}"
         style="display:none">
        <textarea class="form-control"
                  id="{{ comment.object_uuid }}"
                  name="edit_comment_input"
                  rows="1"
                  placeholder="Edit your comment..."></textarea>
        <a class='btn btn-primary edit_object-action'
           id="edit_comment_button"
           data-object_type="02ba1c88-644f-11e4-9ad9-080027242395"
           data-current_pleb="{{ comment.current_user }}"
           data-object_uuid="{{ comment.object_uuid }}"
           data-datetime="{{ comment.datetime }}">Submit</a>
    </div>
{% comment %}
    <a class='btn btn-primary vote-action'
       data-vote_type='up'
       data-pleb="{{ current_user }}"
       data-comment_uuid="{{ comment.object_uuid }}">Share Comment</a>
    <a class='btn btn-primary vote-action'
       data-vote_type='up'
       data-pleb="{{ current_user }}"
       data-comment_uuid="{{ comment.object_uuid }}">Reference Comment</a>
{% endcomment %}
