<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 col-lg-offset-1 col-md-offset-0 col-sm-offset-0 sb_comment_wrapper">
        <div class="sb_post_comments">
            <div class="sb_comments_container">
                <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
                            <div class="sb_thumbnail_xs thumbnail">
                                <img src="{{ profile.profile_pic|default_if_none:'' }}"/>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-4 col-xs-7">
                           <div class="sb_comment_header">
                               <div class="row-fluid" style="margin-bottom: -10px;">
                                   <a href="{{ profile.url }}">
                                       {{ owner_object.first_name }} {{ owner_object.last_name }}
                                   </a>
                               </div>
                               <div class="row-fluid">
                                    <small>{{ last_edited_on|date:"D d M Y" }}</small>
                                    {% comment %}
                                        date/time/location(or disctrict)
                                    {%  endcomment %}
                               </div>
                           </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 col-lg-offset-4 col-md-offset-4 col-sm-offset-5 col-xs-offset-3">
                            <button class="btn dropdown-toggle sb_btn_icon" type="button"
                                    data-toggle="dropdown">
                                <span class="sb_dropdown_icon fui-gear"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right sb_post_dropdown"
                                role="menu" aria-labelledby="dropdown-menu">
                                {% if owner_object.username == request.user.username %}
                                    <li role="presentation"><a class="sb_post_dropdown_menu show_edit_comment_class"
                                                               data-comment_uuid="{{ object_uuid }}"
                                                               type="submit">Edit Comment</a>
                                    </li>
                                    <li role="presentation" class="sb_divider"></li>

                                    <li role="presentation">
                                        <a class='sb_post_dropdown_menu delete_object-action delete_{{ object_uuid }}'>
                                            Delete
                                        </a>
                                    </li>
                                {% else %}
                                    {% if debug %}
                                        <li role="presentation"><a class='sb_post_dropdown_menu flag_object-action flag_{{ object_uuid }}'
                                                                   data-flag_reason='spam'
                                                                   data-object_uuid="{{ object_uuid }}"
                                                                   data-object_type="{{ object_type }}">Flag as Spam
                                                                   </a>
                                        </li>
                                        <li role="presentation" class="sb_divider"></li>
                                        <li role="presentation"><a class='sb_post_dropdown_menu flag_object-action flag_{{ object_uuid }}'
                                                                   data-flag_reason='explicit'
                                                                   data-object_uuid="{{ object_uuid }}"
                                                                   data-object_type="{{ object_type }}">Flag as Explicit
                                                                   </a>
                                        </li>
                                        <li role="presentation" class="sb_divider"></li>
                                        <li role="presentation"><a class='sb_post_dropdown_menu flag_object-action flag_{{ object_uuid }}'
                                                                   data-flag_reason='other'
                                                                   data-object_uuid="{{ object_uuid }}"
                                                                   data-object_type="{{ object_type }}">Flag as Other
                                                                   </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-1 hidden-md hidden-sm hidden-xs sb_vote_wrapper">
                                <div class="row vote_wrapper sb_vote_wrapper_comment" id="vote_{{ object_uuid }}">
                                    <div class="col-lg-12 sb_up_vote_wrapper">
                                        <div style="display: none" class="sb_upvote_count{{ object_uuid }}">{{ upvotes }}</div>
                                        {% if not vote_type or vote_type == None %}
                                            <button class="btn sb_btn sb_btn_vote vote_up vote_up_small vote_object-action vote_{{ object_uuid }}"
                                               data-object_uuid="{{ object_uuid }}"
                                               data-vote_type=true
                                               data-object_type="02ba1c88-644f-11e4-9ad9-080027242395">
                                                <span class="fui-triangle-up"></span>
                                            </button>
                                        {% else %}
                                            <button class="btn sb_btn sb_btn_vote vote_up vote_up_small vote_up_active vote_object-action vote_{{ object_uuid }}"
                                               data-object_uuid="{{ object_uuid }}"
                                               data-vote_type=true
                                               data-object_type="02ba1c88-644f-11e4-9ad9-080027242395">
                                                <span class="fui-triangle-up"></span>
                                            </button>
                                        {% endif %}
                                    </div>
                                    {% if vote_count|length_is:"1" %}
                                        <div class="col-lg-12 col-lg-offset-2 vote_count_small vote_count{{ object_uuid }}" style="margin-left: 11px;">
                                    {% elif vote_count|length_is:"2" %}
                                        <div class="col-lg-12 col-lg-offset-2 vote_count_small vote_count{{ object_uuid }}">
                                    {% elif vote_count|length_is:"3" %}
                                        <div class="col-lg-12 col-lg-offset-1 vote_count_small vote_count{{ object_uuid }}">
                                    {% elif vote_count|length_is:"4" %}
                                        <div class="col-lg-12 col-lg-offset-0 vote_count_small vote_count{{ object_uuid }}">
                                    {% elif vote_count == None %}
                                        <div class="col-lg-12 col-lg-offset-2 vote_count_small vote_count{{ object_uuid }}" style="margin-left: 11px;">
                                    {% else %}
                                        <div class="col-lg-12 col-lg-offset-0 vote_count_small vote_count{{ object_uuid }}">
                                    {% endif %}
                                        {{ vote_count|default_if_none:"0" }}
                                    </div>
                                    <div class="col-lg-12 col-md-12 sb_down_vote_wrapper">
                                        {% if vote_type or vote_type == None %}
                                            <button class="btn sb_btn sb_btn_vote vote_down vote_down_small vote_object-action vote_{{ object_uuid }}"
                                               data-object_uuid="{{ object_uuid }}"
                                               data-vote_type=false
                                               data-object_type="02ba1c88-644f-11e4-9ad9-080027242395">
                                                <span class="fui-triangle-down"></span>
                                            </button>
                                        {% else %}
                                            <button class="btn sb_btn sb_btn_vote vote_down vote_down_small vote_down_active vote_object-action vote_{{ object_uuid }}"
                                               data-object_uuid="{{ object_uuid }}"
                                               data-vote_type=false
                                               data-object_type="02ba1c88-644f-11e4-9ad9-080027242395">
                                                <span class="fui-triangle-down"></span>
                                            </button>
                                        {% endif %}
                                        <div style="display: none" class="sb_downvote_count{{ object_uuid }}">{{ downvotes }}</div>
                                    </div>
                                </div>
                            </div>
                        <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1">
                            <div class="sb_comment_body" id="sb_content_{{ object_uuid }}">
                                {{ content|linebreaksbr }}
                            </div>
                            <div id="edit_container_{{ object_uuid }}" style="display: none">
                                <div class="row-fluid">
                                    <textarea class="form-control edit_comment_input_class" style="resize: vertical;"
                                              id="{{ object_uuid }}"
                                              name="edit_comment_input"
                                              rows="1">{{ content }}</textarea>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12 col-lg-offset-7 col-md-offset-7 col-sm-offset-8">
                                        <button class='btn btn-block btn-primary sb_btn_fill edit_object-action edit_{{ object_uuid }}'
                                           id="edit_comment_button_id_{{ object_uuid }}"
                                           data-object_type="{{ object_type }}"
                                           data-parent_object="{{ object_uuid }}"
                                           data-object_uuid="{{ object_uuid }}"
                                           data-created="{{ created }}">Edit Comment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>