<div>{{ comment.comment_content }} |
        Upvotes={{ comment.comment_up_vote_number }} |
        Downvotes={{ comment.comment_down_vote_number }} | Last
        Edited: {{ comment.comment_last_edited_on }} | Posted
        By: {{ comment.comment_owner }}</div>
    {% if comment.comment_owner_email == current_user %}
        <a class="btn btn-primary show_edit_comment_class"
           data-comment_uuid="{{ comment.sb_id }}" type="submit">Edit
            Comment</a>
        <div id="comment_divid_{{ comment.sb_id }}">
            <textarea class="form-control" id="{{ comment.sb_id }}"
                      name="edit_comment_input" rows="1"
                      placeholder="Edit your comment..."></textarea>
            <a class='btn btn-primary edit_comment-action'
               id="edit_comment_button" data-pleb="{{ current_user }}"
               data-comment_uuid="{{ comment.sb_id }}">Submit</a>
        </div>
        <a class='btn btn-primary delete_comment-action'
           data-pleb="{{ current_user }}"
           data-comment_uuid="{{ comment.sb_id }}">Delete this
            Comment</a>
    {% endif %}
    <a class='btn btn-primary vote_comment-action' data-vote_type='up'
       data-pleb="{{ current_user }}"
       data-comment_uuid="{{ comment.sb_id }}">Upvote Comment</a>
    <a class='btn btn-primary vote_comment-action' data-vote_type='down'
       data-pleb="{{ current_user }}"
       data-comment_uuid="{{ comment.sb_id }}">Downvote Comment</a>
    <a class='btn btn-primary vote-action' data-vote_type='up'
       data-pleb="{{ current_user }}"
       data-comment_uuid="{{ comment.sb_id }}">Flag Comment</a>
    <a class='btn btn-primary vote-action' data-vote_type='up'
       data-pleb="{{ current_user }}"
       data-comment_uuid="{{ comment.sb_id }}">Share Comment</a>
    <a class='btn btn-primary vote-action' data-vote_type='up'
       data-pleb="{{ current_user }}"
       data-comment_uuid="{{ comment.sb_id }}">Reference Comment</a>