{% load staticfiles %}
{% block css %}
    {{ super.block }}
    <link rel="stylesheet" href="{% static 'less/sb_navigation/sb_nav_elements.css' %}"/>
{%  endblock css %}
<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
    <div class="sb_nav_head navbar-header">
        {% comment %}
        TODO is the two Sagebrew h1s necessary? Can we combine them?
        {% endcomment %}
        <h1 id="sb_nav_logo"
            class="hidden-xs">Sagebrew</h1>
        <h1 id="sb_logo_xs"
            class="hidden-lg hidden-md hidden-sm">Sagebrew</h1>
    </div>
</div>
<div class="col-lg-5 col-md-6 hidden-sm hidden-xs">
    <form class="sb_nav_search navbar-form"
          role="search">
        <div class="sb_search_input_div input-group">
            <input type="text"
                   id="sb_search_input"
                   class="form-control"
                   placeholder="Search">
        </div>
        <button type="submit"
             id="sb_nav_spy"
             class="sb_search_btn btn"><span
             class="fui-search"></span>
        </button>
    </form>
</div>
<div class="col-lg-1 col-md-0 hidden-sm hidden-xs">
</div>
<div class="sb_nav_user"
     align="right">
    <a href="{% url 'profile_page' request.user.username %}"
       id="sb_nav_user">{{ request.user.first_name }} {{ request.user.last_name }}</a>
</div>
{% if request.user.is_authenticated == True %}
    {% block notifications %}
    <div class="sb_nav_btn_row col-lg-2 col-md-2 hidden-sm hidden-xs">
        <div class="sb_nav_btn_group btn-group">
            <div class="btn-group">
                <a class="sb_btn_dropdown show_friend_request-action btn dropdown-toggle pull-right"
                        type="button"
                        id="sb_friend"
                        data-toggle="dropdown"
                        data-email="{{ request.user.email }}">
                <span class="sb_btn_icon fui-user"></span>
                </a>
                <ul class="sb_nav_dropdown_container dropdown-menu dropdown-menu-right"
                    role="menu"
                    aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <div id="friend_request_div">
                            {% block friend_requests %}
                                {% include "friend_requests.html" %}
                            {% endblock %}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <button class="sb_btn_dropdown show_notifications-action btn dropdown-toggle pull-right"
                        type="button"
                        id="dropdownMenu1"
                        data-toggle="dropdown"
                        data-email="{{ request.user.email }}">
                <span class="sb_btn_icon glyphicon glyphicon-leaf"></span>
                </button>
                <ul class="sb_nav_dropdown_container dropdown-menu dropdown-menu-right"
                    role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <div>
                            {% block notification_divs %}
                                {% include "notifications.html" %}
                            {% endblock %}
                        </div>
                    </li>
                </ul>
            </div>
    {% endblock %}
            <div class="btn-group"
                 align="left">
                <button class="sb_btn_dropdown btn dropdown-toggle pull-right"
                        type="button"
                        id="dropdownMenu1"
                        data-toggle="dropdown">
                <span class="sb_btn_icon fui-gear"></span>
                </button>
                <ul class="sb_nav_dropdown_container_menu dropdown-menu dropdown-menu-right"
                    role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem"
                                               tabindex="-1"
                                               href="#">Edit Profile</a>
                    </li>
                    <li role="presentation"><a role="menuitem"
                                               tabindex="-1"
                                               href="#">Settings</a>
                    </li>
                    <li role="presentation"><a role="menuitem"
                                               tabindex="-1"
                                               href="#">Help</a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem"
                                               tabindex="-1"
                                               href="#">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endif %}
{% block friends %}
    {% include "friends_list.html" %}
{% endblock %}
