{% load staticfiles %}
<div class="btn-group sb_dropdown">
    <div class="btn-group">
        <button class="btn dropdown-toggle sb_btn_nav show_friend_request-action"
                type="button"
                id="sb_friend"
                data-toggle="dropdown"
                data-username="{{ request.user.username }}">
        <span class="sb_btn_icon fa fa-certificate"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right"
            role="menu"
            aria-labelledby="dropdownMenu1">
            <li role="presentation">
                <div class="sb_dropdown_container">
                    <div class="sb_dropdown_label">Reputation</div>
                    <div class="sb_dropdown_content">
                        {% include "reputation_block.html" %}
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="btn-group">
        <a href="{% url "question_page" %}" class="btn dropdown-toggle sb_btn_nav show_friend_request-action">
            <span class="sb_btn_icon conversation_logo" style="background-image: url({% static 'media/conversation.svg' %});"></span>
        </a>
    </div>

    <div class="btn-group">
        <div id="js-friend_request_notifier_wrapper"></div>
        <button class="btn dropdown-toggle sb_btn_nav show_friend_request-action"
                type="button"
                id="sb_friend"
                data-toggle="dropdown"
                data-username="{{ request.user.username }}">
        <span class="sb_btn_icon fa fa-user"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right"
            role="menu"
            aria-labelledby="dropdownMenu1">
            <li role="presentation">
                <div class="sb_dropdown_container">
                    <div class="sb_dropdown_label">Friend Requests</div>
                    <div id="friend_request_wrapper">
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="btn-group">
        <div id="js-notification_notifier_wrapper"></div>
        <button class="btn dropdown-toggle sb_btn_nav show_notifications-action"
                type="button"
                id="dropdownMenu1"
                data-toggle="dropdown"
                data-username="{{ request.user.username }}">
        <span class="sb_btn_icon fa fa-eye"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right"
            role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
                  <div class="sb_dropdown_label" align="left">Notifications</div>
                  <div id="notification_wrapper"></div>
            </li>
        </ul>
    </div>
    {% if request_profile.campaign %}
    <div class="btn-group">
        <a href="{% url "quest_saga" request_profile.username %}" class="btn dropdown-toggle sb_btn_nav show_friend_request-action">
            <span class="fa fa-rocket sb_btn_icon"></span>
        </a>
    </div>
    {% endif %}
    <div class="btn-group"
         align="left">
        <button class="btn dropdown-toggle sb_btn_nav"
                type="button"
                id="dropdownMenu1"
                data-toggle="dropdown">
        <span class="sb_btn_icon fa fa-cog"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right "
            role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem"
                                       tabindex="-1"
                                       href="{% url 'general_settings' %}">Settings</a>
            </li>
            <li role="presentation"><a role="menuitem"
                                       tabindex="-1"
                                       href="http://shop.sagebrew.com">Shop</a>
            </li>
            <li role="presentation"><a role="menuitem"
                                       tabindex="-1"
                                       href="http://blog.sagebrew.com">Blog</a>
            </li>
            <li role="presentation"><a role="menuitem"
                                       tabindex="-1"
                                       href="{% url 'help_center' %}">Help</a>
            </li>
            <li role="presentation" class="sb_divider"></li>
            <li role="presentation"><a role="menuitem"
                                       tabindex="-1"
                                       href="{% url 'logout'%}">Log Out</a>
            </li>
        </ul>
    </div>
</div>