{% load staticfiles %}
<div class="app-navbar">

    <!-- Computer Nav -->
    <header class="navbar navbar-static-top navbar-fixed-top hidden-xs">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>

                {% if request_profile.completed_profile_info or user.is_anonymous %}
                    <a href="{% url 'root_profile_page' %}" class="navbar-brand">
                        <img id="nav-logo" alt="Sagebrew Logo" src="{% static 'images/icon_sage.png' %}"/>Sagebrew
                    </a>
                {% else %}
                    <span class="navbar-brand">
                        <img id="nav-logo" alt="Sagebrew Logo" src="{% static 'images/icon_sage.png' %}"/>Sagebrew
                    </span>
                {% endif %}
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                {% if "registration" not in request.path %}
                    <ul class="nav navbar-nav">
                        <li>
                          <a href="{% url "question_page" %}">Conversation Cloud</a>
                        </li>
                        <li>
                          <a href="{% url "mission_list" %}">Missions</a>
                        </li>
                    </ul>
                {% endif %}
                <div class="navbar-right">
                    {% if user.is_authenticated and "/registration/" not in request.path %}
                        {% include "navigation/auth-user-menu.html" %}
                    {% elif user.is_anonymous %}
                        {% include "navigation/anon-user-menu.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <!-- Mobile Nav -->
    <header class="navbar navbar-inverse navbar-static-top navbar-fixed-top hidden-sm hidden-md hidden-lg sb-nav-mobile">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                {% if request_profile.completed_profile_info or user.is_anonymous %}<a class="navbar-brand" href="{% url 'root_profile_page' %}">{% else %}<a class="navbar-brand" href="#">{% endif %}Sagebrew</a>
            </div>

            {% if user.is_authenticated %}
                <div class="sb-nav-collapse collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li {% if "/newsfeed/" in request.path %}class="active"{% endif %}><a href="{% url 'newsfeed' %}">Newsfeed</a></li>
                        <li {% if "/user/" in request.path and "/settings/" not in request.path and "/newsfeed/" not in request.path %}class="active"{% endif %}><a href="{% url 'profile_page' request.user.username %}">Profile</a></li>
                        <li {% if "/conversations/" in request.path %}class="active"{% endif %}><a href="{% url 'question_page' %}">Conversation Cloud</a></li>
                        <li {% if "/missions/" in request.path %}class="active"{% endif %}><a href="{% url 'mission_list' %}">Missions</a></li>
                        <li {% if "/help/" in request.path %}class="active"{% endif %}><a href="{% url 'help_center' %}">Help</a></li>
                        <li {% if "/settings/" in request.path %}class="active"{% endif %}><a href="{% url 'general_settings' %}">Settings</a></li>
                        <li><a href="http://shop.sagebrew.com">Shop <i class="fa fa-external-link"></i></a></li>
                        <li><a href="http://blog.sagebrew.com">Blog <i class="fa fa-external-link"></i></a></li>
                        <li><a href="{% url 'logout'%}">Logout</a></li>
                    </ul>
                </div>
            {% elif user.is_anonymous %}
                <div class="sb-nav-collapse collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li {% if "/" == request.path %}class="active"{% endif %}><a href="/">Sign Up</a></li>
                        <li {% if "/login/" in request.path %}class="active"{% endif %}><a href="{% url 'login'%}">Login</a></li>
                        <li {% if "/conversations/" in request.path %}class="active"{% endif %}><a href="{% url 'question_page' %}">Conversation Cloud</a></li>
                        <li {% if "/missions/" in request.path %}class="active"{% endif %}><a href="{% url 'mission_list' %}">Missions</a></li>
                        <li {% if "/political/" in request.path %}class="active"{% endif %}><a href="{% url 'political' %}">Political Campaigns</a></li>
                        <li {% if "/advocacy/" in request.path %}class="active"{% endif %}><a href="{% url 'advocacy' %}">Advocacy</a></li>
                        <li><a href="http://about.sagebrew.com">About</a></li>
                        <li><a href="http://shop.sagebrew.com">Shop <i class="fa fa-external-link"></i></a></li>
                        <li><a href="http://blog.sagebrew.com">Blog <i class="fa fa-external-link"></i></a></li>
                        <li {% if "/help/" in request.path %}class="active"{% endif %}><a href="{% url 'help_center' %}">Help</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </header>
</div>