<div class="sb_top_menu_nav">
    <ul class="top_menu_nav_list hidden-xs">
        <li>
            <input type="email"
                   class="sb_nav_input form-control"
                   placeholder="E-mail">
        </li>
        <li>
            <input type="password"
                   class="sb_nav_input form-control"
                   placeholder="Password">
        </li>
        <li>
            <button class="sb_login_btn btn">Login
            </button>
        </li>
    </ul>
</div>