
<div class="col-lg-4 col-md-4 col-xs-6">
    {% comment %}
        TODO is the two Sagebrew h1s necessary? Can we combine them?
        Also is this file used anymore?
    {% endcomment %}
    <div class="navbar-header">
        <h1 id="sb_nav_logo" class="hidden-xs">Sagebrew</h1>
        <h1 id="sb_logo_xs" class="hidden-lg hidden-md hidden-sm">Sagebrew</h1>
    </div>
</div>
<form class="sb_nav-form navbar-form form-inline navbar-right">
    <input type="email"
           class="sb_nav_input form-control  hidden-sm hidden-xs"
           placeholder="E-mail">
    <input type="password"
           class="sb_nav_input form-control hidden-sm hidden-xs"
           placeholder="Password">
    <button class="btn sb-btn-login btn-wide hidden-sm hidden-xs">Login
    </button>
</form>
