<div class="row" id="additional-comment-wrapper-{{ id }}">
    <div class="col-sm-5 col-xs-offset-1">
        <a href="javascript:;" class="additional-comments" id="additional-comments-{{ id }}">Show Older Comments ...</a>
    </div>
</div>