{% extends "settings/settings_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}


{% block setting_form %}
    <form action="/user_profiles/settings/picture_settings" method="POST"
          enctype="multipart/form-data" class='upload-image'>
        {% csrf_token %}
        <div class="field">
            <label for="id_title">Image:</label>
            {{ picture_settings.image }}
            {{ picture_settings.image.errors }}
        </div>
        <div id="profile_picture">
            <div class='image-preview'>
                {% if profile_pic %}
                    {% thumbnail profile_pic.image "120x120" crop="center" as im %}
                        <a class="thumb" rel='gallery-image[ilist]'
                           href="{% include "imagestore/image-href.html" %}">
                            <img id="profile_pic" {% if profile_pic.title %}
                                 alt="{{ profile_pic.title }}" {% endif %}
                                 src="{{ im.url }}">
                        </a>
                    {% endthumbnail %}
                {% else %}
                    <img id="profile_pic" src="{% static "default.jpg" %}">
                {% endif %}
            </div>
        </div>
        <input type="submit" value="Upload" class='btn success'>
    </form>
{% endblock %}
