{% extends "base.html" %}
{% block page-javascript %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script> 
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js" type="text/javascript"></script>   
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-darkness/jquery-ui.css" type="text/css" />
    <script src="http://jquery-ui.googlecode.com/svn/tags/latest/external/jquery.bgiframe-2.1.2.js" type="text/javascript"></script> 

{% endblock %}
{% block navigation %}
    {% include "navigation.html" %}
{% endblock %}
{% block content %}
    <h1>Settings</h1>
                <div id="rooms" >
                    <div id="slider">    
                        {% block setting_navigation %}
                            {% include "settings/settings_navigation.html" %}
                        {% endblock %}
                        <div class="scroll" metal:define-slot="profile_content"> 
                            <div class="scrollContainer"> 
                                    {% block setting_form %}
                                    {% endblock %}
                            </div> 
                        </div>
                    </div>         
                </div>
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
{% endblock %}
