<div class="block sb_action_content_block sb_goals_block">
    <div class="sb_header_bar">
        <h5>{{ title }}</h5>
    </div>
    <p>{{ summary  }}</p>
    <small>Pledges</small>
    <div class="progress sb_progress">
        <div class="progress-bar sb_progress_bar" style="width: 45%">
        </div>
    </div>
    <small>Donations</small>
    <div class="progress sb_progress">
        <div class="progress-bar sb_progress_bar" style="width: 60%">
        </div>
    </div>
</div>