{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block background_image %}
    <img class="sb_sign_up_background" src="{% static 'images/sign_up.jpg' %}">
{% endblock background_image %}
{% block content %}
<div class="row">
    <div class="row sb_signup_headline_containter"
         align="center">
        <h1>Password Reset Successful!</h1>
    </div>
    <div class="sb_sign_up_form">
        <div align="center">
            <div class="row-fluid">
                <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 col-lg-offset-4 col-md-offset-3 col-sm-offset-2 sb_input_wrapper">
                    Please login <a href="{% url 'login' %}">here</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}