<h3>{{ answer.content }}</h3>
<div class="sb_id" data-object_uuid="{{ object_uuid }}"
         style="display: None"></div>
{% url "profile_page" pleb_username=answer.answer_owner_url as owner_url %}
<div style="font-weight: bold">Written by: <a href="{{ owner_url }}">{{ answer.answer_owner_name }}</a> | Posted: {{ answer.time_created }} | Last edited: {{ answer.last_edited_on }}</div>
<div class="sb_upvote_count{{ answer.object_uuid }}">{{ answer.up_vote_number }}</div>
<a class="btn btn-primary btn-sm vote_object-action"
   data-object_uuid="{{ answer.object_uuid }}"
   data-current_pleb="{{ answer.current_pleb }}"
   data-vote_type=true
   data-object_type="02241aee-644f-11e4-9ad9-080027242395">Upvote</a>
<div class="sb_downvote_count{{ answer.object_uuid }}">{{ answer.down_vote_number }}</div>
<a class="btn btn-primary btn-sm vote_object-action"
   data-object_uuid="{{ answer.object_uuid }}"
   data-current_pleb="{{ answer.current_pleb }}"
   data-vote_type=false
   data-object_type="02241aee-644f-11e4-9ad9-080027242395">Downvote</a>
<a class="btn btn-primary btn-sm delete_object-action"
   data-object_uuid="{{ answer.object_uuid }}"
   data-object_type="02241aee-644f-11e4-9ad9-080027242395"
   data-current_pleb="{{ answer.current_pleb }}">Delete</a>
<a class="btn btn-primary btn-sm show_edit_answer-action"
   data-object_uuid="{{ answer.object_uuid }}"
   data-parent_object="{{ answer.parent_object }}">Edit</a>
<div style="display:none" id="show_edit_sb_id_{{ answer.object_uuid }}">
    <textarea class="form-control" id="{{ answer.object_uuid }}" placeholder="Edit your answer..."></textarea>
    <a class="btn btn-primary btn-sm edit_object-action"
       data-object_type="02241aee-644f-11e4-9ad9-080027242395"
       data-object_uuid="{{ answer.object_uuid }}"
       data-parent_object="{{ answer.parent_object }}">Submit Edit</a>
</div>
{% block answer_comments %}
    {% for comment in answer.comments %}
        {% include "single_comments.html" %}
    {% endfor %}
{% endblock %}
<div class="input-group sb_comment">
    <textarea class="input-group form-control sb_comment_input "
              id="post_comment_on_{{ answer.object_uuid }}"
              rows="2"
              placeholder="Write your comment..."></textarea>
    <a class=' sb_btn_comment_icon btn input-group-btn comment-action'
       data-object_uuid="{{ answer.object_uuid }}"
       data-current_pleb="{{ current_user }}"
       data-object_type="02241aee-644f-11e4-9ad9-080027242395"><span class="fui-new"></span></a>
</div>
