<h3>{{ answer.answer_content }}</h3>
<div style="font-weight: bold">Upvotes: {{ answer.up_vote_number }} | Downvotes: {{ answer.down_vote_number }} | Written by: <a href="{{ answer.answer_owner_url }}">{{ answer.answer_owner_name }}</a> | Posted: {{ answer.time_created }} | Last edited: {{ answer.last_edited_on }}</div>
<a class="btn btn-primary btn-sm vote_object-action"
   data-object_uuid="{{ answer.answer_uuid }}"
   data-current_pleb="{{ answer.current_pleb }}"
   data-vote_type="up"
   data-object_type="02241aee-644f-11e4-9ad9-080027242395">Upvote</a>
<a class="btn btn-primary btn-sm vote_object-action"
   data-object_uuid="{{ answer.answer_uuid }}"
   data-current_pleb="{{ answer.current_pleb }}"
   data-vote_type="down"
   data-object_type="02241aee-644f-11e4-9ad9-080027242395">Downvote</a>
{% if answer.current_pleb == answer.answer_owner_email %}
    <a class="btn btn-primary btn-sm delete_object-action"
       data-object_uuid="{{ answer.answer_uuid }}"
       data-object_type="02241aee-644f-11e4-9ad9-080027242395"
       data-current_pleb="{{ answer.current_pleb }}">Delete</a>
    <a class="btn btn-primary btn-sm show_edit_answer-action"
       data-answer_uuid="{{ answer.answer_uuid }}"
       data-current_pleb="{{ answer.current_pleb }}">Edit</a>
    <div style="display:none" id="show_edit_sb_id_{{ answer.answer_uuid }}">
        <textarea class="form-control" id="{{ answer.answer_uuid }}" placeholder="Edit your answer..."></textarea>
        <a class="btn btn-primary btn-sm edit_object-action"
           data-object_type="02241aee-644f-11e4-9ad9-080027242395"
           data-object_uuid="{{ answer.answer_uuid }}"
           data-current_pleb="{{ answer.current_pleb }}">Submit Edit</a>
    </div>
{% endif %}
