@import "sb_core/sb_core_variables.less";

.sb_general{
   color: @sb_dark_blue;
    h1 {
      font-weight: bold;
      font-size: 30px;
    }
    h2{
      font-weight: bold;
      font-size: 28px;
    }
    h3{
      font-weight: bold;
      font-size: 26px;
      color: @sb_grey_dark;
      margin-top: @sb_common_margin_positive;
      margin-bottom: @sb_common_margin_positive;
      }
    h4{
      font-weight: bold;
      font-size: 24px;
    }
    h5{
      font-weight: bold;
      font-size: 22px;
    }
    h6{
      font-weight: bold;
      font-size: 20px;
      color: @sb_dark_blue;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    p{
      font-size: 18px;
      }
    small{
        font-size: @sb_data_text;
    }
}
.block{
  height: auto;
  padding-top: @sb_common_padding_positive;
  padding-left: @sb_common_padding_positive;
  padding-right: @sb_common_padding_positive;
  border-radius: @sb_common_radius;
  background-color: @sb_off_white;
  .sb_answer{
    margin-top: 30px;
  }
  .sb_question{
    min-height: 250px;
  }
}