@import "sb_core/sb_core_variables.less";

.sb_general{
  color: @sb_dark_blue;
  word-wrap: break-word;
  h1 {
    font-weight: bold;
    font-size: 30px;
  }
  h2{
    font-weight: bold;
    font-size: 28px;
  }
  h3{
    font-weight: bold;
    font-size: 26px;
    color: @sb_grey_dark;
    margin-top: @sb_common_margin_positive;
    margin-bottom: @sb_common_margin_positive;
    }
  h4{
    font-weight: bold;
    font-size: 24px;
  }
  h5{
    font-weight: bold;
    font-size: 22px;
  }
  h6{
    font-weight: bold;
    font-size: 20px;
    color: @sb_dark_blue;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  p{
    font-size: 18px;
    }
  small{
    font-size: @sb_data_text;
  }
  a{
    color: @sb_green;
  }
}
// Blocks
.block{
  height: auto;
  padding-top: @sb_common_padding_positive;
  padding-left: @sb_common_padding_positive;
  padding-right: @sb_common_padding_positive;
  border-radius: @sb_common_radius;
  background-color: @sb_off_white;
}
.sb_answer{
  &:extend(.block);
  margin-top: 30px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  textarea{
    border-width: 1px 1px 1px 1px;
    border-radius: @sb_common_radius;
    border-color: @sb_green_light;;
    width: 100%;
    height: 200px;
    resize: none;
  }
}
.sb_question{
  &:extend(.block);
  min-height: 250px;
}
.sb_question_summary{
  &:extend(.block);
  background-color: @sb_grey_extra_light;
  border-style: solid;
  border-width: 1px;
  border-color: @sb_grey;
  border-radius: @sb_common_radius;
  height: 170px;
  padding: @sb_common_padding_positive;
  margin-bottom: @sb_common_margin_positive;
}
.sb_registration_block {
  &:extend(.block);
  width: 80%;
  margin-top:100px;
  margin-bottom: 60px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  background-color: @sb_grey_extra_light;
  position: inherit;
  float: left;
}
// Walls
.sb_page{
  margin: 0 10% 0 5%;
}
.sb_wall{
  height: auto;
  background-color: @sb_grey_light;
  padding: 15px 15px 15px 15px;
  border-radius: 2px;
  min-height: 575px;
}
.sb_conversation_wall{
  &:extend(.sb_wall);
  margin-top: 30px;
}
// Border
.sb_border{
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  padding: @sb_common_padding_positive;
  min-height: auto;
  border-color: @sb_grey;
}
.sb_border_question{
  &:extend(.sb_border);
  border-color: @sb_grey;

}
.sb_border_categories{
  &:extend(.sb_border);
  border-color: @sb_grey;
  min-height: 100px;
  margin-bottom: @sb_common_margin_positive;
}
// Links
.sb_tab_question{
  color: @sb_green;
  background-color: transparent;
  &:hover{
    color: @sb_green;
    background-color: transparent;
  }
}
// Buttons
.sb_btn{
  background-color: @sb_green;
}
.sb_btn_submit{
  &:extend(.sb_btn);
  color: @white;
  font-size: @sb_body_text;
  width: auto;
  line-height: 5px;
}
.sb_btn_icon{
  &:extend(.sb_btn);
  background-color: transparent;
  font-size: @sb_body_text;
  padding: 10px;
}
.sb_btn_icon_green{
  &:extend(.sb_btn_icon);
    color: @sb_green;
  &:hover{
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: @sb_grey;
    color: @sb_green;
  }
}
.sb_btn_vote{
  &:extend(.sb_btn_icon);
  color: @sb_grey;
  padding: 0;
  font-size: 30pt;
  &:hover{
    color: @sb_green;
  }
}
.vote_up{
  &:extend(.sb_btn_vote);
  &:hover{
    color: @sb_green;
  }
}
.vote_down{
  &:extend(.sb_btn_vote);
  &:hover{
    color: @sb_violet;
  }
}
.sb_spy{
  color: @sb_grey;
  background-color: @white;
  padding: 3px 10px 2px 6px;
  margin-top: 6px;
}
.sb_btn_nav{
  &:extend(.sb_btn_icon);
  color: @white;
}

// Navigation
.sb_nav{
  li{
    display: inline-block;
  }
}
.sb_primary_nav{
  &:extend(.sb_nav);
  background-color: @sb_green;
  height: 45px;
  //padding: 0px 15px 0px 15px
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  a{
    text-decoration: none;
    color: @sb_grey_extra_light;
  }
  ul{
    float: right;
  }
  h1{
    color: @sb_off_white;
    display: inline-block;
    margin-top: 0;
    padding-top: 5px;
  }
  input{
    width: auto;
    height: @sb_input_height;
    border-color: @sb_grey;
    border-width: 1px;
    border-right: none;
    margin-top: 6px;
    // This fixes firefox border issue with input
    border-bottom: 0px;
    border-top: 0px;
  }
}
.sb_secondary_nav {
  &:extend(.sb_nav);
  a{
    text-decoration: none;
    color: @sb_grey_dark;
    &:hover{
       background-color: @sb_green_wall;
       color: @sb_grey_dark;
  }
   }
  }
.sb_secondary_nav_bar{
  &:extend(.sb_secondary_nav);
  background-color: @sb_grey_light;
  height: @sb_btn_height;
  padding: 0 0 30px 0px;
  border-radius: 0 0 2px 2px;
  border-bottom: solid;
  border-width: 2px;
  border-bottom-color: @sb_green_medium;
}
.sb_tertiary_nav {
  &:extend(.sb_secondary_nav);
  background-color: transparent;
  border: none;
  height: auto;
  margin-top: 15px;
  input {
    height: @sb_input_height;
    width: 400px;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: @sb_grey;
  }
}
// Footers
.sb_footer {
  background-color: transparent;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}
// Signup
.sb_sign_up_form{
  input {
    width: 348px;
  }
  button {
    width: 348px;
  }
}
.sb_input_wrapper{
  margin-bottom: 15px;
}

// Groupings
.sb_search{
  display: inline-block;
  float: right;

  form{
    padding-top: 5px;
  }
  input{
    width: 400px;
    border-radius: 5px 0 0 5px;
  }
}
.sb_login{
  &:extend(.sb_search);
  input{
    line-height: 25px;
  }
  ul{
    margin-bottom: 14px;
  }
  button{
    &:extend(.sb_btn_submit);
    background-color: @sb_off_white;
    color: @sb_green;
    height: @sb_input_height;
    // Firefox fix for button being placed differently in navbar
    padding-top: 5px;
  }
}
.sb_dropdown {
  ul {
    background-color: @white;
    width: auto;
    border-top: solid;
    border-width: 2px;
    border-radius: 0 0 2px 2px;
    border-top-color: @sb_green_medium;
    margin-top: -3px;
  }
  li{
    display: block;
  }
}
// go through this stuff
.sb_thumbnail_xs{
  height: 33px;
  width: 33px;
}
.sb_dropdown_icon {
    color: @sb_green_extra_light;
}
.sb_post_btn_dropdown{
    background: transparent;
    margin-top: @sb_common_padding_negative;
}
.sb_post_dropdown_menu{
    text-align: left;
    padding-left: 20px;
}
.sb_profile_container_wall {
    background-color: #e0e7e1;
    height: auto;
    margin-top: 15px;
    min-height: 575px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom: 30px;
    border-radius: 2px;
}
.sb_registration_header {
  margin-left: 60px;
}
.sb_registration_step {
  margin-right: 0;
  margin-top: 35px;
  margin-left: 1%;
  padding-right: 30px;
}
.sb_row_continue {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.sb_address_fix {
  padding-left: 4px;
  padding-right: 4px;
}
.sb_deco_line {
  border-bottom: solid 5px;
  border-color: #9dbbb9;
  margin-bottom: 35px;
}