@import "sb_core/sb_core_variables.less";

.sb_general{
  color: @sb_dark_blue;
  word-wrap: break-word;
  h1 {
    font-weight: bold;
    font-size: 30px;
  }
  h2{
    font-weight: bold;
    font-size: 28px;
  }
  h3{
    font-weight: bold;
    font-size: 26px;
    color: @sb_grey_dark;
    margin-top: @sb_common_margin_positive;
    margin-bottom: @sb_common_margin_positive;
    }
  h4{
    font-weight: bold;
    font-size: 24px;
  }
  h5{
    font-weight: bold;
    font-size: 22px;
  }
  h6{
    font-weight: bold;
    font-size: 20px;
    color: @sb_dark_blue;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  p{
    font-size: 18px;
    }
  small{
    font-size: @sb_data_text;
  }
  a{
    color: @sb_green;
  }
}
// Blocks
.block{
  height: auto;
  padding-top: @sb_common_padding_positive;
  padding-left: @sb_common_padding_positive;
  padding-right: @sb_common_padding_positive;
  border-radius: @sb_common_radius;
  background-color: @sb_off_white;
}
.sb_answer{
  &:extend(.block);
  margin-top: 30px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  textarea{
    border-width: 1px 1px 1px 1px;
    border-radius: @sb_common_radius;
    border-color: @sb_green_light;;
    width: 100%;
    height: 200px;
    resize: vertical;
  }
}
.sb_question{
  &:extend(.block);
  min-height: 250px;
}
.sb_question_summary{
  &:extend(.block);
  background-color: @sb_grey_extra_light;
  border-style: solid;
  border-width: 1px;
  border-color: @sb_grey;
  border-radius: @sb_common_radius;
  height: 170px;
  padding: @sb_common_padding_positive;
  margin-bottom: @sb_common_margin_positive;
}
.sb_registration_block {
  &:extend(.block);
  width: 80%;
  margin-top:100px;
  margin-bottom: 60px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  background-color: @sb_grey_extra_light;
  position: inherit;
  float: left;
}

.sb_blog_post_block {
  &:extend(.block);
  margin-top:40px;
  margin-bottom: 60px;
  border-radius: 10px;
  background-color: @sb_green_wall;
  float: left;
}
// TODO Review and potentially change to just standard side_container
.sb_questions_side_container{
    background-color: @sb_green_wall;
    margin-top: 30px;
    border-radius: 2px;
    height: auto;
    min-height: 575px;
}
// Walls
.sb_page{
  margin: 0 5% 0 5%;
}
.sb_wall{
  height: auto;
  background-color: @sb_grey_light;
  padding: 15px 15px 15px 15px;
  border-radius: 2px;
  min-height: 575px;
}
.sb_conversation_wall{
  &:extend(.sb_wall);
  margin-top: 30px;
}
// Border
.sb_border{
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  padding: @sb_common_padding_positive;
  min-height: auto;
  border-color: @sb_grey;
}
.sb_border_question{
  &:extend(.sb_border);
  border-color: @sb_grey;

}
.sb_border_categories{
  &:extend(.sb_border);
  border-color: @sb_grey;
  min-height: 100px;
  margin-bottom: @sb_common_margin_positive;
}
// Links
.sb_tab_question{
  color: @sb_green;
  background-color: transparent;
  &:hover{
    color: @sb_green;
    background-color: transparent;
  }
}
// Buttons
.sb_btn{
  background-color: @sb_green;
}
.sb_btn_space {
  &:extend(.sb_btn);
  margin-bottom: 10px;
  margin-top: 10px;
}
.sb_btn_fill{
  &:extend(.sb_btn_space);
  width: 100%;
}

.sb_btn_submit{
  &:extend(.sb_btn);
  color: @white;
  font-size: @sb_body_text;
  width: auto;
}
.sb_btn_icon{
  &:extend(.sb_btn);
  background-color: transparent;
  font-size: @sb_body_text;
  padding: 10px;
}
.sb_btn_icon_green{
  &:extend(.sb_btn_icon);
    color: @sb_green;
  &:hover{
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: @sb_grey;
    color: @sb_green;
  }
}
.sb_btn_vote{
  &:extend(.sb_btn_icon);
  color: @sb_grey;
  padding: 0;
  font-size: 30pt;
  &:hover{
    color: @sb_green;
  }
}
.vote_up{
  &:extend(.sb_btn_vote);
  &:hover{
    color: @sb_green;
  }
}
.vote_down{
  &:extend(.sb_btn_vote);
  &:hover{
    color: @sb_violet;
  }
}
.vote_count{
  padding-right: 0;
  h6{
    font-size: 12pt;
  }

  p {

    font-weight: bold;
    margin-bottom: -5px;
    margint-top: -5px;
  }
}
.sb_spy{
  color: @sb_grey;
  background-color: @white;
  padding: 3px 10px 2px 6px;
  margin-top: 6px;
}
.sb_btn_nav{
  &:extend(.sb_btn_icon);
  color: @white;
}

// Navigation
.sb_nav{
  li{
    display: inline-block;
  }
}
.sb_primary_nav{
  &:extend(.sb_nav);
  background-color: @sb_green;
  height: 45px;
  //padding: 0px 15px 0px 15px
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  a{
    text-decoration: none;
    color: @sb_grey_extra_light;
  }
  ul{
    float: right;
  }
  h1{
    color: @sb_off_white;
    display: inline-block;
    margin-top: 0;
    padding-top: 5px;
  }
  input{
    width: auto;
    height: @sb_input_height;
    border-color: @sb_grey;
    border-width: 1px;
    border-right: none;
    margin-top: 6px;
    // This fixes firefox border issue with input
    border-bottom: 0px;
    border-top: 0px;
  }
}
.sb_secondary_nav {
  &:extend(.sb_nav);
  background-color: @sb_grey_light;
  height: 50px;
  border-radius: 0 0 2px 2px;
  border-bottom: solid;
  border-width: 2px;
  border-bottom-color: @sb_green_medium;
  margin-bottom: @sb_common_margin_positive;
  ul {
    margin-top: 10px;
  }
  li {
    margin-right: 30px;
  }
  a{
    &:hover{
       color: @sb_green_impressed;
    }
  }
  h3 {
    margin-top: 10px;
  }
}
.sb_secondary_nav_bar{
  &:extend(.sb_secondary_nav);
  background-color: @sb_grey_light;
  padding: 0 0 30px 0px;
}
.sb_secondary_nav_transparent{
  &:extend(.sb_secondary_nav);
  background-color: transparent;
  padding: 0 0 30px 0px;
}
.sb_tertiary_nav {
  &:extend(.sb_secondary_nav);
  background-color: transparent;
  border: none;
  height: auto;
  margin-top: 15px;
  input {
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: @sb_grey;
  }
}
// Footers
.sb_footer {
  background-color: transparent;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}
// Signup
.sb_sign_up_form{
  input {
    width: 348px;
  }
  button {
    width: 348px;
  }
}
.sb_input_wrapper{
  margin-bottom: 15px;
}

// Groupings
.sb_search{
  display: inline-block;
  float: right;

  form{
    padding-top: 5px;
  }
  input{
    width: 400px;
    border-radius: 5px 0 0 5px;
  }
}
.sb_login{
  &:extend(.sb_search);
  input{
    line-height: 25px;
  }
  ul{
    margin-bottom: 14px;
  }
  button{
    &:extend(.sb_btn_submit);
    background-color: @sb_off_white;
    color: @sb_green;
    // Firefox fix for button being placed differently in navbar
    padding-top: 0px;
    padding-bottom: 5px;
  }
}
.sb_dropdown {
  ul {
    background-color: @white;
    width: auto;
    border-top: solid;
    border-width: 2px;
    border-radius: 0 0 2px 2px;
    border-top-color: @sb_green_medium;
    margin-top: -3px;
  }
  li{
    display: block;
  }
}
// go through this stuff
// Can we create a mixin for thumbnails?
.sb_thumbnail_xs{
  height: 33px;
  width: 33px;
}
.sb_dropdown_icon {
  color: @sb_green_extra_light;
}
.sb_post_dropdown_menu{
  text-align: left;
  padding-left: 20px;
}
.sb_profile_container_wall {
  background-color: @sb_green_wall;
  height: auto;
  margin-top: 15px;
  min-height: 575px;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  border-radius: 2px;
}
.sb_registration_header {
  margin-left: 60px;
}
.sb_registration_step {
  margin-right: 0;
  margin-top: 35px;
  margin-left: 1%;
  padding-right: 30px;
}
.sb_row_continue {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.sb_address_fix {
  padding-left: 4px;
  padding-right: 4px;
}
.sb_deco_line {
  border-bottom: solid 5px;
  border-color: @sb_green_medium;
  margin-bottom: 35px;
}
.sb_btn_modal {
  a{
    color: @white;
    &:visited{
      background-color: none;
    }
  }
}
.sb_sign_up_background {
    position: fixed;
    float: left;
    width: 100%;
    heigh: 100%;
    margin-top: -15px;
    margin-left: -16px;
}
.sb_signup_headline_containter {
    margin-top: @sb_common_margin_positive;
    margin-bottom: @sb_common_margin_positive;
    position: relative;
}

.sb_dropdown_label{
    margin-left: 0;
    padding-left: @sb_common_padding_positive;
    background-color: @sb_grey_extra_light;
    color: #838c92;
    font-size: @sb_body_text;
    height:@sb_input_height;
    line-height: 30px;
}
.sb_dropdown_content{
    height: 50px;
    max-height: 400px;
    border-style: solid;
    border-width: 1px;
    border-color: @sb_grey;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: @sb_grey_extra_light;
}

.sb_content_wrapper{
  margin-top: 60px;
}

.sb_background {
    background-size: cover;
    background-color: @sb_grey;
}
#sb_search_input{
    width: 400px;
    border-color: @sb_grey;
    border-radius: 5px 0 0 5px;
    border-width: 1px;
    border-right: none;
    margin-right: -8px;
}
.sb_btn_see_all{
    background-color: @sb_off_white;
    color: #838c92;
    border-color: @sb_grey;
    border-top-style: solid;
    border-width: 1px;
    border-radius: 0;
    width: 100%;
    height: 40px;
    font-size: @sb_body_text;
      &:active{
        color: @sb_green;
      }
      &:hover{
        color: @sb_green;
      }
}
.sb_wallpaper_container {
  background-color: @sb_grey_extra_light;
  width: 100%;
  height: 250px;
  border-radius:5px 5px 0 0;
  margin-top: 30px;
}
.sb_profile_pic {
  border-color: @sb_grey_light;
  margin-left: @sb_common_margin_positive;
  margin-top: 65px;
  width: 200px;
  height:200px;
  border-radius: 2px;
  position: absolute;
  padding:0;
}
// TODO Probably want to transition this into left side_container
.sb_rep_container{
  margin-left: @sb_common_margin_negative;
  margin-bottom: @sb_common_margin_positive;
}
.sb_profile_rep_container{
  background-color: @sb_green_wall;
  border-radius: 2px;
  height: 100%;
  padding-bottom: @sb_common_padding_positive;
  background: cover;
}
.sb_container_header {
  padding-left: @sb_common_padding_positive;
  padding-top: 5px;
  border-bottom: solid;
  border-bottom-color: @sb_green_medium;
}

.sb_profile_rep_content{
  padding-top: @sb_common_padding_positive;
  padding-left: @sb_common_padding_positive;
}

.sb_thumbnail_rep{
  margin-left: @sb_common_margin_positive;
  margin-top: 10px;
}
.sb_thumbnail_potential_rep{
  margin-left: @sb_common_margin_positive;
}
.sb_rep_name{
  font-size: @sb_body_text;
  margin-left: @sb_common_margin_negative;
  padding-bottom: 0;
}
.sb_profile_post_enter{
  margin-left: @sb_common_margin_negative;
  margin-right: @sb_common_margin_negative;
}
.sb_post {
    max-height: 50px;
    max-width: 100%;
    padding-top: 10px;
    border-width: 1px;
    resize: none;
}
.sb_post_header_info{
  margin-top: -12px;
}
.sb_post_header{
  width: auto;
  background-color: @sb_off_white;
  border-radius: 5px 5px 5px 5px;
  padding: @sb_common_padding_positive;
  padding-bottom: 0px;
  margin-bottom: 15px;
}

// Proposed additions to default schema
.vertical_nav{
  margin-left: -10px;
  ul {

  }
  li {
    display: block;
  }
}
.block_vertical {
  margin-top: 15px;
}
.sb_divider{
  color: @sb_green;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 2px;
  overflow: hidden;
  background-color: rgba(202,206,209,.5);
}
.sb_vote_wrapper{
  margin-left: -5px;
  margin-top: -15px;
}
.sb_up_vote_wrapper{
  margin-bottom: -13px;
}
.sb_down_vote_wrapper{
  margin-top: -10px;
  margin-bottom: -15px;
}
.sb_post_wrapper{
  padding-left: 0;
  padding-right: 0;
}
.sb_post_body{
  margin-left: @sb_common_margin_positive;
  font-size: 12pt;
  padding: @sb_common_padding_positive;
  margin-bottom: @sb_common_margin_positive;
  hanging-punctuation: force-end;
  min-height: 65px;
  border-radius: @sb_common_radius;
  background-color: @sb_off_white;
  border-style: solid;
  border-width: 1px;
  border-color: @sb_green_light;
  word-wrap: break-word;
}
.sb_post_comments{
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: @sb_grey;
    padding-bottom: 5px;
}
.sb_post_container {
  background-color: @sb_green_wall;
  height:70px;
  padding-top: 10px;
  padding-bottom: 0;
  padding-left: @sb_common_padding_positive;
  padding-right: @sb_common_padding_positive;
  border-radius: 2px;
  margin-right: @sb_common_margin_negative;
  margin-left: @sb_common_margin_negative;
  margin-bottom: @sb_common_margin_positive;
}

.sb_btn_post{
  width: 80px;
  height: 40px;
  background-color: @sb_green;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
    &:hover{
      background-color: @sb_green_impressed;
    }
    &:active{
      background-color: @sb_green_impressed;
    }
}
.sb_comment_wrapper{
  padding-right: 0px;

}

.sb_comments_container{
    font-size: @sb_body_text;
    padding: 15px 0 3px 0;
    hanging-punctuation: force-end;
    height-max: 600px;
    height: auto;
    width: auto;
    background-color: @sb_grey_extra_light;
}

.sb_comment_header{
  width: auto;
  margin-top: -8px;
}

.sb_comment_body{
  p{
    font-size: 10pt;
  }
}

.sb_comment{
    padding: 10px 15px 10px 15px;
    background-color: @sb_grey_extra_light;
    border: solid;
    border-width: 1px 0 1px 0;
    border-radius: 0 0 5px 5px;
    border-color: @sb_grey;
}
.sb_comment_input{
    border-width: 1px 0 1px 1px;
    border-radius: @sb_common_radius;
    border-color: @sb_green_light;
    padding: 10px 10px 10px 10px;
    width: 100%;
    resize: vertical;
}
textarea.sb_comment_input{
    height: 50px;
}
.sb_btn_comment{
    background-color: transparent;
    color: @sb_green;
      &:active {
       color: @sb_dark_blue;
       text-decoration: underline;
       text-decoration-color: @sb_dark_blue;
      }
      &:hover{
       color: @sb_green;
       text-decoration: underline;
       text-decoration-color: @sb_green;
      }
}
.sb_btn_comment_icon{
    color: @sb_green;
    heigh: 50px;
    border: solid;
    border-width: 1px;
    border-color: @sb_green_light;
    border-radius: 0 5px 5px 0;
      &:hover{
        color: @sb_green;
        border-color: @sb_green;
      }
      &:active{
        color: @sb_dark_blue;
      }
}
