{% load static %}
<div class="block sb_search_block">
    <div class="row">
       {% url "quest_saga" username=id as the_url %}
        <div class="col-xs-4">
            <div class="thumbnail sb_thumbnail_md sb_thumbnail_search">
                <a href="{{ the_url }}"><img src="{{ profile_pic }}"></a>
            </div>
        </div>
        <div class="col-xs-4">
            <h6><a href="{{ the_url }}">{{ first_name }} {{ last_name }}</a></h6>
        </div>
        <div class="col-xs-8">
            {% if public_official %}
                <p>{{ public_official.state }} - {{ public_official.title }}</p>
            {% endif %}
            {% comment %}
            <p>Office Running for</p>
            <p>2.54K pledged votes</p>
            {% endcomment %}
        </div>
      </div>
</div>