{% load static %}
<div class="block sb_search_block">
    <div class="row">
       {% url "action_saga" username=object_uuid as the_url %}
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="thumbnail sb_thumbnail_md sb_thumbnail_search" style="position: absolute; margin-top: -10px;">
                <a href="{{ the_url }}"><img src="{% get_static_prefix %}images/congress/{{ bioguideid }}.jpg"></a>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
            <h6><a href="{{ the_url }}">{{ first_name }} {{ last_name }}</a></h6>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-xs-offset-4">
            <p>{{ state }} - {{ title }}</p>
            {% comment %}
            <p>Office Running for</p>
            <p>2.54K pledged votes</p>
            {% endcomment %}
        </div>
    </div>
</div>