{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row-fluid sb_page">
    <div class="col-lg-8 col-md-12 col-sm-12 hidden-xs col-lg-offset-2 col-sm-offset-0">
        <div class="sb_nav sb_secondary_nav sb_search_nav">
            <ul>
                <li>
                    <a class="btn sb_tab_question filter_button" data-filter="general">General</a>
                </li>
                <li>
                    <a class="btn sb_tab_question filter_button" data-filter="conversations">Conversations</a>
                </li>
                <li>
                    <a class="btn sb_tab_question filter_button" data-filter="sagas">Sagas</a>
                </li>
                <li>
                    <a class="btn sb_tab_question filter_button" data-filter="people">People</a>
                </li>
            </ul>
        </div>
        <div class="sb_wall sb_search_wall">
            <div id="search_result_div">
                <div id="search_param" data-search_param="{{ search_param }}" data-search_page="{{ page }}" data-filter="{{ filter }}"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/update_search_page.js' %}"></script>
    <script src="{% static 'js/update_filter.js' %}"></script>
{% endblock %}