<div class="row-fluid sb_page">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="sb_nav sb_secondary_nav sb_search_nav">
            <ul>
                <li>
                    <a href="#">General </a>
                </li>
                <li>
                    <a href="#">Conversations</a>
                </li>
                <li>
                    <a href="#">Sagas</a>
                </li>
                <li>
                    <a href="#">People</a>
                </li>
            </ul>
        </div>
        <div class="sb_wall sb_search_wall">
<div class="block"></div>
        </div>
    </div>
</div>