{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row-fluid sb_page">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-0 col-xs-offset-0">
        <div class="sb_nav sb_secondary_nav sb_search_nav">
            <ul>
                <li>
                    <a id="search_filter" data-filter="">General </a>
                </li>
                <li>
                    <a id="search_filter" data-filter="conversations">Conversations</a>
                </li>
                <li>
                    <a id="search_filter" data-filter="sagas">Sagas</a>
                </li>
                <li>
                    <a id="search_filter" data-filter="users">People</a>
                </li>
            </ul>
        </div>
        <div class="sb_wall sb_search_wall">
            <div id="search_result_div">
                <div id="search_param" data-search_param="{{ search_param }}" data-search_page="{{ page }}"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/update_search_page.js' %}"></script>
    <script src="{% static 'js/update_filter.js' %}"></script>
{% endblock %}