<div class="block sb_search_block">
    {% url 'profile_page' pleb_username=username as the_url %}
    <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-4 col-xs-4">
            <div class="thumbnail sb_thumbnail_md sb_thumbnail_search">
              <a href="{{ the_url }}"><img src="{{ profile_pic }}"></a>
            </div>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
            <h6><a href="{{ the_url }}">{{ first_name }} {{ last_name }}</a></h6>
            {% if request.user.username == username %}
                <p>This is you :)</p>
            {% elif is_friend == True %}
                {% if reputation == 0 %}
                    <div>Reputation: --</div>
                {% else %}
                    <div>Reputation: {{ reputation }}</div>
                {% endif %}
            {% elif friend_request_sent == False %}
                <div class="btn btn-primary sb_btn sb_btn_fill send_friend_request-action_{{ username }}"
                        data-from_username="{{ request.user.username }}"
                        data-to_username="{{ username }}">
                    Request Friend
                </div>
            {% else %}
                <div><small>Friend Request Pending</small></div>
            {% endif %}
          <div style="display: None;" id="js-friend-request-sent_{{ username }}"><small>Friend Request Sent</small></div>
        </div>
    </div>
</div>