{% extends "layout/two-col-right.html" %}
{% load i18n %}
{% load staticfiles %}

{% block live %}
<div class="block sb_markdown">
    <h3 class="block-title">Edit Question</h3>
    <div class="block-content">
        <form id="questionInputForm">
            <div class="title_input">
                <input class="form-control title_input" style="margin-bottom: 10px;"
                          id="title_id"
                          name="title"
                          placeholder="Question Title"
                          value="{{ question.title }}" disabled="disabled"/>
            </div>
            <div class="question_content_input">
                <textarea class="form-control markdown-input"
                          id="js-question-markdown"
                          name="content"
                          cols="20"
                          rows="8"
                          placeholder="Question Context">{{ question.content }}</textarea>
            </div>
        </form>
    </div>
</div>
<div class="block">
    <div class="block-content">
        <div class="position-wrapper">
            <input id="pac-input" class="form-control" type="text"
                   placeholder="What Place is Affected? (Country, State, City, etc)" value="{{ question.affected_area|default_if_none:'' }}"/>
            <div id="location-id" hidden>{{ question.external_location_id }}</div>
            <div id="location-lat" hidden>{{ question.latitude }}</div>
            <div id="location-long" hidden>{{ question.longitude }}</div>
            <div id="location-area" hidden>{{ question.affected_area }}</div>
        </div>
        <ul class="list-inline list-inline-btns">
            <li>
                <button class="btn btn-primary sb_btn sb_btn_fill"
                    data-id="{{ question.id }}" id="js-create-btn">Submit</button>
            </li>
            <li>
                <button class="btn btn-primary sb_btn sb_btn_fill sb_btn_remove" id="js-cancel-btn">Cancel</button>
            </li>
        </ul>
    </div>
</div>
<div id="validation_errors"></div>

<div id="fileModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-sm sb_btn close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="fileModalLabel">Upload Images</h3>
            </div>
            <div class="modal-form">
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Upload</a></li>
                        <li><a href="#tab2" data-toggle="tab">Enter URL</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div class="preview" id="preview" >
                                <input id="upload_image" type="file" name="img">
                            </div>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <p><input type="text" class="form-control input-lg img-url" placeholder="Ex: http://yoursite.com/image.jpg" id="img-url" /></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn btn-primary sb_btn sb_btn_fill" id="insert_image_post">Insert Image</button>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn btn-primary sb_btn sb_btn_fill sb_btn_remove" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock live %}
{% block sidebar_right %}
    <div class="create-side-content">
        <div class="side-create-map">
            <div id="map"></div>
        </div>
    </div>
{% endblock sidebar_right %}


{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/question_validator.js' %}"></script>
{% endblock scripts %}

{% block intercom %}
    Intercom('trackEvent', 'visited-edit-question-page');
{% endblock %}