{% extends "layout/hero-two-col-right.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Conversation Cloud{% endblock title %}
{% block description %}
    <meta name="description" content="Sagebrew's Conversation Cloud is a
    place where people can ask Questions that don't have a single answer.
    People can provide, collaborate, and vote on different Solutions as
    the Community works towards the most encompassing one.">
    <meta name="fragment" content="!">
{% endblock description %}
{% block keywords %}
    <meta name="keywords" content="debate, community, nonpartisan, questions, problem solving, solutions">
{% endblock keywords %}
{% block hero %}
    <div class="block">
        <h1 class="block-title no-underline center-title">Conversation Cloud</h1>
    </div>
{% endblock hero %}
{% block sidebar_right %}
    {% if request.user.is_authenticated %}
        {% include "partials/start_conversation_block.html" %}
    {% endif %}
    <div class="block block-type-nav">
        <div class="block-title">
            Sorting
        </div>
        <div class="block-content">
            <ul class="nav nav-list nav-list-vivid" id="js-sort-filter">
                <li class="active">
                    <a class="js-sort-filter" id="js-most-recent" data-ordering="-created" href="#">
                        Most Recent
                    </a>
                </li>
                <li>
                    <a class="js-sort-filter" id="js-least-recent" data-ordering="created" href="#">
                        Least Recent
                    </a>
                </li>
                <li>
                    <a class="js-sort-filter" id="js-most-votes" data-ordering="vote_count" href="#">
                        Most Votes
                    </a>
                </li>
                <li>
                    <a class="js-sort-filter" id="js-recent-edits" data-ordering="-last_edited_on" href="#">
                        Recent Edits
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="sb_questions_side_container">
        <h3 align="center">
          Things to Keep in Mind
        </h3>
        <div class="sb_deco_line"></div>
        <h5 align="left">Be Respectful</h5>
        <div class="sb_deco_line"></div>
        <h5 align="left">Consider All Sides</h5>
        <div class="sb_deco_line"></div>
        <h5 align="left">Link to Supporting Info</h5>
        <div class="sb_deco_line"></div>
    </div>
{% endblock %}

{% block live %}
        <div id="js-conversation-list">
            <div id="js-conversation-container"></div>
            <div class="loader"></div>
        </div>
{% endblock %}

{% block intercom %}
    {% if not request.user.is_anonymous %}
        Intercom('trackEvent', 'visited-conversation-list');
    {% endif %}
{% endblock %}