<h1 style="padding-top:0; margin-top:0;">Epic</h1>
<div class="sb_markdown">
    {{{ mission.epic }}}
</div>
<h1 style="padding-top:0; margin-top:0;">Verification Status</h1>
<div class="sb_markdown">
    {{ mission.quest.account_verified }}
</div>
<h1 style="padding-top:0; margin-top:0;">Previously Submitted Review Options</h1>
<div class="sb_markdown">
    <ul>
        {{#each mission.review_feedback}}
            <li>
                {{this}}
            </li>
        {{/each}}
    </ul>
</div>