{% extends "mission_base.html" %}
{% load staticfiles %}
{% block title %}{% if mission.title %} {{ mission.title }} {% else %} {{ mission.focus_name_formatted }} {% endif %}{% endblock %}

{% block live %}
    <div class="block">
        <div class="block-content block-holder-lg sb_markdown" id="epic-parent">
            {% if mission.is_editor or mission.is_moderator or request.user.username == quest.owner_username %}
                {% autoescape off %}
                    {% if mission.rendered_epic %}
                        {{ mission.rendered_epic}}
                    {% else %}
                        <p>This is your Epic, the front page to your mission. This is a public page that
                            we recommend using to share your: </p>
                        <ul>
                            <li>Policies</li>
                            <li>Agenda</li>
                            <li>Vision</li>
                            <li>Advocacy Focus</li>
                        </ul>
                        <p>You can edit it in the <a href="{% url 'mission_edit_epic' mission.id mission.slug %}">settings</a>.</p>
                    {% endif %}
                {% endautoescape %}
            {% else %}
                {% if mission.active == True and quest.active == True %}
                    {% if rendered_epic %}
                        {% autoescape off %}
                            {{ mission.rendered_epic }}
                        {% endautoescape %}
                    {% endif %}
                {% else %}
                    <h4>{% if quest.title %}{{ quest.title }} {% else %} {{ quest.first_name }} {{ quest.last_name }} {% endif %} is still setting up this Mission, check back soon!</h4>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block intercom %}
   Intercom('trackEvent', 'mission-page');
{% endblock %}