{% extends "mission_base.html" %}
{% load staticfiles %}
{% block title %}{% if title %} {{ title }} {% else %} {{ focus_name_formatted }} {% endif %} Updates{% endblock %}

{% block live %}
    <div class="block">
        <h2 class="block-title">Updates</h2>
        <div class="block-content block-holder-lg" id="epic-parent">
            {% if not rendered_epic and is_editor or is_accountant %}
                {% autoescape off %}
                    {{ rendered_epic|default:'This is your Epic, we recommend using it to share your: <ul style="font-size: 14pt; "><li>Policies</li><li>Agenda</li><li>Vision</li></ul>' }}
                {% endautoescape %}
            {% else %}
                {% if active == True %}
                    {% if rendered_epic %}
                        {% autoescape off %}
                            {{ rendered_epic }}
                        {% endautoescape %}
                    {% endif %}
                {% else %}
                    {% if public_official %}
                        <h4>This user has not yet embarked upon their Sagebrew Quest.</h4>
                    {% else %}
                        <h4>{% if quest.title %}{{ quest.title }} {% else %} {{ quest.first_name }} {{ quest.last_name }} {% endif %} is still setting up this Mission, check back soon!</h4>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block intercom %}
   Intercom('trackEvent', 'mission-update-page');
{% endblock %}