{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% if title %} {{ title }} {% else %} {{ focus_name_formatted }} {% endif %}{% endblock %}
{% block content %}
    {% comment %}
        Transition to hero-two-col-right template
    {% endcomment %}
    <div class="row block">
        <div class="col-xs-12 text-center">
            <h1 class="block-title">{% if title %} {{ title }} {% else %} {{ focus_name_formatted }} {% endif %}</h1>
            <p>By: {% if quest.title %}{{ quest.title }} {% else %} {{ quest.first_name }} {{ quest.last_name }} {% endif %}</p>
            <div class="wallpaper mission-wallpaper">
                {% static 'images/wallpaper_capitol_2.jpg' as default_wallpaper %}
                <img src="{{ wallpaper_pic|default_if_none:default_wallpaper }}">
            </div>
        </div>
    </div>
    <div class="row block block-type-title">
        <div class="block-content ">
            <ul class="nav nav-pills">
                <li ><a href="#">Saga <span class="sr-only">(current)</span></a></li>
                <li><a href="{% url "mission_updates" id slug %}" style="margin-left: 30px !important;">Updates</a></li>
            </ul>
            <div class="title-important-actions">
                <a href="#" class="btn btn-primary btn-lg sb_btn">Donate</a>
            </div>
        </div>
    </div>
    <div id="epic-sm" class="hidden-xs">
        <div class="row">
            <div class="col-sm-9 block">
                <div id="epic-wrapper" >
                    <h2 class="block-title">Epic</h2>
                    <div class="block-content" style="min-height: 400px;" id="epic-parent">
                        My epic story about my mission goes here
                    </div>
                </div>
            </div>
            <div class="col-sm-3" style="padding-right: 0;">
                <div class="block" id="goal-wrapper">
                    <h4 class="block-title">Goals</h4>
                    <div class="block-content" style="min-height: 100px;" id="goals-parent">
                        <small>My goals go here</small>
                    </div>
                </div>
                <div class="block" id="about-wrapper">
                    <h4 class="block-title">About</h4>
                    <div class="block-content" style="min-height: 100px;" id="about-parent">
                        <small>This mission is about getting shit done. It should be super awesome and successful</small>
                    </div>
                    {% if True %}
                        <div class="block-content" style="padding-bottom: 0;" id="website">
                            <small>Website: {{ website }}</small>
                        </div>
                    {% endif %}
                    <div class="block-content" style="padding-top: 0;" id="social-media">
                        {% if  facebook %}
                            <button onclick="location.href='http://facebook.com/{{ facebook }}'"
                                    class="btn btn-primary sb_btn_icon sb_btn_icon_green">
                                <span class="fa fa-facebook"></span>
                            </button>
                        {% else %}
                            <button onclick="location.href='http://facebook.com/{{ facebook }}'"
                                    class="btn btn-primary sb_btn_icon disabled">
                                <span class="fa fa-facebook"></span>
                            </button>
                        {% endif %}
                        {% if  linkedin %}
                            <button onclick="location.href='http://linkedin.com/{{ linkedin }}'"
                                    class="btn btn-primary sb_btn_icon sb_btn_icon_green"><span
                                    class="fa fa-linkedin"></span></button>
                        {% else %}
                            <button onclick="location.href='http://linkedin.com/{{ linkedin }}'"
                                    class="btn btn-primary sb_btn_icon disabled"><span
                                    class="fa fa-linkedin"></span></button>
                        {% endif %}
                        {% if youtube %}
                            <button onclick="location.href='http://youtube.com/{{ youtube }}'"
                                    class="btn btn-primary sb_btn_icon sb_btn_icon_green">
                                <span class="fa fa-youtube-play"></span>
                            </button>
                        {% else %}
                            <button onclick="location.href='http://youtube.com/{{ youtube }}'"
                                    class="btn btn-primary sb_btn_icon disabled">
                                <span class="fa fa-youtube-play"></span>
                            </button>
                        {% endif %}
                        {% if twitter %}
                            <button onclick="location.href='http://twitter.com/{{ twitter }}'"
                                    class="btn btn-primary sb_btn_icon sb_btn_icon_green">
                                <span class="fa fa-twitter"></span>
                            </button>
                        {% else %}
                            <button onclick="location.href='http://twitter.com/{{ twitter }}'"
                                    class="btn btn-primary sb_btn_icon disabled">
                                <span class="fa fa-twitter"></span>
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="epic-xs" class="hidden-sm hidden-md hidden-lg">
        <div class="row">
            <div class="col-xs-12 block">
                <h2 class="block-title">Epic</h2>
                <div class="block-content">My epic story about my mission goes here</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 block">
                <h2 class="block-title">Goals</h2>
                <div class="block-content">My goals go here</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 block">
                <h2 class="block-title">About</h2>
                <div class="block-content">This mission is about getting shit done. It should be super awesome and successful</div>
            </div>
        </div>
    </div>
{% endblock %}
{% block intercom %}
   Intercom('trackEvent', 'mission-page');
{% endblock %}