{% extends "layout/hero-two-col-right.html" %}
{% load staticfiles %}
{% block title %}{% if mission.focus_on_type == "position" %}{% if mission.focused_on.full_name %}{{ mission.focused_on.full_name|title }}{% else %}{{ mission.focus_name_formatted }}{% endif %}{% else %}{% if mission.title %}{{ mission.title|title }}{% else %} {{ mission.focus_name_formatted|title }} {% endif %}{% endif %}{% endblock %}

{% block hero %}
    {% include "manage/activate_partial.html" %}
    <div class="block" style="margin-top: -20px !important;">
        <div class="col-xs-12 text-center">
            <h1>{% if mission.focus_on_type == "position" %}{% if mission.focused_on.full_name %}{{ mission.focused_on.full_name|title }}{% else %}{{ mission.focus_name_formatted }}{% endif %}{% else %}{% if mission.title %}{{ mission.title|title }}{% else %} {{ mission.focus_name_formatted|title }} {% endif %}{% endif %}</h1>
            <a href="{% url "quest" quest.owner_username %}">By: {% if quest.title %}{{ quest.title }} {% else %} {{ quest.first_name }} {{ quest.last_name }} {% endif %}</a>
            {% static 'images/wallpaper_capitol_2.jpg' as default_wallpaper %}
            {%  if request.user.username == quest.owner_username %}
                <div class="wallpaper mission-wallpaper" id="js-croppic-wrapper-div-id">
                    <img id="js-croppic-img-id" class="js-croppic-img-class"
                         src="{{ mission.wallpaper_pic|default_if_none:default_wallpaper }}">
                </div>
            {% else %}
                <div class="wallpaper mission-wallpaper">
                    <img src="{{ mission.wallpaper_pic|default_if_none:default_wallpaper }}">
                </div>
            {% endif %}
        </div>
    </div>
    <div class="block">
        <div class="block-content ">
            <a href="{% if mission.active == False%}#{% else %}{% url 'mission_donation_amount' mission.id mission.slug %}{% endif %}"
               class="hidden-sm hidden-md hidden-lg btn btn-primary btn-lg sb_btn sb_btn_fill" {% if mission.active == False%}disabled{% endif %}
               {% if mission.active == False%}data-toggle="tooltip"
               data-original-title="Mission must be active to donate."{% endif %}>Donate</a>
            <a href="{% if mission.active == False%}#{% else %}{% url 'mission_volunteer_option' mission.id mission.slug %}{% endif %}"
               class="hidden-sm hidden-md hidden-lg btn btn-primary btn-lg sb_btn sb_btn_fill" {% if mission.active == False%}disabled{% endif %}
               {% if mission.active == False%}data-toggle="tooltip"
               data-original-title="Mission must be active to volunteer."{% endif %}>Volunteer</a>
            <a href="{% if mission.active == False%}#{% else %}{% url 'mission_volunteer_option' mission.id mission.slug %}{% endif %}"
               class="hidden-sm hidden-md hidden-lg btn btn-primary btn-lg sb_btn sb_btn_fill" {% if mission.active == False%}disabled{% endif %}
               {% if mission.active == False%}data-toggle="tooltip"
               data-original-title="Mission must be active to volunteer."{% endif %}>Endorse</a>
            {% if quest.is_moderator or quest.is_editor or request.user.username == quest.owner_username %}
                <a class="hidden-sm hidden-md hidden-lg btn btn-primary btn-lg sb_btn sb_btn_fill" href="{% url 'mission_settings' mission.id mission.slug %}">Settings</a>
            {% endif %}
            <ul class="nav">
                {% comment %}
                    For some reason if I remove this ul all the background color goes away
                    for the hero section...
                {% endcomment %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block secondary_nav %}
    <div class="block block-type-title">
        <div class="block-content ">
            <ul class="nav nav-pills">
                <li {% if "updates" not in request.path %} class="active" {% endif %}><a href="{% url 'mission' mission.id mission.slug %}">Epic <span class="sr-only">(current)</span></a></li>
                <li {% if "updates" in request.path %} class="active" {% endif %}><a href="{% url "mission_updates" mission.id mission.slug %}">Updates</a></li>
            </ul>
            <div class="title-important-actions tight">
                {% if quest.is_moderator or quest.is_editor or request.user.username == quest.owner_username %}
                    <a class="hidden-xs btn btn-primary btn-lg sb_btn" href="{% url 'mission_settings' mission.id mission.slug %}">Settings</a>
                {% endif %}
                <a href="{% if mission.active == False%}#{% else %}{% url 'mission_donation_amount' mission.id mission.slug %}{% endif %}"
                   class="hidden-xs btn btn-primary btn-lg sb_btn" {% if mission.active == False%}disabled{% endif %}
                   {% if mission.active == False%}data-toggle="tooltip"
                   data-original-title="Mission must be active to donate."{% endif %}>Donate</a>
                <a href="{% if mission.active == False%}#{% else %}{% url 'mission_volunteer_option' mission.id mission.slug %}{% endif %}"
                   class="hidden-xs btn btn-primary btn-lg sb_btn" {% if mission.active == False%}disabled{% endif %}
                   {% if mission.active == False%}data-toggle="tooltip"
                   data-original-title="Mission must be active to volunteer."{% endif %}>Volunteer</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar_right %}
    <div class="block" id="about-wrapper">
        <h4 class="block-title">About</h4>
        <div class="block-content block-holder-sm" id="about-parent">
            <small>{{ mission.about|default:"No information has been provided."|default_if_none:"No information has been provided." }}</small>
        </div>
        {% if mission.website %}
        <div class="block-content" style="padding-bottom: 0;" id="website">
                <small>Website: {{ mission.website|urlize }}</small>
        </div>
        {% endif %}
        <div class="block-content" style="padding-top: 0;" id="social-media">
            {% if mission.facebook %}
                <a href="http://facebook.com/{{ mission.facebook }}" target="_blank"
                        class="btn btn-primary sb_btn_icon sb_btn_icon_green">
                    <span class="fa fa-facebook"></span>
                </a>
            {% else %}
                <button class="btn btn-primary sb_btn_icon disabled">
                    <span class="fa fa-facebook"></span>
                </button>
            {% endif %}
            {% if mission.twitter %}
                <a href="http://twitter.com/{{ mission.twitter }}" target="_blank"
                        class="btn btn-primary sb_btn_icon sb_btn_icon_green">
                    <span class="fa fa-twitter"></span>
                </a>
            {% else %}
                <button class="btn btn-primary sb_btn_icon disabled">
                    <span class="fa fa-twitter"></span>
                </button>
            {% endif %}
            {% if mission.youtube %}
                <a href="http://youtube.com/{{ mission.youtube }}" target="_blank"
                        class="btn btn-primary sb_btn_icon sb_btn_icon_green">
                    <span class="fa fa-youtube-play"></span>
                </a>
            {% else %}
                <button class="btn btn-primary sb_btn_icon disabled">
                    <span class="fa fa-youtube-play"></span>
                </button>
            {% endif %}
            {% if  mission.linkedin %}
                <a href="http://linkedin.com/{{ mission.linkedin }}" target="_blank"
                        class="btn btn-primary sb_btn_icon sb_btn_icon_green"><span
                        class="fa fa-linkedin"></span></a>
            {% else %}
                <button class="btn btn-primary sb_btn_icon disabled"><span
                        class="fa fa-linkedin"></span></button>
            {% endif %}
        </div>
    </div>
{% endblock %}