<div class="col-xs-12 col-sm-4">
    <div class="radio-image-selector-disabled">
        <h4 class="sb-profile-not-friend-header"></h4>
        <div class="row radio-image-selector-image-wrapper">
            <img class="radio-image-selector-image" src="{{ static_url }}images/executive_bw.png">
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-4">
    <div class="radio-image-selector-disabled">
        <h4 class="sb-profile-not-friend-header"></h4>
        <div class="row radio-image-selector-image-wrapper">
            <img class="radio-image-selector-image" src="{{ static_url }}images/legislative_bw.png">
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-4">
    <div class="radio-image-selector-disabled">
        <h4 class="sb-profile-not-friend-header"></h4>
        <div class="row radio-image-selector-image-wrapper">
            <img class="radio-image-selector-image" src="{{ static_url }}images/judicial_bw.png">
        </div>
    </div>
</div>