<form id="banking-form">
    <div class="form-group">
        <label for="account-type">
            Account Type*
        </label>
        <select id="account-type" class="form-control" name="stripe_account_type">
          <option {% if quest.stripe_account_type != "individual" %}selected{% endif %} value="business">Business</option>
          <option {% if quest.stripe_account_type == "individual" %}selected{% endif %} value="individual">Individual</option>
        </select>
    </div>
    <div class="form-group">
        <label for="ssn">
            Social Security Number*
        </label>
        <input id="ssn" type="text" class="form-control" name="ssn">
        <p class="help-block">We don't store this.</p>
    </div>
    <div class="form-group" id="js-account-owner-wrapper" {% if quest.stripe_account_type == "individual" %}hidden{% endif %}>
        <label for="account-owner">
            Name of Entity Managing Bank Account*
        </label>
        <input {% if quest.account_owner %}value="{{ quest.account_owner }}" {% endif %} id="account-owner" type="text" class="form-control" name="account_owner">
    </div>
    <div class="form-group" id="js-ein-wrapper" {% if quest.stripe_account_type == "individual" %}hidden{% endif %}>
        <label for="ein">
            EIN of Entity Managing Bank Account*
        </label>
        <input id="ein" type="text" class="form-control" name="ein">
        <p class="help-block">We don't store this.</p>
    </div>

    <div class="form-group">
        <label for="routing-number">
            Routing Number*
        </label>
        <input id="routing-number" type="text" class="form-control" name="routing_number">
        <p class="help-block">We don't store this.</p>
    </div>

    <div class="form-group">
        <label for="account-number">
            Account Number*
        </label>
        <input id="account-number" type="text" class="form-control" name="account_number">
        <p class="help-block">We don't store this.</p>
    </div>
</form>