{% extends "layout/hero-two-col-left.html" %}
{% load staticfiles %}

{% block hero %}
    {% include "council/nav.html" %}
{% endblock %}

{% block sidebar_left %}
    <div class="block block-type-nav">
        <div class="block-content ">
            <ul class="nav nav-list nav-list-vivid">
                {% comment %}
                The use of request.GET.urlencode here is to capture query params, best way I
                can think of to determine active for the buttons.
                {% endcomment %}
                <li class="{% if "verified" not in request.path %}active{% endif %}">
                    <a class=""
                       data-filter=""
                       href="/council/missions/">
                        To Be Reviewed
                    </a>
                </li>
                <li class="{% if "verified" in request.path %}active{% endif %}">
                    <a class=""
                       data-filter="verified"
                       href="/council/missions/reviewed">
                        Reviewed
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block live %}
    <div class="block">
        <h3 class="block-title">Submitted Missions</h3>
        <div class="block-content" id="js-mission-verification-wrapper">
        </div>
    </div>
{% endblock %}
