{% extends "layout/one-col.html" %}
{% load staticfiles %}
{% block title %} Mission Selection {% endblock %}
{% block live %}
    <div class="block">
        <h1 class="block-title no-underline center-title">Start a Mission</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="sb-profile-not-friend-element no-margin-top-bottom">
                <div class="js-hover-overlay-activate">
                    <h4 class="sb-profile-not-friend-header">Run for Public Office</h4>
                    <div class="row sb-profile-not-friend-image-wrapper">
                        <img class="sb-profile-not-friend-element-image" src="{% static "images/running_bw.png" %}">
                    </div>
                    <div class="sb-overlay">
                        <div class="sb-overlay-text">
                            <div>
                                Are you running or planning to run
                                for public office? <br /><br />Find volunteers,
                                crowdfund donations, connect with
                                constituents, and gain support to win!
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="sb-not-friend-divider-wrapper"><li role="presentation" class="sb_divider"></li></ul>
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <button class="btn btn-primary sb_btn_fill" id="js-public-office">Start</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="sb-profile-not-friend-element no-margin-top-bottom">
                <div class="js-hover-overlay-activate">
                    <h4 class="sb-profile-not-friend-header">Advocate</h4>
                    <div class="row sb-profile-not-friend-image-wrapper">
                        <img class="sb-profile-not-friend-element-image" src="{% static "images/advocate_bw.png" %}">
                    </div>
                    <div class="sb-overlay">
                        <div class="sb-overlay-text">
                            <div>
                                Do you have a cause you're passionate about?
                                Are you leading a movement?
                                Maybe you're a group focused on
                                advocating a certain set of principals?<br /><br />
                                Gain grassroots support, crowdfund donations,
                                and get your message heard to accomplish
                                your goals!
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="sb-not-friend-divider-wrapper"><li role="presentation" class="sb_divider"></li></ul>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                        <button class="btn btn-primary sb_btn_fill" id="js-advocate">Start</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block intercom %}
   Intercom('trackEvent', 'visited-quest-mission-starter');
{% endblock %}