{% extends "volunteer/base.html" %}
{% load staticfiles %}
{% block title %}
    Volunteer For Your Movement
{% endblock title %}
{% block description %}

{% endblock description %}
{% block keywords %}

{% endblock keywords %}


{% block live %}
    <div class="block">
        <h3 class="block-title">
            Help Out With
        </h3>
        <div class="block-content">
            <div id="js-option-list">
                <div class="loader" id="select-loader"></div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <button id="js-continue-btn"  type="button"
                            class="btn btn-primary sb_btn sb_btn_fill">Continue</button>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="{% if selected.type == "mission" %}{% url "mission" selected.id selected.slug %}{% else %}{% url "quest" quest.owner_username %}{% endif %}" class="btn btn-primary sb_btn sb_btn_fill sb_btn_remove"
                    >Cancel</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block intercom %}
    Intercom('trackEvent', 'visited-donation-amount');
{% endblock %}