<div class="block sb_markdown" id="about-wrapper">
    <h4 class="block-title">Average Donation Amount</h4>
    <div class="block-content block-holder-sm" id="about-parent">
        {% if mission.average_donation_amount != "0.00" %}
            <h2 class="no-margin-top-bottom">
                ${{ mission.average_donation_amount }}
            </h2>
        {% else %}
            <div class="margin-top-20">
                Be the first to
                <a href="{% url 'mission_donation_amount' mission.id mission.slug %}">
                    Donate
                </a>
            </div>
        {% endif %}
    </div>
</div>