{% extends "contribution_mission_selector.html" %}

{% block secondary_nav %}
    <div class="block block-type-title">
        <div class="block-content clearfix">
            <h1>Endorse</h1>
            <ul class="nav nav-pills">
                <li {% if "/endorse/choose/" in request.path %}class="active" {% endif %}>
                    <a href="{% if "/endorse/choose/" in request.path %}#{% else %}{% url "endorse_choose" quest.owner_username %}{% endif %}">
                        Choose
                    </a>
                </li>
                {% if request.user.is_authenticated == False %}
                    <li {% if "endorse/choose/" in request.path %}class="disabled" {% elif "/endorse/name/" in request.path %}class="active" {% endif %}>
                        <a href="{% if "endorse/choose/" in request.path or "/endorse/name/" in request.path or "/endorse/amount/" in request.path %}#{% else %}{% url "endorse_mission" selected.id selected.slug %}{% endif %}">
                            Sign Up
                        </a>
                    </li>
                {% endif %}
                <li {% if "/endorse/choose/" in request.path %}class="disabled" {% elif "/endorse/choose/" not in request.path %}class="active" {% endif %}>
                    <a href="{% if "endorse/choose/" in request.path %}#{% else %}{% url "mission_endorse" selected.id selected.slug %}{% endif %}">
                        Endorse
                    </a>
                </li>

            </ul>
        </div>
    </div>
{% endblock %}