{% extends "layout/hero-two-col-right.html" %}
{% load staticfiles %}
{% block title %}Missions{% endblock %}
{% block hero %}
    {% include "mission/promotion.html" %}
    <div class="block">
        <h1 class="block-title no-underline center-title">Active Missions</h1>
    </div>
{% endblock hero %}
{% block sidebar_right %}
    {% if request.user.is_authenticated %}
        <div class="block block-type-nav">
            <div class="block-title">
                Start a Mission
            </div>
            <div class="block-content">
                <a class="btn btn-primary sb_btn sb_btn_fill js-quest-signup" href="#"><i class="fa fa-rocket quest-rocket"></i> Embark</a>
            </div>
        </div>
    {% endif %}
    <div class="block block-type-nav">
        <div class="block-title">
            Affects
        </div>
        <div class="block-content">
            <ul class="nav nav-list nav-list-vivid" id="js-affect-filter">
                <li {% if request.user.is_authenticated == True and request_profile.has_address == False %}
                    class="disabled" data-toggle="tooltip"
                    title="Please enter your address to filter on Missions that affect you"
                {% else %}
                    class="disabled" data-toggle="tooltip"
                    title="Please signup to filter Missions"
                {% endif %}>
                    <a id="me" {% if request.user.is_authenticated and request_profile.has_address %}class="js-affect-filter"{% endif %} href="#">
                        You
                    </a>
                </li>
                <li {% if request.user.is_authenticated == False %}
                    class="disabled" data-toggle="tooltip"
                    title="Please signup to filter Missions"{% endif %}>
                    <a id="friends" {% if request.user.is_authenticated %}class="js-affect-filter"{% endif %} href="#">
                        Following
                    </a>
                </li>
                <li class="active">
                    <a id="everyone" class="js-affect-filter" href="#">
                        Everyone
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% if request_profile.has_address == False %}
        <div class="block">
            <div class="block-title">Filter Missions On What Affects You</div>
            <div class="block-content">
                {% include "address_form.html" %}
                <button id="js-continue-btn" type="button" class="btn btn-primary sb_btn sb_btn_fill">Submit</button>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block live %}
        <div id="js-mission-list">
            <div id="js-mission-container"></div>
            <div class="loader"></div>
        </div>
{% endblock %}

{% block intercom %}
   Intercom('trackEvent', 'mission-list');
{% endblock %}