{% extends "mission/base.html" %}
{% load staticfiles %}
{% block title %}{% if mission.title %} {{ mission.title }} {% else %} {{ mission.focus_name_formatted }} {% endif %}{% endblock %}

{% block live %}
<div class="block">
    {% if mission.is_editor or mission.is_moderator or request.user.username == quest.owner_username %}
        <div class="block-content block-holder-lg sb_markdown" id="epic-parent">
            {% autoescape off %}
                {% if mission.epic %}
                    {{ mission.epic }}
                {% else %}
                    <p>This is your Epic, the front page to your mission. This is a public page that
                        we recommend using to share your: </p>
                    <ul>
                        <li>Policies</li>
                        <li>Agenda</li>
                        <li>Vision</li>
                        <li>Advocacy Focus</li>
                    </ul>
                    <p>You can edit it in the <a href="{% url 'mission_edit_epic' mission.id mission.slug %}">settings</a>.</p>
                {% endif %}
            {% endautoescape %}
        </div>
    {% else %}
        {% if mission.active == True and quest.active == True %}
            <div class="block-content block-holder-lg sb_markdown" id="epic-parent">
                {% if mission.epic %}
                    {% autoescape off %}
                        {{ mission.epic }}
                    {% endautoescape %}
                {% else %}
                    {% if mission.title %} {{ mission.title }} {% else %} {{ mission.focus_name_formatted }} {% endif %}
                    has not completed their Epic yet. Check back soon for information relating to the Missions:
                    <ul>
                        <li>Policies</li>
                        <li>Agenda</li>
                        <li>Vision</li>
                    </ul>
                {% endif %}
            </div>
        {% else %}
            <h4 class="block-title center-title no-underline" style="margin-top:0;">{{ quest.title }}  is still setting up this Mission, check back soon!</h4>
        {% endif %}
    {% endif %}
</div>
{% endblock %}


{% block intercom %}
    {% if request.user.username == quest.owner_username %}
        Intercom('trackEvent', 'own-mission-page');
    {% else %}
        Intercom('trackEvent', 'visited-mission', {
            owner: '{{ quest.owner_username }}',
            title: '{% if mission.title %} {{ mission.title }} {% else %} {{ mission.focus_name_formatted }} {% endif %}',
            id: '{{ mission.object_uuid }}'
        });
    {% endif %}
{% endblock %}