{% if request.user.is_authenticated %}
    {% if request_profile.quest == None or request_profile.quest.account_type == "free" %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert"><i class="fa fa-close"></i></button>
                <h4>Celebrating The 2016 Election</h4>
                <p>Setup and Take a Mission Live Before November 8, 2016 to Get <b>12 Months Free</b> of Our Pro Plan!</p>
                {% comment %}
                <p>Pro Plan Includes:</p>
                <ul>
                    <li>Processing Fee of 5% + 30&cent per Donation</li>
                    <li>Unlimited Number of Missions</li>
                    <li>Free T-Shirt From <a href="http://shop.sagebrew.com">The Shop</a></li>
                </ul>
                {% endcomment %}
                <button class="btn btn-primary sb_btn js-quest-signup">Setup Mission
                </button>
        </div>
    {% endif %}
{% endif %}