{% load staticfiles %}
<div class="col-xs-12">
    <div class="col-lg-12 sb_wall">
        <div class="row">
            <div id="js-campaign_id" class="sb_hidden" data-current_user="{{ request.user.username }}" data-object_uuid="{{ id }}"></div>
            <div class="col-xs-4">
                <h3>Friends</h3>
                <div class="block sb_action_content_block sb_markdown_disabled" id="js-quest_helper_wrapper">
                </div>
            </div>
            <div class="col-xs-4">
                <h3>Editors</h3>
                <div class="block sb_action_content_block sb_markdown_disabled" id="js-editor_wrapper">
                </div>
            </div>
            <div class="col-xs-4">
                <h3>Admins</h3>
                <div class="block sb_action_content_block sb_markdown_disabled" id="js-accountant_wrapper">
                </div>
            </div>
        </div>
    </div>
</div>