{% load static %}
<div class="block sb_search_block">
    <div class="row">
       {% url "quest_saga" username=id as the_url %}
        <div class="col-xs-3 col-sm-2 col-md-3 col-lg-2">
            <div class="thumbnail sb_thumbnail_md sb_thumbnail_search">
                <a href="{{ the_url }}"><img src="{{ profile_pic }}"></a>
            </div>
        </div>
        <div class="col-xs-8">
            <h4 style="margin-top: 10px;"><a href="{{ the_url }}">{{ first_name }} {{ last_name }} has started a Quest{% if position_name %} for {{ position_name }} {% endif %} in your area!</a></h4>
        </div>
        <div class="col-xs-8">
            <h5 style="margin-top: 0;">Reputation: {{ reputation }}</h5>
        </div>
    </div>
</div>