<div class="row sb_goal_draggable" data-object_uuid="{{ id }}" style="padding-left: 15px; padding-right: 15px; padding-bottom: 15px">
    <div class="block sb_goal sb_provide_goal">
        <div class="block">
            <div class="row">
                <div class="col-xs-12">
                    <h6>{{ title }}</h6>
                    <div id="{{ id }}_monetary_requirement" class="col-xs-6">{{ monetary_requirement }}</div>
                    <div class="col-xs-6">{{ pledged_vote_requirement }}</div>
                    <p>{{ summary }}</p>
                    <p>{{ description }}</p>
                    <p>Total Required: <div id="{{ id }}_total_required">{{ total_required }}</div></p>
                </div>
            </div>
        </div>
    </div>
</div>