<div class="block sb_channel_block" id="goal_wrapper">
    <div class="block sb_action_content_block sb_goals_block">
        <div class="sb_header_bar">
            <h5>Goal</h5>
        </div>
        <p></p>
        <small>Pledges</small>
        <div class="progress sb_progress">
            <div class="progress-bar sb_progress_bar">
            </div>
        </div>
        <small>Donations</small>
        <div class="progress sb_progress">
            <div class="progress-bar sb_progress_bar">
            </div>
        </div>
    </div>
</div>
