<h5>Epic{% if is_editor or is_accountant %}<button class="btn btn-primary sb_btn_icon sb_btn_icon_green toggle_create_goal" id="edit_epic" ><span class="fa fa-edit"></span></button>{% endif %}</h5>
<div class="block sb_action_content_block ">
    <div id="epic-container" class="sb_markdown epic-area">
    {% if is_editor or is_accountant %}
        {% autoescape off %}
            {{ rendered_epic|default:'This is your Epic, we recommend using it to share your: <ul style="font-size: 14pt; "><li>Policies</li><li>Agenda</li><li>Vision</li></ul>' }}
        {% endautoescape %}
    {% elif public_official %}
        <h4>This user has not yet embarked upon their Sagebrew Quest.</h4>
    {% else %}
        <h4>This user has not activated their Quest yet, check back soon!</h4>
    {% endif %}

</div>

</div>
