@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "../../flat-ui/less/flat-ui-pro.less";
@import "../sb_core/sb_core_variables.less";
.sb_nav_container {
    background-color: @sb_green;
    border-bottom-style: solid;
    border-color: @sb_grey_dark;
    border-width: 2px;
    border-radius: 0;
    height: 53px;
    margin-left: @sb_main_margin_negative;
    margin-right: @sb_main_margin_negative;
}
.sb_nav_btn_row{
    background-color: @sb_green;
}
.sb_nav_content {
    margin-left: 25px;
}
#sb_nav_logo {
    color: @sb_off_white;
    text-align: left;
    margin-top: 8px;
    font-size: 25pt;
    padding-left: @sb_main_padding_positive;
}
.sb_nav_user{
    margin-top:@sb_main_margin_positive;
}
#sb_nav_user{
    font-size: @sb_body_text;
    color: @sb_off_white;
}
.sb_nav_form {
    margin-top: 1px;
}
.sb_btn_icon{
    background-color: transparent;
    color: @sb_grey;
      &:hover{
        color: @sb_dark_blue;
      }
}
.sb_nav_btn_group{
    margin-top: 5px;
    background-color: transparent;
}

.sb_btn_dropdown{
    background-color: @sb_green;
    color: @sb_dark_blue;
}
.open,
.dropdown-menu {
    margin-top: 5px !important;
    margin-right: @sb_main_margin_positive;
    opacity: 1;
    visibility: visible;
}
.sb_btn_2 {
    background-color: @sb_green;
    width: 40px;
}
.sb_nav_search{
    margin-top: 0px;
}
.sb_search_btn{
    background: @white;
    border: solid;
    border-width: 1px;
    border-color: @sb_grey;
    border-bottom-left: none;
}
#sb_search_input{
    width: 300px;
    border-color: @sb_grey;
    border-radius: 5px 0 0 5px;
    border-width: 1px;
    border-right: none;
    margin-right: -8px;
}
.sb_search_input_div{
    display: inline;
      &:hover{
        border-color: @sb_grey;
      }
      &:active{
        border-color: @sb_grey;
      }
}
#sb_nav_spy{
    color: @sb_grey;
      &:hover{
        color: @sb_green;
      }
      &:active{
        color: @sb_green;
      }
}
.sb_nav_dropdown_container {
    background-color: @white;
    width: 350px;
    border-top: solid;
    border-width: 2px;
    border-radius: 0 0 2px 2px;
    border-top-color: @sb_grey_dark;
}
.sb_nav_dropdown_container_menu {
    background-color: @sb_green_extra_light;
    border-top: solid;
    border-width: 2px;
    border-radius: 0 0 2px 2px;
    border-top-color: @sb_grey_dark;
}
.navbar-form.navbar-right:last-child {
    width: auto;
    padding-top: 6px;
}
.navbar-form .form-control {
    display: inline;
}
.sb_nav_content{
    width: 100%;
}
.sb_btn_see_all{
    background-color: @sb_off_white;
    color: #838c92;
    border-color: @sb_grey;
    border-top-style: solid;
    border-width: 1px;
    border-radius: 0;
    width: 100%;
    height: 40px;
    font-size: @sb_body_text;
      &:active{
        color: @sb_green;
      }
      &:hover{
        color: @sb_green;
      }
}

.sb_dropdown_label{
    margin-left: 0;
    padding-left: @sb_main_padding_positive;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    background-color: @sb_off_white;
    color: #838c92;
    font-size: @sb_body_text;
}
.sb_dropdown_content{
    height: 50px;
    max-height: 400px;
    margin-top: -5px;
    border-style: solid;
    border-width: 1px;
    border-color: @sb_grey;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: @sb_green_extra_light;
}
.sb_nav_input{
    border-width: 1px;
      &:active{
        border-color: @sb_grey;
    }
      &:hover{
        border-color: @sb_grey;
    }
}


