<div class="no-padding-left block tight additional-followers-wrapper">
    <a href="javascript:;" class="additional-comments additional-followers" data-page="{{ page }}">
        Show More ...
    </a>
</div>