<div class="no-padding-left block tight additional-following-wrapper">
    <a href="javascript:;" class="additional-comments additional-following" data-page="{{ page }}">
       Show More ...
    </a>
</div>
