@import "../sb_core/sb_core_variables";
.sb_post_content{
    margin-bottom: 30px;
    background-color: @sb_off_white;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: @sb_grey;
    border-radius: @sb_common_radius;
}
.sb_post_body{
    font-size: 12pt;
    padding: @sb_common_padding_positive;
    margin-left: @sb_common_margin_positive;
    margin-right: @sb_common_margin_positive;
    margin-bottom: @sb_common_margin_positive;
    hanging-punctuation: force-end;
    height-max: 600px;
    height: auto;
    width: auto;
    border-radius: @sb_common_radius;
    background-color: @sb_off_white;
    border-style: solid;
    border-width: 1px;
    border-color: @sb_green_light;
    word-wrap: break-word;
}
.sb_post_header{
    width: auto;
    background-color: @sb_off_white;
    border-radius: 5px 5px 0 0;
    padding: @sb_common_padding_positive;
}
.sb_post_header_info{
    font-size: @sb_body_text;
    margin-top: -12px;
    margin-left: 0;
    padding-left: 5px;
}
.sb_post_stats{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: @sb_common_padding_positive;
    padding-right: @sb_common_padding_positive;
    background-color: @sb_off_white;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: @sb_grey;
    border-radius: 0 0 0 0;
}
.sb_post_comments{
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: @sb_grey;
    padding-bottom: 5px;
}
#sb_text{
    height: 30px;
}
.sb_btn_profile_link{
    color: @sb_green;
    padding-left: 0;
    padding-bottom: @sb_common_padding_positive;
      &:hover{
        color: @sb_green;
        text-decoration: underline;
        text-decoration-color: @sb_green;
    }
}

.sb_post_data{
    margin-top: @sb_common_padding_negative;
    font-size: 11px;
    line-height: 10px;
}
.sb_icon_down_vote,
.sb_icon_up_vote{
   font-size: @sb_body_text;
}
.sb_vote_count{
   color: @sb_grey_dark;
   width:auto;
   height: 25px;
   padding: 5px 15px 5px 0px;
   font-size: @sb_body_text;
   background-color: transparent;
}
.sb_btn_vote_icon{
    color: @sb_grey;
    padding: 3px 3px 3px 3px;
    hieght: 30px;
    width: 30px;
    border: solid;
    border-width: 1px;
    border-color: transparent;
    border-radius: @sb_common_radius;
      &:hover{
        color: @sb_green;
        border-color: @sb_grey;
    }
}
#sb_vote_style {
    color:@sb_grey_dark;
    font-size: @sb_vote_text;
}