.sb_xs_thumbnail {
  height: 33px;
  width: 33px;
}
.sb_btn {
  height: 30px;
  background_color: #1ba39c;
}
.sb_icon {
  font-size: 21px;
}
.sb_dropdown_icon {
  color: #eaf0e8;
}
.sb_post_btn_dropdown {
  background: transparent;
  margin-top: -15px;
}
.sb_post_dropdown_menu {
  text-align: left;
  padding-left: 20px;
}
.sb_link {
  display: inline-block;
  color: #34495e;
}
.sb_link:hover {
  color: #1ba39c;
}
.sb_profile_post_enter {
  margin-left: -15px;
  margin-right: -15px;
}
.sb_post_container {
  background-color: #e0e7e1;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 15px;
}
.sb_post {
  max-height: 50px;
  max-width: 100%;
  padding-top: 10px;
  border-width: 1px;
  resize: none;
}
.sb_btn_post {
  width: 80px;
  height: 40px;
  background-color: #1ba39c;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sb_btn_post:hover {
  background-color: #00b8ac;
}
.sb_btn_post:active {
  background-color: #00b8ac;
}
.sb_photo {
  font-size: 30px;
}
.sb_photo:hover {
  color: #1ba39c;
}
.sb_photo:active {
  color: #1ba39c;
}
