@import "../sb_core/sb_core_variables.less";

.sb_profile_content {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}
.sb_profile_content_xs {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.sb_profile_container_top {
    background-color: @sb_grey_extra_light;
    width: 100%;
    height: 250px;
    border-radius:5px 5px 0 0;
    margin-top: 30px;
}
.sb_profile_container_top_div{
}
.sb_profile_container_left {
    background-color: transparent;
    height: auto;
    border-radius: 0 0 0 0 ;
    margin-left: @sb_common_margin_negative;
    margin-right: @sb_common_margin_negative;
    margin-bottom: 3px;
    padding-left: 0;
    padding-right: 35px;
    padding-bottom: @sb_common_padding_positive;
    padding-top: 0;
}
.sb_profile_btn_menu_container {
    background-color: @sb_grey_light;
    height: 45px;
    border-radius: 0 0 2px 2px;
    border-bottom: solid;
    border-width: 2px;
    border-bottom-color: @sb_green_medium;
    margin-bottom: @sb_common_margin_positive;
}
.sb_profile_menu_btn{
    background-color: @sb_grey_light;
    color: @sb_grey_dark;
    border-radius: 0 0 2px 2px;
    font-family: 'Lato', sans-serif;
    font-size: @sb_menu_text;
    height: 43px;
    padding-left: -1px;
      &:hover{
        background-color:@sb_grey_light;
        color: @sb_grey_dark;
      }
      &:active{
        background-color:@sb_grey_light;
        color: @sb_grey_dark;
      }
}
.sb_profile_btn_menu_group{
    margin-left: @sb_common_margin_negative;
    margin-bottom: 0;
}
.sb_profile_pic {
    border-color: @sb_grey_light;
    margin-left: @sb_common_margin_positive;
    margin-top: 65px;
    width: 200px;
    height:200px;
    border-radius: 2px;
    position: absolute;
    padding:0;
}
.sb_profile_name{
    color: @sb_grey_dark;
    font-size: @sb_header_text;
}
.sb_temp_rep_badge{
    height: 30px;
    margin-bottom: 5px;
    padding-left: 10px;
 }
.sb_profile_reputation{
    border-radius: 2px;
    padding-left: @sb_common_padding_positive;
    padding-top: 5px;
    margin-top: 0;
    height: 70px;
    background-color: @sb_grey_extra_light;
    color: @sb_grey_dark;
    font-size: @sb_header_text;
    border-bottom: solid;
    border-bottom-color: @sb_green_medium;
    border-width: 2px;
}
