.sb_xs_thumbnail {
  height: 33px;
  width: 33px;
}
.sb_btn {
  height: 30px;
  background_color: #1ba39c;
}
.sb_icon {
  font-size: 21px;
}
.sb_dropdown_icon {
  color: #eaf0e8;
}
.sb_post_btn_dropdown {
  background: transparent;
  margin-top: -15px;
}
.sb_post_dropdown_menu {
  text-align: left;
  padding-left: 20px;
}
.sb_link {
  display: inline-block;
  color: #34495e;
}
.sb_link:hover {
  color: #1ba39c;
}
.sb_profile_reputation_content {
  margin-bottom: 15px;
  margin-left: -15px;
  margin-right: 15px;
}
.sb_profile_container_about_block {
  background-color: #e0e7e1;
  padding-bottom: 30px;
  padding-top: 20px;
  border-radius: 0 0 2px 2px;
  margin-left: 0;
  margin-bottom: 15px;
  min-height: 250px;
}
.sb_profile_container_suggestions {
  background-color: #e0e7e1;
  height: auto;
  min-height: 385px;
  margin-bottom: 15px;
  padding-bottom: 30px;
  border-radius: 2px;
  margin-rigth: -15px;
  margin-right: -15px;
}
.sb_profile_content_header {
  border-radius: 2px;
  padding-left: 15px;
  padding-top: 5px;
  margin-top: 0;
  height: 45px;
  background-color: #e5ece6;
  color: #838c92;
  font-size: 21px;
  border-bottom: solid;
  border-bottom-color: #d0e9c6;
  border-width: 2px;
  width: 100%;
  text-align: left;
}
.sb_btn_about_header:focus,
.sb_btn_about_header:active,
.sb_btn_about_header:hover {
  color: #838c92;
}
.sb_profile_about {
  margin-bottom: 15px;
  margin-left: -15px;
  margin-right: -15px;
}
.sb_btn_about_section {
  background-color: transparent;
  color: #838c92;
  font-size: 21px;
  font: "Lato", Helvetica, Arial, sans-serif;
}
.sb_user {
  color: #1ba39c;
}
.sb_profile_content_reputation_header {
  margin-left: -15px;
  margin-right: 15px;
}
.sb_about_info_title {
  color: #838c92;
  font-size: 17px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  padding-left: 30px;
  padding-top: 7px;
  padding-bottom: 0px;
  margin-top: 0;
}
.sb_about_info_title_line_two {
  color: #838c92;
  font-size: 17px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  padding-left: 30px;
  padding-bottom: 0px;
  margin-top: -20px;
}
.sb_about_info {
  color: #838c92;
  font-size: 21px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  padding-left: 30px;
  margin-bottom: -15px;
}
.sb_about_info_school {
  color: #838c92;
  font-size: 21px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  padding-left: 30px;
  margin-bottom: -10px;
}
.sb_about_pic {
  margin-bottom: 20px;
}
