<div class="sb_profile_content_header">
    <span class="sb_user fui-user"></span>&nbsp;&nbsp;&nbsp;Overview
</div>
<div class="sb_profile_container_about_block">
    <div class="sb_about_content row-fluid">
        <div class="col-lg-6">
            <p class="sb_about_info">
                Detroit, MI
            </p>
            <p class="sb_about_info_title">
                current city
            </p>
            <p class="sb_about_info">
                Web Designer at Sagebrew
            </p>
            <p class="sb_about_info_title">
                current employment
            </p>
            <p class="sb_about_info">
                College for Creative Studies
            </p>
            <p class="sb_about_info_title">
                education
            </p>
        </div>
        <div class="col-lg-6">
            <p class="sb_about_info">
                Male
            </p>
            <p class="sb_about_info_title">
                gender
            </p>
        </div>
    </div>
</div>