<div class="sb_profile_about">
        <div class="sb_about_header">
    <span class="sb_user fui-user"></span>&nbsp;&nbsp;&nbsp;Overview
    </div>
    <div class="sb_profile_container_about_block">

    </div>
    <div class="sb_about_header">
    <span class="sb_user glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;&nbsp;Basic Information
    </div>
    <div class="sb_profile_container_about_block">

    </div>
    <div class="sb_about_header">
    <span class="sb_user glyphicon glyphicon-tower"></span>&nbsp;&nbsp;&nbsp;Education
    </div>
    <div class="sb_profile_container_about_block">

    </div>
    <div class="sb_about_header">
    <span class="sb_user glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;&nbsp;Experience
    </div>
    <div class="sb_profile_container_about_block">

    </div>
</div>