{% load staticfiles %}
<div class="sb_profile_content_header">
<span class="sb_user glyphicon glyphicon-tower"></span>&nbsp;&nbsp;&nbsp;Education
</div>
<div class="sb_profile_container_about_block">
   <div class="sb_about_content row-fluid">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <p class="sb_about_info_school">
                College for Creative Studies
            </p>
            <p class="sb_about_info_title">
                BFA Advertising Design
            </p>
            <p class="sb_about_info_title_line_two">
                2013 - 2017 (est)
            </p>
            <p class="sb_about_info_school">
                Thornapple kellogg H.S.
            </p>
            <p class="sb_about_info_title">
                High School Diploma
            </p>
            <p class="sb_about_info_title_line_two">
                2009 - 2013
            </p>
        </div>
        <div class="col-lg-3 col-md-3 ">
            <div class="hidden-sm hidden-xs sb_about_pic sb_thumbnail_md thumbnail" align="left">
                <img src="{% static 'images/ccs.jpg' %}">
            </div>
            <div class="hidden-sm hidden-xs  sb_about_pic sb_thumbnail_md thumbnail">
                <img src="{% static 'images/tklogo.jpg' %}">
            </div>
        </div>
    </div>
</div>