{% load staticfiles %}
<h4>Experience</h4>
<div class="sb_profile_rep_container" style="padding-top: 10px;">
    <div class="row-fluid block_vertical">
        <div class="col-lg-6 vertical_nav">
                Web Designer
                Sagebrew
                May 2014 - Present
                Crew Member
                Little Caesars
                2011-2013
        </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="sb_about_pic sb_thumbnail_md thumbnail" align="left">
                <img src="{% static 'images/ccs.jpg' %}">
            </div>
            <div class="sb_about_pic sb_thumbnail_md thumbnail">
                <img src="{% static 'images/tklogo.jpg' %}">
            </div>
        </div>
    </div>
</div>