<div class="sb_profile_content_header">
    <span class="sb_user glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;&nbsp;Basic Information
</div>
<div class="sb_profile_container_about_block">
    <div class="sb_about_content row-fluid">
        <div class="col-lg-6">
            <p class="sb_about_info">
                Middleville, MI
            </p>
            <p class="sb_about_info_title">
                Home Town
            </p>
            <p class="sb_about_info">
                Detroit, MI
            </p>
            <p class="sb_about_info_title">
                Current City
            </p>
            <p class="sb_about_info">
                Single
            </p>
            <p class="sb_about_info_title">
                Marital Status
            </p>
        </div>
        <div class="col-lg-6">
            <p class="sb_about_info">
                Male
            </p>
            <p class="sb_about_info_title">
                Gender
            </p>
            <p class="sb_about_info">
                05/19/1995
            </p>
            <p class="sb_about_info_title">
                Date of Birth
            </p>
        </div>
    </div>
</div>