{%  load staticfiles %}
<div class="sb_profile_content_header">
    <span class="sb_user glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;&nbsp;Experience
</div>
<div class="sb_profile_container_about_block">
       <div class="sb_about_content row-fluid">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12"                                                                                                                                                                                                                                                                                                 ">
            <p class="sb_about_info">
                Web Designer
            </p>
            <p class="sb_about_info_title">
                Sagebrew
            </p>
            <p class="sb_about_info_title_line_two">
                May 2014 - Present
            </p>
            <p class="sb_about_info">
                Crew Member
            </p>
            <p class="sb_about_info_title">
                Little Caesars
            </p>
            <p class="sb_about_info_title_line_two">
                2011-2013
            </p>
        </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="sb_about_pic sb_thumbnail_md thumbnail" align="left">
                <img src="{% static 'images/ccs.jpg' %}">
            </div>
            <div class="sb_about_pic sb_thumbnail_md thumbnail">
                <img src="{% static 'images/tklogo.jpg' %}">
            </div>
        </div>
    </div>
</div>