{% load staticfiles %}
<h4>Education</h4>
<div class="sb_profile_rep_container" style="padding-top: 10px;">
    <div class="row-fluid block_vertical">
        <div class="col-lg-6 vertical_nav">
            <div>
                College for Creative Studies
                BFA Advertising Design
                2013 - 2017 (est)
                Thornapple kellogg H.S.
                High School Diploma
                2009 - 2013
            </div>
        </div>
        <div class="col-lg-3 col-md-3 ">
            <div class="hidden-sm hidden-xs thumbnail" align="left">
                <img src="{% static 'images/ccs.jpg' %}">
            </div>
            <div class="hidden-sm hidden-xs thumbnail">
                <img src="{% static 'images/tklogo.jpg' %}">
            </div>
        </div>
    </div>
</div>