<div class="sb_profile_content_header">
    <span class="sb_user glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;&nbsp;Basic Information
</div>
<div class="sb_profile_container_about_block">
    <div class="sb_about_content row-fluid">
        <div class="col-lg-6">
            <p class="sb_about_info">
                Middleville, MI
            </p>
            <p class="sb_about_info_title">
                home town
            </p>
            <p class="sb_about_info">
                Detroit, MI
            </p>
            <p class="sb_about_info_title">
                current city
            </p>
            <p class="sb_about_info">
                Single
            </p>
            <p class="sb_about_info_title">
                Marital Status
            </p>
        </div>
        <div class="col-lg-6">
            <p class="sb_about_info">
                Male
            </p>
            <p class="sb_about_info_title">
                gender
            </p>
            <p class="sb_about_info">
                05/19/1995
            </p>
            <p class="sb_about_info_title">
                date of birth
            </p>
        </div>
    </div>
</div>