.sb_questions_list_container{
    margin-top: 30px;
    background-color: #e0e7e1;
    height: auto;
    min-height: 575px;
    margin-left: -30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom: 30px;
    border-radius: 2px;
}
.sb_questions_side_container{
    background-color: #e0e7e1;
    margin-top: 30px;
    border-radius: 2px;
    height: auto;
    min-height: 575px;
}
.sb_questions_content {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.sb_question_header{
    color: #838c92;
    font-size: 15pt;
}
.sb_question_inner_border{
    border-style: solid;
    border-width: 1px;
    border-color: #b7bfbb;
    border-radius: 5px;
    min-height: 550px;
    padding: 15px;
}
.sb_btn_question_cat{
    background-color: transparent;
    border-color: transparent;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
}
.sb_btn_question_cat:active,
.sb_btn_question_cat:hover,
.sb_btn_question_cat:focus{
    border-color: #1ba39c;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}
.sb_cat{
    color: #1ba39c;
    font-size: 15pt;
}
.sb_questions_cat_container{
    border: solid;
    border-color: #b7bfbb;
    border-width: 1px;
    border-radius: 5px;
    height: 100px;
    margin-bottom: 15px;
}
.sb_question_input{
    margin-bottom: 30px;
}



.sb_question_content_block {
    background-color: #f9fff7;
    border-style: solid;
    border-width: 1px;
    border-color: #b7bfbb;
    border-radius: 5px;
    height: 170px;
    padding: 15px;
}
.sb_question_block_title{
    font-size: 18pt;
    font: bold;
    font-weight: bold;
    padding-left: 15px;
}
.sb_question_block_content{
    font-size: 15pt;
    padding-left: 15px;
    padding-right: 15px;
}
.sb_question_block_data{
    font-size: 11px;
line-height: 10px;
}
.sb_btn_question_vote{
    background-color: transparent;
    color: #b7bfbb;
    padding: 0;
}
.sb_btn_question_vote:active,
.sb_btn_question_vote:hover,
.sb_btn_question_vote:focus{
    color:#1ba39c;
}
.sb_question_vote_icon{
    font-size: 30pt;
}
.sb_vote_number{
    font-size: 20px;
    font-weight: bold;
}
