{%  load staticfiles %}
<div class="sb_profile_content_header">
    <span class="sb_user glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;&nbsp;Experience
</div>
<div class="sb_profile_container_about_block">
       <div class="sb_about_content row-fluid">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12"                                                                                                                                                                                                                                                                                                 ">

        </div>

    </div>
</div>