{% extends "base.html" %}

{% block body_class %}{{ block.super }} layout-hero-two-col-right{% endblock %}

{% block content %}

    <div class="row"><div class="col-md-12"><div class="hero">
        {% block hero %}
        {% endblock %}
    </div></div></div>
    <div class="row"><div class="col-md-12"><div class="secondary-nav">
        {% block secondary_nav %}
        {% endblock %}
    </div></div></div>
    <div class="row">

        <div class="col-md-9"><div class="live">
            {% block live %}
            {% endblock %}
        </div></div>

        <div class="col-md-3"><div class="sidebar-right">
            {% block sidebar_right %}
            {% endblock %}
        </div></div>
    </div>

{% endblock %}