{% extends "base.html" %}

{% block body_class %}{{ block.super }} layout-hero-two-col-left{% endblock %}

{% block content %}

    <div class="row"><div class="col-md-12"><div class="hero">
        {% block hero %}
        {% endblock %}
    </div></div></div>

    <div class="row">

        <div class="col-md-3"><div class="sidbar-left">
            {% block sidebar_left %}
            {% endblock %}
        </div></div>

        <div class="col-md-9"><div class="live">
            {% block live %}
            {% endblock %}
        </div></div>
    </div>

{% endblock %}