{% load staticfiles %}
{% load humanize %}
<div class="block sb_friend_block js-donation-block-{{ id }}">
    <div class="row">
        <div class="col-xs-4 col-sm-3">
            <div class="thumbnail sb_thumbnail_lg">
                {% static 'images/sage_coffee_grey-01.png' as default_profile %}
                <a href="{% url "quest" quest.owner_username %}"><img src="{{ quest.profile_pic|default_if_none:default_profile }}"></a>
            </div>
        </div>
        <div class="col-xs-8 col-sm-9">
            <h3>${% widthratio amount 100 1 as money %}{{ money|intcomma }} to {{ quest.first_name }} {{ quest.last_name }}'s Mission: <a href="{% url 'mission' mission.id mission.slug %}">{% if mission.focus_on_type == "position" %}{% if mission.focused_on.full_name %}{{ mission.focused_on.full_name|title }}{% else %}{{ mission.focus_name_formatted }}{% endif %}{% else %}{% if mission.title %}{{ mission.title|title }}{% else %} {{ mission.focus_name_formatted|title }} {% endif %}{% endif %}</a></h3>
            {% if not completed %}
                <button class="btn btn-primary sb_btn sb_btn_fill sb_btn_remove js-cancel-donation" data-object_uuid="{{ id }}">Cancel Pledge</button>
            {% else %}
                <p>This donation has been processed already and cannot be cancelled.</p>
            {% endif %}
        </div>
    </div>
</div>
