{% extends "layout/hero-two-col-left.html" %}
{% load staticfiles %}
{% block title %}{{ page_user.first_name }} {{ page_user.last_name }}{% endblock title %}

{% block sidebar_left %}
    {% include "settings/user_settings_nav.html" %}
    {% include "settings/quest_settings_nav.html" %}
{% endblock %}

{% block live %}
    <div class="block">
        <h3 class="block-title">
            Personal Information
        </h3>
        <div class="block-content">
            <form id="account-info">
                <div class="form-group has-success">
                    <label for="first-name">First Name</label>
                    <input type="text"
                           id="first-name"
                           name="first_name"
                           placeholder="First Name"
                           value="{{ request.user.first_name }}" class="form-control">
                </div>

                <div class="form-group  has-success">
                    <label for="last_name">Last Name</label>
                    <input type="text"
                           id="last-name"
                           name="last_name"
                           placeholder="Last Name"
                           value="{{ request.user.last_name }}" class="form-control">
                </div>
                <div class="form-group  has-success">
                    <label for="email">Email</label>
                    <input type="email"
                           id="email"
                           name="email"
                           placeholder="Email"
                           value="{{ request.user.email }}" class="form-control">
                </div>
            </form>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <button class="btn btn-primary sb_btn sb_btn_fill"
                            id="submit_settings">
                        Update Personal Info
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <h3 class="block-title">
            Address
        </h3>
        <div class="block-content">
            <div id="address-id" data-id="{{ address.id }}"></div>
            {% include "address_form.html" %}
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <button id="js-continue-btn" type="button" class="btn btn-primary sb_btn sb_btn_fill">Update Address</button>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <h3 class="block-title">
            Change Password
        </h3>
        <div class="block-content">
            <form id="password-form">
                <label for="">Change Password</label>
                <div class="form-group password1">
                     <input type="password"
                       id="password"
                       name="password"
                       placeholder="Old Password"
                       class="form-control input-lg">
                </div>
                 <div class="form-group password2">
                <input type="password"
                       id="new-password"
                       name="new_password"
                       placeholder="New Password (Must be at least 8 characters long)"
                       class="form-control input-lg">
                </div>
                <div class="form-group password3">
                <input type="password"
                       id="password2"
                       name="password2"
                       placeholder="Confirm Password"
                       class="form-control input-lg">
                </div>
            </form>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <button class="btn btn-primary sb_btn sb_btn_fill"
                            id="js-new-password">
                        Update Password
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% comment %}
    {% include "partials/image_upload_block.html" with title_text="Profile Picture" save_button_text="Save Profile Picture" %}
    {% include "partials/image_upload_block.html" with title_text="Wallpaper Picture" save_button_text="Save Wallpaper Picture" upload_form="js-image-wallpaper-upload-form" file_input_button="js-file-wallpaper-input-button" file_input='js-file-wallpaper-input' image_preview='js-wallpaper-image-preview' submit_button="js-submit-wallpaper-picture" %}
    {% endcomment %}
{% endblock %}
