{% extends "layout/two-col-left.html" %}
{% load staticfiles %}
{% block title %}{{ page_user.first_name }} {{ page_user.last_name }}{% endblock title %}

{% block sidebar_left %}
    {% include "settings/user_settings_nav.html" %}
{% endblock %}

{% block live %}
    <div class="block">
        <h3 class="block-title">
            Personal Information
        </h3>
        <div class="block-content">
            <form id="account-info">
                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input type="text"
                           id="first-name"
                           name="first_name"
                           placeholder="First Name"
                           value="{{ request.user.first_name }}" class="form-control">
                </div>

                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text"
                           id="last-name"
                           name="last_name"
                           placeholder="Last Name"
                           value="{{ request.user.last_name }}" class="form-control">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text"
                           id="email"
                           name="email"
                           placeholder="Email"
                           value="{{ request.user.email }}" class="form-control">
                </div>
            </form>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <button class="btn btn-primary sb_btn sb_btn_fill"
                            id="submit_settings">
                        Update Personal Info
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <h3 class="block-title">
            Address
        </h3>
        <div class="block-content">
            <form id="address">
                <div class="form-group">
                    <label for="street">Address Line 1*</label>
                    <input type="text"
                           id="street"
                           name="street"
                           value="{{ address.street }}"
                           placeholder="Address Line 1*"
                           class="form-control"
                           autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="street-additional">Address Line 2</label>
                    <input type="text"
                           id="street-additional"
                           name="street_additional"
                           value="{{ address.street_additional|default_if_none:'' }}"
                           placeholder="Apt, Building, etc"
                           class="form-control"
                           autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="city">City*</label>
                    <input type="text"
                           id="city"
                           name="city"
                           value="{{ address.city }}"
                           placeholder="City*"
                           class="form-control"
                           autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="">State*</label>
                    <input type="text"
                           id="state"
                           name="state"
                           value="{{ address.state }}"
                           placeholder="State*"
                           class="form-control"
                           autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="">Zip Code*</label>
                    <input type="text"
                           id="postal-code"
                           name="postal_code"
                           value="{{ address.postal_code }}"
                           placeholder="Zip Code*"
                           class="form-control"
                           autocomplete="off">
                </div>
            </form>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <button id="js-continue-btn" type="submit" class="btn btn-primary sb_btn sb_btn_fill">Update Address</button>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <h3 class="block-title">
            Change Password
        </h3>
        <div class="block-content">
            <form id="password">
                <label for="">Change Password</label>
                <div class="form-group password1">
                     <input type="password"
                       id="old_password"
                       name="old_password"
                       placeholder="Old Password"
                       class="form-control input-lg">
                </div>
                 <div class="form-group password2">
                <input type="password"
                       id="new_password"
                       name="new_password"
                       placeholder="New Password"
                       class="form-control input-lg">
                </div>
                <div class="form-group password3">
                <input type="password"
                       id="new_password_confirm"
                       name="new_password_confirm"
                       placeholder="Confirm Password"
                       class="form-control input-lg">
                </div>
            </form>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <button class="btn btn-primary sb_btn sb_btn_fill"
                            id="submit_settings">
                        Update Password
                    </button>
                </div>
            </div>
        </div>
        <div hidden id="address_data_block" data-address_validation={{ address_key }}></div>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="//d79i1fxsrar4t.cloudfront.net/jquery.liveaddress/2.4/jquery.liveaddress.min.js"></script>
    <script src="{% static 'js/settings_validator.js' %}"></script>
    <script src="{% static 'js/address_validation.js' %}"></script>
    <script src="{% static 'js/submit_settings.js' %}"></script>
{% endblock scripts %}