.sb_profile_container_wall {
    background-color: #eaf0e8;
    height: auto;
    margin-top: 10px;
    min-height: 400px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 30px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 30px;
    border-radius: 0 0 0 0;
}
