<div>
    <h2 style="text-align: center;">Share your platform, goals, and mission with the world.</h2>
    <p style="text-align: center;">
        <i>Try highlighting this text</i>
    </p>
    <p>
        <br>
    </p>
    <p>
        <br>
    </p>
    <p>
        <br>
    </p>
    <p>
        <br>
    </p>
    <p style="text-align: center;">
        Find ways to improve your Epic through the
        <a href="http://blog.sagebrew.com/blog/2016/5/28/intro-to-an-epic" target="_blank"> Sagebrew Blog</a>
    </p>
</div>