<div class="col-xs-12 col-md-4 col-lg-3">
    <div class="small-block">
        <div class="js-hover-overlay-activate">
            <div class="block no-margin-bottom">
                <div class="image-wrapper font-image">
                    <i class="fa fa-check-circle" style="color: #397a69" aria-hidden="true"></i>
                </div>
                <div class="block-title center-title no-underline
                            centered-content micro-title">
                    Mission Wallpaper
                </div>
                <div class="sb-overlay">
                    <div class="sb-overlay-text">
                        <div class="block-content">
                            <a href="#">
                                Replace the default image with one that
                                reflects your Mission.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-4 col-lg-3">
    <div class="sb-profile-not-friend-element no-margin-top-bottom">
        <div class="js-hover-overlay-activate">
            <div class="block no-margin-bottom">
                <div class="image-wrapper font-image">
                    <i class="fa fa-font" aria-hidden="true"></i>
                </div>
                <div class="block-title center-title no-underline
                            centered-content micro-title">
                    Mission About
                </div>
                <div class="sb-overlay">
                    <div class="sb-overlay-text">
                        <div class="block-content">
                            <a href="#">
                                Summarize your mission in a couple words.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-4 col-lg-3">
    <div class="sb-profile-not-friend-element no-margin-top-bottom">
        <div class="js-hover-overlay-activate">
            <div class="block no-margin-bottom">
                <div class="image-wrapper font-image">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </div>
                <div class="block-title center-title no-underline
                            centered-content micro-title">
                    Quest Wallpaper
                </div>
                <div class="sb-overlay">
                    <div class="sb-overlay-text">
                        <div class="block-content" hidden>
                            <a href="#">
                                Replace the default image with one
                                that reflects yourself or your organization.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %}
<div class="col-xs-12 col-md-4 col-lg-3">
    <div class="sb-profile-not-friend-element no-margin-top-bottom">
        <div class="js-hover-overlay-activate">
            <div class="block no-margin-bottom">
                <div class="image-wrapper font-image">
                    <i class="fa fa-font" aria-hidden="true"></i>
                </div>
                <div class="block-title center-title no-underline
                            centered-content micro-title">
                    Quest About
                </div>
                 <div class="sb-overlay">
                    <div class="sb-overlay-text">
                        <div class="block-content">
                            <a href="#">
                                Describe yourself or your organization.
                            </a>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
{% endcomment %}