.sb_background {
    background-size: cover;
    position: inherit;
    margin-top:0px;
    width: 100%;
    padding-right: 0px;
}
.sb_deco_line{
    border-bottom: solid 5px;
    border-color: #26424a;
    margin-bottom: 35px;
}
.sb_deco_line_2{
    border-bottom: solid 5px;
    border-color: #26424a;
    margin-bottom: 40px;
}
.sb_row_main {
    width: 80%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    background-color: #e4eee5;
    position: inherit;
    float: left;
}
.sb_registration_title {
    color: #26424a;
    font-size: 2em;
    margin-left: 60px;
}
.sb_registration_title_2 {
    color: #26424a;
    font-size: 2em;
}
.sb_registration_title_3 {
    color: #26424a;
    font-size: 2em;
    padding-left: 15px;
    margin-bottom: 30px;
}
.sb_registration_label {
    margin-left: 5em;
    margin-right: -15px;
    font-weight: bold;
}
.sb_registration_label_2 {
    margin-left: 4em;
    font-weight: bold;
}
.sb_registration_label_xs {
    margin-left: 1em;
    margin-top: 10px;
}
.sb_profile_info_1 {
    color: #26424a;
    font-size: 2em;
    margin-left: 8%;
    margin-bottom: 30px;
}
.sb_profile_info_2 {
    color: #26424a;
    font-size: 2em;
    margin-bottom: 30px;
}
.sb_registration_steps {
    color: #26424a;
    font-size: 1em;
    margin-right: 0%;
    margin-top: 45px;
    margin-left: 1%;
    padding-right: 30px;
}
.sb_address_info{
    margin-top: 10px;
}
.sb_content_box {
    background-color: #26424a;
    color: #e4eee5;
    font-weight: bolder;
    border-radius: 10px;
    position: absolute;
    float: right;
    width: 200px;
    height: 200px;
    margin-left: 775px;
    margin-bottom: 80px;
}
.sb_content_box_2 {
    background-color: #26424a;
    color: #e4eee5;
    font-weight: bolder;
    border-radius: 10px;
    position: absolute;
    float: right;
    width: 200px;
    height: 200px;
    margin-left: 775px;
    margin-bottom: 80px;
    margin-right: -215px;
    margin-top: 365px;
}
.sb_content_box_3 {
    margin-left: 800px;
    margin-top: 170px;
    margin-bottom: 200px;
}
.sb_content_box_test{
    background-color: #26424a;
    color: #e4eee5;
    font-weight: bolder;
    border-radius: 10px;
    position: absolute;
    float: right;
    width: 200px;
    height: 200px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 775px;
    margin-right: 0px;
    margin-bottom: 280px;
}
.sb_content {
    margin-top: 30px;
    width: 190px;
    height: 190px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-left-width: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.sb_row_continue {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}
.sb_btn_continue {
    background-color: #1ba39c;
    width: 100%;
    height: 100%;
}
.sb_row_continue_2 {
    margin-bottom: 30px;
}
#sb_interests_form {
    margin-right: 10%;
}
.sb_registration_footer {
    position: static;
    margin-bottom: 0;
    width: 100%;
    clear: both;
}
.sb_error {
    color: #e74c3c;
    margin-left: 2em;
}
.sb_all_check {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}
.sb_interests {
    padding-left: 8%;
}
.second-icon {
    background-color: #1ba39c;
}
.sb_interests_search {
    margin-left: 15px;
    margin-righ: 15px;
}
#sb_content_block {
    background-color: #26424a;
}
.sb_modal {
    margin-top: 2%;
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom: 2%;
    border-radius:7px 7px 7px 7px ;
}
#sb_picture_header {
    color: #e4eee5;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.sb_modal_body {
    background-color: #e4eee5 ;
    border-radius:0 0 7px 7px ;
}
.sb_modal_header {
    background-color: #1ba39c;
    border-bottom-width: 5pt;
    border-bottom-color: #26424a;
}
/* profile picture selection */
.sb_picture {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
}
.sb_btn_skip {
    background-color: #1ba39c;
    width: 150px;
    height: 100%;
    margin-bottom: 105px;
}
.sb_select_image {
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.sb_btn_select {
    width: 150px;
}
.sb_btn_remove {
    width: 150px;
}
.sb_btn_change {
    width: 150px;
}
.sb_btn_save {
    width: 150px;
}
.sb_btn_upload {
    margin-top: 20px;
    background-color: #1ba39c;
    width: 265px;
    height: 100%;
    margin-bottom: 15px;
}
.sb_photo_thumbnail {
    border-color: #ffffff;
    background-color: #ffffff;
    padding: 0;
    max-height: 300px;
    border-radius: 6px;
    margin-left: 5%;
    margin-right: 5%;
}
.fui-cross-inverted .sb_modal_close {
    text-emphasis-color:#e4eee5;
    margin-left: 98%;
    padding-right: 15px;
}
.fui-checkbox-unchecked {
    color: #ffffff;
}
.input-group {
    width: auto;
}
.form-group {
    width: 100%;
}
.btn-group {
    color: #1ba39c;
}
#id_state {
    height: 100%;
}