{% extends "contribution_mission_selector.html" %}
{% load staticfiles %}
{% block title %}
{% endblock title %}

{% block description %}
{% endblock description %}

{% block keywords %}
{% endblock keywords %}

{% block secondary_nav %}
    <div class="block block-type-title">
        <div class="block-content clearfix">
            <h1>Donate</h1>
            <ul class="nav nav-pills">
                <li {% if "/donate/choose/" in request.path %}class="active" {% endif %}>
                    <a href="{% if "/donate/choose/" in request.path %}#{% else %}{% url "donation_choose" quest.owner_username %}{% endif %}">
                        Choose
                    </a>
                </li>
                <li {% if "/donate/choose/" in request.path %}class="disabled" {% elif "/donate/amount/" in request.path %}class="active" {% endif %}>
                    <a href="{% if "donate/choose/" in request.path or "/donate/amount/" in request.path %}#{% else %}{% url "mission_donation_amount" selected.id selected.slug %}{% endif %}">
                        Amount
                    </a>
                </li>
                {% if request.user.is_authenticated == False %}
                    <li {% if "donate/choose/" in request.path or "/donate/amount/" in request.path %}class="disabled" {% elif "/donate/name/" in request.path %}class="active" {% endif %}>
                        <a href="{% if "donate/choose/" in request.path or "/donate/name/" in request.path or "/donate/amount/" in request.path %}#{% else %}{% url "mission_donation_name" selected.id selected.slug %}{% endif %}">
                            Sign Up
                        </a>
                    </li>
                {% endif %}
                <li {% if "donate/choose/" in request.path or "/donate/amount" in request.path or "/donate/name/" in request.path %}class="disabled" {% elif "/donate/payment/" in request.path %}class="active" {% endif %}>
                    <a href="{% if "donate/choose/" in request.path or "/donate/payment/" in request.path or "/donate/amount/" in request.path or "/donate/name/" in request.path %}#{% else %}{% url "mission_donation_payment" selected.id selected.slug %}{% endif %}">
                        Payment
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

