{% extends "quest_base.html" %}
{% load staticfiles %}
{% block title %}
    {{ first_name }} {{ last_name }}'s Quest Updates
{% endblock title %}
{% block description %}
    <meta name="description" content="Find all the latest updates on
        events, campaign information, and more from {{ first_name }} {{ last_name }}'s Quest.">
{% endblock description %}
{% block keywords %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}">
    {% endif %}
    <meta name="author" content="{{ first_name }} {{ last_name }}">
{% endblock keywords %}
{% block live %}
<div class="block">
    <div class="block-content">
        <ul class="nav nav-pills">
            <li><a href="{% url 'mission' mission.id slug %}">Saga</a></li>
            <li><a href="#" class="active">Updates</a></li>
        </ul>
    </div>
</div>
<div class="block">
    <h3 class="block-title">
        Updates
        {% if is_editor or is_accountant %}
            <button class="btn btn-primary pull-right btn-sm" id="add_update"><span class="fa fa-plus"></span> Add new update</button>
        {% endif %}
    </h3>

    <div class="block-content" id="update-container">
        {% if not updates %}
            <div id="epic-container" class="sb_markdown epic-area">
                {% if is_editor or is_accountant %}
                    <h1>Updates</h1>
                    Updates are distributed to anyone that
                    has donated to or pledged to vote for your
                    Quest and will show up on their Newsfeed. We
                    recommend using them to share:
                    <ul style="font-size: 14pt; ">
                        <li>Progress regarding your Quest and Goals</li>
                        <li>Information you'd like to bring attention to</li>
                        <li>Upcoming events related to your Quest</li>
                    </ul>
                {% else %}
                    <h4>This Quest has no updates.</h4>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock  %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/get_updates.js' %}"></script>
{% endblock scripts %}

{% block intercom %}
    Intercom('trackEvent', 'visited-own-updates-page');
{% endblock %}

