{% load humanize %}
{% load static %}
<div class="sb-quest-block-exists">
    <div class="row">
        <div class="col-xs-11 col-sm-10 col-lg-11">
            <h1 style="font-size:32px;">
                {{ title|linebreaksbr }}
            </h1>
        </div>
        <div class="col-sm-1 hidden-xs">
            {% if request.user.username == request_profile.username %}
                <button class="btn dropdown-toggle sb_btn_icon" type="button"
                        data-toggle="dropdown" style="margin-top: 20px;">
                    <span class="fa fa-cog sb_btn_icon_green_hover"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right sb_post_dropdown"
                    role="menu" aria-labelledby="dropdown-menu">
                    <li role="presentation"><a href="{% url 'mission_edit_update' about.id about.slug id %}">Edit</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 col-sm-3 sb-update-timing">
            {% if created != last_edited_on %}
                <small><i class="fa fa-calendar"></i> {{ last_edited_on|naturaltime }} · Edited</small>
            {% else %}
                <small><i class="fa fa-calendar"></i> {{ created|naturaltime }}</small>
            {% endif %}
        </div>
    </div>
    <div class="sb-update-wrapper">
        <div class="markdown-body no-border">
            <div class="sb_markdown" id="sb_content_{{ object_uuid }}">
                {% autoescape off %}
                    {{ html_content }}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>