{% load humanize %}
{% load static %}
<div class="sb_question_header">
    <div class="row">
        <div class="col-xs-11 col-sm-10 col-lg-11">
            <h1 style="font-size:32px;">
                {{ title|linebreaksbr }}
            </h1>
        </div>
        <div class="col-sm-1 hidden-xs">

                {% if request.user.username == profile.username %}
                    <button class="btn dropdown-toggle sb_btn_icon" type="button"
                            data-toggle="dropdown">
                        <span class="fa fa-cog sb_btn_icon_green_hover"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right sb_post_dropdown"
                        role="menu" aria-labelledby="dropdown-menu">
                        <li role="presentation"><a class="sb_post_dropdown_menu edit-update"
                                                   data-object_uuid="{{ object_uuid }}"
                                                   type="submit">Edit</a>
                        </li>
                    </ul>
                {% endif %}

        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 col-sm-3">
            <small><i class="fa fa-calendar"></i> {{ last_edited_on|naturaltime }}</small>
        </div>
        <div class="col-xs-7 col-sm-9">
            {% if goals %}<small> <i class="fa fa-bullseye"></i> {{ goals }} </small>{% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 sb_post_wrapper">
            <div class="sb_question_body" id="sb_question_{{ object_uuid }}">
                <div class="sb_markdown" id="sb_content_{{ object_uuid }}">
                    {% autoescape off %}
                        {{ html_content }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </div>
</div>