{% extends "email_templates/email_base.html" %}


{% block email_content %}

        <h1 style="color:#1ba39c;
                   font-size: 25pt">Sagebrew</h1>
        <div style="background-color: #e0e7e1;
                    padding: 1px 0px 1px 0px;
                    margin-top: 0">
        </div>
        <div style="text-decoration: underline;
                    text-decoration-style: solid;
                    text-decoration-color: #1ba39c;"></div>
        <h2 style="color: #1ba39c;
                   font-size: 15pt">Hi {{ full_name }}!</h2>
        <p style="font-size: 12px;
                  color: #000000;
                  margin-bottom: 25px;
                  line-height: 15px">
            Welcome to Sagebrew, the world's most comprehensive hub for talking about and instigating change!
            You're about to embark on the epic quest to become more involved in social and political change in your community,
            but first, click the link below to verify your registration so we know you're real and not a robot!
        </p>
        <div align="center">
        <a style="font-size: 15pt;
                  background-color: #1ba39c;
                  color: #ffffff;
                  border-radius: 5px;
                  padding: 5px 30px 5px 30px;
                  text-decoration: none"
           href="{{ verification_url }}">
            Complete Your Registration
        </a>
        </div>
        <p style="font-size: 12px;
                  color: #000000;
                  margin-top: 25px;
                  line-height: 15px">
            After you've completed your registration, check out the "Getting Started" informational video,
            explore your new profile page, connect with your friends, and peruse the sight at your leisure!
            Within no time you'll be a regular brewer, creating and answering questions to help solve real world issues.
            Work your way up the ladder, gaining reputation through active participation, and you may even get the idea
            you'd like to run a political campaign as to play a larger role in your community. The possibilities are endless.
        </p>
        <p style="font-size: 12px;
                  color: #000000">
            With much sincerity,
        </p>
        <p style="font-size: 12px;
                  color: #000000;
                  margin-bottom: 25px">
            The Sagebrew Team
        </p>
        <div style="background-color: #e0e7e1;
                    padding: 1px 0px 1px 0px">
        </div>
        <div style="margin-top: 25px"
             class="row-fluid">
            <p style="font-size: 11px;
                      color: #838c92;
                      line-height: 10px">
               You are receiving this email because you have registered at Sagebrew and agreed to receive emails
               from us regarding new features, events, and special offers about Sagebrew services.
            </p>
            <h1 style="color:#838c92;
                   font-size: 15pt">Sagebrew</h1>
        </div>
{% endblock email_content %}