{% extends "email_templates/email_base.html" %}
{% load humanize %}

{% block email_content %}
        <h2 style="color: #1ba39c;
                   font-size: 15pt">Sagebrew Donation Release</h2>
        <p style="font-size: 12px;
                  color: #000000;
                  margin-bottom: 25px;
                  line-height: 15px">
        </p>
        <p style="font-size: 12px;
                  color: #000000;
                  margin-top: 25px;
                  line-height: 15px">
            Your donation towards {{ first_name }} {{ last_name }}'s quest has been released today! Your card has been charged ${% widthratio amount 100 1 as money %}{{ money|intcomma }}.
        </p>
        <p style="font-size: 12px;
                  color: #000000">
            With much sincerity,
        </p>
        <p style="font-size: 12px;
                  color: #000000;
                  margin-bottom: 25px">
            The Sagebrew Team
        </p>
        <div style="background-color: #e0e7e1;
                    padding: 1px 0px 1px 0px">
        </div>
        <div style="margin-top: 25px"
             class="row-fluid">
            <p style="font-size: 11px;
                      color: #838c92;
                      line-height: 10px">
               You are receiving this email because you have registered at Sagebrew and agreed to receive emails
               from us regarding new features, events, and special offers about Sagebrew services.
            </p>
            <h1 style="color:#838c92;
                   font-size: 15pt">Sagebrew</h1>
        </div>
{% endblock email_content %}