{% extends "email_templates/email_base.html" %}


{% block email_content %}
        <h2 style="color: #397a69;
                   font-size: 15pt">Thank you for your support!</h2>
        <p style="font-size: 12px;
                  color: #000000;
                  margin-bottom: 25px;
                  line-height: 15px">
        </p>
        <p style="font-size: 12px;
                  color: #000000;
                  margin-top: 25px;
                  line-height: 15px">
            Thanks for your contribution to Sagebrew! It's because of you that we're able to continue to provide the best quality service possible for the Sagebrew community. Your donation will help fund research, refinement, and development of new features, as well as maintaining the efficiency and relevance of Sagebrew.

            We're constantly thinking of new ways to improve the site, empower you, and make the experience seamless for the community, and again, without you this would not be possible.

            From the bottom of our hearts we humbly appreciate you.
        </p>
        <p style="font-size: 12px;
                  color: #000000">
            With much sincerity,
        </p>
        <p style="font-size: 12px;
                  color: #000000;
                  margin-bottom: 25px">
            The Sagebrew Team
        </p>
        <div style="background-color: #e0e7e1;
                    padding: 1px 0px 1px 0px">
        </div>
        <div style="margin-top: 25px"
             class="row-fluid">
            <p style="font-size: 11px;
                      color: #838c92;
                      line-height: 10px">
               You are receiving this email because you have registered at Sagebrew and agreed to receive emails
               from us regarding new features, events, and special offers about Sagebrew services.
            </p>
            <h1 style="color:#838c92;
                   font-size: 15pt">Sagebrew</h1>
        </div>
{% endblock email_content %}