{% extends "email_templates/email_base.html" %}


{% block email_content %}
        <h2 style="color: #1ba39c;
                   font-size: 15pt">Congratulations!</h2>
        <p style="font-size: 12px;
                  color: #000000;
                  margin-bottom: 25px;
                  line-height: 15px">
            You've been selected to participate in Sagebrew's beta phase! This is very exciting for us and we're glad to have you on board. The question on everyone's mind?
        </p>

        <h2 style="color: #1ba39c;
                   font-size: 15pt">What is Sagebrew?</h2>
        <p style="font-size: 12px;
                  color: #000000;
                  margin-top: 25px;
                  line-height: 15px">
            Sagebrew is the world's most comprehensive hub for instigating change!
            Users will be able to ask Questions and provide Solutions in our public Conversation Area,
            as well as connect with their friends and family in private conversations.
            Users will also have the ability to connect directly with their representatives
            in federal office, donate to candidates of their choice during election season,
            and take a more active  role in their community.  It's truly an amazing world we
            live in, with the ability to connect with others across the  world instantaneously,
            and it's time we had a place to share  all of our ideas and solve problems together.
            That place is Sagebrew.
        </p>
        <div align="center">
        <a style="font-size: 15pt;
                  background-color: #1ba39c;
                  color: #ffffff;
                  border-radius: 5px;
                  padding: 5px 30px 5px 30px;
                  text-decoration: none"
           href="{{ signup_url }}">
            Register Here
        </a>
        </div>
        <p style="font-size: 12px;
                  color: #000000">
            With much sincerity,
        </p>
        <p style="font-size: 12px;
                  color: #000000;
                  margin-bottom: 25px">
            The Sagebrew Team
        </p>
        <div style="background-color: #e0e7e1;
                    padding: 1px 0px 1px 0px">
        </div>
        <div style="margin-top: 25px"
             class="row-fluid">
            <p style="font-size: 11px;
                      color: #838c92;
                      line-height: 10px">
               You are receiving this email because you have registered at Sagebrew and agreed to receive emails
               from us regarding new features, events, and special offers about Sagebrew services.
            </p>
            <h1 style="color:#838c92;
                   font-size: 15pt">Sagebrew</h1>
        </div>
{% endblock email_content %}