{% extends "email_templates/email_base.html" %}


{% block email_content %}
        <h2 style="color: #1ba39c;
                   font-size: 15pt">Password Reset</h2>
        <p style="font-size: 12px;
                  color: #000000;
                  margin-bottom: 25px;
                  line-height: 15px">
            We received a password reset request from this email!
        </p>

        <p style="font-size: 12px;
                  color: #000000;
                  margin-top: 25px;
                  line-height: 15px">
            Please click this button to reset your password.
        </p>
        <div align="center">
        <a style="font-size: 15pt;
                  background-color: #1ba39c;
                  color: #ffffff;
                  border-radius: 5px;
                  padding: 5px 30px 5px 30px;
                  text-decoration: none"
           href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
            Reset my Password!
        </a>
        </div>
        <p style="font-size: 12px;
                  color: #000000">
            With much sincerity,
        </p>
        <p style="font-size: 12px;
                  color: #000000;
                  margin-bottom: 25px">
            The Sagebrew Team
        </p>
        <div style="background-color: #e0e7e1;
                    padding: 1px 0px 1px 0px">
        </div>
        <div style="margin-top: 25px"
             class="row-fluid">
            <p style="font-size: 11px;
                      color: #838c92;
                      line-height: 10px">
               You are receiving this email because we received a password reset request from your account. If this was not you please contact <a href="mailto:support@sagebrew.com">support</a>.
            </p>
            <h1 style="color:#838c92;
                   font-size: 15pt">Sagebrew</h1>
        </div>
{% endblock email_content %}