{% extends "email_templates/email_base.html" %}


{% block email_content %}
        <p>
            Hi {{ first_name }}, <br />
            We received a password reset request from this email. If the request
            came from you please click the link below. Otherwise, please respond to
            this email and let us know you did not make the reset request.
        </p>
        <div align="center">
        <a href="https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
            Reset my Password
        </a>
        </div>
        <p>
            <br />
            <br />
            Sincerely,
        </p>
        <p>
            The Sagebrew Team
        </p>
{% endblock email_content %}