{% extends "email_templates/email_base.html" %}
{% block email_content %}
        <p>
            Hi {{ first_name }}, <br />
            Welcome to Sagebrew; The Political Network. Your hub for creating change.
            You've made the first step towards becoming more involved in your
            community, but we'll need you to click the link below to
            confirm your email and verify you're a real person and not a robot.
        </p>
        <div align="center">
            <a href="{{ verification_url }}">Confirm Your Email</a>
            <br/>
            <br/>
        </div>
        <p>After that you'll be able to: </p>
        <ul>
            <li>Start missions to gain funds, volunteers, and endorsements for a political
                campaign or advocacy movement</li>
            <li>Start conversations to find solutions to key issues you care about</li>
            <li>Donate money to missions you want to succeed</li>
            <li>Volunteer time and expertise to missions near you</li>
            <li>Endorse missions that align with your views</li>
        </ul>
{% endblock email_content %}