<div class="row">
    <div class="col-md-6 col-lg-4">
        <button id="js-continue-btn" type="button" class="btn btn-primary sb_btn sb_btn_fill">Continue</button>
    </div>
    <div class="col-md-6 col-lg-4">
        <a href="{{back_url}}" class="btn btn-primary sb_btn sb_btn_fill sb_btn_remove"
        >Cancel</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <small>By continuing, you agree to our <a href="{{terms_and_conditions_url}}">Terms of Service</a>.</small>
    </div>
</div>