<div class="sb_post_container" id="sb_post_container">
    <form id="postInputForm">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 post_input_class">
            <textarea class="form-control sb_post"
                  id="post_input_id"
                  name="post_input"
                  placeholder="Set a Spark . . ."></textarea>
        </div>
    </div>
    <div class="row" id="sb_post_menu" style="display: none">
         <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-lg-offset-9 col-md-offset-9">
            <button id="sb_btn_post"
               class='btn btn-lg btn-primary sb_btn_fill post-action'
               data-current_user="{{ current_user.username }}"
               data-page_user="{{ page_user.username }}">Spark
            </button>
         </div>
    </div>
    </form>

</div>