<div class="sb_post_container" id="sb_post_container">
    <form id="postInputForm">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 post_input_class">

            <textarea class="form-control sb_post"
                  id="post_input_id"
                  name="post_input"
                  placeholder="Set a Spark on {% if page_user.username == request.user.username %}your{% else %}{{ page_user.first_name }}'s{% endif %} wall. . ."></textarea>
            <div class="post-image-preview-container sb_hidden" id="js-image-wrapper"></div>
        </div>
    </div>
    <div class="row" id="sb_post_menu" style="display: none">
        <div class="col-xs-4">
            <i class="fa fa-user-secret spark-box"></i>Private
        </div>
        <div class="col-xs-1">
            <button class="btn btn-lg btn-primary sb_btn_fill sb-btn-file post-image-btn">
                <span class="fa fa-camera fa-inverse post-image-span"></span><input id="upload_image" type="file" name="img">
            </button>
        </div>
        <div class="col-xs-7">
            <button id="sb_btn_post"
               class='btn btn-lg btn-primary sb_btn_fill post-action'
               data-current_user="{{ request.user.username }}"
               data-page_user="{{ page_user.username }}">Spark
            </button>
        </div>
    </div>
    </form>
</div>