{% comment %}
    This template is rendered into html through a view and then returned as a
    result to an endpoint that is called requesting existing posts and their
    comments. This template is not meant for normal inclusion in a initial
    render template.
{% endcomment %}
<div class="object_uuid" data-object_uuid="{{ object_uuid }}"style="display: None"></div>
<div class="sb_post_header">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
            <div class="sb_thumbnail_xs thumbnail">
                <img src="{{ profile_pic|default_if_none:'' }}"/>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-4 col-xs-7">
           <div class="sb_post_header_info" style="margin-top: -8px;">
               <div class="row-fluid" style="margin-bottom: -10px;">
                   <a href="{% url 'profile_page' parent_object %}">
                       {{ post_owner }}
                   </a>
               </div>
               <div class="row-fluid">
                    <small>{{ last_edited_on|date:"D d M Y" }}</small>
                    {% comment %}
                        date/time/location(or disctrict)
                    {%  endcomment %}
               </div>
           </div>
        </div>
        {% if parent_object == user.username %}
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 col-lg-offset-4 col-md-offset-4 col-sm-offset-5 col-xs-offset-3">
                <button class="btn dropdown-toggle sb_btn_icon" type="button"
                        data-toggle="dropdown">
                    <span class="sb_dropdown_icon fui-gear"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right sb_post_dropdown"
                    role="menu" aria-labelledby="dropdown-menu">
                    {% if parent_object == user.username %}
                        <li role="presentation"><a class="sb_post_dropdown_menu show_edit_post_class"
                                                   data-uuid="{{ object_uuid }}"
                                                   type="submit">Edit Post</a>
                        </li>
                        <li role="presentation" class="sb_divider"></li>

                        <li role="presentation"> <a class='sb_post_dropdown_menu delete_object-action'
                                                   data-current_pleb="{{ current_user }}"
                                                   data-object_uuid="{{ object_uuid }}"
                                                   data-object_type="01bb301a-644f-11e4-9ad9-080027242395">Delete Post</a>
                        </li>
                    {% else %}
                        {% if debug %}
                            <li role="presentation"><a class='sb_post_dropdown_menu flag_object-action'
                                                       data-flag_reason='spam'
                                                       data-current_user="{{ current_user }}"
                                                       data-object_uuid="{{ object_uuid }}"
                                                       data-object_type="01bb301a-644f-11e4-9ad9-080027242395">Flag as Spam
                                                       </a>
                            </li>
                            <li role="presentation" class="sb_divider"></li>
                            <li role="presentation"><a class='sb_post_dropdown_menu flag_object-action'
                                                       data-flag_reason='explicit'
                                                       data-current_user="{{ current_user }}"
                                                       data-object_uuid="{{ object_uuid }}"
                                                       data-object_type="01bb301a-644f-11e4-9ad9-080027242395">Flag as Explicit
                                                       </a>
                            </li>
                            <li role="presentation" class="sb_divider"></li>
                            <li role="presentation"><a class='sb_post_dropdown_menu flag_object-action'
                                                       data-flag_reason='other'
                                                       data-current_user="{{ current_user }}"
                                                       data-object_uuid="{{ object_uuid }}"
                                                       data-object_type="01bb301a-644f-11e4-9ad9-080027242395">Flag as Other
                                                       </a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="row">
            <div class="col-lg-1 hidden-md hidden-sm hidden-xs sb_vote_wrapper">
                <div class="row vote_wrapper" id="vote_{{ object_uuid }}">
                    <div class="col-lg-12 sb_up_vote_wrapper">
                        <div style="display: none" class="sb_upvote_count{{ object_uuid }}">{{ up_vote_number }}</div>
                        {% if vote_type == "false" or vote_type == None %}
                            <button class="btn sb_btn sb_btn_vote vote_up vote_object-action"
                               data-object_uuid="{{ object_uuid }}"
                               data-vote_type=true
                               data-current_pleb="{{ current_pleb }}"
                               data-object_type="{{ object_type }}">
                                <span class="fui-triangle-up"></span>
                            </button>
                        {% else %}
                            <button class="btn sb_btn sb_btn_vote vote_up vote_up_active vote_object-action"
                               data-object_uuid="{{ object_uuid }}"
                               data-vote_type=true
                               data-current_pleb="{{ current_pleb }}"
                               data-object_type="{{ object_type }}">
                                <span class="fui-triangle-up"></span>
                            </button>
                        {% endif %}
                    </div >
                    {% if object_vote_count|length_is:"1" %}
                        <div class="col-lg-12 col-lg-offset-2 vote_count vote_count{{ object_uuid }}" style="margin-left: 16px;">
                    {% elif object_vote_count|length_is:"2" %}
                        <div class="col-lg-12 col-lg-offset-2 vote_count vote_count{{ object_uuid }}">
                    {% elif object_vote_count|length_is:"3" %}
                        <div class="col-lg-12 col-lg-offset-1 vote_count vote_count{{ object_uuid }}">
                    {% elif object_vote_count|length_is:"4" %}
                        <div class="col-lg-12 col-lg-offset-0 vote_count vote_count{{ object_uuid }}">
                    {% else %}
                        <div class="col-lg-12 col-lg-offset-0 vote_count vote_count{{ object_uuid }}">
                    {% endif %}
                        <h6>
                            {{ object_vote_count }}
                        </h6>
                    </div>
                    <div class="col-lg-12 col-md-12 sb_down_vote_wrapper">
                        {% if vote_type == "true" or vote_type == None %}
                            <button class="btn sb_btn sb_btn_vote vote_down vote_object-action"
                               data-object_uuid="{{ object_uuid }}"
                               data-vote_type=false
                               data-current_pleb="{{ current_pleb.username }}"
                               data-object_type="{{ object_type }}">
                                <span class="fui-triangle-down"></span>
                            </button>
                        {% else %}
                            <button class="btn sb_btn sb_btn_vote vote_down vote_down_active vote_object-action"
                               data-object_uuid="{{ object_uuid }}"
                               data-vote_type=false
                               data-current_pleb="{{ current_pleb.username }}"
                               data-object_type="{{ object_type }}">
                                <span class="fui-triangle-down"></span>
                            </button>
                        {% endif %}
                        <div style="display: none" class="sb_downvote_count{{ object_uuid }}">{{ down_vote_number }}</div>
                    </div>
                </div>
            </div>
        <div class="col-lg-10 col-md-11 col-sm-11 col-xs-11 sb_post_wrapper">
            <div class="sb_post_body" id="sb_content_{{ object_uuid }}">
                {{ content|linebreaksbr }}
            </div>
            <div id="edit_container_{{ object_uuid }}" style="display: none">
                <div class="row-fluid">
                    <textarea class="form-control edit_post_input_class"
                              id="{{ object_uuid }}"
                              name="edit_post_input"
                              rows="1">{{ content }}</textarea>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-8 col-md-offset-8 col-sm-offset-8">
                        <button class='btn btn-block btn-primary sb_btn_fill edit_object-action'
                           id="edit_post_button_id"
                           data-object_type="01bb301a-644f-11e4-9ad9-080027242395"
                           data-parent_object="{{ parent_object }}"
                           data-object_uuid="{{ object_uuid }}"
                           data-created="{{ created }}">Edit Post</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sb_comments_container_{{ object_uuid }}">
        {% include "sb_comments.html" %}
    </div>
    {% comment %}
        This area is for inputing a new comment. The include is needed for population of existing comments.
    {% endcomment %}
    <div class="row">
        <form id="commentSubmitForm">
        <div class="input-group sb_comment">
            <textarea class="input-group form-control sb_comment_input"
                      id="post_comment_on_{{ object_uuid }}"
                      rows="2"
                      name="comment_content"
                      placeholder="Write your comment..."></textarea>
            <a class="btn input-group-btn sb_btn_comment_icon comment-action"
               data-object_uuid="{{ object_uuid }}"
               data-object_type="01bb301a-644f-11e4-9ad9-080027242395"><span class="fui-new"></span></a>
        </div>
        </form>
    </div>
</div>
