<div class="btn-group"
     align="left">
    <button class="btn dropdown-toggle sb_post_btn_dropdown"
            type="button"
            data-toggle="dropdown">
    <span class="sb_dropdown_icon fui-gear"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right sb_post_dropdown"
        role="menu" aria-labelledby="dropdown-menu">
         <li role="presentation"><a class="sb_post_dropdown_menu btn show_edit_post_class"
                                   data-uuid="{{ object_uuid }}"
                                   type="submit">Edit Post</a>
        </li>
        <li role="presentation" class="sb_divider divider"></li>
        <li role="presentation"><a class='sb_post_dropdown_menu btn flag_object-action'
                                   data-flag_reason='spam'
                                   data-current_user="{{ current_user }}"
                                   data-object_uuid="{{ object_uuid }}"
                                   data-object_type="01bb301a-644f-11e4-9ad9-080027242395">flag as spam
                                   </a>
        </li>
        <li role="presentation" class="sb_divider divider"></li>
        <li role="presentation"><a class='sb_post_dropdown_menu btn flag_object-action'
                                   data-flag_reason='explicit'
                                   data-current_user="{{ current_user }}"
                                   data-object_uuid="{{ object_uuid }}"
                                   data-object_type="01bb301a-644f-11e4-9ad9-080027242395">flag as explicit
                                   </a>
        </li>
        <li role="presentation" class="sb_divider divider"></li>
        <li role="presentation"><a class='sb_post_dropdown_menu btn flag_object-action'
                                   data-flag_reason='other'
                                   data-current_user="{{ current_user }}"
                                   data-object_uuid="{{ object_uuid }}"
                                   data-object_type="01bb301a-644f-11e4-9ad9-080027242395">flag as other
                                   </a>
        </li>
        {% if post_owner_email == current_user %}
        <li role="presentation" class="sb_divider divider"></li>
        <li role="presentation"> <a class='sb_post_dropdown_menu btn delete_object-action'
                                   data-current_pleb="{{ current_user }}"
                                   data-object_uuid="{{ object_uuid }}"
                                   data-object_type="01bb301a-644f-11e4-9ad9-080027242395">Delete Post</a>
        </li>
        {% endif %}
    </ul>
</div>
