<div>{{ post.content }} | Upvotes={{ post.up_vote_number }} |
    Downvotes={{ post.down_vote_number }} | Last
    Edited: {{ post.last_edited_on }} | Posted
    By: {{ post.post_owner }}</div>
<textarea class="form-control" id="post_comment_on_{{ post.object_uuid }}"
          rows="2" placeholder="Write your comment..."></textarea>
<a class='btn btn-primary comment-action'
   data-object_uuid="{{ post.object_uuid }}"
   data-current_pleb="{{ current_user }}"
   data-object_type="01bb301a-644f-11e4-9ad9-080027242395">Attach
    Comment</a>
{% if post.post_owner_email == current_user %}
    <a class="btn btn-primary show_edit_post_class"
       data-uuid="{{ post.object_uuid }}" type="submit">Edit Post</a>
    <div id="divid_{{ post.object_uuid }}" style="display:none">
        <textarea class="form-control edit_post_input_class"
                  id="{{ post.object_uuid }}" name="edit_post_input" rows="1"
                  placeholder="Edit your post..."></textarea>
        <a class='btn btn-primary edit_object-action'
           id="edit_post_button_id"
           data-object_type="01bb301a-644f-11e4-9ad9-080027242395"
           data-current_pleb="{{ current_user }}"
           data-object_uuid="{{ post.object_uuid }}">Submit</a>
    </div>
    <a class='btn btn-primary delete_post-action'
       data-pleb="{{ current_user }}" data-post_uuid="{{ post.object_uuid }}">Delete
        this Post and Comments</a>
{% endif %}
<a class='btn btn-primary vote-action' data-vote_type=True
   data-pleb="{{ current_user }}" data-post_uuid="{{ post.object_uuid }}">Upvote
    Post</a>
<a class='btn btn-primary vote-action' data-vote_type=False
   data-pleb="{{ current_user }}" data-post_uuid="{{ post.object_uuid }}">Downvote
    Post</a>
<a class='btn btn-primary vote-action' data-vote_type='up'
   data-pleb="{{ current_user }}" data-post_uuid="{{ post.object_uuid }}">Flag
    Post</a>
<a class='btn btn-primary vote-action' data-vote_type='up'
   data-pleb="{{ current_user }}" data-post_uuid="{{ post.object_uuid }}">Reference
    Post</a>

{% for comment in post.comments %}
    {% include "single_comments.html" %}
{% endfor %}