{% extends "registration_base.html" %}
{% load staticfiles %}
{% block title %}Representative{% endblock %}
{% block content %}
    <div id="rep_id" data-rep_id="{{ rep_id }}" style="display: none"></div>
    <div>{{ full }}</div>
    <div>Policy</div>
    <ul id="policy_list">
    {% for policy in policies %}
        {% include "policy_detail.html" %}
    {% endfor %}
    </ul>
    {% if request.user.username == username %}
    <div id="policy_added_form"></div>
    {% block policy %}
        <button class="btn btn-primary add_policy">Add Policy</button>
    {% endblock %}
    {% endif %}

    <div>Experiences</div>
    <ul class="experience_list">
    {% for experience in experiences %}
        {% include "experience_detail.html" %}
    {% endfor %}
    </ul>
    <div id="experience_added_form"></div>
    {% if request.user.username == username %}
    {% block resume %}
        <button class="btn btn-primary add_experience">Add Experience</button>
    {% endblock %}
    {% endif %}

    <div>Agenda</div>
    {{ agenda }}
    {% if request.user.username == username %}
    {% block agenda %}
        {% for field in agenda_form %}
            {{ field }}
        {% endfor %}
    {% endblock %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/sb_utils.js' %}"></script>
    <script src="{% static 'js/add_policy.js' %}"></script>
    <script src="{% static 'js/add_experience.js' %}"></script>
{% endblock scripts %}