{% extends "registration_base.html" %}
{% load staticfiles %}
{% block title %}Representative{% endblock %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'css/vendor/dropzone.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div id="myId" class="dropzone"></div>
    <input class="btn btn-primary" id="add" value="Upload">
    <button class="btn btn-primary upload_images">Upload Images</button>
    <div id="rep_id" data-rep_id="{{ rep_id }}" style="display: none"></div>
    <div>{{ full }}</div>
    <div id="bio_added_form"></div>
    <div id="bio_wrapper">{{ bio }}</div>
    {% if request.user.username == username %}
        <button class="btn btn-primary add_bio">Add Bio</button>
    {% endif %}
    <div>Policy</div>
    <ul id="policy_list">
    </ul>
    {% if request.user.username == username %}
    <div id="policy_added_form"></div>
    {% block policy %}
        <button class="btn btn-primary add_policy">Add Policy</button>
    {% endblock %}
    {% endif %}

    <div>Experiences</div>
    <ul id="experience_list">
    </ul>
    <div id="experience_added_form"></div>
    {% if request.user.username == username %}
    {% block resume %}
        <button class="btn btn-primary add_experience">Add Experience</button>
    {% endblock %}
    {% endif %}
    <div>Education</div>
    <ul id="education_list">

    </ul>
    <div id="education_added_form"></div>
    {% if request.user.username == username %}
        <button class="btn btn-primary add_education">Add Education</button>
    {% endif %}
    <div>Goals</div>
    <ul id="goal_list"></ul>
    <div id="goal_added_form"></div>
    {% if request.user.username == username %}
        <button class="btn btn-primary add_goal">Add Goal</button>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/sb_utils.js' %}"></script>
    <script src="{% static 'js/add_policy.js' %}"></script>
    <script src="{% static 'js/add_experience.js' %}"></script>
    <script src="{% static 'js/add_education.js' %}"></script>
    <script src="{% static 'js/add_goal.js' %}"></script>
    <script src="{% static 'js/query_rep_info.js' %}"></script>
    <script src="{% static 'js/add_bio.js' %}"></script>
    <script src="{% static 'js/vendor/dropzone.min.js' %}"></script>
    <script src="{% static 'js/get_dropzone.js' %}"></script>
    <script type="text/javascript">
        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone('div#myId', {url: "/upload/images/", autoProcessQueue: false});
        $('#add').on('click', function(event){
            event.preventDefault();
            var files = myDropzone.files;
            var myFormData = new FormData();

            $.each(files, function(i, j) {
                myFormData.append('myFile'+i, j);
            });
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    ajax_security(xhr, settings)
                }
            });
            $.ajax({
                xhrFields: {withCredentials: true},
                type: "POST",
                url: "/upload/images/",
                contentType: false,
                processData: false,
                dataType: "json",
                data: myFormData,
                success: function (data) {
                    $(".dropzone").remove();
                }
            });
        });
    </script>

{% endblock scripts %}