{% extends "registration_base.html" %}
{% load staticfiles %}
{% block title %}Representative{% endblock %}
{% block content %}
    <div id="rep_id" data-rep_id="{{ rep_id }}" style="display: none"></div>
    <div>{{ full }}</div>
    <div>Policy</div>
    <ul>
    {% for policy in policies %}
        <li>{{ policy.category }}</li><ul><li>{{ policy.description }}</li></ul>
    {% endfor %}
    </ul>
    {% if request.user.username == username %}
    {% block policy %}
        <input type="button" value="Add Policy" class="add_policy">
    {% endblock %}
    {% endif %}

    <div>Experiences</div>
    <ul>
    {% for experience in experiences %}
        <li>
        {{ experience.title }}
        {{ experience.start_date }}
        {{ experience.end_date }}
        {{ experience.company }}
        {{ experience.location }}
        {{ experience.description }}
        </li>
    {% endfor %}
    </ul>
    <div id="experience_added_form"></div>
    {% if request.user.username == username %}
    {% block resume %}
        <button class="btn btn-primary add_experience">Add Experience</button>
    {% endblock %}
    {% endif %}

    <div>Agenda</div>
    {{ agenda }}
    {% if request.user.username == username %}
    {% block agenda %}
        {% for field in agenda_form %}
            {{ field }}
        {% endfor %}
    {% endblock %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/sb_utils.js' %}"></script>
    <script src="{% static 'js/add_policy.js' %}"></script>
    <script src="{% static 'js/add_experience.js' %}"></script>
{% endblock scripts %}