{% if quest.active == False and request.user.username == quest.owner_username %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert"><i class="fa fa-close"></i></button>
            <h4>Your quest is not currently active!</h4>
            <p>You must complete your quest setup before taking it live.</p>
            <button class="btn btn-primary sb_btn"
                    data-toggle="modal"
                    data-target="#liveModal">Take Quest Live
            </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="liveModal" tabindex="-1" role="dialog"
         aria-labelledby="authModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Take it live!</h4>
                </div>
                <div class="modal-body">
                    <p>By continuing you are beginning your Sagebrew Quest! After it is live you
                        will be able to start collecting donations from your supporters.</p>

                    <p>You <b>must</b> have a bank account set up, we will prompt you to set
                        this up if you haven't already. Also, if you're on a
                        paid plan you will also need a credit card on file.</p>
                </div>
                <div class="modal-footer">
                    <div class="col-md-6 col-md-offset-3">
                        <button type="button"
                                id="take-live"
                                class="btn btn-primary sb_btn" style="width: 100%;"
                                data-dismiss="modal">Continue
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elif quest.active and request.user.username == quest.owner_username and "missions" in request.path and not mission.active %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert"><i class="fa fa-close"></i></button>
            <h4>Your mission is not currently active!</h4>
            <p>It's up to you when you want to take it live.</p>
            <button class="btn btn-primary sb_btn"
                    data-toggle="modal"
                    data-target="#liveModal">Take Mission Live
            </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="liveModal" tabindex="-1" role="dialog"
         aria-labelledby="authModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Take it live!</h4>
                </div>
                <div class="modal-body">
                    <p>Continuing will make this Mission visible to the public.
                        After it is live you will be able
                        to start collecting donations from your supporters.</p>
                </div>
                <div class="modal-footer">
                    <div class="col-md-6 col-md-offset-3">
                        <button type="button"
                                id="take_live"
                                class="btn btn-primary sb_btn" style="width: 100%;"
                                data-dismiss="modal">Continue
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}