<div class="block">
    <div class="block-content">
        <a href="{% url 'quest_saga' request.user %}" class="btn btn-primary btn-block">View Quest</a>
    </div>
</div>

<div class="block">
    <h3 class="block-title">
        Setup Progress
    </h3>
    <div class="block-content">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
          <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
          <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
          <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
        </ul>
    </div>
</div>

<div class="block">
    <h3 class="block-title">
        Quest Status
    </h3>
    <div class="block-content">
        {% if campaign.active %}
            Your quest is currently active.
        {% else %}
            Quest is currently inactive.
        {% endif %}
    </div>
</div>


