<div class="block">
    <div class="block-content">
        <a class="btn btn-primary btn-block">View Quest</a>
    </div>
</div>

<div class="block">
    <h3 class="block-title">
        Setup Progress
    </h3>
    <div class="block-content">
        Add setup task list here...
    </div>
</div>

<div class="block">
    <h3 class="block-title">
        Quest Status
    </h3>
    <div class="block-content">
        Quest is currently: INACTIVE.
        Toggle quest status here...
    </div>
</div>


