{% extends "layout/hero-two-col-left.html" %}
{% load staticfiles %}

{% block hero %}
    {% if not campaign.active %}

        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert"><i class="fa fa-close"></i></button>
                <h4>Your quest is not currently active!</h4>
                <p>You must complete your quest setup before taking it live.</p>
                <button class="btn btn-primary sb_btn"
                        data-toggle="modal"
                        data-target="#liveModal">Take Quest Live
                </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="liveModal" tabindex="-1" role="dialog"
             aria-labelledby="authModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Take it live!</h4>
                    </div>
                    <div class="modal-body">
                        <p>By continuing you are beginning your Sagebrew Quest! After it is live you
                            will be able
                            to start collecting donations and pledged votes from your supporters.</p>

                        <p><b>Please note</b> that if you wish to make any changes to your Goals that
                            you have setup please do so
                            before taking your Quest live as you will not be able to edit them after.
                        </p>

                        <p>You <b>must</b> also have a bank account set up, we will prompt you to set
                            this up should it not be done already. Also, if you are
                            part of our paid plan you will also need a credit card on file.</p>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-6 col-md-offset-3">
                            <button type="button"
                                    id="take_live"
                                    class="btn btn-primary sb_btn" style="width: 100%;"
                                    data-dismiss="modal">Continue
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endif %}

    <div class="block block-type-title">
        <div class="block-content clearfix">
            <h1>Manage Quest</h1>
            <ul class="nav nav-pills">
                <li><a href="#">Quest Settings</a></li>
                <li><a href="#">Updates</a></li>
                <li><a href="#">Missions</a></li>
            </ul>
            <div class="title-important-actions">
                <a href="{% url 'quest_saga' request.user %}" class="btn btn-primary btn-sm">View Quest</a>
            </div>

        </div>
    </div>
{% endblock %}

{% block sidebar_left %}
    <div class="block block-type-nav">
        <div class="block-content">
            <ul class="nav nav-list nav-list-vivid">
                {% comment %} Not sure of a good way to make this active... {% endcomment %}
                <li class="{% if "manage/" == request.path %}active{% endif %}">
                    <a href="{% url 'quest_manage_settings' request.user %}">
                        General
                    </a>
                </li>
                {% comment %}
                <li class="{% if "/manage/goals/" in request.path %}active{% endif %}">
                    <a href="{% url 'manage_goals' request.user %}">
                        Goals
                    </a>
                </li>

                <li class="{% if "manage/epic/" in request.path %}active{% endif %}">
                    <a href="{% url 'quest_epic' request.user %}">
                        Epic
                    </a>
                </li>

                <li class="{% if "z/" in request.path %}active{% endif %}">
                    <a  href="{% url 'quest_manage_settings' request.user %}">
                        Updates
                    </a>
                </li>
                {% endcomment %}

                <li class="{% if "/manage/banking/" in request.path %}active{% endif %}">
                    <a href="{% url 'quest_manage_banking' request.user %}">
                        Accounting
                    </a>
                </li>
                {% comment %}TODO: Check permissions{% endcomment %}
                <li class="{% if "/manage/moderators/" in request.path %}active{% endif %}">
                    <a href="{% url 'quest_moderators' request.user %}">
                        Moderators
                    </a>
                </li>

                {% comment %}TODO: Check permissions{% endcomment %}
                <li class="{% if "/manage/delete/" in request.path %}active{% endif %}">
                    <a href="{% url 'quest_delete_page' request.user %}">
                        Delete Quest
                    </a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block sidebar_right %}
    <div class="block">
        <div class="block-content">
            <a href="{% url 'quest_saga' request.user %}" class="btn btn-primary btn-block">View Quest</a>
        </div>
    </div>

    <div class="block">
        <h3 class="block-title">
            Setup Progress
        </h3>

        <div class="block-content">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">1) Edit your epic</li>
                <li class="list-group-item list-group-item-info">2) Add banking info</li>
            </ul>
        </div>
    </div>
{% endblock %}
