{% extends "layout/three-col.html" %}
{% load staticfiles %}
{% block title %}
    Manage Moderators
{% endblock title %}

{% block sidebar_left %}
    {% include "manage/quest_manage_nav.html" %}
{% endblock %}

{% block sidebar_right %}
    {% include "manage/manage_right_sidebar.html" %}
{% endblock %}

{% block live %}
<div class="sb_wall">
    <div class="row">
        <div id="js-campaign_id" class="sb_hidden" data-current_user="{{ request.user.username }}" data-object_uuid="{{ id }}"></div>
        <div class="col-xs-4">
            <h3>Friends</h3>
            <div class="block sb_action_content_block sb_markdown_disabled" id="js-quest_helper_wrapper">
            </div>
        </div>
        <div class="col-xs-4">
            <h3>Editors</h3>
            <div class="block sb_action_content_block sb_markdown_disabled" id="js-editor_wrapper">
            </div>
        </div>
        <div class="col-xs-4">
            <h3>Admins</h3>
            <div class="block sb_action_content_block sb_markdown_disabled" id="js-accountant_wrapper">
            </div>
        </div>
    </div>
</div>
{% endblock%}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/get_possible_helpers.js' %}"></script>
{% endblock scripts %}

{% block intercom %}
    Intercom('trackEvent', 'visited-own-moderators-page');
{% endblock %}