{% extends "../../plebs/templates/settings/general_settings.html" %}
{% load staticfiles %}
{% block title %}Quest Banking{% endblock title %}

{% block hero %}
    {% include "manage/onboarding_block.html" %}
{% endblock %}

{% block live %}
    <div class="block">
        <div class="block-title">Account Address</div>
        <div class="block-content">
            {% include "address_form.html" %}
            <div class="row">
                <div id="js-validation-errors"></div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <button type="button" class="btn btn-primary sb_btn sb_btn_fill"
                            id="js-continue-btn">
                        Update Address
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <a name="bank"></a>
        <h3 class="block-title">
            Bank Account Information
        </h3>
        {% if quest.account_verified != "unverified" %}
            <div class="block-content no-top-bottom-padding">
                <small>Re-entering the information below will result in replacing your existing
                bank account information. This may extend the review process.</small>
            </div>
        {% endif %}
        <div class="block-content">
            <div id="account-verification-status">
                {% if quest.account_verified == "unverified" %}
                    <span class="label label-danger js-verified">Verification: Incomplete</span>
                {% elif quest.account_verified == "pending" %}
                    <span class="label label-warning js-verified">
                        Verification: Pending - No Additional Action Needed at This Time</span>
                {% else %}
                    <span class="label label-success js-verified">Verification: Completed</span>
                {% endif %}
                <span class="label label-warning" id="js-due-date"></span>
                <span class="label label-warning" id="js-identification-warning"></span>
                <span class="label label-alert" id="js-disabled-reason"></span>
                <div id="js-fields-needed"></div>
            </div>
            {% include "accounting_form.html" %}

            <div class="row">
                <div id="js-validation-errors"></div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <button class="btn btn-primary sb_btn sb_btn_fill"
                            id="submit">
                        Update Account Information
                    </button>
                </div>
            </div>
            {% if quest.tos_acceptance == False %}
                <div class="row">
                    <div class="col-xs-12">
                        <small>By completing the form,
                            you agree to the <a href="https://stripe.com/connect/account-terms">
                                Stripe Connected Account Agreement</a>.</small>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="block sb_hidden" id="identification-upload">
        {% include "partials/image_upload_block.html" with title_text="Personal Identification Upload" save_button_text="Upload Identification" required_width=100 required_height=100 submit_button="js-submit-personal-identification" extra_requirements="The image must be less than 8mb and either jpeg or png type." %}
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    {{ block.super }}
{% endblock scripts %}

{% block intercom %}
    Intercom('trackEvent', 'manage-quest-banking-page');
{% endblock %}