{% extends "manage/manage_base.html" %}
{% load staticfiles %}
{% block title %}Quest Delete{% endblock title %}

{% block live %}
    <div class="block">
        <h3 class="block-title">Deactivate Quest</h3>
        <div class="block-content">
            <p>
               Deactivating your Quest will:
            </p>
            <ul>
                <li>
                    Make your Quest private (take it offline)
                </li>
                <li>
                    Stop donations
                </li>
                <li>
                    Retain all of your historical information
                </li>
                <li>
                    Give you the opportunity in the future to take your Quest live again
                </li>
            </ul>
            {% if quest.active == False %}<p><small><em>Your Quest is already in the deactivated state</em></small></p>{% endif %}
            <button class="btn btn-primary btn-warning" {% if quest.active == False %}disabled {% endif %}
                    id="deactivate-quest">Deactivate
            </button>
        </div>
    </div>
    <div class="block">
        <h3 class="block-title">Delete Quest</h3>

        <div class="block-content">
            <p>
               Deleting your Quest will:
            </p>
            <ul>
                <li>
                    Remove everything associated with your quest
                    <ul>
                        <li>Updates</li>
                        <li>Missions</li>
                        <li>Records associated with the Quest (donations, votes, endoresments)</li>
                    </ul>
                </li>
                <li>
                    Stop donations
                </li>
                <li>
                    Never give you the opportunity to recover this Quest (you'll have to start a new one)
                </li>
            </ul>
            <button class="btn btn-primary btn-danger"
                    id="delete-quest"
                    data-toggle="modal"
                    data-target="#myModal">Delete
            </button>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete Quest?</h4>
                </div>
                <div class="modal-body">
                    Are you absolutely sure you want to delete your quest?
                </div>
                <div class="modal-footer">
                    <div class="col-lg-6 col-md-6">
                        <button type="button"
                                class="btn btn-primary sb_btn" style="width: 100%;"
                                data-dismiss="modal">GET ME OUT OF HERE!
                        </button>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <button type="button" style="width: 100%;"
                                class="btn btn-primary btn-danger"
                                data-dismiss="modal"
                                id="delete-button">DELETE
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}