{% extends "manage/manage_base.html" %}
{% load staticfiles %}
{% block title %}Quest Banking{% endblock title %}

{% block live %}
    <div class="block">
        <h3 class="block-title">
            Accounting
        </h3>
        <div class="block-content">
            <div id="account-verification-status">
                {% if quest.account_verified == "unverified" %}
                    <span class="label label-danger js-verified">Verification: Incomplete</span>
                {% elif quest.account_verified == "pending" %}
                    <span class="label label-warning js-verified">Verification: Pending</span>
                {% else %}
                    <span class="label label-success js-verified">Verification: Completed</span>
                {% endif %}
                <span class="label label-warning" id="js-fields-needed"></span>
                <span class="label label-warning" id="js-due-date"></span>
                <span class="label label-alert" id="js-disabled-reason"></span>
            </div>

            <form id="bankingForm">
                <div class="form-group">
                    <label for="account-type">
                        Account Type
                    </label>
                    <select id="account-type" class="form-control" name="stripe_account_type">
                      <option {% if quest.stripe_account_type != "individual" %}selected{% endif %} value="business">Business</option>
                      <option {% if quest.stripe_account_type == "individual" %}selected{% endif %} value="individual">Individual</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ssn">
                        Social Security Number
                    </label>
                    <input id="ssn" type="text" class="form-control" name="ssn">
                    <p class="help-block">We don't store this.</p>
                </div>
                <div class="form-group">
                    <label for="account-owner">
                        Name of Entity Managing Bank (Required for Non-Individual Accounts)
                    </label>
                    <input {% if quest.account_owner %}value="{{ quest.account_owner }}" {% endif %} id="account-owner" type="text" class="form-control" name="account_owner">
                </div>
                <div class="form-group">
                    <label for="ein">
                        EIN of Entity Managing Bank (Required for Non-Individual Accounts)
                    </label>
                    <input id="ein" type="text" class="form-control" name="ein">
                    <p class="help-block">We don't store this.</p>
                </div>

                <div class="form-group">
                    <label for="routing-number">
                        Routing Number
                    </label>
                    <input id="routing-number" type="text" class="form-control" name="routing_number">
                    <p class="help-block">We don't store this.</p>
                </div>

                <div class="form-group">
                    <label for="account-number">
                        Account Number
                    </label>
                    <input id="account-number" type="text" class="form-control" name="account_number">
                    <p class="help-block">We don't store this.</p>
                </div>
            </form>

            <div class="row">
                <div id="js-validation-errors"></div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <button class="btn btn-primary sb_btn sb_btn_fill"
                            id="submit">
                        Save Changes
                    </button>
                </div>
            </div>
            {% if quest.tos_acceptance == False %}
                <div class="row">
                    <div class="col-xs-12">
                        <small>By completing the form,
                            you agree to the <a href="https://stripe.com/connect/account-terms">
                                Stripe Connected Account Agreement</a>.</small>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    {{ block.super }}
{% endblock scripts %}

{% block intercom %}
    Intercom('trackEvent', 'manage-quest-banking-page');
{% endblock %}