<div class="block block-type-nav">
    <h3 class="block-title">
        Manage Quest
    </h3>
    <div class="block-content">
        <ul class="nav nav-list nav-list-vivid">
            {% comment %} Not sure of a good way to make this active... {% endcomment %}
            <li class="{% if "manage/" == request.path %}active{% endif %}">
                <a  href="{% url 'quest_manage_settings' request.user %}">
                    General
                </a>
            </li>

            <li class="{% if "/manage/goals/" in request.path %}active{% endif %}">
                <a  href="{% url 'manage_goals' request.user %}">
                    Goals
                </a>
            </li>

            <li class="{% if "manage/epic/" in request.path %}active{% endif %}">
                <a  href="{% url 'quest_epic' request.user %}">
                    Epic
                </a>
            </li>
            {% comment %}
            <li class="{% if "z/" in request.path %}active{% endif %}">
                <a  href="{% url 'quest_manage_settings' request.user %}">
                    Updates
                </a>
            </li>
            {% endcomment %}

            <li class="{% if "/manage/banking/" in request.path %}active{% endif %}">
                <a  href="{% url 'quest_manage_banking' request.user %}">
                    Accounting
                </a>
            </li>
            {% comment %}TODO: Check permissions{% endcomment %}
            <li class="{% if "/manage/moderators/" in request.path %}active{% endif %}">
                <a  href="{% url 'quest_moderators' request.user %}">
                    Moderators
                </a>
            </li>

            {% comment %}TODO: Check permissions{% endcomment %}
            <li class="{% if "/manage/delete/" in request.path %}active{% endif %}">
                <a  href="{% url 'quest_delete_page' request.user %}">
                    Delete Quest
                </a>
            </li>
        </ul>
    </div>
</div>
