//
// Blocks
// -------------------------------------------------
.block {
  margin-bottom:20px;
  padding:0;
  .block-title {
    padding:20px 20px 0 20px;
    margin:0;
  }
  .block-content {
    padding:20px;
  }
}

.block-content > ul.list-group {
  margin:0;
}