{% extends "registration_base.html" %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'select2/select2.css' %}" rel="stylesheet"/>
{% endblock css %}
{% block content %}
<div class="row sb_row_main">
    <div class="row sb_content_box sb_content_box_3 hidden-lg hidden-md hidden-sm hidden-xs">
        <div class="sb_content">
            <p>Why do you need my personal information?</p>
        </div>
    </div>
    <div class="row">
         <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12 ">
                        <div>
                            <h2 class="sb_registration_title hidden-sm hidden-xs">Conversation Topics</h2>
                        </div>
                        <div>
                            <h3 class="sb_registration_title_2 hidden-lg hidden-md"
                                align="center">Conversation Topics</h3>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-lg-offset-4 col-md-offset-3 col-sm-offset-1">
                            <h4 class="sb_registration_steps hidden-xs">Step 2 of 3</h4>
                    </div>
                </div>
    </div>
    <div class="sb_deco_line"></div>
    <div id="sb_interests_form">
        <form action="/registration/interests/" method="post">{% csrf_token %}
            <div class="sb_interests row">
                {% for field in interest_form %}
                    {% if field.id_for_label == "id_select_all" %}
                        <div class="row sb_all_check">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-10 col-md-offset-1">
                                <div class="has-popover"
                                     data-toggle="tooltip"
                                     data-original-title="{{ field.help_text }}">
                                    {{ field.label_tag }}
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
                                <label class="checkbox toggle-all"
                                    for="{{ field.id_for_label }}">
                                        <input type="checkbox"
                                               value=""
                                               name="{{ field.html_name }}"
                                               id="{{ field.id_for_label }}"
                                               data-toggle="checkbox">
                                </label>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div id="select_all_checkboxes">
                    {% for field in interest_form %}
                        {% if field.id_for_label != "id_select_all" and not forloop.last %}
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-10 col-md-offset-1">
                                <div class="tooltips"
                                     id="InterestForm"
                                     data-toggle="tooltip"
                                     data-original-title="{{ field.help_text }}">
                                    {{ field.label_tag }}
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
                                <label class="checkbox checkbox-toggle" for="{{ field.id_for_label }}">
                                    <input type="checkbox"
                                           value="{{ field.value|default_if_none:"false" }}"
                                           name="{{ field.html_name }}"
                                           id="{{ field.id_for_label }}"
                                           data-toggle="checkbox">
                                </label>
                                {% comment %}
                                <label class="checkbox primary" for="{{ field.id_for_label }}">
                                    <span class="icons">
                                        <span class="first_icon fui-checkbox-unchecked"></span>
                                        <span class="second-icon fui-checkbox-checked"></span>
                                    </span>
                                    <input id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="checkbox" value="{{ field.value }}" data-toggle="checkbox">
                                </label>
                            {% endcomment %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xs-10">
                    <h2 class="sb_registration_title">Search:</h2>
                </div>
            </div>
            <div class="row sb_interests_search">
                <div class="row"
                     id="sb_interest_search">
                    <div class="specific_interests">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                            {% for field in interest_form %}
                                {% if forloop.last %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row sb_row_continue_2">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-lg-offset-8 col-md-offset-8 col-sm-offset-7">
                        <input class="btn btn-embossed btn-primary sb_btn_continue"
                               type="submit"
                               value="Continue"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/interest_form.js' %}"></script>
    <script src="{% static 'select2/select2.js' %}"></script>
{% endblock scripts %}

