{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Interests{% endblock title %}
{% block description %}
    <meta name="description" content="A place to highlight what your favorite topics are and what you are most passionate about">
{% endblock description %}

{% block content %}
<div class="row sb_registration_block">
    <div class="row">
         <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12 ">
                        <div>
                            <h1 class="hidden-sm hidden-xs sb_registration_header">About You</h1>
                        </div>
                        <div>
                            <h1 class="hidden-lg hidden-md"
                                align="center">About You</h1>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-4 col-lg-offset-3 col-md-offset-3">
                            <h4 class="hidden-xs sb_registration_step">Step 2 of 3</h4>
                    </div>
                </div>
    </div>
    <div class="deco-line-interests"></div>
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-xs-10 col-xs-offset-1">
            <h2 style="margin-bottom: 0;">Conversation Topics</h2>
            <small>What are your favorite discussion topics? We'll use these to
                help find info from the Conversation Cloud to put on your newsfeed.</small>
        <div class="deco-line-interests"></div>
        </div>

    </div>

    <div>
        <form action="/registration/interests/" method="post">{% csrf_token %}
            <div class="row">
                {% for field in interest_form %}
                    {% if field.id_for_label == "id_select_all" %}
                        <div class="row-fluid">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-10 col-md-offset-1">
                                <div class="has-popover"
                                     data-toggle="tooltip"
                                     data-original-title="{{ field.help_text }}">
                                    {{ field.label_tag }}
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
                                <label class=" checkbox toggle-all"
                                    for="{{ field.id_for_label }}">
                                        <input type="checkbox"
                                               value=""
                                               name="{{ field.html_name }}"
                                               id="{{ field.id_for_label }}"
                                               data-toggle="checkbox">
                                </label>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div id="select_all_checkboxes">
                    {% for field in interest_form %}
                        {% if field.id_for_label != "id_select_all" and not forloop.last %}
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-10 col-md-offset-1">
                                <div class="tooltips"
                                     id="InterestForm"
                                     data-toggle="tooltip"
                                     data-original-title="{{ field.help_text }}">
                                    {{ field.label_tag }}
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
                                <label class="checkbox" for="{{ field.id_for_label }}">
                                    <input type="checkbox"
                                           value="{{ field.value|default_if_none:"false" }}"
                                           name="{{ field.html_name }}"
                                           id="{{ field.id_for_label }}"
                                           data-toggle="checkbox">
                                </label>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-xs-10 col-xs-offset-1">
                    <h2 style="margin-bottom: 0">Interested In</h2>
                    <small>Are you interested in working with others to achieve a goal? We can help you
                        connect with the people who share your passions.</small>
                    <div class="deco-line-interests"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-10 col-md-offset-1">
                    <div class="tooltips"
                         id="InterestForm"
                         data-toggle="tooltip"
                         data-original-title="We'll notify campaigns sharing your passions
                         that you're interested in helping out">
                        <label for="volunteering">Volunteering</label>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
                    <label class="checkbox" for="volunteering">
                        <input type="checkbox"
                               value="false"
                               name="volunteering"
                               id="volunteering"
                               data-toggle="checkbox">
                    </label>
                </div>
            </div>
            <div  class="row" style="margin-bottom: 15px;">
                <div class="col-xs-10 col-xs-offset-1">
                    <h2 style="margin-bottom: 0">Passions</h2>
                    <small>What drives you? What are you looking to get involved
                        about? We'll use your selections to help connect you with
                        others sharing your views.</small>
                    <div class="deco-line-interests"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-10 col-md-offset-1">
                    <div class="tooltips"
                         id="InterestForm"
                         data-toggle="tooltip"
                         data-original-title="We'll notify campaigns sharing your passions
                         that you're interested in helping out">
                        <label for="legalize_drugs">Legalize Drugs</label>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
                    <label class="checkbox" for="legalize_drugs">
                        <input type="checkbox"
                               value="false"
                               name="legalize_drugs"
                               id="legalize_drugs"
                               data-toggle="checkbox">
                    </label>
                </div>
            </div>
            <div  class="row" style="margin-bottom: 15px;">
                <div class="col-xs-10 col-xs-offset-1">
                    <h2 style="margin-bottom: 0">Skills</h2>
                    <small>Is there a specific way you'd like to help out or a skill you have that you think would be helpful?</small>
                    <div class="deco-line-interests"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-10 col-md-offset-1">
                    <div class="tooltips"
                         id="InterestForm"
                         data-toggle="tooltip"
                         data-original-title="We'll notify campaigns sharing your passions
                         that you're interested in helping out">
                        <label for="door_to_door">Door to Door</label>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
                    <label class="checkbox" for="door_to_door">
                        <input type="checkbox"
                               value="false"
                               name="door_to_door"
                               id="door_to_door"
                               data-toggle="checkbox">
                    </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-10 col-md-offset-1">
                    <div class="tooltips"
                         id="phone_booth"
                         data-toggle="tooltip"
                         data-original-title="">
                        <label for="phone_booth">Phone Calling</label>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
                    <label class="checkbox" for="phone_booth">
                        <input type="checkbox"
                               value="false"
                               name="phone_booth"
                               id="phone_booth"
                               data-toggle="checkbox">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-10 col-md-offset-1">
                    <div class="tooltips"
                         id="InterestForm"
                         data-toggle="tooltip"
                         data-original-title="">
                        <label for="event_assistance">Assist with Events</label>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
                    <label class="checkbox" for="event_assistance">
                        <input type="checkbox"
                               value="false"
                               name="event_assistance"
                               id="event_assistance"
                               data-toggle="checkbox">
                    </label>
                </div>
            </div>
            <div  class="row" style="margin-bottom: 15px;">
                <div class="col-xs-10 col-xs-offset-1">
                    <h2 style="margin-bottom: 0">Affiliation</h2>
                    <small>Are there any parties you'd specifically like to volunteer for?</small>
                    <div class="deco-line-interests"></div>
                </div>
            </div>
            <div class="row">
                <div class="row sb_row_continue"  style="margin-top: 30px;">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-lg-offset-8 col-md-offset-8 col-sm-offset-7">
                        <button class="btn btn-block btn-lg btn-primary sb_btn"
                               type="submit">Continue</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/interest_form.js' %}"></script>
{% endblock scripts %}
{% block intercom %}
   Intercom('trackEvent', 'interests-registration');
{% endblock %}

