{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Interests{% endblock title %}
{% block description %}
    <meta name="description" content="A place to highlight what your favorite topics are and what you are most passionate about">
{% endblock description %}

{% block content %}
<div class="row block registration">
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6">
            <div>
                <h1 class="sb_registration_header">About You</h1>
            </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 col-md-offset-3">
            <h4 class="sb_registration_step">Step 2 of 3</h4>
        </div>
    </div>
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-12">
            <div class="deco-line-interests"></div>
        </div>

    </div>


    <div class="row registration-row">
        <div class="col-xs-12 col-md-offset-1">
            <div class="hidden-xs hidden-sm">
                <h2>Conversation Topics</h2>
                <small>What are your favorite topics? We'll use these to
                    help find info from the Conversation Cloud to put on your newsfeed.</small>
            </div>
            <div class="hidden-lg hidden-md" align="center">
                <h2>Conversation Topics</h2>
                <small>What are your favorite topics? We'll use these to
                    help find info from the Conversation Cloud to put on your newsfeed.</small>
            </div>
        </div>
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="deco-line-interests"></div>
        </div>
    </div>

    <div>
        <form name="interstForm" action="/registration/interests/" method="post">{% csrf_token %}
            <div class="row">
                {% for field in interest_form %}
                    {% if field.id_for_label == "id_select_all" %}
                        <div class="row-fluid">
                            <div class="col-xs-10 col-sm-3 col-sm-offset-1 registration-tooltip">
                                <div class="has-popover"
                                     data-toggle="tooltip"
                                     data-original-title="{{ field.help_text }}">
                                    {{ field.label_tag }}
                                </div>
                            </div>
                            <div class="col-xs-1 col-sm-2">
                                <label class=" checkbox toggle-all"
                                    for="{{ field.id_for_label }}">
                                        <input type="checkbox"
                                               value=""
                                               name="{{ field.html_name }}"
                                               id="{{ field.id_for_label }}"
                                               data-toggle="checkbox">
                                </label>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div id="select_all_checkboxes">
                    {% for field in interest_form %}
                        {% if field.id_for_label != "id_select_all" and not forloop.last %}
                            <div class="col-xs-10 col-sm-3 col-sm-offset-1">
                                <div class="tooltips"
                                     data-toggle="tooltip"
                                     data-original-title="{{ field.help_text }}">
                                    {{ field.label_tag }}
                                </div>
                            </div>
                            <div class="col-xs-1 col-sm-2  col-md-2">
                                <label class="checkbox" for="{{ field.id_for_label }}">
                                    <input type="checkbox"
                                           value="{{ field.value|default_if_none:"false" }}"
                                           name="{{ field.html_name }}"
                                           id="{{ field.id_for_label }}"
                                           data-toggle="checkbox">
                                </label>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row registration-row">
                <div class="col-xs-12 col-md-offset-1">
                    <div class="hidden-xs hidden-sm">
                        <h2>Interested In</h2>
                        <small>Are you interested in working with others to achieve a goal? We can help you
                        connect with the people who share your passions.</small>
                    </div>
                    <div class="hidden-lg hidden-md" align="center">
                        <h2>Interested In</h2>
                        <small>Are you interested in working with others to achieve a goal? We can help you
                        connect with the people who share your passions.</small>
                    </div>
                </div>
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="deco-line-interests"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-sm-3 col-md-3 col-sm-offset-1">
                    <div class="tooltips"
                         data-toggle="tooltip"
                         data-original-title="We'll notify Quests sharing your passions
                         that you're interested in helping out">
                        <label for="volunteering">Volunteering</label>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-2">
                    <label class="checkbox" for="volunteering">
                        <input type="checkbox"
                               value="false"
                               name="volunteering"
                               id="volunteering"
                               data-toggle="checkbox">
                    </label>
                </div>
                <div class="col-xs-10 col-sm-4 col-md-3 col-md-offset-1">
                    <div class="tooltips"
                         data-toggle="tooltip"
                         data-original-title="We'll notify Quests sharing your passions
                         that you're interested in knowing about their Events">
                        <label for="attend-events">Attending Events</label>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-2">
                    <label class="checkbox" for="attend-events">
                        <input type="checkbox"
                               value="false"
                               name="attend-events"
                               id="attend-events"
                               data-toggle="checkbox">
                    </label>
                </div>
            </div>
            <div id="affiliation-js" hidden>
                <div class="row registration-row">
                    <div class="col-xs-12 col-md-offset-1">
                        <div class="hidden-xs hidden-sm">
                            <h2>Affiliations</h2>
                            <small>Are there any parties you're apart of or like to affiliate with?</small>
                        </div>
                        <div class="hidden-lg hidden-md" align="center">
                            <h2>Affiliations</h2>
                            <small>Are there any parties you're apart of or like to affiliate with?</small>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-10 col-md-offset-1">
                        <div class="deco-line-interests"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-sm-3 col-md-3 col-sm-offset-1">
                        <div>
                            <label for="independent">Independent</label>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-2">
                        <label class="checkbox" for="independent">
                            <input type="checkbox"
                                   value="false"
                                   name="independent"
                                   id="independent"
                                   data-toggle="checkbox">
                        </label>
                    </div>
                    <div class="col-xs-10 col-sm-4 col-md-3 col-md-offset-1">
                        <div>
                            <label for="not-listed">Other</label>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-2">
                        <label class="checkbox" for="not-listed">
                            <input type="checkbox"
                                   value="false"
                                   name="not-listed"
                                   id="not-listed"
                                   data-toggle="checkbox">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-sm-3 col-md-3 col-sm-offset-1">
                        <div>
                            <label for="democratic-party">Democratic Party</label>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-2">
                        <label class="checkbox" for="democratic-party">
                            <input type="checkbox"
                                   value="false"
                                   name="democratic-party"
                                   id="democratic-party"
                                   data-toggle="checkbox">
                        </label>
                    </div>
                    <div class="col-xs-10 col-sm-4 col-md-3 col-md-offset-1">
                        <div>
                            <label for="republican-party">Republican Party</label>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-2">
                        <label class="checkbox" for="republican-party">
                            <input type="checkbox"
                                   value="false"
                                   name="republican-party"
                                   id="republican-party"
                                   data-toggle="checkbox">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-sm-3 col-md-3 col-sm-offset-1">
                        <div>
                            <label for="libertarian-party">Libertarian Party</label>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-2">
                        <label class="checkbox" for="libertarian-party">
                            <input type="checkbox"
                                   value="false"
                                   name="libertarian-party"
                                   id="libertarian-party"
                                   data-toggle="checkbox">
                        </label>
                    </div>
                    <div class="col-xs-10 col-sm-4 col-md-3 col-md-offset-1">
                        <div>
                            <label for="green-party">Green Party</label>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-2">
                        <label class="checkbox" for="green-party">
                            <input type="checkbox"
                                   value="false"
                                   name="green-party"
                                   id="green-party"
                                   data-toggle="checkbox">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-sm-3 col-md-3 col-sm-offset-1">
                        <div>
                            <label for="constitution-party">Constitution Party</label>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-2">
                        <label class="checkbox" for="constitution-party">
                            <input type="checkbox"
                                   value="false"
                                   name="constitution-party"
                                   id="constitution-party"
                                   data-toggle="checkbox">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row sb_row_continue">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-lg-offset-8 col-md-offset-8 col-sm-offset-7">
                        <button class="btn btn-block btn-lg btn-primary sb_btn"
                               type="submit" id="submit-js">Continue</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/interest_form.js' %}"></script>
{% endblock scripts %}
{% block intercom %}
   Intercom('trackEvent', 'interests-registration');
{% endblock %}

