{% extends "registration_base.html" %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'jcrop/css/jquery.Jcrop.css' %}" rel="stylesheet" type="text/css"/>
{% endblock css %}
{% block content %}
    <div class="row row_main_picture">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12 cold-xs-4 ">
                <h2 class="sb_registration_title_2">Profile Picture</h2>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-1 col-md-offset-2 col-sm-offset-3 ">
               <div>
                    <h4 class="sb_steps hidden-sm hidden-xs">Step 3 of 3</h4>
               </div>
            </div>
        </div>
        <div class="row">
            <form enctype="multipart/form-data" action="/registration/profile_picture/" method="post">{% csrf_token %}
                <div class="fileinput fileinput-new" data-provides="fileinput">
							  <div class="fileinput-new thumbnail" style="width: 120px; height: 120px;">
							    <img data-src="{% static 'media/ziggzi.png' %}" alt="Put our default image">
							  </div>
							  <div class="fileinput-preview fileinput-exists thumbnail" id="sample_image" style="max-width: 500px; max-height: 500px;">
                                  <img id="place_holder" data-src="" alt="" type="hidden">
							  </div>

                              <div>
							    <span class="btn btn-primary btn-embossed btn-file">
								    <span class="fileinput-new"><span class="fui-image"></span>&nbsp;&nbsp;Select image</span>
								    <span class="fileinput-exists"><span class="fui-gear"></span>&nbsp;&nbsp;Change</span>
								    <input type="file" id="profile_pic_upload" name="...">
							    </span>
							    <a href="#" class="btn btn-primary btn-embossed fileinput-exists" data-dismiss="fileinput"><span class="fui-trash"></span>&nbsp;&nbsp;Remove</a>
							  </div>
							</div>
            {% comment %}
                <div class="row" align="center">
                    <div>
                        <span class="btn btn-primary btn-embossed btn-file">
                            <span class="fileinput-new"><span class="fui-image"></span>Upload Image</span>
                            <input id="profile_pic_upload" type="file" name="">
                        </span>
                </div>
                <div class="row" align="center">
                    <input class="btn btn-primary sb_complete" type="submit" value="Complete" />
                </div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <a class="fui-cross-inverted close" data-dismiss="modal"></a>
                        <h3 id="profile_picture_header">Upload Profile Picture</h3>
                    </div>
                    <div class="modal-body">

                            {% for field in profile_picture_form %}
                                    {% if field.id_for_label == "id_picture" %}
                                        <div class="sb_fileinput fileinput fileinput-new row sb_picture jcrop-holder" data-provides="fileinput"><input type="hidden">
                                            <div class="row" align="center">
                                                <div id="target" class="fileinput-preview" data-trigger="fileinput" style="width: 265px; height: 265px; line-height: 160px;">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="row" align="center">
                                                    <span class="btn btn-primary btn-embossed btn-file sb_select">
                                                        <span class="fileinput-exists"><span class="fui-gear"></span>&nbsp;&nbsp;Change</span>
                                                        <input type="file" name="...">
                                                    </span>
                                                </div>
                                                <div class="row" align="center">
                                                    <a href="" class="btn btn-primary btn-embossed fileinput-exists sb_remove" data-dismiss="fileinput"><span class="fui-trash"></span>&nbsp;&nbsp;Remove</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-primary">Save changes</a>
                        <a href="" class="btn btn-primary">Close</a>
                    </div>
                </div>
            </div>
            {% endcomment %}
        </form>
    </div>
{% comment %}

{% endcomment %}
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/profile_picture_form.js' %}"></script>
    <script src="{% static 'jcrop/js/jquery.Jcrop.js' %}"></script>
{% endblock scripts %}

                        {% comment %}
                            {% for field in profile_picture_form %}
                                {% if field.id_for_label == "id_picture" %}
                                    <div class="sb_fileinput fileinput fileinput-new row sb_picture jcrop-holder" data-provides="fileinput"><input type="hidden">
                                        <div class="row" align="center">
                                            <div id="target" class="fileinput-preview" data-trigger="fileinput" style="width: 265px; height: 265px; line-height: 160px;">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="row" align="center">
                                                <span class="btn btn-primary btn-embossed btn-file sb_select">
                                                    <span class="fileinput-new "><span class="fui-image"></span>&nbsp;&nbsp;Select image</span>
                                                    <span class="fileinput-exists"><span class="fui-gear"></span>&nbsp;&nbsp;Change</span>
                                                    <input type="file" name="...">
                                                </span>
                                            </div>
                                            <div class="row" align="center">
                                                <a href="" class="btn btn-primary btn-embossed fileinput-exists sb_remove" data-dismiss="fileinput"><span class="fui-trash"></span>&nbsp;&nbsp;Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endcomment %}