{% extends "layout/hero-one-col.html" %}
{% load staticfiles %}
{% block title %} Profile Information {% endblock %}
{% block hero %}
    <div class="block">
        <h1 class="block-title no-underline center-title">Profile Information</h1>
    </div>
{% endblock hero %}
{% block live %}
    <div class="block">
        <h2 class="block-title">
            Address
        </h2>
        <div class="block-content no-top-bottom-padding">
            <small>We do <b>not</b> make this information public.
                But we need it to determine what political
                and advocacy missions affect you and to verify which political missions you
                can donate to and volunteer for.</small>
        </div>
        <div class="block-content">
            {% include "address_form.html" %}
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <button id="js-continue-btn" disabled type="submit" class="btn btn-primary sb_btn sb_btn_fill">Continue</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block intercom %}
   Intercom('trackEvent', 'address-registration');
{% endblock %}