<div id="address_information">
                    {% for field in address_information_form %}
                        {% for error in field.errors %}
                            <p class="sb_error">{{field.label}} : {{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                        {% for field in address_information_form %}
                                <div class="row">
                                    <div class="col-lg-8 sb_col_8">
                                            {% if field.id_for_label == "id_primary_address" %}
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    {% if field.errors %}
                                                        <div class="has-error">
                                                    {% else %}
                                                        <div class="form-group">
                                                    {% endif %}
                                                    {% if field.value == None %}
                                                        <input type="text" name="primary_address" value="" placeholder="Address Line 1" class="form-control input-lg">
                                                    {% else %}
                                                        <input type="text" name="primary_address" value="{{ field.value }}" placeholder="Address Line 1" class="form-control input-lg">
                                                    {% endif %}
                                                        </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                {% elif field.id_for_label == "id_street_additional" %}
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    {% if field.value == None %}
                                                        <input type="text" name="street_additional" value="" placeholder="Apt, Building, etc" class="form-control input-lg">
                                                    {% else %}
                                                        <input type="text" name="street_additional" value="{{ field.value }}" placeholder="Apt, Building, etc" class="form-control input-lg">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-row">
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                                        {% elif field.id_for_label == "id_city" %}
                                        <div class="form-group sb_city">
                                            {% if field.errors %}
                                                <div class="has-error">
                                            {% else %}
                                                [<div class="form-group">
                                            {% endif %}
                                            {% if field.value == None %}
                                                <input type="text" name="city" value="" placeholder="City*" class="form-control input-lg">
                                            {% else %}
                                                <input type="text" name="city" value="{{ field.value }}" placeholder="City*" class="form-control input-lg">
                                            {% endif %}
                                                </div>
                                                </div>
                                        </div>
                                    </div>

                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        {% elif field.id_for_label == "id_state" %}
                                        <div class="form-group sb_state">
                                            {% if field.errors %}
                                                <div class="has-error">
                                            {% else %}
                                                [<div class="form-group">
                                            {% endif %}
                                            {% if field.value == None %}
                                                <input type="text" name="state" value="" placeholder="State*" class="form-control input-lg">
                                            {% else %}
                                                <input type="text" name="state" value="{{ field.value }}" placeholder="State*" class="form-control input-lg">
                                            {% endif %}
                                                </div>
                                                </div>
                                        </div>
                                    </div>

                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        {% elif field.id_for_label == "id_postal_code" %}
                                        <div class="form-group sb_zip">
                                            {% if field.errors %}
                                                <div class="has-error">
                                            {% else %}
                                                <div class="form-group">
                                            {% endif %}
                                            {% if field.value == None %}
                                                <input type="text" name="postal_code" value="" placeholder="Zip Code*" class="form-control input-lg">
                                            {% else %}
                                                <input type="text" name="postal_code" value="{{ field.value }}" placeholder="Zip Code*" class="form-control input-lg">
                                            {% endif %}
                                                </div>
                                                </div>
                                        </div>
                                    </div>
                                        </div>
                                    </div>
                                </div>
                        {% else %}
                            <div>{{ field.label_tag }}</div> <div>{{ field }}</div> <div>{{ field.errors }}</div>
                        {% endif %}
                    {% endfor %}
                    <div id="address_option">
                        {% for address_choice in address_choice_form %}
                            {{ address_choice.label_tag }} {{ address_choice }}
                        {% endfor %}
                    </div>
                    <input class="btn btn-primary sb_continue" type="submit" value="Continue"/>
                </div>
            </div>
        </div>