{% extends "base.html" %}

{% block navigation %}
    {% include "navigation.html" %}
{% endblock %}

{% block title %} Profile Information {% endblock %}
{% block content %}
    <form action="/registration/profile_information/" method = "post">{% csrf_token %}
        <div id="profile_information">
        <h1>Profile Information</h1>
            {%  for field in profile_information_form %}
                <div>{{ field.label_tag }}</div><div>{{ field }}</div><div>{{ field.errors }}</div>
            {% endfor %}
        </div>

        <h2>Address</h2>
        <div id="address_information">
            {%  for field in address_information_form %}
                <div>{{ field.label_tag }}</div> <div>{{ field }}</div><div>{{ field.errors }}</div>
            {% endfor %}
        </div>
        <div id="address_option">
            {% for address_choice in address_choice_form %}
                {{ address_choice.label_tag }} {{ address_choice }}
            {% endfor %}
        </div>
    <input class="btn btn-primary" type="submit" value="Submit"/>
    </form>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script>
        $( document ).ready(function() {
            if("{{ address_selection }}" === "selection") {
                console.log("hide it");
                $("#address_information").hide();
            } else {
                $("#address_option").hide()
            }
        });
    </script>
{% endblock scripts %}