{% extends "base.html" %}
{% block page-javascript %}
    <script>


$( document ).ready(function() {
        if("{{ address_selection }}" === "True") {
             document.getElementById('address_form').style.display = 'none';
             document.getElementById('address_option').style.display = '';
        } else {
             document.getElementById('address_form').style.display = '';
             document.getElementById('address_option').style.display = 'none';
        }
}
</script>
{% endblock page-javascript %}
{% block navigation %}
    {% include "navigation.html" %}
{% endblock %}

{% block title %} Profile Information {% endblock %}
{% block content %}
    {{ address_selection }}
    <form action="/registration/profile_information/" method = "post">{% csrf_token %}
        <div id="profile_information">
        <h1>Profile Information</h1>
            {%  for field in profile_information_form %}
                <div>{{ field.label_tag }}</div><div>{{ field }}</div><div>{{ field.errors }}</div>
            {% endfor %}
        </div>

        <h2>Address</h2>
        <div id="address_information">
            {%  for field in address_information_form %}
                <div>{{ field.label_tag }}</div> <div>{{ field }}</div><div>{{ field.errors }}</div>
            {% endfor %}
        </div>
        <div id="address_option">
            {% for hidden in address_information_form %}
                {{ address_options }}
            {% endfor %}
        </div>
    <input class="btn btn-primary" type="submit" value="Submit"/>
    </form>
{% endblock %}