{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Profile Picture Selection{% endblock title %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'css/vendor/croppic.css' %}" rel="stylesheet" type="text/css"/>
{% endblock css %}
{% block content %}
    <div class="row sb_registration_block">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12 ">
                <div>
                    <h1 class="hidden-xs sb_registration_header">Profile Picture</h1>
                </div>
                <div>
                    <h1 class="hidden-lg hidden-md hidden-sm"
                        align="center">Profile Picture</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-5 col-xs-4 col-lg-offset-3 col-md-offset-3">
                    <h4 class="hidden-xs sb_registration_step">Step 3 of 3</h4>
            </div>
        </div>
        <div class="sb_deco_line"></div>
        <div class="row" align="center">
          <div class="col-lg-4 col-lg-offset-4" align="center">
            <div id="cropProfilePictureEyecandy"></div>
          </div>
        </div>
        <div class="row" align="center">
          <div class="col-lg-4 col-lg-offset-4" align="center">
            <div><small>Please ensure the file is less than 2.5 mb</small></div>
          </div>
        </div>
      <div class="row" align="center" style="margin-bottom: 30px;">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-lg-offset-8 col-md-offset-8 col-sm-offset-7">
            <a href="{% url 'profile_page' pleb.username %}">Skip Step</a>
          </div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/uuid.js' %}"></script>
    <script src="{% static 'js/profile_picture_form.js' %}"></script>
	  <script src="{% static 'js/vendor/jquery.mousewheel.min.js' %}"></script>
   	<script src="{% static 'js/vendor/croppic.min.js' %}"></script>
    <script>
    var file_name = guid();
    $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                ajaxSecurity(xhr, settings)
            }
        });
    var croppicContainerEyecandyOptions = {
				uploadUrl: '/v1/upload/?croppic=true&object_uuid=' + file_name,
				cropUrl:'/v1/upload/' + file_name + '/crop/',
				imgEyecandy:false,
        rotateControls: false,
				loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> '
		};
		var cropContainerEyecandy = new Croppic('cropProfilePictureEyecandy', croppicContainerEyecandyOptions);
	</script>
{% endblock scripts %}