{% extends "landingbase.html" %}
{% load staticfiles %}
{% block content %}
<div class="quest-page">
    <!-- Logo -->
    <!-- Logo Large -->
    <div class="quest-header">
        <div class="row hidden-xs hidden-sm hidden-md quest-width">
            <div class="col-lg-6 quest-logo">
                <img class="quest-logo-image" src="{% static 'images/sage_warrior.png' %}">
            </div>
            <div class="col-lg-5">
                <div><h1 class="quest-header-title-lg">Sagebrew</h1></div>
                <div><p class="quest-header-brand-lg">Quest</p></div>
            </div>
        </div>
        <!-- Logo Medium -->
        <div class="row hidden-xs hidden-sm hidden-lg quest-width">
            <div class="col-md-6 quest-logo-md">
                <img class="quest-logo-image-md" src="{% static 'images/sage_warrior.png' %}">
            </div>
            <div class="col-md-6">
                <h1 class="quest-header-title-md">Sagebrew</h1>

                <p class="quest-header-brand-lg">Quest</p>
            </div>
        </div>
        <!-- Logo SM -->
        <div class="row hidden-md hidden-lg hidden-xs quest-width">
            <div class="col-sm-10 quest-logo-sm">
                <img class="quest-logo-image-md" src="{% static 'images/sage_warrior.png' %}">
            </div>
            <div class="col-xs-12 hidden-md hidden-lg">
                <h1 class="quest-header-title-sm">Sagebrew</h1>

                <p class="quest-header-brand-sm">Quest</p>
            </div>
        </div>
        <!-- Logo XS -->
        <div class="row hidden-md hidden-lg hidden-sm">
            <div class="col-xs-12 quest-logo-xs">
                <img class="quest-logo-image-xs" src="{% static 'images/sage_warrior.png' %}">
            </div>
            <div class="col-xs-12 hidden-md hidden-lg quest-text-xs">
                <h1 class="quest-header-title-sm">Sagebrew</h1>

                <p class="quest-header-brand-sm">Quest</p>
            </div>
        </div>
    </div>
    <!-- Increase your recognition -->
    <div class="quest-recognition">
        <!-- Increase your recognition Large -->
        <div class="row hidden-xs hidden-sm hidden-md quest-width">
            <div class="col-lg-8 quest-rec-lg">
                <img class="quest-rec-image-lg" src="{% static 'images/space_window.png' %}">
            </div>
            <div class="col-lg-4">
                <h1 class="quest-rec-title-lg">Increase Recognition</h1>
                <p>Sagebrew Quest gives you instant recognition by exposing your campaign or initiative
                to all of the affected parties. Use the Reputation system to out-rank
                your competitors and complete your mission!</p>
            </div>
        </div>
        <!-- Increase your recognition Medium -->
        <div class="row hidden-xs hidden-sm hidden-lg quest-width">
            <div class="col-md-7 quest-rec-medium">
                <img class="quest-rec-image-md" src="{% static 'images/space_window.png' %}">
            </div>
            <div class="col-md-5">
                <h1 class="quest-rec-title-md">Increase Recognition</h1>
                <p>Sagebrew Quest gives you instant recognition by exposing your campaign or initiative
                to all of the affected parties. Use the Reputation system to out-rank
                your competitors and complete your mission!</p>
            </div>
        </div>
        <!-- Increase your recognition SM -->
        <div class="row hidden-lg hidden-md hidden-xs quest-rec-sm-wrapper">
            <div class="col-sm-12 quest-logo-xs">
                <img class="quest-logo-image-md" src="{% static 'images/space_window.png' %}">
            </div>
            <div class="col-sm-12">
                <h1 class="quest-rec-title-sm">Increase Recognition</h1>
                <p class="quest-block-paragraph-xs">Sagebrew Quest gives you instant recognition by exposing your campaign or initiative
                to all of the affected parties. Use the Reputation system to out-rank
                your competitors and complete your mission!</p>
            </div>
        </div>
        <!-- Increase your recognition XS -->
        <div class="row hidden-lg hidden-md hidden-sm quest-rec-sm-wrapper">
            <div class="col-xs-12 quest-logo-xs">
                <img class="quest-rec-image-xs" src="{% static 'images/space_window.png' %}">
            </div>
            <div class="col-xs-12">
                <h1 class="quest-rec-title-xs">Increase Recognition</h1>
                <p class="quest-block-paragraph-xs">Sagebrew Quest gives you instant recognition by exposing your campaign or initiative
                to all of the affected parties. Use the Reputation system to out-rank
                your competitors and complete your mission!</p>
            </div>
        </div>
    </div>
    <!-- Gauge Electability -->
    <div class="quest-electability">
        <!-- Gauge Electability Large -->
        <div class="row hidden-xs hidden-sm hidden-md quest-background-image-lg"
             style="background: transparent url('{% static 'images/beaker_set.png' %}') no-repeat;
                        background-size: 100%; width: 101%; height: 215px;">
        </div>
        <div class="row hidden-xs hidden-sm hidden-md quest-background-image-lg"
             style="background: transparent url('{% static 'images/science_kit.png' %}') no-repeat;
                        background-size: 100%;  width: 101%; height: 1200px; background-color: #A0C7E0;">

            <div class="col-lg-5 col-lg-offset-1">
                <h1 class="quest-gauge-title-lg">Track Support</h1>
                <p>Receive real time statistics about support for your mission. Sagebrew Quest allows you to see
                    who's committed to your cause and easily track fundraising.</p>
            </div>
        </div>

        <!-- Gauge Electability Medium -->
        <div class="row hidden-xs hidden-sm hidden-lg quest-background-image-md"
             style="background: transparent url('{% static 'images/beaker_set.png' %}') no-repeat;
                        background-size: 100%; width: 101%; height: 215px;">
        </div>
        <div class="row hidden-xs hidden-sm hidden-lg quest-gauge-science-kit-md"
             style="background: transparent url('{% static 'images/science_kit.png' %}') no-repeat;
                        background-size: 100%; width: 101%; height: 685px; background-color: #A0C7E0">

            <div class="col-md-6 col-md-offset-1">
                <h1 class="quest-science-title-md">Track Support</h1>
                <p>Receive real time statistics about support for your mission. Sagebrew Quest allows you to see
                    who's committed to your cause and easily track fundraising.</p>
            </div>
        </div>
        <!-- Gauge Electability SM -->
        <div class="row hidden-xs hidden-md hidden-lg quest-gauge-science-kit-sm"
             style="background: transparent url('{% static 'images/science_background.png' %}') no-repeat;
             background-size: 100%; width: 101%; height: 480px;">
            <div class="col-sm-10 quest-logo-md">
                <img class="quest-gauge-science-kit-image-sm" src="{% static 'images/beakers.png' %}">
            </div>
            <div class="col-sm-12">
                <h1 class="quest-block-title-md quest-science-title-sm">Track Support</h1>
                <p class="quest-block-paragraph-xs">Receive real time statistics about support for your mission. Sagebrew Quest allows you to see
                    who's committed to your cause and easily track fundraising.</p>
            </div>
        </div>
        <div class="row hidden-xs hidden-md hidden-lg quest-science-filler-xs">
        </div>
        <!-- Gauge Electability XS -->
        <div class="row hidden-sm hidden-md hidden-lg quest-science-xs"
             style="background: transparent url('{% static 'images/science_background.png' %}') no-repeat;
             background-size: 100%; width: 101%; height: 300px;">
            <div class="col-xs-10 quest-science-kit-image-wrapper-xs">
                <img class="quest-gauge-science-kit-image-sm" src="{% static 'images/beakers.png' %}">
            </div>
            <div class="col-xs-12">
                <h1 class="quest-science-title-xs">Track Support</h1>
                <p class="quest-block-paragraph-xs">Receive real time statistics about support for your mission. Sagebrew Quest allows you to see
                    who's committed to your cause and easily track fundraising.</p>
            </div>
        </div>
        <div class="row hidden-sm hidden-md hidden-lg quest-science-filler-xs">
        </div>
    </div>
    <!-- Start of Connecting with Constituents -->
    <div class="quest-connect">
        <!-- Start of Connecting with Constituents Large -->
        <div class="row hidden-xs hidden-sm hidden-md quest-connect-bk-lg"
             style="background: transparent url('{% static 'images/houses_road.png' %}') no-repeat;
             background-size: 100%; background-color: #BADDCA; width: 101%; height: 1200px;">
            <div class="col-lg-6 col-lg-offset-5">
                <h1 class="quest-connect-title-lg">Connect with People that Matter</h1>
                <p>Take a daily pulse from your constituents through the Conversation Area and
                    share your views to build your Reputation and credibility within your community.
                    Provide Updates to voters and contributors to keep them involved and focused
                    on your mission.</p>
            </div>
        </div>
        <!-- Start of Connecting with Constituents Medium -->
        <div class="row hidden-xs hidden-sm hidden-lg quest-connect-bk-lg"
             style="background: transparent url('{% static 'images/houses_road.png' %}') no-repeat;
             background-size: 100%; background-color: #BADDCA; width: 101%; height: 680px;">
            <div class="col-md-6 col-md-offset-5">
                <h1 class="quest-connect-title-md">Connect with People that Matter</h1>
                <p>Take a daily pulse from your constituents through the Conversation Area and
                    share your views to build your Reputation and credibility within your community.
                    Provide Updates to voters and contributors to keep them involved and focused
                    on your mission.</p>
            </div>
        </div>
        <!-- Start of Connecting with Constituents SM -->
        <div class="row hidden-xs hidden-md hidden-lg quest-connect-bk-sm"
             style="background-color:#BADDCA; width: 101%; height: 850px;">
            <div>
                <img class="quest-connect-img-sm" src="{% static 'images/house_small.png' %}">
            </div>
            <div class="col-sm-12">
                <h1 class="quest-connect-title-sm">Connect with People that Matter</h1>
                <p class="quest-block-paragraph-xs">Take a daily pulse from your constituents through the Conversation Area and
                    share your views to build your Reputation and credibility within your community.
                    Provide Updates to voters and contributors to keep them involved and focused
                    on your mission.</p>
            </div>
        </div>
        <div class="row hidden-xs hidden-md hidden-lg quest-gap-filler-connect-sm">
        </div>
        <!-- Start of Connecting with Constituents XS -->
        <div class="row hidden-sm hidden-md hidden-lg quest-connect-bk-xs">
            <div>
                <img class="quest-connect-img-sm" src="{% static 'images/house_small.png' %}">
            </div>
            <div class="col-xs-12">
                <h1 class="quest-connect-title-sm">Connect with People that Matter</h1>
                <p class="quest-block-paragraph-xs">Take a daily pulse from your constituents through the Conversation Area and
                    share your views to build your Reputation and credibility within your community.
                    Provide Updates to voters and contributors to keep them involved and focused
                    on your mission.</p>
            </div>
        </div>
    </div>
    <!-- Garden -->
    <div class="quest-garden">
        <!-- Garden Large -->
        <div class="row hidden-xs hidden-sm hidden-md quest-garden-bk-lg"
             style="background: transparent url('{% static 'images/garden.png' %}') no-repeat;
             background-size: 100%; background-color: #BADDCA; width: 101%; height: 1275px;">
            <div class="col-lg-6 col-lg-offset-2">
                <h1 class="quest-garden-title-lg">Gather Donations</h1>
                <p class="quest-garden-paragraph">Sagebrew Quest gives you the power to grow your base organically and raise donations directly
                from your supporters. Sagebrew Quest lets you embark on missions for political office and activism. Providing deeper
                    connection with contributors who truly care about your focuses and want to see you succeed.</p>
            </div>
        </div>
        <div class="row hidden-xs hidden-sm hidden-md quest-connect-bk-lg"
             style="background: transparent url('{% static 'images/grass_roots.png' %}') no-repeat;
             background-size: 100%; background-color: #685243; width: 101%; height: 300px;">
        </div>
        <!-- Garden Medium -->
        <div class="row hidden-xs hidden-sm hidden-lg quest-connect-bk-lg"
             style="background: transparent url('{% static 'images/garden.png' %}') no-repeat;
             background-size: 100%; background-color: #BADDCA; width: 101%; height: 680px;">
            <div class="col-md-5 col-md-offset-2">
                <h1 class="quest-garden-title-md">Gather Donations</h1>
                <p>Sagebrew Quest gives you the power to grow your base organically and raise donations directly
                from your supporters. Sagebrew Quest lets you embark on missions for political office and activism. Providing deeper
                    connection with contributors who truly care about your focuses and want to see you succeed.</p>
            </div>
        </div>
        <div class="row hidden-xs hidden-sm hidden-lg quest-connect-bk-lg"
             style="background: transparent url('{% static 'images/grass_roots.png' %}') no-repeat;
             background-size: 100%; background-color: #685243; width: 101%; height: 300px;">
        </div>
        <!-- Garden SM -->
        <div class="row hidden-xs hidden-md hidden-lg quest-garden-bk-sm"
             style="background: transparent url('{% static 'images/grass_roots.png' %}') no-repeat;
             background-size: 100%; background-color: #BADDCA; width: 101%; height: 480px;">
        </div>
        <div class="row hidden-xs hidden-md hidden-lg quest-garden-bk-sm"
             style="background: transparent url('{% static 'images/garden_small.png' %}') no-repeat;
             background-size: 100%; background-color: #6DB58C; width: 101%; height: 700px;">
            <div class="col-sm-12">
                <h1 class="quest-garden-title-sm">Gather Donations</h1>
                <p class="quest-block-paragraph-xs">Sagebrew Quest gives you the power to grow your base organically and raise donations directly
                from your supporters. Sagebrew Quest lets you embark on missions for political office and activism. Providing deeper
                    connection with contributors who truly care about your focuses and want to see you succeed.</p>
            </div>
        </div>
        <div class="row hidden-xs hidden-md hidden-lg quest-garden-filler-sm">
        </div>
        <!-- Garden XS -->
        <div class="row hidden-sm hidden-md hidden-lg quest-garden-bk-xs"
             style="background: transparent url('{% static 'images/grass_roots.png' %}') no-repeat;
             background-size: 100%; background-color: #BADDCA; width: 101%; height: 300px;">
        </div>
        <div class="row hidden-sm hidden-md hidden-lg quest-garden-bk-xs"
             style="background: transparent url('{% static 'images/garden_small.png' %}') no-repeat;
             background-size: 100%; background-color: #6DB58C; width: 101%; height: 600px;">
            <div class="col-sm-12">
                <h1 class="quest-garden-title-xs">Gather Donations</h1>
                <p class="quest-block-paragraph-xs">Sagebrew Quest gives you the power to grow your base organically and raise donations directly
                from your supporters. Sagebrew Quest lets you embark on missions for political office and activism. Providing deeper
                    connection with contributors who truly care about your focuses and want to see you succeed.</p>
            </div>
        </div>
        <div class="row hidden-sm hidden-md hidden-lg quest-garden-filler-xs">
        </div>
    </div>
    <div class="row quest-end-mark"></div>
    <div class="row quest-width">
        <div class="col-xs-12">
            <h1 class="pricing-plan">Start Your Sagebrew Quest Today</h1>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="pricingTable">
            <div class="item">

                <div class="title">Free <span class="undertext">Forever</span></div>
                <ul>
                    <li><span class="keywords">Unlimited </span>Editors</li>
                    <li><span class="keywords">Lifetime </span>Contribution Reporting</li>
                    <li><span class="keywords">Public</span> Campaign Page</li>
                    <li><span class="keywords">Direct</span> In-App Support</li>
                    <li><span class="keywords">7% + 30&cent;</span> per Successful Contribution</li>
                </ul>
                <div class="button"><button class="btn btn-block btn-lg btn-primary free-plan"
                                            type="submit" id="free-account" value="free" name="account_type">
                    Register
                </button></div>
            </div>
            <div class="item">
                <div class="title">$100.<span class="smallText">00</span>
                    <span class="undertext">Per Month</span>
                </div>
                <ul>
                    <li><span class="keywords">Unlimited </span>Editors</li>
                    <li><span class="keywords">Lifetime </span>Contribution Reporting</li>
                    <li><span class="keywords">Public</span> Campaign Page</li>
                    <li><span class="keywords">Direct</span> In-App Support</li>
                    <li><span class="keywords">5% + 30&cent;</span> per Successful Contribution</li>
                </ul>
                <div class="button">
                    <button class="btn btn-block btn-lg btn-primary paid-plan"
                            type="submit" id="pro-account" value="paid" name="account_type">
                        Register
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="row quest-width">
        <div class="col-xs-12 quest-terms">
            <small>By registering, you agree to our
                <a href="{% url 'quest_terms_and_conditions' %}">Quest Terms of Service</a> and the <a href="https://stripe.com/connect/account-terms">Stripe Connected Account Agreement</a>.
            </small>
        </div>
    </div>
<div class="bottom-menu sb_footer quest-footer">
    <div class="container">
        {% include "footer.html" %}
    </div>
</div>
</div>
{% endblock %}

{% block intercom %}
    Intercom('trackEvent', 'visited-quest-details');
{% endblock %}