{% extends "base.html" %}
{% block content %}
    <form method="post">
    {% csrf_token %}
        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-block btn-lg btn-primary sb_btn"
                        type="submit" id="free-account" value="free" name="account_type">
                    Free Account (7% of all donations)
                </button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-block btn-lg btn-primary sb_btn"
                        type="submit" id="paid-account" value="paid" name="account_type">
                    Paid Account ($100/month and 5% of all donations)
                </button>
            </div>
            <small>By registering, you agree to the <a href="{% url "terms_and_conditions" %}">Terms of Service</a>. As well as Stripe's terms of service.</small>
        </div>
    </form>
{% endblock %}