{% extends "registration_base.html" %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/dist/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dist/bootstrapValidator.min.css' %}">
{% endblock css %}
{% block content %}
    <div>
        <form id="regForm" method="post">
            {% csrf_token %}
            <div class="sb_signup_input_group">
                <div class="row sb_reg_signup_headline_container"
                     align="center">
                    <h2 class="sb_signup_headline">Representative Info</h2>
                </div>
                <div class="row-fluid">
                    <div class="col-lg-3 col-sm-4 col-xs-12 col-lg-offset-3 col-sm-offset-2">
                        <input type="text"
                               value=""
                               placeholder="SSN"
                               name="ssn"
                               class="sb_signup_input form-control input-lg f_name">
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-12">
                        <input type="text"
                               value=""
                               name="bank_account"
                               placeholder="Bank Account"
                               class="sb_signup_input form-control input-lg l_name">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-lg-6 col-sm-8 col-xs-12 col-lg-offset-3 col-sm-offset-2">
                        <input type="text"
                               value=""
                               name="credit_card"
                               placeholder="Credit Card"
                               class="sb_signup_input form-control input-lg email">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-lg-6 col-sm-8 col-xs-12 col-lg-offset-3 col-sm-offset-2">
                        <input type="text"
                               value=""
                               name="cvv"
                               placeholder="CVV"
                               class="sb_signup_input form-control input-lg email">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-lg-6 col-sm-8 col-xs-12 col-lg-offset-3 col-sm-offset-2">
                        <select id="id_card_type"
                                name="card_type">
                            <option value="visa">Visa</option>
                            <option value="maca">MasterCard</option>
                            <option value="disc">Discover</option>
                            <option value="amex">American Express</option>
                        </select>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-lg-6 col-sm-8 col-xs-12 col-lg-offset-3 col-sm-offset-2">
                        <input type="text"
                               value=""
                               name="office"
                               placeholder="Office"
                               class="sb_signup_input form-control input-lg password">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-lg-6 col-sm-8 col-xs-12 col-lg-offset-3 col-sm-offset-2">
                        <input type="text"
                               value=""
                               name="district"
                               placeholder="District"
                               class="sb_signup_input form-control input-lg password2">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-lg-6 col-sm-8 col-xs-12 col-lg-offset-3 col-sm-offset-2">
                        <input type="text"
                               value=""
                               name="seat_number"
                               placeholder="Seat Number"
                               class="sb_signup_input form-control input-lg password2">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-lg-6 col-sm-8 col-xs-12 col-lg-offset-3 col-sm-offset-2">
                        <input type="text"
                               value=""
                               name="gov_email"
                               placeholder=".gov Email Address"
                               class="sb_signup_input form-control input-lg password2">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-lg-6 col-sm-8 col-xs-12 col-lg-offset-3 col-sm-offset-2">
                        <select id="id_account_type"
                                name="account_type">
                            <option value="free">Free</option>
                            <option value="sub">Subscription</option>
                        </select>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="col-lg-6 col-sm-8 col-xs-12 col-lg-offset-3 col-sm-offset-2">
                        <button class="sb_btn sb_btn_signup btn btn-embossed btn-primary submit_rep"
                                type="submit">
                            Sign Up
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/dist/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/dist/bootstrapValidator.min.js' %}"></script>
    <script src="{% static 'js/rep_validation.js' %}"></script>
{% endblock %}