{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Email Verification{% endblock title %}
{% block css %}
    {{ block.super }}
{% endblock css %}

{% block content %}
<div class="row-fluid" align="center">
    <div class="col-lg-6 col-sm-8 col-xs-12 col-lg-offset-4 col-sm-offset-2">
        <h2>Please verify your email!</h2>
    </div>
</div>
<div class="row-fluid" align="center">
    <div class="col-lg-6 col-sm-8 col-xs-12 col-lg-offset-4 col-sm-offset-2">
        <div style="font-size: 13pt">
            Please check your email for your verification email.
            <div style="font-size: 10pt">
                If it has been awhile and you still haven't received an email
                click <a href="{% url 'resend_verification' %}">here</a> to get another.
            </div>
        </div>
    </div>
</div>
{% endblock %}