{% extends "manage/mission_manage_base.html" %}
{% load staticfiles %}
{% block title %}Edit Update{% endblock title %}
{% block live %}

<div class="block">
    <h3 class="block-title">Edit Update</h3>
    <form class="block-content" id="updateForm">
        <textarea class="form-control no-border no-padding-left"
                  name="title"
                  placeholder="Enter the title..."
                  id="js-title"
                  rows="1">{{ update.title }}</textarea>
        <div class="sb_markdown">
            <textarea class="editable"
                  name="content"
                  rows="10">{{ update.content }}</textarea>
        </div>

        <div id="validation_errors"></div>
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <button class="btn btn-primary sb_btn sb_btn_fill" id="edit-update">Submit</button>
            </div>
            <div class="col-lg-3 col-md-4">
                <button class="btn btn-primary sb_btn sb_btn_fill sb_btn_remove"
                    id="js-cancel">Cancel</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
