{% extends "manage/mission_manage_base.html" %}
{% load staticfiles %}
{% block title %}Mission Epic Settings{% endblock title %}

{% block live %}

    <div class="hero">
        <div class="block block-type-title">
            <div class="block-content type-nav clearfix">
                <h1>Epic</h1>
                <div class="title-important-actions">
                    <a href="{% url "mission_edit_epic" mission.id slug %}" class="btn btn-primary btn-lg sb_btn">Edit</a>
                </div>
            </div>
        </div>
    </div>

    <div class="block min-height-600">
        <div class="block-content sb_markdown">
            <div>
                {% autoescape off %}
                    {{ mission.epic }}
                {% endautoescape %}
            </div>
        </div>
    </div>
{% endblock %}



{% block intercom %}
    Intercom('trackEvent', 'manage-epic-page');
{% endblock %}