{% extends "manage/mission_manage_base.html" %}
{% load staticfiles %}
{% block title %}Mission Epic Settings{% endblock title %}

{% block live %}
    <div class="block">
        <h3 class="block-title">Epic Management</h3>
        <div class="block-content">
            <form id="epicForm">
                <textarea id="epic_editor" class="editable">
                    {{ mission.epic }}
                </textarea>
                <div id="validation-errors"></div>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <button class="btn btn-primary sb_btn sb_btn_fill"
                                id="submit">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}



{% block intercom %}
    Intercom('trackEvent', 'manage-epic-page');
{% endblock %}