{% extends "layout/hero-one-col.html" %}
{% load staticfiles %}
{% block title %}Mission Epic Settings{% endblock title %}
{% block body_class %}
    background-color-white
{% endblock %}

{% block navigation %}
    {{ block.super }}
    <div class="app-navbar-secondary">
        <header class="navbar-secondary navbar-static-top navbar-fixed-top hidden-xs">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <a href="{% url 'mission_epic' mission.id slug %}" class="navbar-brand navbar-brand-secondary color-sb-green">Edit Epic</a>
                </div>
                <div class="collapse navbar-collapse navbar-collapse-secondary">
                    <ul class="nav navbar-nav navbar-right padding-right-40">
                        <li>
                            <span class="ten-margin-right line-height-three">
                                <small>Last autosaved
                                    <span id="livestamp"
                                          data-livestamp="{{ mission.epic_last_autosaved }}"></span>
                                </small>
                            </span>
                        </li>
                        <li>
                            <a href=""
                               id="cancel"
                               class="red-href"><i class="fa fa-ban" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href=""
                               id="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    </div>

{% endblock %}

{% block hero %}

    <div class="block min-height-600 margin-top-20">
        <div class="block-content">
            <form id="epicForm">
                <textarea id="epic_editor"
                          class="font-style-normal editable sb_markdown">
                    {{ mission.temp_epic }}
                </textarea>
                <div id="validation-errors"></div>
            </form>
        </div>
    </div>
{% endblock %}



{% block intercom %}
    Intercom('trackEvent', 'manage-epic-page');
{% endblock %}