{% extends "manage/mission_manage_base.html" %}
{% load staticfiles %}
{% block title %}Mission Goal Settings{% endblock title %}
{% block live %}
    <div class="block">
        <h1 class="block-title">Update Management</h1>
        <div class="block-content">
            <input class="form-control single-col-input-group"
                   id="goal_title"
                   name="goal-title"
                   placeholder="Goal Title"
                   type="text"/>
            <div class="input-group single-col-input-group">
                <div class="input-group-addon"><span class="fa fa-check"></span></div>
                <input class="form-control"
                       id="goal_vote_req"
                       name="goal_vote_req"
                       placeholder="Pledge Vote Requirement"
                       type="text"/>
            </div>
            <div class="input-group single-col-input-group">
                <span class="input-group-addon">$</span>
                <input class="form-control"
                       id="goal_monetary_req"
                       name="goal_monetary_req"
                       placeholder="Monetary Requirement (dollar amount only, no '.')"
                       type="text"/>
            </div>
                    <textarea class="form-control"
                              id="goal_summary"
                              name="goal_summary"
                              placeholder="Goal Summary"

            <textarea class="form-control"
                      id="goal_description"
                      name="goal_description"
                      placeholder="Goal Description (optional)"
                      rows="10"></textarea>


            <button class="btn btn-primary sb_btn sb_btn_fill edit_goal-action"
                    id="submit_goal"
                    data-object_uuid="{{ id }}">
                Submit
            </button>
        </div>
    </div>
    <div class="block">
        <h3 class="block-title no-underline center-title">Active Goals</h3>
    </div>
    <div id="js-active-goals-wrapper">
        <div class="block">
            <div class="block-content block-holder-md">
                Create some goals for your mission to tell people what you're
                working on and to increase donations.
            </div>
        </div>
    </div>
    <div class="block">
        <h3 class="block-title no-underline center-title">Previous Goals</h3>
    </div>
    <div id="js-previous-goals-wrapper">
        <div class="block">
            <div class="block-content block-holder-md">
                Create some goals that you can complete!
            </div>
        </div>
    </div>

{% endblock %}
