{% extends "manage/mission_manage_base.html" %}
{% load staticfiles %}
{% block title %}Mission Settings{% endblock title %}

{% block live %}
    <div class="block">
        <h3 class="block-title">
            Mission Settings
        </h3>
        <div class="block-content">
            <form id="socialForm">
                {% if mission.focus_on_type != "position" %}
                    <div class="form-group">
                        <label for="">Title</label>
                        <input type="text"
                           name="title"
                           placeholder="Mission Title (Defaults to the position you're running for or the focus of your advocacy)"
                           value="{{ mission.title|default_if_none:'' }}"
                           class="form-control">
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="about">About</label>
                    <textarea class="form-control"
                              placeholder="255 Characters about the Mission"
                              rows="3" name="about" id="about">{{ mission.about|default_if_none:'' }}</textarea>
                </div>

                <div class="form-group">
                    <label for="website">Website URL</label>
                    <input type="text"
                       id="website"
                       name="website"
                       placeholder="https://"
                       value="{{ quest.website|default_if_none:'' }}"
                       class="form-control">
                </div>

                <div class="form-group">
                    <label for="facebook-social-address">Facebook URL</label>
                    <input type="text"
                       id="facebook-social-address"
                       name="facebook"
                       placeholder="Including https://www.facebook.com/"
                       value="{{ quest.facebook|default_if_none:'' }}"
                       class="form-control">
                </div>

                <div class="form-group">
                    <label for="twitter-social-address">Twitter URL</label>
                    <input type="text"
                       id="twitter-social-address"
                       name="twitter"
                       placeholder="Including https://www.twitter.com/"
                       value="{{ quest.twitter|default_if_none:'' }}"
                       class="form-control">
                </div>

                <div class="form-group">
                    <label for="linkedin-social-address">LinkedIn URL</label>
                    <input type="text"
                       name="linkedin"
                       id="linkedin-social-address"
                       placeholder="Including https://www.linkedin.com/"
                       value="{{ quest.linkedin|default_if_none:'' }}"
                       class="form-control">
                </div>

                <div class="form-group">
                    <label for="youtube-social-address">YouTube URL</label>
                    <input type="text"
                       name="youtube"
                       id="youtube-social-address"
                       placeholder="Including https://www.youtube.com/"
                       value="{{ quest.youtube|default_if_none:'' }}"
                       class="form-control">
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <input type="submit" class="btn btn-primary sb_btn sb_btn_fill"
                                id="submit"/>
                    </div>
                </div>

            </form>
        </div>
    </div>

{% endblock %}


{% block intercom %}
    Intercom('trackEvent', 'manage-mission-settings');
{% endblock %}