{% extends "manage/mission_manage_base.html" %}
{% load staticfiles %}
{% block title %}Mission Insights{% endblock title %}

{% block live %}
<div class="block">
    <div class="block block-type-title">
        <div class="block-content type-nav clearfix">
            <h1 class="">Volunteers</h1>
            <div class="title-important-actions">
                {% if mission.is_moderator %}<a href="/v1/missions/{{ mission.id }}/volunteer_data/" target="_blank" class="btn btn-primary sb_btn">Export Volunteers</a>{% endif %}
            </div>
        </div>
    </div>
</div>

<div id="js-list-volunteer-tables">
</div>

{% endblock %}

{% block intercom %}
    Intercom('trackEvent', 'manage-volunteers-page');
{% endblock %}