{% extends "manage/manage_base.html" %}
{% load staticfiles %}
{% block title %}Mission Settings{% endblock title %}
{% block settings_header %}Manage Missions{% endblock settings_header %}
{% block important_actions %}
    <a href="{% url 'mission' mission.id mission.slug %}" class="btn btn-primary btn-lg sb_btn">View Mission</a>
{% endblock important_actions %}
{% block sidebar_left %}
    <div class="block block-type-nav">
        <div class="block-content">
            <ul class="nav nav-list nav-list-vivid">
                <li class="{% if "manage/" == request.path %}active{% endif %}">
                    <label for="mission-select" class="hidden"></label>
                    <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);" id="mission-select" class="form-control mission-input">
                    {% for other_mission in missions %}
                        {% if other_mission.id == mission.id %}
                            <option selected value="{{ other_mission.id }}">{% if other_mission.title %} {{ other_mission.title }} {% else %} {{ other_mission.focus_name_formatted }} {% endif %}</option>
                        {% else %}
                            <option value="{% url "mission_settings" other_mission.id other_mission.slug %}">{% if other_mission.title %} {{ other_mission.title }} {% else %} {{ other_mission.focus_name_formatted }} {% endif %}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </li>
                <li {% if "/manage/general/" in request.path %}class="active" {% endif %}>
                    <a href="{% url "mission_settings" mission.id slug %}">
                        General
                    </a>
                </li>
                <li {% if "/manage/epic/" in request.path %}class="active" {% endif %}>
                    <a href="{% url "mission_edit_epic" mission.id slug %}">
                        Epic
                    </a>
                </li>
                <li {% if "/manage/updates/" in request.path %}class="active" {% endif %}>
                    <a href="{% url "mission_update_settings" mission.id slug %}">
                        Updates
                    </a>
                </li>
                <li {% if "/manage/insights/" in request.path %}class="active" {% endif %}>
                    <a href="{% url "mission_insights" mission.id slug %}">
                        Donations
                    </a>
                </li>
                <li {% if "/manage/volunteers/" in request.path %}class="active" {% endif %}>
                    <a href="{% url "mission_volunteers" mission.id slug %}">
                        Volunteers
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="block block-type-nav">
        <div class="block-title">
            Mission Setup Checklist
        </div>
        <div class="block-content">
            <ul class="nav nav-list nav-list-vivid">
                <li>
                    <a data-toggle="tooltip" data-placement="top"
                       data-title="Complete the Quest setup checklist as the first step in taking your Mission live"
                       {% if not quest.active %}class="red-href"{% endif %} href="{% url "quest_manage_settings" quest.owner_username %}">
                        <i class="fa {% if quest.active %}fa-check{% else %}fa-times{% endif %} quest-rocket"></i> Take Quest Live</a>
                </li>
                <li>
                    <a data-toggle="tooltip" data-placement="top"
                       data-title="Give a short summary of your Mission to get people interested"
                       {% if not mission.about %}class="red-href"{% endif %} href="{% url "mission_settings" mission.id slug %}#general">
                        <i class="fa {% if mission.about %}fa-check{% else %}fa-times{% endif %} quest-rocket"></i> Fill Out About</a>
                </li>
                <li>
                    <a data-toggle="tooltip" data-placement="top"
                       data-title="Give a more detailed explanation including background, goals, and purpose of your Mission"
                       {% if not mission.epic %}
                            class="red-href"
                       {% endif %} href="{% url "mission_edit_epic" mission.id slug %}">
                        <i class="fa {% if mission.epic %}fa-check{% else %}fa-times{% endif %} quest-rocket"></i> Fill Out Epic</a>
                </li>
                <li>
                    <a data-toggle="tooltip" data-placement="top"
                       data-title="Upload a picture which represents your Mission"
                       {% if not mission.wallpaper_pic != "https://sagebrew.local.dev/static/images/wallpaper_capitol_2.jpg" %}
                            class="red-href"
                       {% endif %}
                       href="{% url "mission_settings" mission.id slug %}">
                        <i class="fa {% if mission.wallpaper_pic != "https://sagebrew.local.dev/static/images/wallpaper_capitol_2.jpg" %}fa-check{% else %}fa-times{% endif %} quest-rocket">
                        </i> Upload a Wallpaper</a>
                </li>
                <li>
                    <a data-toggle="tooltip" data-placement="top"
                       data-title="Take your Mission live to start getting donations"
                       {% if not mission.active %}class="red-href"{% endif %}
                       href="#">
                        <i class="fa {% if mission.active %}fa-check{% else %}fa-times{% endif %} quest-rocket"></i> Take Mission Live</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="block block-type-nav">
        <div class="block-title">
            Start Another Mission
        </div>
        <div class="block-content">
            <a class="btn btn-primary sb_btn sb_btn_fill" id="js-quest-signup" href="{% url "select_mission" %}"><i class="fa fa-rocket quest-rocket"></i> Embark</a>
        </div>
    </div>
{% endblock sidebar_left %}
