{% extends "layout/two-col-right.html" %}
{% load staticfiles %}
{% block title %}Mission Gifts{% endblock title %}

{% block live %}
    <div class="block block-type-title">
        <div class="block-content">
            <h1>Search</h1>
            <input placeholder="Search for Items You Need"/>
        </div>
    </div>

    <div id="js-gift-container" class="row list-container"></div>
{% endblock %}

{% block sidebar_right %}
    <div class="block">
        <div class="block-title">
            Selected Items
        </div>
        <div id="js-selected-gift-container" class="block-content">
        </div>
    </div>
{% endblock %}

{% block intercom %}
    Intercom('trackEvent', 'visited-mission-gifts');
{% endblock %}