<div class="block">
    <div class="block-title">
        Generate more traffic for your Mission by setting up the basics
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="sb-profile-not-friend-element no-margin-top-bottom">
                <div class="js-hover-overlay-activate">
                    <div class="block">
                        <div class="image-wrapper" style="font-size: 60px; margin-bottom: -20px;">
                            <i class="fa fa-check-circle" style="color: #397a69" aria-hidden="true"></i>
                        </div>
                        <div class="block-title center-title no-underline centered-content"
                            style="font-size: 14px; font-weight: 800;">
                            Mission Wallpaper
                        </div>
                        <div class="sb-overlay">
                            <div class="sb-overlay-text">
                                <div class="block-content">
                                    Replace the default image with one that
                                    reflects your Mission.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="sb-profile-not-friend-element no-margin-top-bottom">
                <div class="js-hover-overlay-activate">
                    <div class="block">
                        <div class="image-wrapper" style="font-size: 60px; margin-bottom: -20px;">
                            <i class="fa fa-font" aria-hidden="true"></i>
                        </div>
                        <div class="block-title center-title no-underline centered-content"
                            style="font-size: 14px; font-weight: 800;">
                            Mission About
                        </div>
                        <div class="sb-overlay">
                            <div class="sb-overlay-text">
                                <div class="block-content">
                                    Summarize your mission in a couple words.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="sb-profile-not-friend-element no-margin-top-bottom">
                <div class="js-hover-overlay-activate">
                    <div class="block">
                        <div class="image-wrapper" style="font-size: 60px; margin-bottom: -20px;">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </div>
                        <div class="block-title center-title no-underline centered-content"
                            style="font-size: 14px; font-weight: 800;">
                            Quest Wallpaper
                        </div>
                        <div class="sb-overlay">
                            <div class="sb-overlay-text">
                                <div class="block-content" hidden>
                                    Replace the default image with one
                                    that reflects yourself or your organization.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="sb-profile-not-friend-element no-margin-top-bottom">
                <div class="js-hover-overlay-activate">
                    <div class="block">
                        <div class="image-wrapper" style="font-size: 60px; margin-bottom: -20px;">
                            <i class="fa fa-font" aria-hidden="true"></i>
                        </div>
                        <div class="block-title center-title no-underline centered-content"
                            style="font-size: 14px; font-weight: 800;">
                            Quest About
                        </div>
                         <div class="sb-overlay">
                            <div class="sb-overlay-text">
                                <div class="block-content">
                                    Describe yourself or your organization.
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>