<div>
    <h2 style="text-align: center;">Share your platform, goals, and mission with the world.</h2>
    <p style="text-align: center;">
        <i>Try highlighting this text</i>
    </p>
    <p style="text-align: center;" class="">
        <br>
    </p>
    <p style="text-align: center;" class="">
        <br>
    </p>
    <p style="text-align: center;" class="medium-insert-active">
        <br>
    </p>
    <p style="text-align: center;" class="">
        <span style="color: inherit; font-family: inherit; font-size: 22px;">
            <br>
        </span>
    </p>
    <p class="" style="text-align: center; ">
        Find ways to improve your Epic through the
        <a href="http://blog.sagebrew.com" target="_blank"> Sagebrew Blog</a>
    </p>
</div>