{% extends "manage/mission_manage_base.html" %}
{% load staticfiles %}
{% block title %}Mission Update Settings{% endblock title %}
{% block live %}
    <div class="block">
        <h3 class="block-title">Update Management</h3>
        <div class="block-content">
            <form id="updateForm">
                <div class="form-group">
                    <label for="">Title</label>
                    <input type="text"
                       name="title"
                       placeholder="Update Title"
                       class="form-control">
                </div>
                <div class="row sb_markdown">
                    <div class="col-lg-12">
                        <textarea class="form-control markdown-input"
                                  name="content"
                                  rows="10"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <button class="btn btn-primary sb_btn sb_btn_fill"
                                id="submit">
                            Save
                        </button>
                    </div>
                </div>
            </form>
            <div id="fileModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn btn-sm sb_btn close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="fileModalLabel">Upload Images</h3>
                        </div>
                        <div class="modal-form">
                            <div class="tabbable tabs-left">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab1" data-toggle="tab">Upload</a></li>
                                    <li><a href="#tab2" data-toggle="tab">Enter URL</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab1">
                                        <div class="preview" id="preview" >
                                            <input id="upload_image" type="file" name="img">
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab2">
                                        <p><input type="text" class="form-control input-lg img-url" placeholder="Ex: http://yoursite.com/image.jpg" id="img-url" /></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <button class="btn btn-primary sb_btn sb_btn_fill" id="insert_image_post">Insert Image</button>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <button class="btn btn-primary sb_btn sb_btn_fill sb_btn_remove" data-dismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <h3 class="block-title">Previous Updates</h3>
        <div id="js-updates-wrapper"></div>
    </div>


{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/epic_validator.js' %}"></script>
{% endblock %}
