<div class="modal fade" id="flagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title" id="myModalLabel">Flag Content</h4>
        </div>
        <div class="modal-body sb_markdown">
                <form role="form">
                    <div class="form-group" id="flag_content">
                        <label class="radio">
                            <input type="radio" data-toggle="radio" name="optionsRadios" id="optionsRadios1" value="spam" data-radiocheck-toggle="radio" required="" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            Spam
                        </label>
                        <label class="radio">
                            <input type="radio" data-toggle="radio" name="optionsRadios" id="optionsRadios2" value="explicit" data-radiocheck-toggle="radio" checked="" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            Explicit
                        </label>

                        <label class="radio">
                            <input type="radio" data-toggle="radio" name="optionsRadios" id="optionsRadios3" value="other" data-radiocheck-toggle="radio" required="" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            Other
                        </label>

                    </div>
                    <textarea class="form-control flag_content_reason" style="height: 150px;"
                                  name="flag_reason"
                                  placeholder="Please provide reasoning for your flagging"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="flag_modal_submit" class="btn btn-sm btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>