[run]
branch = True
omit =
    */tests*
    */migrations/*
    *__init__.py*
    */settings/*
    *wsgi.py*
    *admin.py*
    # Management commands should be included usually but these are tested
    # in a different way than running unit tests. The build will fail if
    # these fail when docker attempts to run.
    */management/commands/dockerfilepopulation.py
    */management/commands/logglypopulation.py
    */management/commands/populatenginx.py
    */management/commands/populatesupervisor.py
    */api/alchemyapi.py
    */management/commands/populateschools.py
    */management/commands/populatetopiccats.py
    */management/commands/populateenvconfig.py
    */management/commands/populatehistoricaldata.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    raise Exception

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:


[html]
directory = $CIRCLE_ARTIFACTS