[run]
branch = True
omit =
    */tests*
    */migrations/*
    *__init__.py*
    */settings/*
    *wsgi.py*
    *admin.py*
    # Management commands should be included usually but these are tested
    # in a different way than running unit tests. The build will fail if
    # these fail when docker attempts to run.
    */management/commands/dockerfilepopulation.py
    */management/commands/logglypopulation.py
    */management/commands/populatenginx.py
    */management/commands/populatesupervisor.py
    */api/alchemyapi.py
    */management/commands/populateschools.py
    */management/commands/populatetopiccats.py
    */management/commands/populateenvconfig.py
    */management/commands/populatehistoricaldata.py
    */management/commands/create_prepopulated_tags.py
    */management/commands/create_oauth_client.py
    */management/commands/createsite.py
    */management/commands/populate_rep_models.py
    */management/commands/createtokens.py
    */management/commands/populate_indices.py
    */management/commands/repopulate_elasticsearch.py
    */management/commands/update_rep_districts.py
    */management/commands/create_prepopulated_reps.py
    */management/commands/populate_president.py
    */management/commands/update_posts.py
    */management/commands/create_subscription_plans.py
    */management/commands/empty_elasticsearch.py
    */management/commands/update_official_search.py
    */management/commands/populate_dummy_campaign.py
    */management/commands/create_badges.py
    */management/commands/populate_location_data.py
    */management/commands/populate_owner_username.py
    */management/commands/add_addresses_to_locations.py
    */management/commands/clear_neo_db.py
    */management/commands/create_dynamo_tables.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    except CypherException as e:
    pass


[html]
directory = $CIRCLE_ARTIFACTS