{% extends 'layout/two-col-right.html' %}
{% load staticfiles %}

{% block live %}
    <div class="block">
        <h5 class="block-title">Edit Solution</h5>
        <div class="block-content solution-manager sb_markdown">
            <label for="solution_content_id"></label>
            <textarea class="form-control markdown-input"
                      id="solution_content_id"
                      name="solution_content">
            </textarea>
            <ul class="list-inline list-inline-btns">
                <li>
                    <a href="#" class="btn btn-primary sb_btn_fill" id="submit">Submit</a>
                </li>
                <li>
                    <a href="#" class="btn btn-primary sb_btn_fill sb_btn_remove" id="cancel">Cancel</a>
                </li>
            </ul>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/solution_validator.js' %}"></script>
{% endblock %}