{% load staticfiles %}
{% load humanize %}
<div class="block sb_solution block_{{ object_uuid }}">
    <div class="js-page-object" data-object_uuid="{{ object_uuid }}" style="display: None"></div>
    <div class="row">
        <div class="col-sm-1 hidden-xs">
            <div class="sb_thumbnail_sm thumbnail">
                {% static 'images/sage_coffee_grey-01.png' as default_profile %}
                <img src="{{ profile.profile_pic|default_if_none:default_profile }}"/>
            </div>
        </div>
        <div class="col-xs-10" style="margin-top:-6px;  margin-bottom: -10px">
            <div>
                <small>
                    <a href="{{ profile.url }}">{{ profile.first_name }} {{ profile.last_name }}</a> proposed a Solution to
                </small>

            </div>
        </div>
        <div class="col-xs-11">
            <small>
                <a href="{{ question.url }}">{{ question.title|truncatechars:110 }}</a>
            </small>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
            <h4>
                Solution
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 sb_content_body">
            <div class="sb_markdown" id="sb_content_{{ object_uuid }}">
                {% autoescape off %}
                    {{ html_content }}
                {% endautoescape %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-10 hidden-xs">
            <small>
                {{ last_edited_on|naturaltime }}
            </small>
        </div>
    </div>
    <div class="row">
        {% if "comment" in request_profile.privileges or "beta_user" in request_profile.privileges %}
            <form id="commentSubmitForm">
                <div class="input-group sb_comment">
                        <textarea class="input-group form-control sb_comment_input"
                                  id="post_comment_on_{{ object_uuid }}"
                                  rows="2"
                                  name="comment_content"
                                  placeholder="Write your comment..."></textarea>
                        <a class="btn input-group-btn sb_btn_comment_icon comment-action comment_{{ object_uuid }}"
                           data-object_uuid="{{ object_uuid }}"><span class="fa fa-plus"></span></a>
                    </div>
            </form>
        {% else %}
            <div><small>
                <span class="sb_comment_disabled" data-toggle="tooltip"
                      data-placement="top"
                      data-title="Requirement: 20+ Rep"
                      id="post_comment_on_{{ object_uuid }}">
                    comment
                </span>
            </small></div>
        {% endif %}
    </div>
    <div id="sb_comments_container_{{ object_uuid }}">
    </div>
</div>