<div class="col-lg-12 col-md-12 sb_down_vote_wrapper">
    {% if council_vote or council_vote == None %}
        <button class="btn sb_btn sb_btn_vote vote_down vote_object-action vote_{{ object_uuid }}"
           data-object_uuid="{{ object_uuid }}"
           data-vote_type=false>
            <span class="fa fa-chevron-down"></span>
        </button>
    {% else %}
        <button class="btn sb_btn sb_btn_vote vote_down vote_down_active vote_object-action vote_{{ object_uuid }}"
           data-object_uuid="{{ object_uuid }}"
           data-vote_type=false>
            <span class="fa fa-chevron-down"></span>
        </button>
    {% endif %}
</div>