{% extends "layout/hero-two-col-left.html" %}
{% load staticfiles %}

{% block hero %}
    <div class="block block-type-title">
        <div class="block-content type-nav clearfix">
            <h1>Council Area</h1>
            <ul class="nav nav-pills">
                <li class="{% if "/positions/" not in request.path %}active{% endif %}">
                    <a href="/council/">Flagged Objects</a>
                </li>
                <li class="{% if "/positions/" in request.path %}active{% endif %}">
                    <a href="/council/positions/">Positions</a>
                </li>
                <li class="{% if "/positions/" in request.path %}active{% endif %}">
                    <a href="/council/missions/">Missions</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block sidebar_left %}
    <div class="block block-type-nav">
        <div class="block-content ">
            <ul class="nav nav-list nav-list-vivid">
                {% comment %}
                The use of request.GET.urlencode here is to capture query params, best way I
                can think of to determine active for the buttons.
                {% endcomment %}
                <li class="{% if "voted" not in request.GET.urlencode %}active{% endif %}">
                    <a class="query_council"
                       data-filter=""
                       href="">
                        Not Voted On
                    </a>
                </li>
                <li class="{% if "voted" in request.GET.urlencode %}active{% endif %}">
                    <a class="query_council"
                       data-filter="voted"
                       href="">
                        Already Voted On
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block live %}
    <div class="block">
        <h3 class="block-title">Flagged Content</h3>
        <div class="block-content" id="js-flag-voting-wrapper">
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/vendor/foggy.min.js' %}"></script>
    <script src="{% static 'js/vote_on_flagged.js' %}"></script>

{% endblock %}