<form id="address">
    <div class="form-group">
        <label for="street">Address Line 1*</label>
        <input type="text"
               id="street"
               name="street"
               value="{{ address.street|default_if_none:"" }}"
               placeholder="Address Line 1*"
               class="form-control"
               autocomplete="off">
    </div>
    <div class="form-group">
        <label for="street-additional">Address Line 2</label>
        <input type="text"
               id="street-additional"
               name="street_additional"
               value="{{ address.street_additional|default_if_none:"" }}"
               placeholder="Apt, Building, etc"
               class="form-control"
               autocomplete="off">
    </div>
    <div class="form-group">
        <label for="city">City*</label>
        <input type="text"
               id="city"
               name="city"
               value="{{ address.city|default_if_none:"" }}"
               placeholder="City*"
               class="form-control"
               autocomplete="off">
    </div>
    <div class="form-group">
        <label for="">State*</label>
        <input type="text"
               id="state"
               name="state"
               value="{{ address.state|default_if_none:"" }}"
               placeholder="State*"
               class="form-control"
               autocomplete="off">
    </div>
    <div class="form-group">
        <label for="">Zip Code*</label>
        <input type="text"
               id="postal-code"
               name="postal_code"
               value="{{ address.postal_code|default_if_none:"" }}"
               placeholder="Zip Code*"
               class="form-control"
               autocomplete="off">
    </div>
</form>