<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title></title>
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet/less" type="text/less" href="{% static 'lesson/lesson.less' %}"/>
    <script src="{% static 'bower_components/less/dist/less.min.js' %}"></script>

</head>
<body>
<header class="top-menu">
    <h2 class="logo">Mailer</h2>
    <nav class="top-menu-nav">
        <ul class="top-menu-nav-list">
            <li>
                <a href="#">mailer</a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>