{% extends "layout/hero-two-col-right.html" %}
{% load staticfiles %}
{% block title %}{{ page_user.first_name }}'s Newsfeed{% endblock title %}
{% block description %}
    <meta name="description" content="Sagebrew's newsfeed is the center for
    everything going on relating to you. Any private conversations you're
    having with friends or public conversations going on in the Conversation
    Cloud that relate to you will show up here.">
{% endblock description %}
{% block keywords %}
    <meta name="keywords" content="news, community, nonpartisan, questions, solutions, privacy">
{% endblock keywords %}


{% block hero %}
    <div class="block">
        <h1 class="block-title no-underline center-title">Newsfeed</h1>
    </div>
{% endblock %}
{% block secondary_nav %}
{% endblock %}

{% block sidebar_right %}
    <div class="block block-type-nav">
        <div class="block-title">
            Start a Mission
        </div>
        <div class="block-content">
            <a class="btn btn-primary sb_btn sb_btn_fill js-quest-signup" href="#"><i class="fa fa-rocket quest-rocket"></i> Embark</a>
        </div>
    </div>
    <div class="block block-type-nav">
        <div class="block-title">
            Start a Conversation
        </div>
        <div class="block-content">
            <a class="btn btn-primary sb_btn sb_btn_fill" href="/conversations/submit_question/"><i class="fa fa-cloud  quest-rocket"></i> Discuss</a>
        </div>
    </div>
    {% if page_profile.has_address %}
        {% include "representative_block.html" %}
    {% else %}
        <div class="block">
            <div class="block-title">See Representatives & Advocates For Your Area</div>
            <div class="block-content">
                {% include "address_form.html" %}
                <button id="js-continue-btn" type="button" class="btn btn-primary sb_btn sb_btn_fill">Submit</button>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block live %}
    {% include "posts/create.html" %}
    <div class="app-newsfeed" id="wall_app">

    </div>
    {% include "flag_modal.html" %}
{% endblock live %}

{% block intercom %}
    Intercom('trackEvent', 'visited-newsfeed');
{% endblock %}
