{% extends "layout/hero-two-col-right.html" %}
{% load staticfiles %}
{% block title %}{{ page_user.first_name }}'s Newsfeed{% endblock title %}
{% block description %}
    <meta name="description" content="Sagebrew's newsfeed is the center for
    everything going on relating to you. Any private conversations you're
    having with friends or public conversations going on in the Conversation
    Cloud that relate to you will show up here.">
{% endblock description %}
{% block keywords %}
    <meta name="keywords" content="news, community, nonpartisan, questions, solutions, privacy">
{% endblock keywords %}


{% block hero %}
    {% comment %}
    Rolling with the hero layout so that we can display
    promotions, system notifications, etc at the top of the newsfeed
    {% endcomment %}
{% endblock %}
{% block secondary_nav %}
{% endblock %}

{% block sidebar_right %}
    <div class="block block-type-nav">
        <div class="block-title">
            Start a Mission
        </div>
        <div class="block-content">
            <a class="btn btn-primary sb_btn sb_btn_fill js-quest-signup" href="#"><i class="fa fa-rocket quest-rocket"></i> Embark</a>
        </div>
    </div>
    <div class="block block-type-nav">
            <div class="block-title">
                Start a Conversation
            </div>
            <div class="block-content">
                <a class="btn btn-primary sb_btn sb_btn_fill js-quest-signup" href="#"><i class="fa fa-cloud  quest-rocket"></i> Discuss</a>
            </div>
        </div>
    <div class="block">
        <h6 class="block-title">Suggested Conversations</h6>
        <div class="block-content" id="suggested_missions"></div>
    </div>

    {% include "sb_home_section/representative_col.html" %}
{% endblock %}

{% block live %}
    {% include "post_create.html" %}
    <div class="app-newsfeed" id="wall_app">

    </div>
{% endblock live %}
