{% extends "sb_plebs_base/profile_page.html" %}
{% load staticfiles %}
{% block title %}{{ page_user.first_name }}'s Donations{% endblock title %}
{%  block midsection %}
<div class="col-md-4 hidden-sm hidden-xs">
   {% include "sb_home_section/sb_profile_rep_stats.html" %}
   {% include "sb_home_section/sb_profile_potential_reps_stats.html" %}
</div>
<div class="col-md-8">
   <div class="col-lg-12 sb_wall">
       <div class="row">
           <div class="col-xs-12"
                id="donation_wrapper">
               <div style="display: none"
                    id="next_url" data-url=""></div>
           </div>
       </div>
   </div>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/get_pleb_donations.js' %}"></script>
{% endblock %}