{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block navigation %}
    <div class="sb_navbar_2">
    {% include "logged_in_nav.html" %}
    </div>
{% endblock %}
{% block content %}
{% if is_owner == True or is_friend == True %}
    <div class="row-fluid">
    <div class="row-fluid sb_profile_container_top">

    </div>
    <div class="col-lg-4">
        <div class="sb_profile_container_left">
            <h1>{{ pleb_info.first_name }} {{ pleb_info.last_name }}</h1>
            <img src="{{ pleb_info.profile_pic|default_if_none:'' }}"/>
            <div align="left"><b>Reputation: </b>{{ pleb_info.reputation }}</div>
            <div align="left"><b>Representatives:</b></div>
            <div align="left">Senators:</div>
            <ul>
                {% for senator in senator_names %}
                    <li>{{ senator }}</li>
                {% endfor %}
            </ul>
            <div align="left">House Representative:</div>
            <ul>
                <li>{{ rep_name }}</li>
            </ul>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row-fluid">
            <div class="row-fluid">
                <div class="col-lg-12">
                    <div class="sb_post_container">
                         <textarea class="sb_post form-control"
                                  id="post_input_id"
                                  name="post_input"
                                  placeholder="Spark a conversation . . .">
                        </textarea>

                        <a class='sb_btn_post btn btn-lg btn-block btn-primary post-action'
                           data-current_pleb="{{ current_user }}"
                           data-wall_pleb="{{ page_user }}">Post
                        </a>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="sb_profile_container_wall">
                    {% block wall %}
                        {% include "wall.html" %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
        {% elif is_friend == False and is_owner == False %}
            <button class="btn btn-sm btn-primary send_friend_request-action"
               data-from_pleb="{{ current_user }}"
               data-to_pleb="{{ page_user }}">Friend Request
            </button>
            <button class="btn btn-sm btn-primary delete_friend_request-action"
               style="display:none">Delete Request</button>
        {% endif %}
{% endblock %}
{% block footer %}

{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/save_comment.js' %}"></script>
    <script src="{% static 'js/save_post.js' %}"></script>
    <script src="{% static 'js/edit_post.js' %}"></script>
    <script src="{% static 'js/delete_post.js' %}"></script>
    <script src="{% static 'js/vote_post.js' %}"></script>
    <script src="{% static 'js/vote_comment.js' %}"></script>
    <script src="{% static 'js/delete_comment.js' %}"></script>
    <script src="{% static 'js/edit_comment.js' %}"></script>
    <script src="{% static 'js/send_friend_request.js' %}"></script>
    <script src="{% static 'js/send_notification.js' %}"></script>
    <script src="{% static 'js/show_notifications.js' %}"></script>
    <script src="{% static 'js/show_friend_request.js' %}"></script>
    <script src="{% static 'js/respond_friend_request.js' %}"></script>
{% endblock scripts %}