{% extends "base.html"%}
{% load i18n %}
{% load staticfiles %}
{% block navigation %}
    {% include "navigation.html" %}
{% endblock %}

{% block content %}
    {% if is_owner == True %}
        {% block notifications %}
            <a class="btn btn-sm btn-primary show_friend_request-action" data-email="{{ pleb_info.email }}">Friend Requests</a>
            <div id="friend_request_div" style="display:none">
                {% block friend_requests %}
                    {% include "friend_requests.html"  %}
                {% endblock %}
            </div>
            <a class="btn btn-sm btn-primary show_notifications-action">Notifications</a>
        {% endblock %}

        {% block friends %}
            {% include "friends_list.html" %}
        {% endblock %}

    {% endif %}
    {% if is_owner == True or is_friend == True %}
        <h1>{{ pleb_info.first_name }} {{ pleb_info.last_name }}</h1>
        <img src="{{ pleb_info.profile_pic|default_if_none:'' }}" />
        <div align="left"><b>Reputation: </b>{{ pleb_info.reputation }}</div>
        <div align="left"><b>Representatives:</b></div>
        <div align="left">Senators:</div>
        <ul>
        {% for senator in senator_names %}
            <li>{{ senator }}</li>
        {% endfor %}
        </ul>
        <div align="left">House Representative:</div>
        <ul>
            <li>{{ rep_name }}</li>
        </ul>
        <textarea class="form-control" id= "post_input_id" name="post_input" cols ='40' rows="3" placeholder="Create a post"></textarea>
        <a class='btn btn-lg btn-block btn-primary post-action' data-current_pleb="{{ current_user }}" data-wall_pleb="{{ page_user }}">Create Post</a>

        {% block wall %}
            {% include "wall.html" %}
        {% endblock %}

    {% elif is_friend == False and is_owner == False %}
        <a class="btn btn-sm btn-primary send_friend_request-action" data-from_pleb="{{ current_user }}" data-to_pleb="{{ page_user }}">Friend Request</a>
        <a class="btn btn-sm btn-primary delete_friend_request-action" style="display:none">Delete Request</a>
    {% endif %}
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script src="{% static 'js/save_comment.js' %}"></script>
    <script src="{% static 'js/save_post.js' %}"></script>
    <script src="{% static 'js/edit_post.js' %}"></script>
    <script src="{% static 'js/delete_post.js' %}"></script>
    <script src="{% static 'js/vote_post.js' %}"></script>
    <script src="{% static 'js/vote_comment.js' %}"></script>
    <script src="{% static 'js/delete_comment.js' %}"></script>
    <script src="{% static 'js/edit_comment.js' %}"></script>
    <script src="{% static 'js/send_friend_request.js' %}"></script>
    <script src="{% static 'js/send_notification.js' %}"></script>
    <script src="{% static 'js/show_friend_request.js'%}"></script>
    <script src="{% static 'js/respond_friend_request.js' %}"></script>
{% endblock scripts %}