<div class="sb_profile_about">
    <div class="sb_about_header sb_about_header_overview">
    Overview
    </div>
    <div class="sb_profile_container_about_block">

    </div>
    <div class="">
        <button type="button" class="btn sb_btn_about_header" data-toggle="collapse" data-target="#expand_one">Basic Information</button>
    </div>
    <div id="expand_one" class="collapse sb_profile_container_about_block">

    </div>
    <div>
        <button type="button" class="btn sb_btn_about_header" data-toggle="collapse" data-target="#expand_two">Education</button>
    </div>
    <div id="expand_two" class="collapse sb_profile_container_about_block">

    </div>
    <div>
        <button type="button" class="btn sb_btn_about_header" data-toggle="collapse" data-target="#expand_three">Experience</button>
    </div>
    <div id="expand_three" class="collapse sb_profile_container_about_block">

    </div>
</div>