<div class="sb_profile_about">
    <div class="sb_about_header sb_about_header_overview">
    Overview
    </div>
    <div class="sb_profile_container_about_block">

    </div>
    <div class="sb_about_header">
    Basic Information
    </div>
    <div class="sb_profile_container_about_block">

    </div>
    <div class="sb_about_header">
    Education
    </div>
    <div class="sb_profile_container_about_block">

    </div>
    <div class="sb_about_header">
    Experience
    </div>
    <div class="collapse sb_profile_container_about_block">

    </div>
</div>