<div class="sb_profile_container_left">
    <div class="sb_profile_rep_container">
        <div class="sb_profile_rep_header">
            <div>Representatives</div>
        </div>
        <div class="sb_profile_rep_content">
            <div>Senators</div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="sb_thumbnail_xs thumbnail"></div>
                    </div>
                    <div class="col-lg-10">

                    {% for senator in senator_names %}
                         {{ senator }}
                    {% endfor %}
                    </div>
                </div>

            <div>House Representatives</div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="sb_thumbnail_xs thumbnail"></div>
                    </div>
                    <div class="col-lg-10">
                        {{ rep_name }}
                    </div>
                </div>
        </div>
    </div>
</div>