{% load staticfiles %}
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="sb_profile_name">
            {{ pleb_info.first_name }} {{ pleb_info.last_name }}
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 hidden-xs">
    <div class="sb_profile_btn_menu_group btn-group">
        <a href="profile_page.html"
           type="button"
           id="sb_btn_home"
           class="btn sb_profile_menu_btn">Home</a>
        <a href="sb_about.html"
           type="button"
           id="sb_btn_about"
           class="btn sb_profile_menu_btn">About</a>
        <a href="sb_reputation.html"
           type="button"
           id="sb_btn_reputation"
           class="btn sb_profile_menu_btn">Reputation</a>
        <a href="sb_friends.html"
           type="button"
           id="sb_btn_friends"
           class="btn sb_profile_menu_btn">Friends</a>
    </div>
</div>