<div class="sb_profile_container_left">
    <div class="sb_profile_rep_container">
        <div class="sb_profile_rep_header">
            <div>Representatives</div>
        </div>
        <div class="sb_profile_rep_content">
            <div class="sb_rep_header">Senators</div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="sb_thumbnail_rep sb_thumbnail_xs thumbnail"></div>
                    </div>
                    <div class="sb_rep col-lg-10" align="left">
                        <ul>
                            <div class="btn sb_rep_name">Carl Levin</div>
                            <div class="sb_rep_info">6th term</div>
                        </ul>
                    {% for senator in senator_names %}
                         {{ senator }}
                    {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="sb_thumbnail_rep sb_thumbnail_xs thumbnail"></div>
                    </div>
                    <div class="sb_rep col-lg-10" align="left">
                        <ul>
                            <div class="btn sb_rep_name">Debbie Stabenow</div>
                            <div class="sb_rep_info">3rd term</div>
                        </ul>
                    {% for senator in senator_names %}
                         {{ senator }}
                    {% endfor %}
                    </div>
                </div>

            <div class="sb_rep_header">House Representative</div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="sb_thumbnail_rep sb_thumbnail_xs thumbnail"></div>
                    </div>
                    <div class="sb_rep col-lg-10" align="left">
                        <ul>
                            <div class="btn sb_rep_name">Justin Amash</div>
                            <div class="sb_rep_info">1st term</div>
                        </ul>
                        {{ rep_name }}
                    </div>
                </div>
        </div>
    </div>
</div>