{% extends "sb_plebs_base/profile_page.html" %}
{% load staticfiles %}
{% block title %}{{ page_user.first_name }}'s Quest Charts{% endblock title %}
{%  block midsection %}
<div class="col-md-4 hidden-sm hidden-xs">
   {% include "sb_home_section/sb_profile_rep_stats.html" %}
   {% include "sb_home_section/sb_profile_potential_reps_stats.html" %}
</div>
<div class="col-md-8">
   <div class="col-lg-12 sb_wall">
       <div class="row">
           <div id="campaign_id" class="sb_hidden" data-object_uuid="{{ request.user.username }}"></div>
           <div class="col-xs-3">
               <div class="sb_quest_info_box" id="total_donation_amount">Total Donations<br></div>
           </div>
           <div class="col-xs-3">
               <div class="sb_quest_info_box" id="total_pledge_vote_amount">Total Votes<br></div>
           </div>
           <div class="col-xs-6">
               <div class="sb_quest_info_box" id="required_for_goal">Remaining for Next Goal<br></div>
           </div>
           <div class="col-xs-12">
               <div class="sb_chart" id="individual_donation_chart"></div>
               <div class="sb_chart" id="pledged_vote_daily_chart"></div>
           </div>
           <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"
                id="chart_wrapper">

           </div>
           <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

           </div>
       </div>
   </div>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/vendor/highcharts.js' %}"></script>
    <script src="{% static 'js/get_charts.js' %}"></script>
{% endblock %}