{% load staticfiles %}
<div class="col-xs-12">
   <div class="col-lg-12 sb_wall">
       <div class="row">
           <div id="campaign_id" class="sb_hidden" data-object_uuid="{{ request.user.username }}"></div>
           <div class="col-xs-3">
               <div class="sb_quest_info_box" id="js-total_donation_amount">Total Donations<br></div>
           </div>
           <div class="col-xs-3">
               <div class="sb_quest_info_box" id="js-total_pledge_vote_amount">Total Votes<br></div>
           </div>
           <div class="col-xs-6">
               <div class="sb_quest_info_box" id="js-required_for_goal">Remaining for Next Goal<br></div>
           </div>
           <div class="col-xs-12">
               <div class="sb_chart" id="js-individual_donation_chart"></div>
               <div class="sb_chart" id="js-pledged_vote_daily_chart"></div>
           </div>
           <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"
                id="chart_wrapper">

           </div>
           <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

           </div>
       </div>
   </div>
</div>