{% load staticfiles %}
{% load humanize %}
<div class="block sb_friend_block js-donation-block-{{ id }}">
    <div class="row">
        <div class="col-xs-4 col-sm-3">
            <div class="thumbnail sb_thumbnail_lg">
                {% static 'images/sage_coffee_grey-01.png' as default_profile %}
                <a href="{% url "quest_saga" campaign.object_uuid %}"><img src="{{ campaign.profile_pic|default_if_none:default_profile }}"></a>
            </div>
        </div>
        <div class="col-xs-8 col-sm-9">
            <h3>You've pledged ${% widthratio amount 100 1 as money %}{{ money|intcomma }} to <a href="{% url "quest_saga" campaign.object_uuid %}">{{ campaign.first_name }} {{ campaign.last_name }}'s Quest!</a></h3>
            {% if not completed %}
                <button class="btn btn-primary sb_btn sb_btn_fill sb_btn_remove js-cancel-donation" data-object_uuid="{{ id }}">Cancel Pledge</button>
            {% else %}
                <p>This pledge has been processed already and cannot be cancelled.</p>
            {% endif %}
        </div>
    </div>
</div>
