<h5>About</h5>
<div class="block sb_action_content_block sb_about_block">
    <div class="sb_header_bar">
        <h5>Public Office</h5>
    </div>
    <h5>Secretary of State</h5>
    <p>Description</p>
    <p>years served</p>
    <h5>US Senator</h5>
    <p>Description</p>
    <p>2001-2009</p>
    <h5>First Lady of the United States</h5>
    <p>Description</p>
    <p>1993-2001</p>
    <h5>First Lady of Arkansas</h5>
    <p>Description</p>
    <p>2009-2013</p>
</div>
<div class="block sb_action_content_block sb_about_block">
    <div class="sb_header_bar">
        <h5>Education</h5>
    </div>
    <h5>Wellesley College</h5>
    <p>Description</p>
    <p>1965-1969</p>
    <h5>Yale Law School</h5>
    <p>Law Degree or some shit</p>
    <p>1969-1973</p>
</div>
<div class="block sb_action_content_block sb_about_block">
    <div class="sb_header_bar">
        <h5>Experience</h5>
    </div>
    <h5>Title</h5>
    <p>description</p>
    <p>years</p>
</div>
