<div class="row sb_wallpaper sb_wallpaper_action hidden-xs">

</div>
<div class="row block sb_channel_block">
    <div class="col-lg-1 col-md-2 hidden-sm hidden-xs">
       <div class="thumbnail sb_thumbnail_md"></div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 cl-xs-12">
        <div class="block sb_bio_block">
            <h2>Rep Name Yo</h2>
            <p>Wife, mom, lawyer, woman, kids advocate, FLOAR, FLOTUS,
            US Senator, SecState, author, dog owner, hair icon,
            pantsuit aficionado, glass ceiling cracker, TBD...</p>
        </div>
    </div>
    <div class="col-lg-5 col-md-4 col-sm-12">
        <div align="right" class="row-fluid">
            <button class="btn btn-primary sb_btn">Donate</button>
            <button class="btn btn-primary sb_btn">Pledge Vote</button>
        </div>
        <div align="right" class="block sb_channel_social row-fluid hidden-md hidden-sm hidden-xs">
            <a href="#">300 Reputation</a>
            <button class="btn btn-primary sb_btn_icon sb_btn_icon_green"><span class="fui-facebook"></span></button>
            <button class="btn btn-primary sb_btn_icon sb_btn_icon_green"><span class="fui-linkedin"></span></button>
            <button class="btn btn-primary sb_btn_icon sb_btn_icon_green"><span class="fui-youtube"></span></button>
            <button class="btn btn-primary sb_btn_icon sb_btn_icon_green"><span class="fui-twitter"></span></button>
        </div>
    </div>
</div>