<div class="row">
    <div class="col-md-12">
        <div class="sb_nav sb_secondary_nav sb_action_nav">
            <ul>
                <li>
                    <a {% if not 'updates' in request.path and not 'insights' in request.path and not 'moderators' in request.path %}class="active" {% endif %}href="{% url 'quest_saga' username=id %}">Saga</a>
                </li>
                <li>
                    <a {% if 'updates' in request.path %}class="active" {% endif %}href="{% url 'quest_updates' username=id %}">Updates</a>
                </li>
            </ul>
        </div>
    </div>
</div>
