{% load staticfiles %}
{% load static %}
<div class="row sb_wallpaper hidden-xs">
    {% static 'images/wallpaper_capitol_2.jpg' as default_wallpaper %}
    <img class="sb_wallpaper_action" src="{{ wallpaper_pic|default_if_none:default_wallpaper }}">
</div>
<div class="row block sb_channel_block">
    <div class="col-lg-1 col-md-2 hidden-sm hidden-xs">
       <div class="thumbnail sb_thumbnail_md"><img src="{{ profile_pic }}"></div>
    </div>
    <div class="col-md-4 cl-xs-12">
        <div class="block sb_bio_block sb_markdown_disabled">
            <h2>{{ first_name }} {{ last_name }}</h2>
            {% if public_official %}
                {% if public_official.title != "President" and public_official.title != "Vice President" %}
                  <p id="bio_wrapper">This {{ public_official.title }} from {{ public_official.state }} has not yet joined Sagebrew.</p>
                {% else %}
                  <p id="bio_wrapper">The {{ public_official.title }} has not yet joined Sagebrew.</p>
                {% endif %}
            {% else %}
                <p id="bio_wrapper">This user has not yet embarked on their Sagebrew Quest</p>
            {% endif %}
            {% if id == request.user.username %}
                <div id="bio_edit" style="display: none">
                    <textarea class="form-control edit_bio_input" id="biography_input" rows="3" placeholder="Biography, limit 255 characters">{{ bio }}</textarea>
                    <button class="btn btn-block btn-primary sb_btn_fill" id="submit_biography">Submit Bio</button>
                </div>
            {% endif %}
        </div>

    </div>
    {% if id == request.user.username %}
            <div class="hidden-xs hidden-sm col-md-1">
                <button class="btn btn-primary sb_btn_icon sb_btn_icon_green" id="show_edit_bio"><span class="fa fa-edit"></span></button>

            </div>
        {% endif %}
    <div class="col-lg-5 col-md-4 col-sm-12">
        <div align="right">
            <button class="btn btn-primary disabled sb_btn">Donate</button>
            <button class="btn btn-primary disabled sb_btn">Pledge Vote</button>
        </div>
        <div align="right" class="block sb_channel_social row-fluid hidden-md hidden-sm hidden-xs">
            {% if not facebook %}
                <button class="btn btn-primary sb_btn_icon sb_btn_icon_green disabled"><span class="fa fa-facebook-square"></span></button>
            {% else %}
                <button onclick="location.href='http://facebook.com/{{ facebook }}'" class="btn btn-primary sb_btn_icon sb_btn_icon_green"><span class="fa fa-facebook"></span></button>
            {% endif %}
            {% if not linkedin %}
                <button class="btn btn-primary sb_btn_icon sb_btn_icon_green disabled"><span class="fa fa-linkedin-square"></span></button>
            {% else %}
                <button onclick="location.href='http://linkedin.com/{{ linkedin }}'" class="btn btn-primary sb_btn_icon sb_btn_icon_green"><span class="fa fa-linkedin"></span></button>
            {% endif %}
            {% if not youtube %}
                <button class="btn btn-primary sb_btn_icon sb_btn_icon_green disabled"><span class="fa fa-youtube-play"></span></button>
            {% else %}
                <button onclick="location.href='http://youtube.com/{{ youtube }}'" class="btn btn-primary sb_btn_icon sb_btn_icon_green"><span class="fa fa-youtube-play"></span></button>
            {% endif %}
            {% if not twitter %}
                <button class="btn btn-primary sb_btn_icon sb_btn_icon_green disabled"><span class="fa fa-twitter"></span></button>
            {% else %}
                <button onclick="location.href='http://twitter.com/{{ twitter }}'" class="btn btn-primary sb_btn_icon sb_btn_icon_green"><span class="fa fa-twitter"></span></button>
            {% endif %}
        </div>
    </div>
</div>