<h5>Blog{% if id == request.user.username %}<button class="btn btn-primary sb_btn_icon sb_btn_icon_green" id="add_update" style="margin-top: -5px;"><span class="fa fa-plus"></span></button>{% endif %}</h5>
<div class="block sb_action_content_block sb_markdown_disabled">
    {% if request.user.username == id %}
        <div id="update-container" class="block sb_action_content_block sb_markdown_disabled">
        </div>
    {% else %}
        <h4>This representative has no updates.</h4>
    {% endif %}
</div>

