{% extends "layout/one-col.html" %}
{% load staticfiles %}
{% block title %}
    {{ first_name }} {{ last_name }}'s Quest Insights
{% endblock title %}

{% block live %}
    <div id="campaign_id" class="sb_hidden" data-object_uuid="{{ id }}"></div>
    <div class="block">
        <h3 class="block-title">Insights</h3>

        <div class="block-content">
            <div class="row">
               <div class="col-xs-3">
                   <div class="sb_quest_info_box" id="js-total_donation_amount">Total Donations<br></div>
               </div>
               <div class="col-xs-3">
                   <div class="sb_quest_info_box" id="js-total_pledge_vote_amount">Total Votes<br></div>
               </div>
               <div class="col-xs-6">
                   <div class="sb_quest_info_box" id="js-required_for_goal">Remaining for Next Goal<br></div>
               </div>
            </div>
           {% if is_accountant %}
               <div class="row">
                  <div class="col-xs-12">
                       <button class="btn btn-primary sb_btn sb_btn_fill" id="js-get_donation_csv">Export Contributions</button>
                       <div class="sb_chart" id="js-individual_donation_chart"></div>
                       <div class="sb_chart" id="js-pledged_vote_daily_chart"></div>
                   </div>
               </div>
           {% endif %}
            <div class="row">
               <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" id="chart_wrapper">
               </div>
            </div>
        </div>
    </div>

{% endblock  %}
{% block scripts %}
    {{ block.super }}
    {% if is_accountant %}
        <script src="{% static 'js/vendor/highcharts.js' %}"></script>
        <script src="{% static 'js/get_charts.js' %}"></script>
        <script src="{% static 'js/get_donation_csv.js' %}"></script>
    {% endif %}
{% endblock scripts %}

{% block intercom %}
    Intercom('trackEvent', 'visited-own-stats-page');
{% endblock %}