{% extends "layout/hero-two-col-left.html" %}
{% load staticfiles %}
{% block title %}
    {{ first_name }} {{ last_name }}'s Quest Insights
{% endblock title %}

{% block hero %}
    {% include "manage/activate_partial.html" %}
    <div class="block block-type-title">
        <div class="block-content clearfix">
            <h1>Insights</h1>
        </div>
    </div>
{% endblock %}

{% block sidebar_left %}
    <div class="block block-type-nav">
        <div class="block-content">
            <ul class="nav nav-list nav-list-vivid">
                <li>
                    <h3>Missions</h3>
                </li>
                <li class="active">
                    <label for="mission-select" class="hidden"></label>
                    <select id="mission-select" class="form-control mission-input">
                    <option value="all" data-quest_id="{{ quest_id }}">All Missions</option>
                    {% for other_mission in missions %}
                        {% if other_mission.id == mission.id %}
                            <option selected data-slug="{{ other_mission.slug }}" value="{{ other_mission.id }}">{% if other_mission.title %} {{ other_mission.title }} {% else %} {{ other_mission.focus_name_formatted }} {% endif %}</option>
                        {% else %}
                            <option data-slug="{{ other_mission.slug }}" value="{{ other_mission.id }}">{% if other_mission.title %} {{ other_mission.title }} {% else %} {{ other_mission.focus_name_formatted }} {% endif %}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </li>
                {% if is_moderator %}
                <li>
                    <button class="btn btn-primary sb_btn sb_btn_fill" id="js-get_donation_csv">Export Contributions</button>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block live %}
<div class="block">
    <div class="block-content">
        <div class="sb_quest_info_box" id="js-total_donation_amount">Total Donations<br>
            <h2>${{ total_donation_amount }}</h2>
        </div>
        {% comment %}
        <div class="col-xs-6">
            <div class="sb_quest_info_box" id="js-total_pledge_vote_amount">Total Votes<br></div>
        </div>
        {% endcomment %}
    </div>
</div>

{% if is_moderator %}
<div class="block">
    <div class="block-content">
        <div class="sb_chart" id="js-individual_donation_chart"></div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block intercom %}
    Intercom('trackEvent', 'visited-own-stats-page');
{% endblock %}