{% extends "layout/hero-two-col-right.html" %}
{% load staticfiles %}

{% block hero %}
    <div id="campaign_id" data-object_uuid="{{ id }}"></div>
    <div id="stripe-publishable" data-stripe_key="{{ stripe_key }}"></div>
    {% include "quest_header.html" %}
    {% comment %}
    I'm not really sure what the difference is here,
    but there is a lot of duplicate markup between the two files.
    {% if active == True %}
        {% include "quest_header.html" %}
    {% else %}
        {% include "quest_header_disabled.html" %}
    {% endif %}
    {% endcomment %}

{% endblock %}

{% block live %}
{% endblock %}

{% block sidebar_right %}

    <div class="block">
        <div class="block-content">
            <a data-toggle="modal" data-target="#donationModal" class="btn btn-primary btn-block">Donate</a>
        </div>
    </div>

    <div class="block">
        <h3 class="block-title">
            Goals
            {% if is_editor or is_accountant %}
            <a class="pull-right btn btn-primary btn-sm toggle_create_goal" href="{% url 'manage_goals' request.user %}"><span class="fa fa-edit"></span></a>
            {% endif %}
        </h3>

        <div class="block-content">
          {% if active == True %}
                <div id="active_round" data-object_uuid="{{ active_round }}"></div>
                <div id="goal_wrapper" class="block sb_channel_block"></div>
          {% elif request.user.username == id %}
            <div id="active_round" data-object_uuid="{{ upcoming_round }}"></div>
            <div id="goal_wrapper" class="block sb_channel_block"></div>
          {% else %}
              {% include "goals_block_disabled.html" %}
          {% endif %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
    {% if request.user.is_anonymous or not request_profile.is_verified %}
        <script src="{% static 'js/activate_tooltips.js' %}"></script>
    {% endif %}
    {% if active or request.user.username == id %}
        <script src="{% static 'js/create_donations.js' %}"></script>
        <script src="{% static 'js/donation_validator.js' %}"></script>
        {% if allow_vote %}
            <script src="{% static 'js/pledge_vote.js' %}"></script>
        {% else %}
            <script src="{% static 'js/activate_tooltips.js' %}"></script>
        {% endif %}
    {% endif %}
    {% if is_editor or is_accountant %}
        <script src="{% static 'js/edit_quest.js' %}"></script>
        <script src="{% static 'js/quest_profile_pic.js' %}"></script>
        <script src="{% static 'js/quest_wallpaper_pic.js' %}"></script>
    {% endif %}
{% endblock scripts %}
