{% extends "layout/hero-two-col-right.html" %}
{% load staticfiles %}
{% block title %}
    {% if quest.title %}{{ quest.title }}{% else %}{{ quest.first_name }} {{ quest.last_name }}{% endif %}'s Quest
{% endblock title %}
{% block description %}
    <meta name="description" content="{{ description }}">
{% endblock description %}
{% block keywords %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}">
    {% endif %}
    <meta name="author" content="{% if quest.title %} {{ quest.title }} {% else %}{{ quest.first_name }} {{ quest.last_name }} {% endif %}">
{% endblock keywords %}
{% block content %}
    {% comment %} TODO need some assistance transitioning this over to hero-one-col {% endcomment %}
    {% include "manage/activate_partial.html" %}
    <div class="row block row-no-margin">
        <div class="hidden-sm hidden-md hidden-lg block-title text-center no-underline">
            <h1>{% if quest.title %} {{ quest.title }} {% else %} {{ quest.first_name }} {{ quest.last_name }} {% endif %}</h1>
        </div>
        {% static 'images/wallpaper_capitol_2.jpg' as default_wallpaper %}
        {% if request.user.username == quest.owner_username %}
            <div class="col-xs-12 col-sm-7 wallpaper quest-wallpaper" id="js-croppic-wrapper-div-id">
                <img id="js-croppic-img-id" class="js-croppic-img-class"
                     src="{{ quest.wallpaper_pic|default_if_none:default_wallpaper }}">
            </div>
        {% else %}
            <div class="col-xs-12 col-sm-7 wallpaper quest-wallpaper">
                <img src="{{ quest.wallpaper_pic|default_if_none:default_wallpaper }}">
            </div>
            {% comment %} A hack to get non-friend pages to load correctly{% endcomment %}
        {% endif %}
        {% if quest.active %}
            {% if quest.missions %}
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                    <ul class="list-inline list-inline-btns">
                        <li>
                            <a href="/quests/{{ quest.owner_username }}/donate/choose/" class="btn btn-primary sb_btn_fill">Donate</a>
                        </li>
                        <li>
                            <button class="btn btn-primary sb_btn_fill js-follow-btn" {% if not user.is_authenticated %}disabled{% endif %}>{% if quest.is_following %}Unfollow{% else %}Follow{% endif %}</button>
                        </li>
                    </ul>
                </div>
            {% endif %}
        {% endif %}
        <div class="hidden-xs col-sm-5">
            <div class="block">
                <div class="block-title no-underline">
                    <h1>{% if quest.title %} {{ quest.title }} {% else %} {{ quest.first_name }} {{ quest.last_name }} {% endif %}</h1>
                </div>
                {% if quest.public_official %}
                    <div class="block-content">
                        {% if quest.public_official.title != "President" and quest.public_official.title != "Vice President" %}
                          <p>{{ quest.public_official.title }} from {{ quest.public_official.state }}</p>
                        {% else %}
                          <p>{{ quest.public_official.title }}</p>
                        {% endif %}
                    </div>
                {% else %}
                    {% if quest.seat_formal_name %}
                        <div class="block-content">
                            <p>{{ quest.seat_formal_name }}</p>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="block">
                {% if quest.about != None or quest.owner_username == request.user.username %}
                <div class="block-title">
                    <h4 class="tight">About</h4>
                </div>
                {% endif %}
                <div class="block-content" style="padding-bottom: 0;">
                    {% if quest.about != None %}
                        <p>{{ quest.about }}</p>
                    {% elif quest.about == None and quest.owner_username == request.user.username %}
                        <p>A short summary about the Quest Owner or Group in 128 characters</p>
                    {% endif %}
                    <ul class="list-inline">
                        {% if quest.website %}
                            <li>
                                <a href="{{ quest.website }}"
                                   class="btn btn-primary sb_btn_icon sb_btn_icon_green">
                                    <i class="fa fa-globe"></i>
                                </a>
                            </li>
                        {% endif %}
                        {% if quest.facebook %}
                            <li>
                                <a href="http://facebook.com/{{ quest.facebook }}"
                                   class="btn btn-primary sb_btn_icon sb_btn_icon_green">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </li>
                        {% endif %}
                        {% if quest.twitter %}
                            <li>
                                <a href="http://twitter.com/{{ quest.twitter }}"
                                   class="btn btn-primary sb_btn_icon sb_btn_icon_green">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                        {% endif %}
                        {% if quest.youtube %}
                            <li>
                                <a href="http://youtube.com/{{ quest.youtube }}"
                                   class="btn btn-primary sb_btn_icon sb_btn_icon_green">
                                    <span class="fa fa-youtube-play"></span>
                                </a>
                            </li>
                        {% endif %}
                        {% if quest.linkedin %}
                            <li>
                                <a href="http://linkedin.com/{{ quest.linkedin }}"
                                   class="btn btn-primary sb_btn_icon sb_btn_icon_green">
                                    <span class="fa fa-linkedin"></span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    {% if quest.active %}
                        <ul class="list-inline list-inline-btns">
                            {% if quest.missions %}
                                <li>
                                    <a href="/quests/{{ quest.owner_username }}/donate/choose/" class="btn btn-primary sb_btn_fill">Donate</a>
                                </li>
                            {% endif %}
                            <li>
                                <a class="btn btn-primary sb_btn_fill js-follow-btn {% if not user.is_authenticated %}sb_btn_disabled{% endif %}" {% if not user.is_authenticated %}disabled data-toggle="tooltip" data-title="You must signup or login to Follow!" data-placement="top"{% endif %}>{% if quest.is_following %}Unfollow{% else %}Follow{% endif %}</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>


        </div>
    </div>
    <div class="row block block-padding-bottom-15 row-no-margin">
        <div class="col-xs-12">
            <h2 class="block-title">Missions</h2>
            <div id="js-mission-list">
                <div id="js-mission-container"></div>
                <div class="loader"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block intercom %}
    {% if request.user.username == quest.owner_username %}
        Intercom('trackEvent', 'visited-own-quest');
    {% else %}
        Intercom('trackEvent', 'visited-{{ quest.owner_username }}-quest');
        Intercom('trackEvent', 'visited-quest');
    {% endif %}
{% endblock %}