{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div id="campaign_id" style="display: none" data-object_uuid="{{ id }}"></div>
<div id="stripe-publishable" data-stripe_key="{{ stripe_key }}"></div>
{% if active == True %}
    {% include "quest_header.html" %}
{% else %}
    {% include "quest_header_disabled.html" %}
{% endif %}

{% include "action_nav.html" %}
<div class="row">
    <div class="col-md-12">
        <div class="sb_wall sb_action_wall">
            {% block quest_wall %}
            {% endblock quest_wall %}
            {% if "moderators" not in request.path %}
                <div class="col-md-4">
                    <h5>Goals{% if is_editor or is_accountant %}<button class="btn btn-primary sb_btn_icon sb_btn_icon_green" id="manage_goals" style="margin-top: -5px;"><span class="fa fa-edit"></span></button>{% endif %}</h5>
                    {% if active == True %}
                        <div id="active_round" data-object_uuid="{{ active_round }}"></div>
                        <div id="goal_wrapper" class="block sb_channel_block"></div>
                    {% elif request.user.username == id %}
                        <div id="active_round" data-object_uuid="{{ upcoming_round }}"></div>
                        <div id="goal_wrapper" class="block sb_channel_block"></div>
                    {% else %}
                        {% include "goals_block_disabled.html" %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
    {% if request.user.is_anonymous or not request_profile.is_verified %}
        <script src="{% static 'js/activate_tooltips.js' %}"></script>
    {% endif %}
    {% if active or request.user.username == id %}
        {% if "moderators" not in request.path %}
            <script src="{% static 'js/get_goals.js' %}"></script>
        {% endif %}
        <script src="{% static 'js/create_donations.js' %}"></script>
        <script src="{% static 'js/donation_validator.js' %}"></script>
        {% if allow_vote %}
            <script src="{% static 'js/pledge_vote.js' %}"></script>
        {% else %}
            <script src="{% static 'js/activate_tooltips.js' %}"></script>
        {% endif %}
    {% endif %}
    {% if is_editor or is_accountant %}
        <script src="{% static 'js/edit_quest.js' %}"></script>
        <script src="{% static 'js/quest_profile_pic.js' %}"></script>
        <script src="{% static 'js/quest_wallpaper_pic.js' %}"></script>
    {% endif %}
{% endblock scripts %}
