{% extends "quest_base.html" %}
{% load staticfiles %}
{% block title %}
    {{ quest.first_name }}'s Quest
{% endblock title %}
{% block description %}
    <meta name="description" content="{{ description }}">
{% endblock description %}
{% block keywords %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}">
    {% endif %}
    <meta name="author" content="{% if quest.title %} {{ quest.title }} {% else %}{{ quest.first_name }} {{ quest.last_name }} {% endif %}">
{% endblock keywords %}
{% block content %}
    {% comment %} TODO need some assistance transitioning this over to hero-one-col {% endcomment %}
    {% include "manage/activate_partial.html" %}
    <div class="row block">
        <div class="hidden-sm hidden-md hidden-lg block-title text-center no-underline">
            <h1>Title XS</h1>
        </div>
        <div class="col-xs-12 col-sm-7 wallpaper quest-wallpaper">
            {% static 'images/wallpaper_capitol_2.jpg' as default_wallpaper %}
            <img src="{{ quest.wallpaper_pic|default_if_none:default_wallpaper }}">
        </div>
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <button class="btn btn-primary sb_btn_fill" id="js-donate-btn">Donate</button>
        </div>
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <button class="btn btn-primary sb_btn_fill" id="js-donate-btn">Follow</button>
        </div>
        <div class="hidden-xs col-sm-5">
            <div class="block">
                <div class="block-title no-underline">
                    <h1 >{% if quest.title %} {{ quest.title }} {% else %} {{ quest.first_name }} {{ quest.last_name }} {% endif %}</h1>
                </div>
                {% if quest.public_official %}
                    <div class="block-content">
                        {% if quest.public_official.title != "President" and quest.public_official.title != "Vice President" %}
                          <p>{{ quest.public_official.title }} from {{ quest.public_official.state }}</p>
                        {% else %}
                          <p>{{ quest.public_official.title }}</p>
                        {% endif %}
                    </div>
                {% else %}
                    {% if quest.seat_formal_name %}
                        <div class="block-content">
                            <p>{{ quest.seat_formal_name }}</p>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="block">
                <div class="block-title">
                    <h4 class="tight">About</h4>
                </div>
                <div class="block-content">
                    <p>{{ quest.about|default_if_none:"A short summary about the Quest Owner or Group in about 128 characters. We can increase or decrease the amount we enable based on" }}</p>
                </div>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-primary sb_btn_fill" id="js-donate-btn">Donate</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-primary sb_btn_fill" id="js-donate-btn">Follow</button>
            </div>
        </div>
    </div>
    <div class="row block block-padding-bottom-15">
        <div class="col-xs-12">
            <h2 class="block-title">Missions</h2>
            <div id="js-mission-list"></div>
            <div class="col-xs-12 col-sm-4">
                <div class="radio-image-selector js-position" id="js-add-mission">
                    <h4 class="sb-profile-not-friend-header">Embark on a Mission</h4>
                    <div class="row radio-image-selector-image-wrapper">
                        <img class="radio-image-selector-image" src="{% static 'images/plus_bw.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
{% endblock scripts %}
{% block intercom %}
    {% if request.user.username == id %}
    Intercom('trackEvent', 'visited-own-quest');
    {% endif %}
{% endblock %}