<div class="selected-product-container row" style="height: 95px;">
    <div class="product-image col-xs-2">
        <img width="40px" src="{{product.image}}"/>
    </div>
    <div class="col-xs-5">
        {{product.description}}
    </div>
    <div class="col-xs-5">
        <div>{{product.price}}</div>
        <button id="{{product.id}}-remove" class="btn btn-primary sb_btn sb_btn_fill sb_btn_remove">Remove</button>
    </div>
</div>