<div class="block tight padding-left-20 padding-top-20 additional-{{ show }}-wrapper">
    <a href="javascript:;" class="additional-comments additional-{{ show }}" data-page="{{ page }}">
        Show More ...
    </a>
</div>